<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Product Change(Single Product) ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Product Change(Single Products)</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <label><strong>ByNo</strong></label>
                                            <input class="form-control form-control-sm border border-secondary">
                                        </div>

                                        <div id="top">
                                            <label><strong>Product Code</strong></label>
                                            <input disabled class="form-control form-control-sm border border-secondary">
                                        </div>

                                        <div id="top">
                                            <label><strong>Selling Price</strong></label>
                                            <input disabled class="form-control form-control-sm border border-secondary">
                                        </div>

                                        <div id="top">
                                            <label><strong>Counter</strong></label>
                                            <input disabled class="form-control form-control-sm border border-secondary">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <label><strong>Product Group</strong></label>
                                            <select class="form-control form-control-sm border border-secondary">
                                                <option></option>
                                            </select>
                                        </div>

                                        <div id="top">
                                            <label><strong>New Product Code</strong></label>
                                            <input class="form-control form-control-sm border border-secondary">
                                        </div>

                                        <div id="top">
                                            <label><strong>Size</strong></label>
                                            <select class="form-control form-control-sm border border-secondary">
                                                <option></option>
                                            </select>
                                        </div>

                                        <div id="top">
                                            <label><strong>New Counter Code</strong></label>
                                            <select class="form-control form-control-sm border border-secondary">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>