<div class="card">
    <div class="card-body" id="cardPadding">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-scroll">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerOne">S.No</th>
                                <th id="headerTwo">Byno</th>
                                <th id="headerTwo" *ngIf="objEditableGrid.flags.isProductCode">Product Code</th>
                                <th id="headerThree" *ngIf="objEditableGrid.flags.isProductName">Product Name</th>
                                <th id="headerThree" *ngIf="objEditableGrid.flags.isProductSupplier">Product Supplier Description
                                </th>
                                <th id="headerLast" *ngIf="objEditableGrid.flags.isUOM">UOM</th>
                                <th id="headerLast" *ngIf="objEditableGrid.flags.isSellingPrice">Selling Price</th>
                                <th id="headerLast" *ngIf="objEditableGrid.flags.isProdQty">Qty</th>
                                <th id="headerLast" *ngIf="objEditableGrid.flags.isProdPcs">Pcs</th>
                                <th id="headerTwo" *ngIf="objEditableGrid.flags.isCounter">Counter</th>
                                <th id="headerLast" *ngIf="objEditableGrid.flags.isHSN">HSNCode</th>
                                <th id="headerLast" *ngIf="objEditableGrid.flags.isGST">GST</th>
                                <th id="headerLast" *ngIf="objEditableGrid.flags.isStyleCode">Style Code</th>
                                <th id="headerLast">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of objEditableGrid.tabledata; let i = index">
                                <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 0)">
                                    {{i+1}}
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                    <input #byno class="form-control form-control-sm inputBox" type="text" [disabled]="objEditableGrid.flags.isDisable" name="name0" maxlength="30" [(ngModel)]="data.byno" (focusout)='onFocusOut($event,i)' (keyup)='onKeyPress($event,i)' autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 2)" *ngIf="objEditableGrid.flags.isProductCode">
                                    <input #productCode disabled class="form-control form-control-sm inputBox" type="text" name="name0" [(ngModel)]="data.product_code" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 3)" *ngIf="objEditableGrid.flags.isProductName">
                                    <input #productName disabled class="form-control form-control-sm inputBox" type="text" name="name0" [(ngModel)]="data.product_name" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 4)" *ngIf="objEditableGrid.flags.isProductSupplier">
                                    <input #productSupplierName disabled class="form-control form-control-sm inputBox" type="text" name="name0" [(ngModel)]="data.product_supplier_name" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 5)" *ngIf="objEditableGrid.flags.isUOM">
                                    <input #uom disabled class="form-control form-control-sm inputBox" type="text" name="name0" [(ngModel)]="data.uom_description" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 6)" *ngIf="objEditableGrid.flags.isSellingPrice">
                                    <input #sellingPrice disabled class="form-control form-control-sm inputBox right" type="text" name="name0" [(ngModel)]="data.selling_price" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 7)" *ngIf="objEditableGrid.flags.isProdQty">
                                    <input #qty class="form-control form-control-sm inputBox right" type="text" [disabled]="data.unique_byno_prod_serial === true || data.prod_qty === 0 || objEditableGrid.flags.isDisable" name="name0" (keypress)="onlyAllowDecimal($event, 9999999, 'data', 'prod_qty');"
                                        [(ngModel)]="data.prod_qty" (click)="$event.target.select()" (keyup)='onPrdKeyPress($event,i)' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" maxlength="10" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 8)" *ngIf="objEditableGrid.flags.isProdPcs">
                                    <input #pieces class="form-control form-control-sm inputBox right" onCopy="return false" onDrag="return false" onDrop="return false" maxlength="5" onPaste="return false" (input)='_keyPressEvents.onlyAllowNumbers($event)' type="text" [disabled]="disablePieces(i)|| objEditableGrid.flags.isDisable"
                                        name="name0" [(ngModel)]="data.prod_pcs" (keyup)='onPiecesKeyPress($event,i)' autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 9)" *ngIf="objEditableGrid.flags.isCounter">
                                    <select #counter [(ngModel)]="data.counter_id" class="form-control form-control-sm inputBox" [disabled]="objEditableGrid.flags.isCounterEdit == true">
                                        <option *ngFor="let data1 of objEditableGrid.counterdata" [value]="data1.counter_id">
                                            {{data1.counter_code}}</option>
                                    </select>
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 10)" *ngIf="objEditableGrid.flags.isHSN">
                                    <input #hsn disabled class="form-control form-control-sm inputBox" type="text" name="name0" [(ngModel)]="data.hsncode" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 11)" *ngIf="objEditableGrid.flags.isGST">
                                    <input #gst disabled class="form-control form-control-sm inputBox right" type="text" name="name0" [(ngModel)]="data.gst" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 12)" *ngIf="objEditableGrid.flags.isStyleCode">
                                    <input #stylecode disabled class="form-control form-control-sm inputBox right" type="text" name="name0" [(ngModel)]="data.style_code" autocomplete="off">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 13)">

                                    <button [disabled]="objEditableGrid.flags.isDisable" #action name="del" matTooltip="Remove" id="delbtn" *ngIf="data.isDelete" class="btn btn-sm" (click)="openConfirmationDialog(i)">
                                        <div id="iconBottom">
                                            <mat-icon id="iRed">
                                                delete
                                            </mat-icon>
                                        </div>
                                    </button>
                                    <button [disabled]="objEditableGrid.flags.isDisable" #action class="btn btn-sm" matTooltip="Add" name="add" *ngIf="data.isAdd" id="addbtn" (click)="add(i)">
                                        <div id="iconBottom">
                                            <mat-icon id="iGreen">
                                                add
                                            </mat-icon>
                                        </div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="objEditableGrid.tabledata.length!=0 &&objEditableGrid.tabledata[0].product_name">
                            <th>
                            </th>
                            <th>
                            </th>
                            <th *ngIf="objEditableGrid.flags.isProductCode">
                            </th>
                            <th *ngIf="objEditableGrid.flags.isProductName">
                            </th>
                            <th *ngIf="objEditableGrid.flags.isProductSupplier">
                            </th>
                            <th *ngIf="objEditableGrid.flags.isUOM">
                            </th>
                            <th id="right" *ngIf="objEditableGrid.flags.isSellingPrice">
                                {{getSellingPrice()}}
                            </th>
                            <th id="right" *ngIf="objEditableGrid.flags.isProdQty">
                                {{getProductQty()}}
                            </th>
                            <th id="right" *ngIf="objEditableGrid.flags.isProdPcs">
                                {{getProductPcs()}}
                            </th>
                            <th *ngIf="objEditableGrid.flags.isCounter">
                            </th>
                            <th *ngIf="objEditableGrid.flags.isHSN">
                            </th>
                            <th *ngIf="objEditableGrid.flags.isGST">
                            </th>
                            <th *ngIf="objEditableGrid.flags.isStyleCode">
                            </th>
                            <th>
                            </th>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>