// --------------------- Screen Based CSS Start ------------------- //

#headerOne {
    width: 1%;
}

#headerTwo {
    width: 10%;
}

#headerLast {
    width: 8%;
}

.table-scroll {
    height: 320px;
}

#iRed {
    height: 18px;
    width: 18px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.material-icons {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
}

#iconBottom {
    margin-bottom: -3px;
}

// --------------------- Screen Based CSS End ------------------- //
