<div class="card" (keypress)="determineEnterKey($event)" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Product Group Search</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="dialogClose()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" id="cardPadding">
        <input id="searchInput" cdkFocusInitial [(ngModel)]="_data.searchString"
            (keyup)="searchGroup(_data.searchString, $event)" autocomplete="off" placeholder="Search For Product Group"
            class="form-control form-control-sm">
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="table-scroll">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerOne">S.No</th>
                                <th>Product Group Name</th>
                            </tr>
                        </thead>
                        <tbody (keypress)="determineEnterKey($event)">
                            <tr *ngFor="let group of filteredProductGroupList; let i = index" id='row{{i}}'
                                (keypress)="onClick(group,$event)" (dblclick)='onDoubleClick(group)'
                                (click)="selectedRowIndex = i" [ngClass]="{ highlight: selectedRowIndex == i }">
                                <td id="columnCenter">{{i+1}}</td>
                                <td id="columnLeft">{{group.product_group_name}}</td>                      
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button (click)="dialogOK()"
                            color="primary">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>