<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Goods Transfer Receipts List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfer Receipts List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" [disabled]="!rights.Add" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]='objLoad.section' section class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>To Location</strong></label>
                                        <select id="toSection" [(ngModel)]='objLoad.to_location' (ngModelChange)="onClearReceiptsList()" class="form-control form-control-sm border border-secondary">
                                            <!-- <option disabled value = 0>--Select--</option> -->
                                            <option *ngFor="let data of locationList" [value]="data.warehouse_id">
                                                {{data.wh_name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>From Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="fromDate" [(ngModel)]="objLoad.from_date" #autocomplete (ngModelChange)='onClearReceiptsList();' (keyup)="validateFromDate()" (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [min]="minimumDate" [(ngModel)]="fromDate1" [max]="maximumDate" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="objLoad.from_date = dateValidation.toFormattedDate($event.value);
                                                        onClearReceiptsList()">
                                                    <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #fromPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>To Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="toDate" [(ngModel)]="objLoad.to_date" #autocomplete (ngModelChange)="onClearReceiptsList()" (keyup)="validateToDate()" (focusout)="validateToDate()" [min]="objLoad.from_date" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="toDate1" [min]="fromDate1" [max]="maximumDate" [matDatepicker]="toPicker" placeholder="Choose a date" (dateChange)="objLoad.to_date = dateValidation.toFormattedDate($event.value); onClearReceiptsList()">
                                                    <mat-datepicker-toggle matSuffix [for]="toPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #toPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-2 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary" (click)="loadGoodsReceiptsDetails()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="transfer_id" sticky>
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Transfer No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_id}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="transfer_date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Transfer Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_date | date : 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="ack_date" sticky>
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Ack Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.ack_date | date : 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="From_Section">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From Section
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.source_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="To_Section">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        To Location
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.destination_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Ack_Pcs">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack Pcs
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_pcs}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Ack_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack Qty
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_qty}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getAckQtyTotal.ack_qty}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)="fetchGoodsReceiptsDetails(i)" matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" [hidden]="dataSource.data.length === 0">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ****************************************** Goods Transfer Receipts********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfer Receipts</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle *ngIf="objAction.isView == false" (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle *ngIf="objAction.isView == true" id="iButton" (click)="onClearView()">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Receipt No</strong></label>
                                        <input autocomplete="off" disabled [(ngModel)]="objGoodsTransferReceipts.receipt_id" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Receipt Date</strong></label>
                                        <input autocomplete="off" disabled [(ngModel)]="objGoodsTransferReceipts.receipt_date" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Sales Location</strong></label>
                                        <select id="target" [(ngModel)]="objGoodsTransferReceipts.sales_location_id" (ngModelChange)="getWarehouse();onClearByNoDetails()" class="form-control form-control-sm border border-secondary">
                                            <option disabled value= 0>--Select--</option>
                                            <option *ngFor="let location of workingLocationList"
                                                [value]="location.Sales_Location_ID">
                                                {{location.Sales_Location_Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>From Warehouse</strong></label>
                                        <select id="warehouse" [(ngModel)]="objGoodsTransferReceipts.from_warehouse" (click)="checkSalesLocationIsEmpty()" (ngModelChange)="getTransferNoDetails();onClearByNoDetails()" class="form-control form-control-sm border border-secondary">
                                            <option disabled value= 0>--Select--</option>
                                            <option *ngFor="let warehouse of warehouseList"
                                                [value]="warehouse.warehouse_id">
                                                {{warehouse.wh_name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Transfer Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="date" [(ngModel)]="objGoodsTransferReceipts.transfer_date" #autocomplete [disabled]="objAction.isView==true" (keyup)="validateDate()" (focusout)="validateDate()" [min]="minDate" [max]="maxDate" (ngModelChange)="onClearByNoDetails()"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="date1" [min]="minimumDate" [max]="maximumDate" [matDatepicker]="toPicker1" placeholder="Choose a date" #autocomplete (dateChange)="objGoodsTransferReceipts.transfer_date = dateValidation.toFormattedDate($event.value);onClearByNoDetails()">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker1"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Transfer No<sup id='sup'>*</sup></strong></label>
                                        <select id="transferId" [(ngModel)]='objGoodsTransferReceipts.transfer_id' (click)="checkWarehouseIsEmpty()" [disabled]="objAction.isView==true" (ngModelChange)="onChangeTransferNoDetails();onClearByNoDetails()" class="form-control form-control-sm border border-secondary">
                                            <option disabled value = 0>--Select--</option>
                                            <option *ngFor="let data of transferNoList" [value]="data.remote_transfer_id">
                                                {{data.remote_transfer_id}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>GRN No</strong></label>
                                        <input autocomplete="off" disabled id="grnNo" [(ngModel)]="objGoodsTransferReceipts.gatepass_no" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary" (click)="loadGoodsReceiptsProductList()">View Details</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn">Refresh</button>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>ByNo<sup id='sup'>*</sup></strong></label>
                                        <input autocomplete="off" [(ngModel)]="objGoodsTransferReceipts.byno" id="byNo" maxlength="50" [disabled]="objAction.isView==true" (keyup)="onKeyPress($event)" (input)="checkValidScan()" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Ack Pcs</strong></label>
                                        <input autocomplete="off" disabled [(ngModel)]="objGoodsTransferReceipts.acknowledged_pieces" id="grnNo" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Total Pcs</strong></label>
                                        <input autocomplete="off" disabled [(ngModel)]="objGoodsTransferReceipts.total_pieces" id="grnNo" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <br>
                    <app-editable-grid *ngIf="showTable === true" [value]="objEditableGrid"></app-editable-grid>
                    <br> -->

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th>ByNo</th>
                                                        <th id="byno">Received ByNo</th>
                                                        <th id="productName">Product Name</th>
                                                        <th>UOM</th>
                                                        <th>Selling Price</th>
                                                        <th>Qty</th>
                                                        <th>Pieces</th>
                                                        <th>Counter</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of byNoList; let i=index">
                                                        <td id="sno">{{i+1}}
                                                            <!-- <label>{{i+1}}</label> -->
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]='data.byno' [ngClass]="{'green': data.received_byno  !== undefined}" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]='data.received_byno' [ngClass]="{'green': data.received_byno  !== undefined} " class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]='data.product_name' [ngClass]="{'green': data.received_byno  !== undefined}" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]="data.uom_descrition" [ngClass]="{'green': data.received_byno  !== undefined}" class="form-control form-control-sm inputBox">
                                                        </td>

                                                        <td>
                                                            <input type="text" disabled [(ngModel)]="data.selling_price" [ngClass]="{'green': data.received_byno  !== undefined}" id="price" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td id="headerqty">
                                                            <input type="text" disabled [(ngModel)]="data.prod_qty" id="price" [ngClass]="{'green': data.received_byno  !== undefined}" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]="data.prod_pcs" id="price" [ngClass]="{'green': data.received_byno  !== undefined}" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <select #counter [(ngModel)]='data.counter_id' [disabled]='objAction.isView' class="form-control form-control-sm inputBox"> <option disabled value=0>--Select-- </option>  <option *ngFor="let data of counterList" [value]="data.counter_id"> {{data.counter_code}}</option>  </select>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-1" id="remarksTop">
                                                <label><strong>Remarks</strong></label>
                                            </div>
                                            <div class="col-sm-11" id="inputTop">
                                                <textarea id="textarea" rows="1" [(ngModel)]="objGoodsTransferReceipts.remarks" maxlength="200" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary">
                                  </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 right" id="rights">
                                        <button id="matButton" mat-raised-button color="primary" [disabled]="objAction.isView==true" (click)="onSaveGoodsReceiptsDetails()">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn" (click)="onClear(false)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****************************************** Export Menu ********************************************** -->
    <mat-menu #menu="matMenu">
        <button (click)="exportToPdf()" mat-menu-item>
            <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
            <span>Export To PDF</span>
        </button>
        <button (click)="exportToExcel()" mat-menu-item>
            <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
            <span>Export To Excel</span>
        </button>
    </mat-menu>