<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** By Percentage CP ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">By Percentage CP</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>ByNo</strong></label>
                                        <input #byno id='byno' [(ngModel)]='objDblRateByMarginLoad.byno' (keyup)="onKeyPress($event)" autocomplete="off" class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Margin</strong></label>
                                        <input id='margin' [(ngModel)]='objDblRateByMarginLoad.margin' (focusout)='checkValidMargin(objDblRateByMarginLoad.margin)' (keyup)='onlyAllowUpperCases($event)' class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-6 right" id="divTop">
                                        <button id="matButton" (click)='getMarginCalculation(objDblRateByMarginLoad.margin)' mat-raised-button color="primary">Calculate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne" rowspan="2">S.No</th>
                                                <th id="headerTwo" rowspan="2">ByNo</th>
                                                <th id="headerThree" rowspan="2">Product Name</th>
                                                <th id="headerFour" rowspan="2">Counter</th>
                                                <th colspan="2">Actual</th>
                                                <th id="headerlast" colspan="2">Double Rate</th>
                                            </tr>
                                            <tr>
                                                <th>Margin</th>
                                                <th id="headerTr">Selling Price</th>
                                                <th id="headerTr">Margin</th>
                                                <th>Rate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of doubleRateByMarginList; let i = index;'>
                                                <td id="columnCenter">{{i+1}}</td>
                                                <td id="tdbyno">{{data.byno}}</td>
                                                <td id="overflow" [matTooltip]="data.product_name" matTooltipPosition="above">{{data.product_name}}</td>
                                                <td id="tdCounter">{{data.counter_code}}</td>
                                                <td>{{data.margin}}</td>
                                                <td>{{data.selling_price}}</td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                    <input #marginGrid type="text" [(ngModel)]='data.double_margin' (keyup)='onlyAllowUpperCases($event,i)' (click)='$event.target.select()' (focus)='$event.target.select()' (focusout)='checkValidMargin(data.double_margin,true,i)' class="form-control form-control-sm inputBox">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                    <input #newPrice type="text" [(ngModel)]='data.new_selling_price' class="form-control form-control-sm inputBox right">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" (click)='addByMarginDoubleRate()' mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>