<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Purchase Return Note ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchase Return Note</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong> Byno</strong></label>
                                        <select id='byNo' [(ngModel)]='objReturnNote.inv_byno'
                                            (ngModelChange)='getPurchaseReturnByNoDetails()'
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                            <option *ngFor='let byno of byNosList' [value]='byno.inv_byno'>
                                                {{byno.inv_byno}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header" style="color:white">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th>Byno Serial</th>
                                                        <th id="headercostPrice">Quantity</th>
                                                        <th id="headercostPrice">Cost Price</th>
                                                        <th id="headerothercharges">Other Charges</th>
                                                        <th id="headerDiscount">Discount Amount</th>
                                                        <th id="headerdiscount">Discount %</th>
                                                        <th>HSN</th>
                                                        <th>Remarks</th>
                                                        <th id="headerLast">
                                                            <div id="checkTop1">
                                                                <mat-checkbox></mat-checkbox>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of byNoDetailsList;let i = index'>
                                                        <td id="columnCenter">{{i+1}}</td>
                                                        <td id="columnLeft">{{data.byno_serial}}
                                                        </td>
                                                        <td id="columnLeft">{{data.return_quantity}}
                                                        </td>
                                                        <td id="columnLeft">{{data.cost_price}}
                                                        </td>
                                                        <td id="columnLeft">{{data.other_charges}}
                                                        </td>
                                                        <td id="columnLeft">{{data.discount_amount}}
                                                        </td>
                                                        <td id="columnLeft">{{data.discount_percentage}}
                                                        </td>
                                                        <td id="columnLeft">{{data.hsncode}}
                                                        </td>
                                                        <td id="columnLeft" (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                            <input #remarks [(ngModel)]='data.remarks' type="text"
                                                                maxlength="50"
                                                                class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                            <input #selected [(ngModel)]='data.byNoSelected' type="text"
                                                                maxlength="50"
                                                                class="form-control form-control-sm inputBox right">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Freight Charges</strong></label>
                                        <input id='freightCharges' [(ngModel)]='objReturnNote.freight_charges'
                                            (click)="$event.target.select()" (focus)="$event.target.select()"
                                            (keypress)="onlyAllwDecimal($event,999999.99,'objReturnNote','freight_charges')"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Packing Charges</strong></label>
                                        <input id='packagingCharges' [(ngModel)]='objReturnNote.packing_charges'
                                            (click)="$event.target.select()" (focus)="$event.target.select()"
                                            (keypress)="onlyAllwDecimal($event,999999.99,'objReturnNote','packing_charges')"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Credit Amount</strong></label>
                                        <input id='creditAmount' [(ngModel)]='objReturnNote.credit_amount'
                                            (click)="$event.target.select()" (focus)="$event.target.select()"
                                            (keypress)="onlyAllwDecimal($event,999999.99,'objReturnNote','credit_amount')"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Debit Amount</strong></label>
                                        <input id='debitAmount' [(ngModel)]='objReturnNote.debit_amount'
                                            (click)="$event.target.select()" (focus)="$event.target.select()"
                                            (keypress)="onlyAllwDecimal($event,999999.99,'objReturnNote','debit_amount')"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>Remarks</strong></label>
                                        <input [(ngModel)]='objReturnNote.remarks'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3 right" id="divAdjus">
                                        <label id="labelBottom"><strong>Grand
                                                Total</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                                            id="hide"><strong>0.00</strong></label>
                                    </div>
                                    <div class="col-sm-3 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)='onClear(false)'
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Purchase Return Note List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchase Return Note List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="purchaseReturnNoteLoad.FromDate"
                                                #autocomplete (keyup)="validateFromDate()"
                                                (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="purchaseReturnNoteLoad.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="purchaseReturnNoteLoad.ToDate"
                                                #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="purchaseReturnNoteLoad.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="purchaseReturnNoteLoad.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-8 right" id="divTop">
                                        <button id="matButton" (click)="getPurchaseReturnNotes()" mat-raised-button
                                            color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Return_Date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Date
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.note_date"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.note_date}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Byno">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Inv Byno
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.inv_byno" matTooltipPosition="above"
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.inv_byno}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_code">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Supplier Code
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.supplier_code"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.supplier_code}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.supplier_name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.supplier_name}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Invoice_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Inv No
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.supplier_invoice_no"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.supplier_invoice_no}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Inv_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Inv Date
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.supplier_invoice_date"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.supplier_invoice_date}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Remarks">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Remarks
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.remarks" matTooltipPosition="above"
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.remarks}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)='viewPurchaseReturnNote(i)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    visibility
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>