// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 2%;
    width: 1377px;
}

.list {
    margin-top: 2%;
    width: 1254px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top{
    padding-top:5px
}

#headerothercharges{
    width: 119px;
}

#headerDiscount{
    width: 145px;  
}

#headerdiscount {
    width: 145px;
}

#headerLast{
    width: 4%;
}

#headercostPrice{
    width: 113px;
}

#divAdjus{
    padding-top: 25px;
    margin-bottom: -5px;
}

#hide {
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 134px;
    width: 134px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 237px;
    width: 237px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 149px;
    width: 149px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}


.mat-table-fixed mat-header-cell:nth-child(9) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 134px;
    width: 134px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 237px;
    width: 237px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 125px;
    width: 125px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 149px;
    width: 149px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(9) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 0px;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
