<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** New HSN Code ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">{{ !objAction.isEditing ? 'New HSN' : 'Edit HSN' }}</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>HSN Code<sup id='sup'>*</sup></strong> </label>
                                        <input id="hsncode" [(ngModel)]="objHSN.Hsn" maxlength="20"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6" id="top">
                                        <br>
                                        <mat-checkbox [(ngModel)]="objHSN.Variable_Rate">Variable Rate</mat-checkbox>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-12">
                                        <label><strong>Description</strong></label>&nbsp;
                                        <textarea [(ngModel)]="objHSN.Hsn_Description" id="textarea" rows="3"
                                            maxlength="500"
                                            class="form-control form-control-sm border border-secondary">
                                </textarea>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="saveHSNMaster()">{{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)="onClear(false)"
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** HSN List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">HSN Master</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Search by HSN</strong></label>
                                        <input maxlength="50" (keyup)="searchRights($event.target.value)"
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="HSN" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        HSN
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Hsn}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Description" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Description
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Hsn_Description"
                                                    matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            {{element.Hsn_Description}}
                                                        </div>
                                                    </mat-cell>                                                 
                                                </ng-container>

                                                <ng-container matColumnDef="Variable_Rate">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Variable Rate
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Variable_Rate ? 'Yes' : 'No'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Current_GST">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        GST
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element;let i=index" class="row-no">
                                                        {{element.Current_GST}} &nbsp;&nbsp;<label id="hide"
                                                            (click)="taxRatesClick(element)">Tax Rates</label>
                                                    </mat-cell>
                                                </ng-container>


                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyHSN(true,i)' matTooltip="Edit this row"
                                                                id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)="onClickActive(i)"
                                                                matTooltip="Activate this row" id="iconTableButton"
                                                                [disabled]="element.Active === true"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Activate this row" class="f-14">
                                                                    check_circle
                                                                </mat-icon>
                                                            </button>

                                                            <button mat-icon-button color="primary"
                                                                (click)="onClickDelete(i)"
                                                                matTooltip="Deactivate this row" id="iconTableButton"
                                                                [disabled]="element.Active === false"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Deactivate this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>