<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Purchase Return DC ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Vapas DC</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="loadPurchaseReturnDC.from_date"
                                                #autocomplete (keyup)="validateFromDate()" (ngModelChange)="onChangeFromToDate()"
                                                (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [min]="minimumDate" [(ngModel)]="fromDate1"
                                                [max]="maximumDate" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="loadPurchaseReturnDC.from_date = 
                                                dateValidation.toFormattedDate($event.value);onChangeFromToDate()">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="loadPurchaseReturnDC.to_date"
                                                #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="loadPurchaseReturnDC.from_date" [max]="maxDate" (ngModelChange)="onChangeFromToDate()"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [min]="fromDate1"
                                                [matDatepicker]="toPicker" placeholder="Choose a date"
                                                (dateChange)="loadPurchaseReturnDC.to_date = dateValidation.toFormattedDate($event.value);
                                                onChangeFromToDate()">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-8 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="loadPurchaseReturnDCDetails()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th>Date</th>
                                                <th>Supplier Code</th>
                                                <th>Supplier Name</th>
                                                <th>Supplier City</th>
                                                <th>No of Notes</th>
                                                <th>Total Pieces</th>
                                                <th>Credit Amount</th>
                                                <th>Debit Amount</th>
                                                <th>DC No</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of loadPurchaseReturnDCList; let i = index">
                                                <td id="columnCenter">{{i+1}}</td>
                                                <td id="columnLeft">
                                                    {{data.purchase_return_date}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.supplier_code}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.supplier_name}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.supplier_city}}
                                                </td>
                                                <td id="columnRight">
                                                    {{data.notecount}}
                                                </td>
                                                <td id="columnRight">
                                                    {{data.total_quantity}}
                                                </td>
                                                <td id="columnRight">
                                                    {{data.credit_amount}}
                                                </td>
                                                <td id="columnRight">
                                                    {{data.debit_amount}}
                                                </td>
                                                <td id="columnLeft">
                                                   {{data.dc_no}}
                                                </td>
                                                <td id="headerAction" *ngIf="data.dc_no !== ''">
                                                    <button mat-icon-button color="primary" matTooltip="View">
                                                        <mat-icon aria-label="View this row"
                                                            (click)="viewPurchaseReturnDCDetails(i)" class="f-14">
                                                            remove_red_eye
                                                        </mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="primary" matTooltip="Print">
                                                        <mat-icon aria-label="Print this row" 
                                                            class="f-14">
                                                            print
                                                        </mat-icon>
                                                    </button>
                                                </td>

                                                <td id="headerAction" *ngIf="data.dc_no === ''">
                                                    <button mat-icon-button color="primary" matTooltip="View">
                                                        <mat-icon aria-label="View this row"
                                                            (click)="viewPurchaseReturnDCDetails(i)" class="f-14">
                                                            remove_red_eye
                                                        </mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <!-- <button id="matButton" mat-raised-button color="primary">Generate
                                            Dc</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="primary">Print</button>&nbsp; -->
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Vapas DC Generation</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClearView()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Vapas Date</strong> </label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objPurchaseReturnDC.supplier_invoice_date"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Code</strong> </label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objPurchaseReturnDC.supplier_code"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong> </label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objPurchaseReturnDC.supplier_name"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Address</strong> </label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objPurchaseReturnDC.address1"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier GSTN</strong> </label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objPurchaseReturnDC.supplier_gstn"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-4">
                                        <label><strong>Supplier City</strong> </label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objPurchaseReturnDC.city"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>DC No</strong> </label>
                                        <input maxlength="30" autocomplete="off" (input)="checkIsValidDCNO()"
                                            [(ngModel)]="objPurchaseReturnDC.trading_drcr_no" 
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <button *ngIf="!validDcNo" id="matButton1"
                                            mat-raised-button color="primary"
                                            (click)="GeneratePurchaseReturnDCNo()">Generate </button>&nbsp;
                                        <button *ngIf="validDcNo" id="matButton1"
                                            mat-raised-button color="primary">Print
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" id="supplier">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="byno">Byno</th>
                                                <th>Supplier Inv No</th>
                                                <th id="headerRemark">Remarks</th>
                                                <th>Total Pics</th>
                                                <th>Debit Amount</th>
                                                <th id="headrcreaditAmount">Credit Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of getBynoGridList; let i = index">
                                                <td id="columnCenter">
                                                    {{i+1}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.inv_byno}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.supplier_invoice_no}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.remarks}}
                                                </td>
                                                <td id="columnRight">
                                                    {{data.return_pcs}}
                                                </td>
                                                <td id="columnRight">
                                                    {{data.credit_amount}}
                                                </td>
                                                <td id="columnRight">
                                                    {{data.debit_amount}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>