// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 1273px;
}

.new {
    margin-top: 2.5%;
    width: 772px;
}

#hide {
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px;
}

#headerOne {
    width: 1%;
}

#headerLast {
    width: 5%;
}

#columnCenter {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

#divAdjus{
    padding-top: 25px;
    margin-bottom: -5px;
}

#matButton {
    height: 30px;
    line-height: 0.8px;
    font-size: 13px;
     margin-top: 0px;
}

#headerAction {
    text-align: center;
}

#matButton1 {
    height: 30px;
    line-height: 0.8px;
    font-size: 13px;
     margin-top: 24px; 
}

#supplier {
    height: 263px;
}

#byno{
    width:79px;
}

#headrcreaditAmount{
    width: 110px;
}

#headerRemark{
    width: 176px;
}

#columnRight {
   padding-right: 4px;
    text-align: right;
}


// --------------------- Screen Based CSS End ------------------- //
