<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Stone and Polish Receipt ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">{{objAction.isEditing ? 'Edit Stone and Polish Order' : 'New Stone and Polish Receipt'}}</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle *ngIf="objAction.isView === false || objAction.isEditing === true" (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle *ngIf="objAction.isView === true" (click)="onClearView()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPaddingNew">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body" id="cardPaddingNew">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label><strong>Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="polishDate" [(ngModel)]="objPolishReceipts.polish_order_date" #autocomplete (keyup)="validatePolishDate()" [disabled]="objAction.isView==true" (focusout)="validatePolishDate()" [min]="maximumDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="polishDate" [min]="minimumDate" [max]="maximumDate" [matDatepicker]="toPicker1" placeholder="Choose a date" (dateChange)="objPolishReceipts.polish_order_date = dateValidation.toFormattedDate($event.value)">
                                                    <mat-datepicker-toggle matSuffix [for]="toPicker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #toPicker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-2">
                                                <label><strong>Inv Supplier Code</strong></label>
                                                <input id='invSupplier' (keyup)='openInvSupplierLookup($event);' maxlength="10" (ngModelChange)="onChangeSupplierDetails()" [disabled]="objAction.isView === true" (focusout)='checkValidInvSupplierName($event,"invSupplier")' autocomplete="off" (input)='onEnterInvSupplierLookupDetails()'
                                                    [(ngModel)]='objPolishReceipts.inv_supplier_code' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Inv Supplier Name</strong></label>
                                                <input disabled [(ngModel)]='objPolishReceipts.inv_supplier_name' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-2" id="isComposite">
                                                <mat-checkbox [(ngModel)]='flags.isComposite' (ngModelChange)='setTypeOfGst()' [disabled]='objAction.isView'>
                                                    Composite</mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="row" id="top">
                                            <div class="col-sm-2">
                                                <label><strong>Invoice No</strong></label>
                                                <input [(ngModel)]="objPolishReceipts.inv_no" id='invNo' autocomplete="off" [disabled]="objAction.isView === true" (input)="_keyPressEvents.onlyAllowNumbers($event)" maxlength="10" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label><strong>Invoice Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="invoiceDate" [(ngModel)]="objPolishReceipts.invoice_date" #autocomplete (keyup)="validateInvoiceDate()" [disabled]="objAction.isView==true" (focusout)="validateInvoiceDate()" [min]="maximumDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="invoiceDate" [min]="minimumDate" [max]="maximumDate" [matDatepicker]="toPicker" placeholder="Choose a date" (dateChange)="objPolishReceipts.invoice_date = dateValidation.toFormattedDate($event.value)">
                                                    <mat-datepicker-toggle matSuffix [for]="toPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #toPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-4">
                                                <label><strong>Issued for</strong></label>
                                                <div class="form-group" id="top">
                                                    <mat-radio-group [(ngModel)]='objPolishReceipts.issue_type' [disabled]="objAction.isView === true" (ngModelChange)="onChangeSupplierDetails()">
                                                        <mat-radio-button checked [value]="'Stone'">Stone
                                                        </mat-radio-button>&nbsp;
                                                        <mat-radio-button [value]="'Polish'">Polish
                                                        </mat-radio-button>&nbsp;
                                                        <mat-radio-button [value]="'Others'">Others
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 right" id="divtop">
                                                <button (click)='getPendingPolishIssueNos(0)' id="matButton" [disabled]="objAction.isView === true" mat-raised-button color="primary">Load</button>
                                            </div>
                                        </div>
                                        <!-- 
                                        <div class="row" id="top">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-6">
                                                <label><strong>Issued for</strong></label>
                                                <div class="form-group" id="top">
                                                    <mat-radio-group [(ngModel)]='objPolishReceipts.issue_type'
                                                        [disabled]="objAction.isView === true"
                                                        (ngModelChange)="onChangeSupplierDetails()">
                                                        <mat-radio-button checked [value]="'Stone'">Stone
                                                        </mat-radio-button>&nbsp;
                                                        <mat-radio-button [value]="'Polish'">Polish
                                                        </mat-radio-button>&nbsp;
                                                        <mat-radio-button [value]="'Others'">Others
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 right" id="divtop">
                                                <button (click)='getPendingPolishIssueNos(0)' id="matButton"
                                                    [disabled]="objAction.isView === true" mat-raised-button
                                                    color="primary">Load</button>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <div class="card">
                                    <div class="card-body" id="cardPaddingNew">
                                        <div class="table-scroll" id="editTable">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerLast">Issue No</th>
                                                        <th id="headerLast">Date</th>
                                                        <th id="headerLast">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of polishReceiptIssueNosList; let i = index;'>
                                                        <td>{{data.issue_no}}
                                                        </td>
                                                        <td>{{data.issue_date | date: 'dd/MM/yyyy'}}</td>
                                                        <td>
                                                            <label *ngIf="objAction.isView === false" (click)="openBynoDialog(data)" id="hide"><strong>Select
                                                                    Byno</strong></label>
                                                            <label *ngIf="objAction.isView === true" id="hide"><strong>Select
                                                                    Byno</strong></label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Order No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerOne">Image</th>
                                                        <th style="width: 20%;">Description</th>
                                                        <th id="headerLast">Stone Type</th>
                                                        <th id="headerLast">Stone Qty</th>
                                                        <th id="headerLast">Charges</th>
                                                        <th id="headerLast">Conversion Charge</th>
                                                        <th id="headerLast">HSN</th>
                                                        <th id="headerLast" *ngIf='flags.isIgst && !flags.isComposite'>
                                                            IGST</th>
                                                        <th id="headerLast" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                            CGST</th>
                                                        <th id="headerLast" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                            SGST</th>
                                                        <th id="headerLast">Total Charges</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of polishReceiptDetailsList; let i = index;'>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 0)" id="columnCenter">
                                                            {{i + 1}}</td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                            <input disabled [(ngModel)]='data.issue_no' id='issueNo' #issueNo class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                            <input disabled [(ngModel)]='data.byno' id='byNo' #byNo class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 3)" id="columnCenter">
                                                            <sat-popover #image horizontalAlign="center" id='image' #image verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <img id="bynoImgae" type="file" height="100px" width="100px" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="bynoImgae" [satPopoverAnchor]="image" (mouseover)="image.open()" (mouseleave)="image.close()" height="24px" width="32px" type="file" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 4)" id="columnCenter">
                                                            <input disabled [(ngModel)]='data.description' id='desc' #desc class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 5)">
                                                            <input disabled [(ngModel)]='data.stone_type' id='stoneType' #stoneType class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 6)">
                                                            <input disabled [(ngModel)]='data.stone_qty' id='stoneQty' #stoneQty class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 7)">
                                                            <input disabled [(ngModel)]='data.charges' id='charge' #charge class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 8)">
                                                            <input [(ngModel)]='data.conversion_charges' #conversion (focus)="$event.target.select();" [disabled]="objAction.isView === true" (click)="$event.target.select();" (input)="calculateTotalCharges(i)" (ngModelChange)="calculateTotalCharges(i)" (keypress)="onlyAllwDecimalForReceiptDetails($event,999999.99,'polishReceiptDetailsList','conversion_charges',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 9)">
                                                            <input [(ngModel)]='data.hsn_code' maxlength="10" #hsnCode (focusout)='getGstByHsnCode(i)' id='hsnCode' (focus)="$event.target.select();" [disabled]="objAction.isView === true" (click)="$event.target.select();" class="form-control form-control-sm inputBox"
                                                            />
                                                        </td>
                                                        <td *ngIf='flags.isIgst && !flags.isComposite' (keyup)="onKeyFocusGlobal($event, i, 10)">
                                                            <input [(ngModel)]='data.igst' disabled id='igst' #igst (keypress)="onlyAllwDecimalForReceiptDetails($event,999999.99,'polishReceiptDetailsList','igst',i)" class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td *ngIf='!flags.isIgst && !flags.isComposite' (keyup)="onKeyFocusGlobal($event, i, 11)">
                                                            <input [(ngModel)]='data.cgst' disabled id='cgst' #cgst (keypress)="onlyAllwDecimalForReceiptDetails($event,999999.99,'polishReceiptDetailsList','cgst',i)" class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td *ngIf='!flags.isIgst && !flags.isComposite' (keyup)="onKeyFocusGlobal($event, i, 12)">
                                                            <input [(ngModel)]='data.sgst' disabled id='sgst' #sgst (keypress)="onlyAllwDecimalForReceiptDetails($event,9999999.99,'polishReceiptDetailsList','sgst',i)" class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 13)">
                                                            <input disabled [(ngModel)]='data.total_charges' id='total' #total class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label><strong>Taxable Amount</strong></label>
                                                <input disabled [(ngModel)]='objPolishReceipts.taxable_amount' id="columnRight" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <!-- <div class="col-sm-2">
                                                <label><strong>Other Amount</strong></label>
                                                <input [(ngModel)]='objPolishReceipts.other_amount'  id="columnRight"
                                                (keypress)="onlyAllowDecimalForOther($event,9999999.99,'objPolishReceipts','other_amount')"
                                                autocomplete="off"   (click)='$event.target.select()' (focus)='$event.target.select()'
                                                    (input)="getInvoiceGrandTotal('OtherAmount');" onCopy="return false"
                                                    [disabled]="objAction.isView === true"  (focusout)="convertTotalsToDecimal('')" 
                                                    onDrag="return false" onDrop="return false" onPaste="return false"
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div> -->

                                            <div *ngIf='!flags.isIgst && !flags.isComposite' class="col-sm-2">
                                                <label><strong>SGST Amount</strong></label>
                                                <input disabled [(ngModel)]='objPolishReceipts.sgst_total' id="columnRight" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div *ngIf='!flags.isIgst && !flags.isComposite' class="col-sm-2">
                                                <label><strong>CGST Amount</strong></label>
                                                <input disabled [(ngModel)]='objPolishReceipts.cgst_total' id="columnRight" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div *ngIf='flags.isIgst && !flags.isComposite' class="col-sm-2">
                                                <label><strong>IGST Amount</strong></label>
                                                <input disabled [(ngModel)]='objPolishReceipts.igst_total' id="columnRight" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label><strong>Additions</strong></label>
                                                <input [(ngModel)]='objPolishReceipts.additions' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' (focusout)="convertTotalsToDecimal('')"
                                                    (input)="getInvoiceGrandTotal('Additions')" (keypress)="onlyAllowDecimalForOther($event,999999.99,'objPolishReceipts','additions')" class="form-control form-control-sm border border-secondary right" />
                                            </div>

                                            <div class="col-sm-1">
                                                <label><strong>Deductions</strong></label>
                                                <input [(ngModel)]='objPolishReceipts.deductions' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' (focusout)="convertTotalsToDecimal('')"
                                                    (input)="getInvoiceGrandTotal('Deductions')" (keypress)="onlyAllowDecimalForOther($event,999999.99,'objPolishReceipts','deductions')" class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label><strong>Round Off</strong></label>
                                                <input [(ngModel)]='objPolishReceipts.round_off' [disabled]="objAction.isView === true" (click)='$event.target.select()' (focus)='$event.target.select()' (keypress)="onlyAllowDecimalForRoundOff($event,9999999.99,'objPolishReceipts','round_off')" (input)="getInvoiceGrandTotal('RoundOff')"
                                                    onCopy="return false" id="columnRight" (focusout)="convertTotalsToDecimal('')" onDrag="return false" autocomplete="off" onDrop="return false" onPaste="return false" class="form-control form-control-sm border border-secondary"
                                                />
                                            </div>
                                            <div class="col-sm-2">
                                                <label><strong>Invoice Amount</strong></label>
                                                <input [(ngModel)]='objPolishReceipts.total_invoice_amount' disabled id="columnRight" (click)='$event.target.select()' (focus)='$event.target.select()' (focusout)="convertTotalsToDecimal('')" onCopy="return false" onDrag="return false" onDrop="return false"
                                                    onPaste="return false" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-4">
                                        <div class="row">
                                           
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <label><strong>Remarks</strong></label>
                                                <textarea id="textarea" rows="1" autocomplete="off" [(ngModel)]="objPolishReceipts.remarks" maxlength="200" [disabled]="objAction.isView === true" class="form-control form-control-sm border border-secondary">
                                                </textarea>
                                            </div>
                                            <div class="col-sm-3 right" id="divTop">
                                                <div class="upload-btn-wrapper">
                                                    <button [disabled]="objAction.isView === true" class="btn">Attach
                                                        File</button>
                                                    <input #file id="file-input" hidden accept="image/*" type="file" />
                                                    <!-- <button class="btn" id="uploaddocument"
                                                        *ngIf="objPurchaseOrder.purchase_order_no !== 0"
                                                        (click)="openAttachFilesPopup()">Attach File</button>
                                                    <input #file id="file-input" hidden accept="image/*" type="file" /> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary" [disabled]="objAction.isView === true" (click)="onSavePolishOrderReceipt()">{{objAction.isEditing ? 'Update' :
                                            'Save' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn" [disabled]="objAction.isView === true" (click)="onClear(false)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Production Receipt List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Stone and Polish Receipts</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="polishReceiptLoad.from_date" #autocomplete (keyup)="validateFromDate()" (ngModelChange)="matTableConfig([])" (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker" placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate" (dateChange)="polishReceiptLoad.from_date = 
                                                dateValidation.toFormattedDate($event.value);matTableConfig([])">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="polishReceiptLoad.to_date" #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [min]="polishReceiptLoad.from_date" [max]="maxDate" (ngModelChange)="matTableConfig([])" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="fromDate1" [(ngModel)]="toDate1" [matDatepicker]="toPicker" placeholder="Choose a date" (dateChange)="polishReceiptLoad.to_date = 
                                                dateValidation.toFormattedDate($event.value);matTableConfig([])">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Status</strong></label>
                                        <select id='statuss' [(ngModel)]='polishReceiptLoad.status' (ngModelChange)="matTableConfig([])" class="form-control form-control-sm border border-secondary">
                                            <option [value]="'All'">All</option>
                                            <option [value]="'Cancelled'">Cancelled</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Code</strong></label>
                                        <input id='loadSupplier' (keyup)='openLoadSupplierLookup($event);' maxlength="10" (focusout)='checkValidLoadSupplierName($event,"loadSupplier")' (ngModelChange)="matTableConfig([])" autocomplete="off" (input)='onEnterLoadSupplierLookupDetails()' [(ngModel)]='polishReceiptLoad.supplier_code'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Supplier Name</strong></label>
                                        <input [(ngModel)]='polishReceiptLoad.supplier_name' disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2 right" id="divtop">
                                        <button (click)='loadPolishOrderReceipts()' id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label [ngClass]="{'red': element.active === false }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Receipt_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false }">
                                                            {{element.receipt_no}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Receipt_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomLeft" [ngClass]="{'red': element.active === false }">
                                                            {{element.receipt_date | date : 'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomLeft" [ngClass]="{'red': element.active === false }">
                                                            {{element.supplier_name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Quantity">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomRight1" [ngClass]="{'red': element.active === false }">
                                                            {{element.quantity}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)="viewPolishOrderReceiptDetails(i,true)" matTooltip="View this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" (click)="fetchPolishOrderReceiptDetails(i,true)" [disabled]="element.active === false" matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" [disabled]="element.active === false" (click)="onClickDelete(i)" matTooltip="Delete this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>