#columnleft {
padding-left: 5px;
height: 24px;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 270px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}