<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Attach File</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">

                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <table class="table table-bordered" style="margin-bottom: 0px;">
                                    <thead>
                                        <tr>
                                            <!-- <th>Comment</th> -->
                                            <th>Upload</th>
                                            <th>Progress</th>
                                            <th>View/Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td
                                                style="text-align: center;vertical-align: middle;width:8%;padding:4px !important">
                                                <div class="upload-btn-wrapper">
                                                    <button class="btn">Browse</button>
                                                    <input #docInput
                                                        (change)="uploadDocument($event)" type="file" name="myfile" />
                                                </div>
                                            </td>
                                            <td style="vertical-align:middle;padding:4px !important;width:32%">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                                        role="progressbar" [style.width.%]="attachment[0].Progress"
                                                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 85%">{{attachment[0].Progress}} %</div>
                                                </div>
                                            </td>
                                            <td style="vertical-align:middle;padding:4px !important;width:30%">
                                                <label
                                                    *ngIf="document != undefined || document != null &&  objAttachView.file_path == ''"
                                                    style="margin-bottom: 0px;">
                                                    <a [href]="_localStorage.getInventoryDocumentURL() + tempFile"
                                                        target="_blank" id="hide">
                                                        View File
                                                    </a>
                                                </label>&nbsp;&nbsp;
                                                <label
                                                    *ngIf="document != undefined || document != null && objAttachView.file_path == ''"
                                                    style="margin-bottom: 0px;color: red;cursor: pointer;"
                                                    id="hide" (click)='openRemoveTempFileConfirmationDialog(0)'>
                                                    Remove File
                                                </label>

                                                <label *ngIf="objAttachView.file_path != ''"
                                                    style="margin-bottom: 0px;">
                                                    <a [href]="_localStorage.getInventoryDocumentURL() +  objAttachView.file_path"
                                                        target="_blank" id="hide">
                                                        View File
                                                    </a>
                                                </label>&nbsp;&nbsp;
                                                <label *ngIf="objAttachView.file_path != ''"
                                                    (click)='openRemoveFileConfirmationDialog(0)'
                                                    style="margin-bottom: 0px;color: red;cursor: pointer;"
                                                    id="hide">
                                                    Remove File
                                                </label>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="onUploadDocuments()">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)="onClear()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>