<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Godown Stock Acknowledgement ********************************************** -->
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Godown Stock Acknowledgement</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle id="iButton"
                                    (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                    <mat-icon id="iconButton">clear</mat-icon>
                                </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong> Ack Machine Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Ack Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput [matDatepicker]="picker1">
                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong> Machine Name</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong> Lot No</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-1">
                                        <label><strong>Total Qty</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-1">
                                        <label><strong>Total Pcs</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Machine Name
                                            Load</button>
                                    </div>

                                    <!-- <div class="col-sm-6">
                                            <label><strong> Remarks</strong></label>
                                            <textarea rows="1" id="textarea"
                                            class="form-control form-control-sm border border-secondary"></textarea>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                        <div id="top">
                            <app-editable-grid *ngIf="showTable === true" [value]="objEditableGrid"></app-editable-grid>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <label><strong> Remarks</strong></label>
                                    </div>
                                    <div class="col-sm-11">
                                        <textarea rows="1" id="textarea"
                                            class="form-control form-control-sm border border-secondary"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary">Print</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn" 
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>