// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 2%;
    width: 1220px;
}

.list {
    margin-top: 2%;
    width: 894px;
}

// --------------------- Table Css End ------------------- //
