<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="height">Godown To Counter Expetion</div>
                            </div>
                            <div class="col-sm-2" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton"
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> From Date</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div> <br>

                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> To Date</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="load.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> Section</strong></label>
                                    </div>

                                    <div class="col-sm-8">
                                        <select id="Section" [(ngModel)]="load.company_section_id"
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value=''>--Select--</option>
                                            <option *ngFor="let data of sectionList" [value]="data.company_section_id">
                                                {{data.company_section_name}}</option>
                                        </select>
                                    </div>
                                </div> <br>

                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong>Transfer No</strong></label>
                                    </div>

                                    <div class="col-sm-2" id="checkboxTop">
                                        <mat-checkbox [(ngModel)]="load.transferNo" (ngModelChange)='resetTransferNo()'></mat-checkbox>
                                    </div>
                                    <div class="col-sm-6">
                                        <input [(ngModel)]="load.transfer_id" id="transferNo" [disabled]="!load.transferNo"
                                        (input)="_keyPressEvents.onlyAllowNumbers($event)" maxlength="9"
                                         class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>

                                    <div class="col-sm-8" id="checkboxTop">
                                        <mat-checkbox [(ngModel)]="load.detailView">Detail View</mat-checkbox>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="getGodownToCounterExceptionReport()">View</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>