#divTop {
    margin-top: 30px;
}

.table-scroll td {
    padding: 2px;
    border: 0.5px solid lightgray;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.table-scroll{
    height:158px
}