<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Size and Product</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-4">
                        <label><strong>Byno</strong></label>
                        <input disabled class="form-control form-control-sm border border-secondary" />
                    </div>
                    <div class="col-sm-8" id="divTop">
                        <mat-checkbox>With Blouse</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-checkbox>With Pallu</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-checkbox>Damaged</mat-checkbox>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-6">
                <label><strong>Estimated</strong></label>
                <div class="card">
                    <div class="card-body" id="cardPadding">
                        <div class="table-scroll">
                            <table border='1'>
                                <thead class="docs-primary-header">
                                    <tr>
                                        <th id="headerOne">S.No</th>
                                        <th>Product Name</th>
                                        <th>Size</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let data of objProductSize.estimated;let i = index;'>
                                        <td id="columnCenter">{{i+1}}</td>
                                        <td id="columnLeft">{{data.prod_name}}
                                        </td>
                                        <td id="columnLeft">{{data.prod_size}}
                                        </td>
                                        <td id="columnRight">{{data.estimated_qty}}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label><strong>Received</strong></label>
                <div class="card">
                    <div class="card-body" id="cardPadding">
                        <div class="table-scroll">
                            <table border='1'>
                                <thead class="docs-primary-header">
                                    <tr>
                                        <th id="headerOne">S.No</th>
                                        <th>Product Name</th>
                                        <th>Size</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let data of objProductSize.received;let i = index;'>
                                        <td id="columnCenter">{{i+1}}</td>
                                        <td id="columnLeft">{{data.prod_name}}
                                        </td>
                                        <td id="columnLeft">{{data.prod_size}}
                                        </td>
                                        <td id="columnRight">{{data.received_quantity}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="top">
            <div class="card-body" id="cardPadding">
                <label><strong>RECEIPT DETAILS</strong></label>
                <div class="table-scroll">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerOne">S.No</th>
                                <th>Receipt No</th>
                                <th>Receipt Date</th>
                                <th style="width: 20%">Product Name</th>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Conversion Cost</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of objProductSize.receipt_details;let i = index;'>
                                <td id="columnCenter">{{i+1}}</td>
                                <td id="columnLeft">{{data.receipt_no}}
                                </td>
                                <td id="columnLeft">{{data.receipt_date |date:'dd/MM/yyyy'}}
                                </td>
                                <td id="columnLeft">{{data.prod_name}}
                                </td>
                                <td id="columnLeft">{{data.prod_size}}
                                </td>
                                <td id="columnRight">{{data.received_quantity}}
                                </td>
                                <td id="columnRight">{{data.conversion_charges|number:'1.2-2'}}
                                </td>
                                <td id="columnCenter">
                                    <sat-popover #image horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                        <div class="row">
                                            <div class="info-wrapper satPop1">
                                                <img id="bynoImgae" type="file" height="100px" width="100px" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                            </div>
                                        </div>
                                    </sat-popover>
                                    <img id="bynoImgae" [satPopoverAnchor]="image" (mouseover)="image.open()" (mouseleave)="image.close()" height="24px" width="32px" type="file" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="card" id="top">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12 right">
                        <button id="matButton" mat-raised-button color="warn" (click)="onClear()">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>