// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 8%;
    width: 450px;
  }

#top1{
  margin-top: 5px;
}
  
// --------------------- Screen Based CSS End ------------------- //
