<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Location Table</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="table-scroll" id="top">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerSize">Location</th>
                                <th id="headerSize">Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr let *ngFor ="let data of getPurchaseLocationList; let i = index;">
                                <td (keyup)="onKeyFocusGlobal($event, i, 0)">
                                    <input [(ngModel)]="data.sales_location_name" #location
                                    (click)="$event.target.select()" (focus)="$event.target.select()"
                                  maxlength="10"  type="text" class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                    <input type="text" #qty [(ngModel)]="data.qty" maxlength="5"  (input)="_keyPressEvents.onlyAllowNumbers($event)"
                                    (click)="$event.target.select()" (focus)="$event.target.select()"
                                    class="form-control form-control-sm inputBox right">
                                </td>
                            </tr>                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <b>Total</b>
                                </th>
                                <th id="columnRight">
                                    <b>{{setTotalCalculation()}}</b>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div> <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button color="primary" (click)="addLocationsDetails()">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" (click)="onClear()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>