<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Image Capture</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton"
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Byno</strong></label>
                                        <input class="form-control form-control-sm border border-secondary">
                                        <div id="top">
                                            <label><strong>Counter</strong></label>
                                            <input disabled class="form-control form-control-sm border border-secondary">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label><strong>Description</strong></label>
                                        <textarea rows="4" id="textarea" class="form-control form-control-sm border border-secondary"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card" id="divTop">
                                    <div class="card-body center" id="cardPadding">
                                        <img height="200" width="100%" type="file"
                                            [src]='thumbnail'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card" id="divTop">
                                    <div class="card-body center" id="cardPadding">
                                        <img height="200" width="100%" type="file"
                                            [src]='thumbnail'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="divTop">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6" id="top1">
                                        <mat-checkbox>Add this image to supplier list</mat-checkbox>
                                    </div>
                                    <div class="col-sm-6" id="right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="getImages()">Take Photo</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>