// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 500px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#textarea {
    height: 92px;
    resize: none;
}

#top1{
    padding-top:4px
}

// --------------------- Screen Based CSS End ------------------- //