// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 2%;
    width: 734px;
}

#headerCounterName{
    width: 55%;
}

// --------------------- Table Css End ------------------- //
