// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 3%;
  width: 1491px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 20px;
}

#top {
  margin-top: 10px;
}

//   .table-scroll {
//     height: 279px;
//   }

#headerOne {
  width: 1%;
  height: 25px;
}
#headerbyno {
  width: 9%;
}

#headerLast {
  width: 3%;
}

#headersupplier {
  width: 20%;
}

#tdlast {
  text-align: left;
  padding-left: 5px;
}

#topbutton {
  margin-top: -1px;
  text-align: right;
}

#footerRight {
  text-align: right;
  padding-right: 5px;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 310px;
  margin-bottom: 0px;
}

#overflow1 {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

#divTop {
  margin-top: 24px;
  text-align: right;
}

#columnCenter1 {
  padding-top: 2px;
  padding-bottom: 8px;
  text-align: center;
}

#checkTop {
  margin-top: -4.5px;
}


// --------------------- Table Css End ------------------- //
