<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Purchase Return ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchase Return</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='resetScreen(true)' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong> Date</strong></label>
                                        <input disabled [(ngModel)]='objPurchaseReturnEntry.Date'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <app-editable-grid *ngIf="showTable === true" [value]="objEditableGrid"></app-editable-grid>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="addPurchaseReturn()">{{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            *ngIf='!objEditableGrid.flags.isDisable' color="warn"
                                            (click)="resetScreen(false)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- ****************************************** Purchase Return List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchase Return List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]='objLoad.section' section
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                (ngModelChange)="matTableConfig([])" [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="matTableConfig([])"
                                                (dateChange)="objLoad.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.ToDate" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                (ngModelChange)="matTableConfig([])" [min]="objLoad.FromDate"
                                                [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date" (dateChange)="matTableConfig([])"
                                                (dateChange)="objLoad.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="GetPurchaseReturnEntry()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="purchase_return_date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Scanned Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.purchase_return_date |date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="byno">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Byno
                                                    </mat-header-cell>
                                                    <mat-cell 
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.byno}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="product_code">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Product Code
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.product_code}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="product_name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Product Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.product_name"
                                                    matTooltipPosition="above"  *matCellDef="let element"
                                                        class="row-no">
                                                        <div id="overflow">
                                                        {{element.product_name}}</div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="uom_descrition">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        UOM
                                                    </mat-header-cell>
                                                    <mat-cell
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.uom_descrition}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.qty}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="pcs">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Pieces
                                                    </mat-header-cell>
                                                    <mat-cell 
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.pcs}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)="onClickDelete(i)"
                                                                matTooltip="delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>