// --------------------- Screen Based CSS Start ------------------- //

#headerOne {
    width: 1%;
}

#headerTwo {
    width: 25%;
}

#headerThree {
    width: 250px;
}

.table-scroll td {
    padding: 4px;
    border: 0.5px solid lightgray;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 360px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Screen Based CSS End ------------------- //
