<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** By Percentage ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">By Percentage</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>ByNo</strong></label>
                                        <input #byno id='byno' [(ngModel)]='objDblRateByPercentLoad.byno'
                                            (keyup)="onKeyPress($event)" autocomplete="off"
                                            class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Add Margin(Double Rate) %</strong></label>
                                        <input [(ngModel)]='objDblRateByPercentLoad.double_percent'
                                            (click)='$event.target.select()' (focus)='$event.target.select()'
                                            (input)='onChangeOfGlobalDoubleRate()' autocomplete="off"
                                            (keypress)="onlyAllowInputNumbers($event,100,'objDblRateByPercentLoad','double_percent')"
                                            class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Less Margin(Discount Rate) %</strong></label>
                                        <input [(ngModel)]='objDblRateByPercentLoad.discount_percent'
                                            (click)='$event.target.select()' (focus)='$event.target.select()'
                                            (input)='onChangeOfGlobalDoubleRate()' autocomplete="off"
                                            (keypress)="onlyAllowInputNumbers($event,100,'objDblRateByPercentLoad','discount_percent')"
                                            class="form-control form-control-sm border border-secondary">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne" rowspan="2">S.No</th>
                                                <th id="headerTwo" rowspan="2">ByNo</th>
                                                <th id="headerThree" rowspan="2">Product Name</th>
                                                <th rowspan="2" id="headerFour">Counter</th>
                                                <th rowspan="2" id="headerFour">Current Price</th>
                                                <th id="headerlast" colspan="2">Add Margin (Double Rate)</th>
                                                <th id="headerlasts" colspan="2">Less Margin (Discount Rate)</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amount</th>
                                                <th>%</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of doubleRateByPercentList; let i = index;'>
                                                <td id="columnCenter">{{i+1}}</td>
                                                <td id="tdbyno">{{data.byno}}</td>
                                                <td id="overflow" [matTooltip]="data.product_name"
                                                    matTooltipPosition="above">{{data.product_name}}</td>
                                                <td id="tdbyno">{{data.counter_code}}</td>
                                                <td id="tdSellingPrice">{{data.selling_price}}</td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                    <input #doublePercent [(ngModel)]='data.double_percent' type="text"
                                                        (click)='$event.target.select()' autocomplete="off"
                                                        (focus)='$event.target.select()'
                                                        (input)='calculateDoubleRate(i)'
                                                        (keypress)="onlyAllowNumbers($event,100,'doubleRateByPercentList','double_percent',i)"
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                    <input #doubleRate [(ngModel)]='data.double_rate' type="text"
                                                        (click)='$event.target.select()' autocomplete="off"
                                                        (focus)='$event.target.select()'
                                                        (input)='calculateDiscountRate(i,true)'
                                                        (keypress)="onlyAllowDecimal($event,199000,'doubleRateByPercentList','double_rate',i)"
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                    <input #discountPercent [(ngModel)]='data.discount_percent'
                                                        type="text" (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' autocomplete="off"
                                                        (input)='calculateDiscountRate(i)'
                                                        (keypress)="onlyAllowNumbers($event,100,'doubleRateByPercentList','discount_percent',i)"
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                    <input #discountRate [(ngModel)]='data.discount_rate' type="text"
                                                        (click)='$event.target.select()' autocomplete="off"
                                                        (focus)='$event.target.select()'
                                                        (keypress)="onlyAllowDecimal($event,199000,'doubleRateByPercentList','discount_rate',i)"
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" (click)='addDblRateByPercentage()' mat-raised-button
                                            color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)="exportToExcel()">
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>