<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Send Mail</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div>
                    <label><strong>TO</strong> </label>
                    <input id="toEmail" maxlength="50" [(ngModel)]="objMail.email_id" 
                    class="form-control form-control-sm border border-secondary" />
                </div>
                <div id="top">
                    <label><strong>BCC</strong> </label>
                    <input id="bccMail" maxlength="100" [(ngModel)]="objMail.bcc" class="form-control form-control-sm border border-secondary" />
                </div>
                <div id="top">
                    <label><strong>Agent Mail ID</strong> </label>
                    <input id="agentEmail" maxlength="50" [(ngModel)]="objMail.agent_email_id" class="form-control form-control-sm border border-secondary" />
                </div>
            </div>
        </div> <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" (click)="checkForAgentEmailDetails()" mat-raised-button color="primary">Send</button>&nbsp;
                        <button id="matButton" (click)="onClear()" mat-raised-button color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>