<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Invoice in Bale ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height" *ngIf='!objAction.isView'>
                                    {{objAction.isEditing ? 'Edit Invoices In Bale' : 'New Invoices In Bale'}}</div>
                                <div id="height" *ngIf='objAction.isView'>View Invoices In Bale</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3" *ngIf='!objAction.isEditing && !objAction.isView'>
                                        <label><strong>Section</strong> </label>
                                        <input disabled autocomplete="off" [(ngModel)]='objInvoiceBales.section_name'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3" *ngIf='objAction.isEditing || objAction.isView'>
                                        <label><strong>Section</strong> </label>
                                        <input disabled autocomplete="off"
                                            [(ngModel)]='objInvoiceBales.company_section_name'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3" *ngIf='!objAction.isEditing'>
                                        <label><strong>Section Grn</strong><sup id="sup">*</sup></label>
                                        <select id='sectionGrn' [(ngModel)]='objInvoiceBales.section_grn_no'
                                            (ngModelChange)='getSectionGRNDetails()'
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                            <option *ngFor='let section of sectionGrnList'
                                                [value]='section.section_grn_no'>{{section.section_grn_no}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3" *ngIf='objAction.isEditing'>
                                        <label><strong>Section Grn</strong><sup id="sup">*</sup></label>
                                        <input autocomplete="off" disabled [(ngModel)]='objInvoiceBales.section_grn_no'
                                            maxlength="30"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Supplier Name</strong> </label>
                                        <input autocomplete="off" disabled [(ngModel)]='objInvoiceBales.supplier_name'
                                            maxlength="30"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Grn Date</strong> </label>
                                        <input disabled autocomplete="off" [(ngModel)]='objInvoiceBales.grn_date'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>No of Invoices</strong><sup id="sup">*</sup></label>
                                        <input id='noOfInvoices' autocomplete="off"
                                            [(ngModel)]='objInvoiceBales.no_of_invoices'
                                            (keypress)='addInvoiceRows()' [disabled]='objAction.isView'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headersuppliercode">Supplier Code</th>
                                                <th id="headersupplier">Supplier Name</th>
                                                <th id="headerinvoice">Supplier Invoice No</th>
                                                <th id="headerinvoiceAmount">Supplier Invoice Amount</th>
                                                <th>Supplier Invoice Date</th>
                                                <th>Invoice Entered</th>
                                                <th *ngIf='objInvoiceBales.no_of_invoices < invoiceBalesList.length'>
                                                    Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of invoiceBalesList;let i= index;'>
                                                <td #sNo id="columnCenter" (keyup)="onKeyFocusGlobal($event,i,0)">
                                                    {{i+1}}
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event,i,1)">
                                                    <input #supplierCode maxlength="10" #supplierInput
                                                        (keyup)='openSupplierLookup($event,i);'
                                                        [disabled]='objAction.isView'
                                                        (focusout)='checkValidSupplierName(i,$event,"supplierInput")'
                                                        (input)='onEnterSupplierLookupDetails(i)'
                                                        [(ngModel)]='data.supplier_code' type="text"
                                                        class="form-control form-control-sm inputBox">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event,i,2)">
                                                    <input #supplierName maxlength="50" type="text" disabled
                                                        [(ngModel)]='data.supplier_name'
                                                        class="form-control form-control-sm inputBox">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event,i,3)">
                                                    <input #invoiceNo [(ngModel)]='data.invoice_no' type="text"
                                                        maxlength="50"
                                                        [disabled]='data.invoice_entered || objAction.isView'
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event,i,4)">
                                                    <input #invoiceAmt [(ngModel)]='data.invoice_amount' type="text"
                                                        (focus)='$event.target.select()'
                                                        (click)='$event.target.select()'
                                                        (keypress)="onlyAllowDecimal($event,999999,'invoiceBalesList','invoice_amount',i)"
                                                        [disabled]='data.invoice_entered || objAction.isView'
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event,i,5)">
                                                    <mat-form-field style="width:100px;text-align: center;"
                                                        id="matDate">
                                                        <input #invoiceDate matInput [(ngModel)]='data.invoice_date'
                                                            [disabled]='data.invoice_entered || objAction.isView'
                                                            (click)="monthPicker.open()" readonly
                                                            [matDatepicker]="monthPicker">
                                                        <mat-datepicker-toggle matSuffix [for]="monthPicker"
                                                            [disabled]='data.invoice_entered || objAction.isView'>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #monthPicker>
                                                        </mat-datepicker>
                                                    </mat-form-field>
                                                    <!-- <mat-form-field>
                                                        <input matInput [matDatepicker]="picker">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                                                      </mat-form-field> -->
                                                </td>
                                                <td #invoiceEntered style='text-align: left;padding-left: 5px;'
                                                    (keyup)="onKeyFocusGlobal($event,i,6)">
                                                    {{data.invoice_entered ? 'Yes' : 'No'}}</td>
                                                <td *ngIf='objInvoiceBales.no_of_invoices < invoiceBalesList.length'
                                                    (keyup)="onKeyFocusGlobal($event,i,7)">
                                                    <button #action class="btn btn-sm" name="delete" id="delbtn"
                                                        [disabled]='data.invoice_entered'
                                                        (click)='removeInvoiceRows(i)'>
                                                        <i id="iRed" class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)='addInvoicesInBales()'>{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='onClear(false)'>Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Invoice in Bale List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Invoices in Bale</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="loadInvoiceInBales.FromDate"
                                                #autocomplete (keyup)="validateFromDate()"
                                                (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="loadInvoiceInBales.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="loadInvoiceInBales.ToDate"
                                                #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="loadInvoiceInBales.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                [min]='fromDate1' [max]='maximumDate'
                                                (dateChange)="loadInvoiceInBales.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>

                                    </div>

                                    <div class="col-sm-6" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)='loadInvoiceBales()'>Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="GRN_No">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        GRN No
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.grn_no}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="GRN_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        GRN Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.grn_date | date: 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="No_Of_Invoices">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Total Invoices
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.total_invoices}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Total_Invoices">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Invoices Entered
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.invoices_entered}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyOrView(i,true,false)'
                                                                [disabled]='element.total_invoices === element.invoices_entered || !rights.Update'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>

                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyOrView(i,false,true)'
                                                                [disabled]='!rights.View' matTooltip="View this row"
                                                                id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>