// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 1.5%;
    width: 988px;
}

.list {
    margin-top: 2%;
    width: 700px;
}

#top {
    margin-top: 10px;
    margin-bottom: 0px;
}

#hide {
    margin-bottom: 4px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 123px;
    width: 123px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 124px;
    width: 124px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 123px;
    width: 123px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 124px;
    width: 124px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}


#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

#divTop {
    margin-top: 24px;
    text-align: right;
}

#headersupplier{
    width: 734px;
}

#headersuppliercode 
{
    width: 158px;
}

#headerinvoice{
width: 246px;
}
#headerinvoiceAmount{
    width: 202px;
}

// --------------------- Table Css End ------------------- //
