<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Production Receipt ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">New Production Receipt</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPaddingNew">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body" id="cardPaddingNew">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label><strong>Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input [(ngModel)]='Date' matInput [matDatepicker]="picker1">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Received From</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Supplier Name</strong></label>
                                                <input disabled
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                        <div class="row" id="top"> 
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Inv Supplier Code</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Inv Supplier Name</strong></label>
                                                <input disabled
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>                                            
                                        </div>
                                        <div class="row" id="top"> 
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Invoice No</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Invoice Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input [(ngModel)]='Date' matInput [matDatepicker]="picker">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Supplier GSTIN</strong></label>
                                                <input disabled
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <div class="card">
                                    <div class="card-body" id="cardPaddingNew">
                                        <div class="table-scroll" id="editTable">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerLast">Issue No</th>
                                                        <th id="headerLast">Date</th>
                                                        <th id="headerLast">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="columnLeft">
                                                        </td>
                                                        <td id="tdDate"></td>
                                                        <td id="columnCenter">
                                                            <label (click)="openBynoDialog()" id="hide"><strong>Select Byno</strong></label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Issue No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerOne">Image</th>
                                                        <th id="headerLast">Size and Product</th>
                                                        <th id="headerLast">Received Qty</th>
                                                        <th id="headerLast">Cost Price</th>
                                                        <th id="headerLast">HSN</th>
                                                        <th id="headerLast">Production Cost</th>
                                                        <th id="headerLast">Margin Code</th>
                                                        <th id="headerLast">Status</th>
                                                        <th>New Selling Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="columnCenter">1</td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox"/>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox"/>
                                                        </td>
                                                        <td id="columnCenter">
                                                            <sat-popover #image horizontalAlign="center"
                                                                verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <img id="bynoImgae" type="file" height="100px"
                                                                            width="100px"
                                                                            [src]="'assets\\images\\common\\empty-photo.jpg'"
                                                                            onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="bynoImgae" [satPopoverAnchor]="image"
                                                                (mouseover)="image.open()" (mouseleave)="image.close()"
                                                                height="24px" width="32px" type="file"
                                                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                                                        </td>
                                                        <td id="columnCenter">
                                                            <label (click)="openSizeTableDialog()" id="hide"><strong>Edit</strong></label>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox right"/>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox right"/>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox"/>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox right"/>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox"/>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox"/>
                                                        </td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox right"/>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label><strong>Taxable Amount</strong></label>
                                                <input disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Other Amount</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>CGST Amount</strong></label>
                                                <input disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>SGST Amount</strong></label>
                                                <input disabled class="form-control form-control-sm border border-secondary" />
                                            </div>                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       <div class="row">
                                        <div class="col-sm-6">
                                            <label><strong>Round Off</strong></label>
                                            <input class="form-control form-control-sm border border-secondary" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label><strong>Invoice Amount</strong></label>
                                            <input class="form-control form-control-sm border border-secondary" />
                                        </div>   
                                       </div>  
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <label><strong>Remarks</strong></label>
                                                <textarea id="textarea" rows="1"
                                                    class="form-control form-control-sm border border-secondary">
                                                </textarea>
                                            </div>
                                            <div class="col-sm-3 right" id="divTop">
                                                <div class="upload-btn-wrapper">
                                                    <button class="btn">Attach File</button>
                                                    <input #file id="file-input" hidden accept="image/*" type="file" />
                                                    <!-- <button class="btn" id="uploaddocument"
                                                        *ngIf="objPurchaseOrder.purchase_order_no !== 0"
                                                        (click)="openAttachFilesPopup()">Attach File</button>
                                                    <input #file id="file-input" hidden accept="image/*" type="file" /> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Production Receipt List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Receipts</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="load.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Receipt_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Receipt_No}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Receipt_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Receipt_Date}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Supplier_Name}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Invoice_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Invoice No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Invoice_No}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Invoice_Amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Invoice Amount
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Invoice_Amount}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Payment_Status">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Payment Status
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Payment_Status}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Status
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Status}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>