// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 1%;
    width: 1150px;
}

.edit {
    margin-top: 2%;
    width: 800px;
}

.list {
    margin-top: 2%;
    width: 1235px;
}

#hide {
    margin-bottom: 0px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#editTable {
    height: 182px;
}

#checkTop {
    text-align: center;
    margin-top: -7px;
}

#headerByno {
    width: 12%;
}

#headerImage {
    width: 12%;
}

#headerLast {
    width: 8%;
}

#tdDate {
    padding: 12px;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 240px;
}

#cardPaddingNew{
    padding:10px
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(9) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(9) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
