.user-menu{
    border-radius:0px;
    .mat-toolbar, .mat-toolbar-row{
        height: 100px !important;
    }
    .user-info{
        width: 230px;
        p{
            font-size: 16px;
            line-height: 22px;
            text-align: center;
        }
    }
    .mat-menu-item{
        height: 36px;
        line-height: 36px;
    }
}

.user-info{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: flex-end;
}

.rounded {
    border-radius: 50%;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ccc;
}
