<button mat-icon-button style="color:white;padding-top:5px" [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon style="font-size:22px">account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->
        <mat-toolbar color="primary">
            <div fxLayout="row" class="user-info">
                <img src="assets/images/users/user.jpg" style="border-radius:50%" lt="user-image" width="80" class="mat-elevation-z6">
                <!-- <img style="border-radius:50%" lt="user-image" width="80" class="mat-elevation-z6" [src]="_localStorage.getHRDocumentURL() + employeePhotoName"
                                onerror="this.onerror = null;this.src='assets/images/users/user.jpg'"> -->
                <!-- <p>{{userMenu.employee_name}} <br> <small>{{userMenu.designation_name}}</small></p> -->
                <p>{{userName}} <br> <small>{{designationName}}</small></p>

            </div>  
        </mat-toolbar>   
        <a mat-menu-item (click)='mailClick()'> 
            <mat-icon>mail</mat-icon>
            <span>Mail</span> 
        </a>
        <a mat-menu-item (click)='chatClick()'> 
            <mat-icon>chat</mat-icon>
            <span>Chat</span> 
        </a>
        <a mat-menu-item (click)='openLockScreen()'> 
            <mat-icon>lock</mat-icon>
            <span>Lock screen</span> 
        </a>
        <a mat-menu-item> 
            <mat-icon>help</mat-icon>
            <span>Help</span> 
        </a>
        <div class="divider"></div>
        <a mat-menu-item (click)='redirectToLauncher("login")'> 
            <mat-icon>power_settings_new</mat-icon>
            <span>Log out</span> 
        </a>
    <!--</span>-->
</mat-menu>