// --------------------- Screen Based CSS Start ------------------- //
.new {
    margin-top: 1%;
    width: 1250px;
}

.list {
    margin-top: 1.5%;
    width: 1058px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 20px;
}

#top {
    margin-top: 10px;
}

#remarksTop {
    padding-top: 6px;
}

#inputTop {
    padding-top: 2px;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 110px;
    width: 110px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
    padding-left: 5px;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(4) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(6) {
    min-width: 110px;
    width: 110px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(7) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
    color: white;
    border-right: 0px;
}

.mat-table-fixed mat-footer-cell:nth-child(8) {
    min-width: 135px;
    width: 135px;
    display: flex;
    justify-content: left;
    text-align: left;
    color: white;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px;
    margin-bottom: 0px;
}

#overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-bottom: 0px;
}

// --------------------- Table Css End ------------------- //