<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Byno Selection</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card cardHeight">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-2 center" *ngFor='let data of workOrderByNoList;let i= index;'>
                        <div id="image">
                            <img id="bynoImgae" height="100px" width="100px" type="file" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                            <br>
                            <div>
                                <mat-checkbox [(ngModel)]="data.checked" (click)="selectedRowIndexList(data,i);">{{data.byno}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="table-scroll" id="top">
            <table border='1'>
                <tbody>
                    <tr *ngFor='let data of work_order_details;let i= index;'>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox [(ngModel)]="data.isSelected"
                                (click)="selectedRowIndexList(data,i);">{{data.work_order_details}}</mat-checkbox>                         
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="card" id="top1">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12 right">
                        <button id="matButton" mat-raised-button color="primary" (click)="dialogOK()">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>