<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Goods Transfer Receipt List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfer Receipt Returnable List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]='objLoad.section' section
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Warehouse</strong></label>
                                        <select id="toSection" [(ngModel)]='objLoad.to_section'
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value=0>--Select--</option>
                                            <!-- <option *ngFor="let data of sectionList" [value]="data.company_section_id">
                                                {{data.company_section_name}}</option> -->
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>From Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input matInput id="fromDate" [(ngModel)]="objLoad.from_date"
                                                        #autocomplete (keyup)="validateFromDate()"
                                                        (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate"
                                                        (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [min]="minimumDate" [(ngModel)]="fromDate1"
                                                        [max]="maximumDate" [matDatepicker]="fromPicker"
                                                        placeholder="Choose a date"
                                                        (dateChange)="objLoad.from_date = dateValidation.toFormattedDate($event.value);">
                                                    <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #fromPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>To Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input matInput id="toDate" [(ngModel)]="objLoad.to_date"
                                                        #autocomplete (keyup)="validateToDate()"
                                                        (focusout)="validateToDate()" [min]="objLoad.from_date"
                                                        [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="toDate1" [min]="fromDate1"
                                                        [max]="maximumDate" [matDatepicker]="toPicker"
                                                        placeholder="Choose a date"
                                                        (dateChange)="objLoad.to_date = dateValidation.toFormattedDate($event.value);">
                                                    <mat-datepicker-toggle matSuffix [for]="toPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #toPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-2 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Transfer_No}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Transfer_Date}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Ack_Date" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Ack_Date}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="From_Section">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From Section
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.From_Section}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="To_Section">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        To Section
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.To_Section}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Ack_Pcs">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack Pcs
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Ack_Pcs}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>Total
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Ack_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack Qty
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Ack_Qty}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>0
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <!-- <button mat-icon-button color="primary"
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button> -->
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ******************************************  Goods Transfer Receipt ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfer Receipt Returnable</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Ack No</strong></label>
                                        <input autocomplete="off" [(ngModel)]="objGodownToCounter.transfer_id"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Ack Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="date" [(ngModel)]="objGodownToCounter.transfer_date"
                                                #autocomplete (keyup)="validateDate()" (focusout)="validateDate()"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="date1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="objGodownToCounter.transfer_date = dateValidation.toFormattedDate($event.value);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Returnable Transfer No</strong></label>
                                        <input autocomplete="off" [(ngModel)]="objGodownToCounter.from_section"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Returnable Transfer Date</strong></label>
                                        <input autocomplete="off" disabled
                                            [(ngModel)]="objGodownToCounter.transfer_ack_date"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                </div>

                                <div class="row" id="top">

                                    <div class="col-sm-3">
                                        <label><strong>Byno</strong></label>
                                        <input autocomplete="off" [(ngModel)]="objGodownToCounter.byno"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Acknowledged Pieces</strong></label>
                                        <input autocomplete="off" [(ngModel)]="objGodownToCounter.acknowledged_pieces"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Total Pieces</strong></label>
                                        <input autocomplete="off" disabled [(ngModel)]="objGodownToCounter.total_pieces"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th>Byno</th>
                                                        <th>Received Byno</th>
                                                        <th id="productName">Product Name</th>
                                                        <th>UOM</th>
                                                        <th>Selling Price</th>
                                                        <th>Qty</th>
                                                        <th>Pieces</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <!-- {{i+1}} -->
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td>
                                                           
                                                        </td>

                                                        <td>
                                                           
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <label><strong>Remarks</strong></label>
                                        <textarea id="textarea" rows="1"
                                            class="form-control form-control-sm border border-secondary">
                                  </textarea>
                                    </div>
                                    <div class="col-sm-3 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****************************************** Export Menu ********************************************** -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
            <span>Export To PDF</span>
        </button>
        <button mat-menu-item>
            <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
            <span>Export To Excel</span>
        </button>
    </mat-menu>