<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Cost Price Modification ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Cost Price Modification</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Byno</strong></label>
                                        <input class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Invoice</strong></label>
                                        <input class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-8 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th>Serial</th>
                                                <th>Product Group</th>
                                                <th>Qty</th>
                                                <th>Actual Qty</th>
                                                <th>Pcs</th>
                                                <th>Actual Pcs</th>
                                                <th>Cost Prices</th>
                                                <th>Actual Cost Prices</th>
                                                <th>Discount Amount</th>
                                                <th>Price Code</th>
                                                <th>Add Margin</th>
                                                <th>SGST</th>
                                                <th>CGST</th>
                                                <th>IGST</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="columnCenter">1</td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>SGST %</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>SGST Amt</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>CGST %</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>CGST Amt</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>IGST %</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>IGST Amt</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>SC %</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>SC Amt</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Other Deductions</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>Credit Days</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="top">
                                      <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Disc. %</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>Amount</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Freigh</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>other</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Margin %</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>Margin Amt</strong></label>
                                                <input class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 right" id="divAdjus">
                                        <label id="labelBottom"><strong>Actuval Invoice Amount
                                                Total</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                                            id="hide"><strong>0.00</strong></label>
                                    </div>
                                    <div class="col-sm-3 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>