#columnCenter {
    padding-top: 7px;
}

.table-scroll {
    height: 405px;
}

#top1{
    margin-top:10px
}

.list{
    width: 500px;
}

#columnCenter{
    height: 25px;
}


#checkTop{
    text-align: center;
    margin-top:4px
  }

  #headerCheckbox{
      width: 13%;
  }

  //////
  #columnCenter {
    padding-top: 7px;
}

.table-scroll {
    height: 405px;
    overflow: auto
}

.cardHeight {
    height: 500px;
    overflow: auto
}

#top1{
    margin-top:4px
}

#image{
    border: 1px solid grey;
    padding-top: 10px;
}