// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 1000px;
}

#hide {
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px;
}

#headerOne {
    width: 1%;
}

#headerLast {
    width: 5%;
}

#columnCenter {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

#divAdjus{
    padding-top: 25px;
    margin-bottom: -5px;
}

// --------------------- Screen Based CSS End ------------------- //
