<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Purchase Return Note ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Supplierwise Return Note</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Byno</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong> Date</strong></label>
                                        <input disabled [(ngModel)]='Date'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Invoice No</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th>Byno Serial</th>
                                                <th>Qty</th>
                                                <th>Rate</th>
                                                <th>Other Charges</th>
                                                <th>Amount</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="columnCenter">1</td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                                <td id="columnLeft">

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Freight Charges</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Packing Charges</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Credit Amount</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Debit Amount</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>Remarks</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3 right" id="divAdjus">
                                        <label id="labelBottom"><strong>Grand
                                                Total</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                                            id="hide"><strong>0.00</strong></label>
                                    </div>
                                    <div class="col-sm-3 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>