<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Goods Transfered Products ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfered Products</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>From Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input matInput id="fromDate" [(ngModel)]="load.FromDate"
                                                        #autocomplete (keyup)="validateFromDate()"
                                                        (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate"
                                                        (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="fromDate1"
                                                        [matDatepicker]="fromPicker" placeholder="Choose a date"
                                                        [min]="minimumDate" [max]="maximumDate"
                                                        (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                                    <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #fromPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>Acknowledgement No</strong></label>
                                                <input class="form-control form-control-sm border border-secondary">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Transfered From</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Date</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>

                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Transfer No</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-9 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerTwo">ByNo Serial</th>
                                                <th id="headerThree">Product Name</th>
                                                <th id="headerCounter">Counter</th>
                                                <th>Current Price</th>
                                                <th>Counter Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="columnCenter">1</td>
                                                <td> <input type="text" class="form-control form-control-sm inputBox">
                                                </td>
                                                <td> 
                                                </td>
                                                <td> <select type="text" class="form-control form-control-sm inputBox">
                                                    <option>--select--</option>
                                                    </select>
                                                </td>
                                                <td> <input type="text" class="form-control form-control-sm inputBox">
                                                </td>
                                                <td> <input type="text" class="form-control form-control-sm inputBox">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>