<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Work Order Issue********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Work Order Issue List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <!-- <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()" (ngModelChange)="matTableConfig([])"
                                                [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker" (dateChange)="matTableConfig([])" 
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field> -->
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.fromDate"
                                                (ngModelChange)="matTableConfig([])" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [min]="minimumDate" [(ngModel)]="fromDate1"
                                                (dateChange)="matTableConfig([])" [max]="maximumDate"
                                                [matDatepicker]="fromPicker" placeholder="Choose a date"
                                                (dateChange)="load.fromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <!-- <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()" (ngModelChange)="matTableConfig([])"
                                                [min]="load.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker" (dateChange)="matTableConfig([])"
                                                placeholder="Choose a date" [min]="load.FromDate" [max]="maxDate"
                                                (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field> -->
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.toDate"
                                                (ngModelChange)="matTableConfig([])" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="load.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [min]="fromDate1"
                                                (dateChange)="matTableConfig([])" [max]="maximumDate"
                                                [matDatepicker]="toPicker" placeholder="Choose a date"
                                                (dateChange)="load.toDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input id="supplierCodeName" [(ngModel)]="load.supplier_code"
                                            (keyup)='openNewSupplierLookup($event);'
                                            (input)='onEnterNewSupplierLookupDetails()' autocomplete="off"
                                            (focusout)='checkValidSupplierCode($event,"newSupplier")'
                                            (ngModelChange)="matTableConfig([])" maxlength="10"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Supplier Name</strong></label>
                                        <input [(ngModel)]="load.supplier_name" disabled
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Transfer Type</strong></label>
                                        <select id="Transfer" [(ngModel)]="load.transfer_type"
                                            (ngModelChange)="matTableConfig([])"
                                            class="form-control form-control-sm border border-secondary">
                                            <option value="">--Select--</option>
                                            <option *ngFor="let type of WorkOrderIssueEntryGridList"
                                            [value]="type.transfer_flag">
                                            {{type.transfer_name}}
                                        </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-9 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="getWorkOrderIssueList()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="wo_issue_id" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Issue No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.wo_issue_id}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="wo_issue_date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Issue Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.wo_issue_date |date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="account_name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.account_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>Total
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="quantity">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.quantity}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getQuantity()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)='modifyWorkOrderIssue(true,i)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <!-- <button mat-icon-button color="primary"
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button> -->
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"
                                                    [hidden]="dataSource.data.length === 0">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Work Order Issue********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Work Order Issue </div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong> Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input [(ngModel)]='objWorkOrderIssue.wo_issue_date' matInput readonly  
                                                    (click)="picker1.open()"  [matDatepicker]="picker1">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>Supplier Code</strong></label>
                                                <input [(ngModel)]="objWorkOrderIssue.supplier_code" id="supplierCode"
                                                    (keyup)='openNewSupplierLookups($event);' autocomplete="off"
                                                    (focusout)='checkValidSupplierName($event,"newSupplier")'
                                                    maxlength="10" (input)='onEnterNewSupplierLookupDetail()'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>

                                        <div class="row" id="top">
                                            <div class="col-sm-12">
                                                <label><strong>Supplier Name</strong></label>
                                                <input disabled [(ngModel)]="objWorkOrderIssue.supplier_name"
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>

                                        <div class="row" id="top">
                                            <div class="col-sm-6">
                                                <label><strong>Transfer Type</strong></label>
                                                <select id="target" [(ngModel)]="objWorkOrderIssue.transfer_type"
                                                    (ngModelChange)="clearIsBynoList()"
                                                    class="form-control form-control-sm border border-secondary">
                                                    <option value="">--Select--</option>
                                                    <option *ngFor="let type of WorkOrderIssueEntryGridList"
                                                        [value]="type.transfer_flag">
                                                        {{type.transfer_name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-sm-6 right" id="divTop">
                                                <button id="matButton" mat-raised-button color="primary"
                                                (click)="getWorkOrderIssueEntryGridList(0)">Load</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7" id="paddingLeft">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll" id="ediTable">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th>Work Order No</th>
                                                        <th>Date</th>
                                                        <th>From Location</th>
                                                        <!-- <th>
                                                            <div id=checkTop>
                                                                <input id="checkbox" type="checkbox"
                                                                    [(ngModel)]="masterSelected" name="list_name"
                                                                    value="m1" (ngModelChange)="checkAll();" (click)="validateTransferType()"/>
                                                            </div>
                                                        </th> -->
                                                        <th id="headerLasts">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of workOrderNoList;let i= index;'>
                                                        <td id="columnCenter">{{i+1}}</td>
                                                        <td id="tddate" #check>{{data.work_order_no}}
                                                        </td>
                                                        <td id="tddate">{{data.work_order_date |date:'dd/MM/yyyy'}}
                                                        </td>
                                                        <td id="tddate">{{data.current_warehouse}}
                                                        </td>
                                                        <!-- <td>
                                                            <div id=checkTop>
                                                                <input id="checkbox" type="checkbox" 
                                                                    [(ngModel)]="data.isSelected"
                                                                    (ngModelChange)='isAllSelected(data)' 
                                                                    name="list_name" />
                                                            </div>
                                                        </td> -->
                                                        <td id="columnCenter">
                                                            <label (click)="openBynoDialog(data)" id="hide"><strong>Select Byno</strong></label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Work Order No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerLast">Image</th>
                                                        <th id="headerDescription">Description</th>
                                                        <th id="headerLast">Stone Type</th>
                                                        <th id="headerLast">Stone Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data1 of workOrderIssueDetailsList;let i= index;'>
                                                        <td id="columnCenter">{{i+1}}</td>
                                                        <td id="tddate">{{data1.work_order_no}}</td>
                                                        <td id="tddate">{{data1.byno}}</td>
                                                        <td id="columnCenter">
                                                            <sat-popover #image horizontalAlign="center"
                                                                verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <img id="bynoImgae" type="file" height="100px"
                                                                            width="100px"
                                                                            [src]="'assets\\images\\common\\empty-photo.jpg'"
                                                                            onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="bynoImgae" [satPopoverAnchor]="image"
                                                                (mouseover)="image.open()" (mouseleave)="image.close()"
                                                                height="24px" width="32px" type="file"
                                                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                                                        </td>
                                                        <td id="tddate">{{data1.description}}</td>
                                                        <td id="tddate">{{data1.stone_type}}</td>
                                                        <td id="tddate">{{data1.stone_qty}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label id="remarks"><strong>Remarks</strong></label>
                                            </div>
                                            <div class="col-sm-11">
                                                <textarea rows="1" [(ngModel)]="objWorkOrderIssue.remarks"
                                                 id="textarea"
                                                    maxlength="100"
                                                    class="form-control form-control-sm border border-secondary"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="addWorkOrderIssue()">{{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)="onClear(false)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>