// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 1%;
    width: 934px;
  }
  
  .list {
    margin-top: 1.5%;
    width: 908px;
  }
  
  .mat-icon-button .mat-icon,
  .mat-icon-button i {
    line-height: 20px;
  }

  #ediTable{
    height:182px
  }

  #headerLasts{
    width: 17%;
  }

  #checkTop{
    text-align: center;
    margin-top:-6px
  }
  
  #headerByno{
    width:12%
  }
  
  #headerImage{
    width: 12%;
  }
  
  #headerLast{
    width: 10%;
  }
  
  // --------------------- Screen Based CSS End ------------------- //
  
  // --------------------- Table Css Start ------------------- //
  
  .mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 371px;
    width: 371px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 81px;
    width: 81px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
  }

  .mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
 
  .mat-table-fixed mat-cell:nth-child(4) {
    min-width: 371px;
    width: 371px;
    display: flex;
    justify-content: flex-start;
    text-align: flex-start;
    padding-right: 5px;
  }
  
  .mat-table-fixed mat-cell:nth-child(5) {
    min-width: 81px;
    width: 81px;
    display: flex;
    justify-content: left;
    text-align: left;
    border-right: 0px;
  }

  .mat-table-fixed mat-cell:nth-child(6) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
  }


  .mat-table-fixed mat-footer-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
}
.mat-table-fixed mat-footer-cell:nth-child(4) {
    min-width: 371px;
    width: 371px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.mat-table-fixed mat-footer-cell:nth-child(5) {
    min-width: 82px;
    width: 82px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
}
.mat-table-fixed mat-footer-cell:nth-child(6) {
  min-width: 82px;
  width: 82px;
  display: flex;
  justify-content: left;
  text-align: left;
  border-left: 0px;
}
  
  #overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px;
    margin-bottom: 0px;
  }
  
  #overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-bottom: 0px;
  }
  
  ::ng-deep .mat-tooltip {
    font-size: 14px;
  }

  #tdalign {
    text-align: right;
    padding-right: 5px;
  }

  #tddate{
    text-align: left;
    padding-left: 5px;
    height: 24px;
  }

  #checkbox{
    margin-top: 10px;
  }

  #textarea{
    resize: none;
  }

  #remarks{
    margin-top: 4px;
  }
  // --------------------- Table Css End ------------------- //
  