<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Image Capture</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle id="iButton" (click)="dialogClose()">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" id="cardPadding">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body center" id="cardPadding">
                        <webcam [height]="230" [width]="300" [trigger]="triggerObservable"
                            (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                            [videoOptions]="videoOptions" [imageQuality]="1"
                            (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf='webcamImage'>
                <div class="card">
                    <div class="card-body center" id="cardPadding">
                        <img height="230" width=300 type="file" [src]="webcamImage.imageAsDataUrl">
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf='!webcamImage'>
                <div class="card">
                    <div class="card-body center" id="cardPadding">
                        <img height="230" width=300 type="file" [src]="'assets\\images\\common\\empty-photo.jpg'">
                    </div>
                </div>
            </div>
        </div><br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" (click)="triggerSnapshot();" mat-raised-button color="primary">Take
                            Photo</button>&nbsp;
                        <button id="matButton" (click)="uploadDocument()" mat-raised-button
                            color="primary">Attach</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" (click)="dialogClose()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>