<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="height">Price Change History</div>
                            </div>
                            <div class="col-sm-2" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton"
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">                                                    
                                <div class="row">
                                    <div class="col-sm-4" id="top">
                                        <label><strong>From Date</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate"
                                            #autocomplete (keyup)="validateFromDate()"  [min]="minDate" 
                                            (focusout)="validateFromDate()"
                                            (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker" 
                                            placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                            (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div> 
                                
                                <div class="row" id="top">
                                    <div class="col-sm-4" id="top">
                                        <label><strong>To Date</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" 
                                            #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()"  
                                            [max]="maxDate"
                                            [min]="load.FromDate"
                                            (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker" 
                                            [max]="maximumDate" [min]="fromDate1"
                                            placeholder="Choose a date" (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value);">      
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>   
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" 
                                        (click)='generateReport()'mat-raised-button color="primary">View</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


