<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
             <!-- ****************************************** New Product Category ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">New Category</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Section Name</strong> </label>
                                        <input maxlength="50" disabled autocomplete="off"
                                            [(ngModel)]="Group_Section_Name"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Category Name<sup id='sup'>*</sup></strong> </label>
                                        <input maxlength="50" id="categoryName" autocomplete="off"
                                            [(ngModel)]="objCategories.Category_Name"
                                            (input)="_keyPressEvents.onlyAllowCharacters($event);removeSpecialCharacters($event)"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6" id="status">
                                        <label><strong> Active </strong></label>
                                        <div class="button b2" id="button-10">
                                            <input type="checkbox" class="checkbox" #active
                                                (change)="objCategories.Active = active.checked === true ? false : true;changeFlagConfirmation()"
                                                [checked]="!objCategories.Active" />
                                            <div class="knobs">
                                                <span>YES</span>
                                            </div>
                                            <div class="layer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="saveCategories()">{{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)="onClear(false)"
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- ****************************************** Product Category List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Product Categories</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Section Name</strong></label>
                                        <input disabled maxlength="50" [(ngModel)]='Group_Section_Name'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6" id="right">
                                        <div class="form-group" id="top">
                                            <mat-radio-group [(ngModel)]="objCategoriesLoad.TimeLine">
                                                <mat-radio-button (change)="radioChange($event)" checked [value]="2">All
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="1">Active
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="0">Inactive
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.Active === false }">
                                                            {{i + 1}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Category_Name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Category Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        <label id="overflow"
                                                            [ngClass]="{'red': element.Active === false }">
                                                            {{element.Category_Name}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyCategories(true,i)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row"
                                                                    [ngClass]="{'red': element.Active === false }"
                                                                    class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>                                                           
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>