// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 1%;
  width: 1171px;
}

.list {
  margin-top: 1.5%;
  width: 1105px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 20px;
}

#satTop {
  text-align: center;
  margin-top: 9px;
}

#buttonTop {
  margin-top: -2px;
}

#divTop {
  padding-left: 0px;
}

#remarks {
  padding-top: 4px;
  margin-bottom: 0px;
}

.satPop {
  background-color: white;
  box-shadow: 1px 1px 2px 1px #80808054;
  padding: 10px;
  min-width: 270px;
  width: 270px;
  padding-top: 14px;
}

#headerByno {
  width: 12%;
}

#headerImage {
  width: 12%;
}

#headerLast {
  width: 10%;
}

#iRed {
  height: 18px;
  width: 18px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.material-icons {
  font-size: 16px;
  line-height: 1.3;
}

#iconBottom {
  margin-bottom: -3px;
}

#headerImage {
  width: 15%;
}

#headerPre {
  width: 8%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  pointer-events: none;
}

#rightT {
  padding: 4px;
  text-align: right;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
  min-width: 127px;
  width: 127px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
  min-width: 254px;
  width: 254px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
  min-width: 104px;
  width: 104px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
  min-width: 108px;
  width: 108px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
  min-width: 115px;
  width: 115px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 1px solid white;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
  min-width: 127px;
  width: 127px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
  min-width: 254px;
  width: 254px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
  min-width: 104px;
  width: 104px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(6) {
  min-width: 108px;
  width: 108px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(7) {
  min-width: 115px;
  width: 115px;
  display: flex;
  justify-content: left;
  text-align: left;
  border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(8) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 310px;
  margin-bottom: 0px;
}

#overflow1 {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

// --------------------- Table Css End ------------------- //
