<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Work Order List********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Work Order List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Store Location</strong></label>
                                        <input disabled [(ngModel)]="objLoad.Store_Location"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]="objLoad.Section"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.From_Date"
                                                (ngModelChange)='matTableConfig([])' #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [min]="minDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="minimumDate"
                                                [(ngModel)]="model1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="objLoad.From_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.To_Date"
                                                (ngModelChange)='matTableConfig([])' #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()" [max]="maxDate"
                                                [min]="objLoad.From_Date" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="model1" [(ngModel)]="model2"
                                                [matDatepicker]="endPicker" placeholder="Choose a date"
                                                (dateChange)="objLoad.To_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="endPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #endPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Transfer Type</strong></label>
                                        <select id="type" [(ngModel)]="objLoad.Transfer_Type"
                                            (ngModelChange)='matTableConfig([])'
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value="">--Select--</option>
                                            <option *ngFor="let type of transferTypeList" [value]="type.transfer_flag">
                                                {{type.transfer_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1 right" id="divTop">
                                        <button id="matButton" (click)="getCustomerWorkOrder()" mat-raised-button
                                            color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Work_Order_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Work Order No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.work_order_no}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Work_Order_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Work Order Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.work_order_date | date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Customer_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Customer Name
                                                        <button id="buttonTop" mat-icon-button
                                                            [satPopoverAnchor]="NoFilter"
                                                            (click)="$event.stopPropagation(); NoFilter.toggle();"
                                                            color="secondary" class="Filter-icon">
                                                            <mat-icon aria-label="Filter">arrow_drop_down
                                                            </mat-icon>
                                                        </button>
                                                        <sat-popover #NoFilter horizontalAlign="center"
                                                            verticalAlign="above" closeTransition="500ms ease-out">
                                                            <div class="info-wrapper satPop">
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <mat-form-field class="w-100">
                                                                            <input matInput
                                                                                (keyup)="customerNameFilter($event.target.value, $event)"
                                                                                placeholder='Search' type="text"
                                                                                name="filter">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-sm-3" id="satTop">
                                                                        <mat-button-toggle-group id="group"
                                                                            #group="matButtonToggleGroup">
                                                                            <mat-button-toggle color="primary"
                                                                                (click)='$event.stopPropagation(); NoFilter.toggle();'
                                                                                id="iButton">
                                                                                <mat-icon id="iconButton">
                                                                                    clear
                                                                                </mat-icon>
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </sat-popover>
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.customer_name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        <div id="overflow">
                                                            {{element.customer_name}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Product Qty
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.no_of_sarees}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Value">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Product Value
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.total_saree_value | number: '1.2-2'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Status
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.status}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                [disabled]='!rights.Update || element.status === "Cancelled" || element.status === "Approved"'
                                                                (click)='fetchCustomerWorkOrder(element.work_order_no)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                [disabled]='!rights.View'
                                                                (click)='viewCustomerWorkOrder(element.work_order_no)'
                                                                matTooltip="View this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    visibility
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                [disabled]='!rights.Delete || element.status === "Cancelled" || element.status === "Approved"'
                                                                (click)='openCancelConfirmationDialog(element)'
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Work Order ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Work Order</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Date</strong></label>
                                        <input disabled [disabled]='objAction.isView'
                                            [(ngModel)]='objCustomerWorkOrder.Date'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled [disabled]='objAction.isView'
                                            [(ngModel)]="objCustomerWorkOrder.Section"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <label><strong>To Warehouse</strong></label>
                                                <select id="warehouse" [(ngModel)]='objCustomerWorkOrder.To_Warehouse'
                                                    [disabled]='objAction.isView'
                                                    class="form-control form-control-sm border border-secondary">
                                                    <option disabled value="">--Select--</option>
                                                    <option *ngFor="let data of locationList"
                                                        [value]="data.warehouse_id">
                                                        {{data.wh_name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-5">
                                                <label><strong>Transfer Type</strong></label>
                                                <select id="type" [(ngModel)]="objCustomerWorkOrder.Transfer_Type"
                                                    [disabled]='objAction.isView'
                                                    class="form-control form-control-sm border border-secondary">
                                                    <option disabled value="">--Select--</option>
                                                    <option *ngFor="let type of transferTypeList"
                                                        [value]="type.transfer_flag">
                                                        {{type.transfer_name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Bill No</strong></label>
                                        <input id="bill" maxlength="30" [(ngModel)]='objCustomerWorkOrder.Bill_No'
                                            [disabled]='objAction.isView'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Amount To Be Paid</strong></label>
                                        <input id="amount" maxlength="4" [disabled]='objAction.isView'
                                            (click)='$event.target.select()' (focus)='$event.target.select()'
                                            onCopy="return false" onDrag="return false" onDrop="return false"
                                            onPaste="return false" (input)='_keyPressEvents.onlyAllowNumbers($event)'
                                            [(ngModel)]='objCustomerWorkOrder.Amount_To_Be_Paid'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-2">
                                        <label><strong>Delivery Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate">
                                            <input [(ngModel)]='objCustomerWorkOrder.Delivery_Date'
                                                [disabled]='objAction.isView' (click)="picker1.open()" matInput readonly
                                                [matDatepicker]="picker1">
                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Bonus Card No</strong></label>
                                        <input id="warehouse" maxlength="20" [disabled]='objAction.isView'
                                            [(ngModel)]='objCustomerWorkOrder.Bonus_Card_No'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Customer Name</strong></label>
                                        <input id="customer" maxlength="30" [disabled]='objAction.isView'
                                            [(ngModel)]='objCustomerWorkOrder.Customer_Name'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Phone No</strong></label>
                                        <input id="phone" maxlength="10" [disabled]='objAction.isView'
                                            (click)='$event.target.select()' (focus)='$event.target.select()'
                                            onCopy="return false" onDrag="return false" onDrop="return false"
                                            onPaste="return false" (input)='_keyPressEvents.onlyAllowNumbers($event)'
                                            [(ngModel)]='objCustomerWorkOrder.Phone_No'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Address 1</strong></label>
                                        <input id="add1" maxlength="50" [disabled]='objAction.isView'
                                            [(ngModel)]='objCustomerWorkOrder.Address1'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>Address 2</strong></label>
                                        <input id="add2" maxlength="50" [disabled]='objAction.isView'
                                            [(ngModel)]='objCustomerWorkOrder.Address2'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Address 3</strong></label>
                                        <input id="add3" maxlength="50" [disabled]='objAction.isView'
                                            [(ngModel)]='objCustomerWorkOrder.Address3'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Order Taken By</strong></label>
                                        <input id="order" maxlength="50" [disabled]='objAction.isView'
                                            [(ngModel)]='objCustomerWorkOrder.Order_Taken_By'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerImage">Image</th>
                                                        <th id="headerPre">Image Pre</th>
                                                        <th id="headerDescription">Description</th>
                                                        <th id="headerLast">Product Value</th>
                                                        <th id="headerLast">Stone Type</th>
                                                        <th id="headerLast">Stone Qty</th>
                                                        <th id="headerLast">Charges</th>
                                                        <th id="headerOne">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor='let data of objCustomerWorkOrder.Byno_List;let i = index;'>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 0)" id="columnCenter">
                                                            {{i+1}}
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                            <input #byno maxlength="50" [(ngModel)]='data.byno'
                                                                [disabled]='objAction.isView'
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 2)" id="columnCenter">
                                                            <input type="file" #image [(ngModel)]="data.image_path"
                                                                name="file" id="file" class="inputfile">
                                                            <label for="file" id="hide"><strong>From
                                                                    File</strong></label>&nbsp;&nbsp;
                                                            <label (click)="openImageCapture(i)" id="hide"><strong>From
                                                                    Camera</strong></label>
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 3)" id="columnCenter">
                                                            <sat-popover #imagePre horizontalAlign="center"
                                                                verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <img id="bynoImgae" type="file" height="100px"
                                                                            width="100px"
                                                                            [src]="'assets\\images\\common\\empty-photo.jpg'"
                                                                            onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="bynoImgae" #pre [satPopoverAnchor]="imagePre"
                                                                (mouseover)="imagePre.open()"
                                                                (mouseleave)="imagePre.close()" height="24px"
                                                                width="32px" type="file"
                                                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                            <input #description maxlength="150"
                                                                [disabled]='objAction.isView'
                                                                [(ngModel)]='data.description'
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 5)">
                                                            <input #productValue [disabled]='objAction.isView'
                                                                [(ngModel)]='data.saree_value'
                                                                (click)='$event.target.select()'
                                                                (focus)='$event.target.select()' autocomplete="off"
                                                                onCopy="return false" onDrag="return false"
                                                                onDrop="return false" onPaste="return false"
                                                                (keypress)="onlyAllwDecimalForCustomerWorkOrder($event,1000000,'objCustomerWorkOrder.Byno_List','saree_value',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 6)">
                                                            <input #stoneType maxlength="30"
                                                                [disabled]='objAction.isView'
                                                                [(ngModel)]='data.stone_type'
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 7)">
                                                            <input #stoneQty [disabled]='objAction.isView'
                                                                [(ngModel)]='data.stone_qty'
                                                                (click)='$event.target.select()'
                                                                (focus)='$event.target.select()' autocomplete="off"
                                                                onCopy="return false" onDrag="return false"
                                                                onDrop="return false" onPaste="return false"
                                                                (keypress)="onlyAllwDecimalForCustomerWorkOrder($event,10000,'objCustomerWorkOrder.Byno_List','stone_qty',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 8)">
                                                            <input #charges [disabled]='objAction.isView'
                                                                [(ngModel)]='data.charges'
                                                                (click)='$event.target.select()'
                                                                (focus)='$event.target.select()' autocomplete="off"
                                                                onCopy="return false" onDrag="return false"
                                                                onDrop="return false" onPaste="return false"
                                                                (keypress)="onlyAllwDecimalForCustomerWorkOrder($event,1000000,'objCustomerWorkOrder.Byno_List','charges',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 9)">
                                                            <button #action name="del" matTooltip="Remove" id="delbtn"
                                                                [disabled]='objAction.isView'
                                                                *ngIf="i !==objCustomerWorkOrder.Byno_List.length - 1"
                                                                class="btn btn-sm" (click)='removeRowFromBynoList(i)'>
                                                                <div id="iconBottom">
                                                                    <mat-icon id="iRed">
                                                                        delete
                                                                    </mat-icon>
                                                                </div>
                                                            </button>
                                                            <button #action
                                                                *ngIf="i === objCustomerWorkOrder.Byno_List.length - 1"
                                                                class="btn btn-sm" matTooltip="Add" name="add"
                                                                id="addbtn"
                                                                [disabled]="objAction.isView || data.byno == ''  || data.description == '' || data.product_value == '' || data.stone_type == '' || data.stone_qty == '' || data.charges == '' "
                                                                (click)='addNewRowToBynoList(i)'>
                                                                <div id="iconBottom">
                                                                    <mat-icon id="iGreen">
                                                                        add
                                                                    </mat-icon>
                                                                </div>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th id="rightT">
                                                        {{getProductValue()}}
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th id="rightT">
                                                        {{getCharges()}}
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label id="remarks"><strong>Remarks</strong></label>
                                            </div>
                                            <div class="col-sm-11">
                                                <textarea rows="1" [(ngModel)]='objCustomerWorkOrder.Remarks'
                                                    [disabled]='objAction.isView' id="textarea" maxlength="200"
                                                    class="form-control form-control-sm border border-secondary"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="upload-btn-wrapper">
                                            <button class="btn" *ngIf="objCustomerWorkOrder.Customer_Name === ''"
                                                (click)="openAttachFilesPopup()">Attach File</button>
                                            <input #file id="file-input" hidden
                                                [disabled]="objCustomerWorkOrder.Customer_Name === '' || objAction.isView === true"
                                                accept="image/*" type="file" />

                                            <button class="btn" id="uploaddocument"
                                                *ngIf="objCustomerWorkOrder.Customer_Name !== ''"
                                                (click)="openAttachFilesPopup()">Attach File</button>
                                            <input #file id="file-input" hidden accept="image/*" type="file" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3" id="right">
                                        <button *ngIf='objAction.isView==false' id="matButton"
                                            (click)="addCustomerWorkOrder()" mat-raised-button color="primary">{{
                                            !objAction.isEditing ? 'Save' : 'Update'
                                            }}</button>&nbsp;
                                        <button *ngIf='objAction.isView==false' id="matButton" mat-raised-button
                                            (click)="onClear(false)" color="warn">Clear</button>
                                        <button *ngIf='objAction.isView==true' id="matButton" mat-raised-button
                                            (click)='onListClick()' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>