<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Discount</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="dialogClose()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12">
                        <label><strong>Discount Amount</strong></label>
                        <input class="form-control form-control-sm border border-secondary" />
                        <div id="top">
                            <label><strong>Discount %</strong></label>
                            <input class="form-control form-control-sm border border-secondary" />
                        </div>
                        <div id="top">
                            <label><strong>Additional Amount</strong></label>
                            <input class="form-control form-control-sm border border-secondary" />
                        </div>
                        <div id="top">
                            <label><strong>Additional %</strong></label>
                            <input class="form-control form-control-sm border border-secondary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button (click)="dialogOK()"
                            color="primary">Save</button>&nbsp;
                        <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>