<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** New HSN Tax Rates ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">{{ !objAction.isEditing ? 'New Tax Rate' : 'Edit Tax Rate' }}</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label><strong>HSN Code </strong></label>
                                        <input disabled [(ngModel)]='objHSN.Hsn'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Variable Rate</strong> </label>
                                        <br>
                                        <div class="radio">
                                            <mat-radio-group [(ngModel)]='objHSN.Variable_Rate' disabled>
                                                <mat-radio-button [value]=true>Yes
                                                </mat-radio-button>&nbsp;&nbsp;&nbsp;
                                                <mat-radio-button [value]=false>No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" id="top">
                                        <label><strong>Description</strong></label>
                                        <input [matTooltip]="objHSN.Hsn_Description"
                                        matTooltipPosition="above" [(ngModel)]='objHSN.Hsn_Description' disabled
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>Effective From</strong></label>
                                        <mat-form-field id="matDate" appearance="outline">
                                            <input id="holidayDate" matInput [matDatepicker]="picker" maxlength="10" (click)="picker.open()"
                                             readonly [(ngModel)]='objHSNTax.Effective_From'>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Range From</strong></label>
                                        <input [(ngModel)]='objHSNTax.Range_From' id="rangeFrom"
                                        onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false"
                                        (click)="$event.target.select()" (focus)="$event.target.select()"
                                        (keypress)="onlyAllowNumber($event, 999999999999999, 'objHSNTax', 'Range_From');"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>Range To</strong></label>
                                        <input [(ngModel)]='objHSNTax.Rage_To' id="rangeto"
                                        onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false"
                                        (click)="$event.target.select()" (focus)="$event.target.select()"
                                        (keypress)="onlyAllowNumber($event, 999999999999999, 'objHSNTax', 'Rage_To');"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>GST Rate (%)</strong></label>
                                        <input [(ngModel)]='objHSNTax.Gst_Rate' id="gstrate"
                                        onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false" (keyup)="checkGSTRate()"
                                        (click)="$event.target.select()" (focus)="$event.target.select()"
                                        (keypress)="onlyAllowNumber($event, 99, 'objHSNTax', 'Gst_Rate');"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" (click)='saveHSNTax()' mat-raised-button
                                            color="primary">{{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn" (click)="onClear(false)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** HSN Tax Rates List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">HSN Tax Rates</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='onExit()' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>HSN Code </strong></label>
                                        <input [(ngModel)]='objHSN.Hsn' disabled
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Variable Rate</strong> </label>
                                        <br>
                                        <div class="radio">
                                            <mat-radio-group [(ngModel)]='objHSN.Variable_Rate' disabled>
                                                <mat-radio-button [value]=true>Yes
                                                </mat-radio-button>&nbsp;&nbsp;&nbsp;
                                                <mat-radio-button [value]=false>No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <label><strong>Description</strong></label>
                                        <input disabled [matTooltip]="objHSN.Hsn_Description"
                                        matTooltipPosition="above" [(ngModel)]='objHSN.Hsn_Description'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Effective_From" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Effective From
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Effective_From | date : 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Range_From" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Range From
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Range_From}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Range_To">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Range To
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Rage_To}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="GST">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        GST Rate (%)
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Gst_Rate}}
                                                    </mat-cell>
                                                </ng-container>


                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)='modifyHSN(true,i)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" (click)="onClickDelete(i)"
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='onExit()'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>