.new {
  margin-top: 7%;
  width: 500px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 20px;
}

.list {
  margin-top: 1.5%;
  width: 765px;
}

#top {
  margin-top: 10px;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
  min-width: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
  min-width: 150px;
  width: 150px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(4) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(5) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 5px;
  border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(6) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

// --------------------- Table Css End ------------------- //
