<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** PO Analysis ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">PO Analysis</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>From Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input matInput id="fromDate" [(ngModel)]="objLoad.From_Date"
                                                        (ngModelChange)='matTableConfig([])' #autocomplete
                                                        (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                        [min]="minDate" [min]="minDate"
                                                        (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [max]="maximumDate" [min]="minimumDate"
                                                        [(ngModel)]="model1" [matDatepicker]="fromPicker"
                                                        placeholder="Choose a date"
                                                        (dateChange)="objLoad.From_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                                    <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #fromPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>To Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input matInput id="toDate" [(ngModel)]="objLoad.To_Date"
                                                        (ngModelChange)='matTableConfig([])' #autocomplete
                                                        (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                        [max]="maxDate" [min]="objLoad.From_Date"
                                                        (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [max]="maximumDate" [min]="model1"
                                                        [(ngModel)]="model2" [matDatepicker]="endPicker"
                                                        placeholder="Choose a date"
                                                        (dateChange)="objLoad.To_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                                    <mat-datepicker-toggle matSuffix [for]="endPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #endPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 right" id="divTop">
                                        <button id="matButton" (click)='getPOAnalysis()' mat-raised-button
                                            color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">                                            
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PO_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        PO No
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.po_no}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Date
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.po_date|date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Place">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Place
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.place" matTooltipPosition="above"
                                                        *matCellDef="let element" class="row-no">
                                                        <div id="overflow1">
                                                            {{element.city}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                        <button id="buttonTop" mat-icon-button
                                                            [satPopoverAnchor]="NoFilter"
                                                            (click)="$event.stopPropagation(); NoFilter.toggle();"
                                                            color="secondary" class="Filter-icon">
                                                            <mat-icon aria-label="Filter">arrow_drop_down
                                                            </mat-icon>
                                                        </button>
                                                        <sat-popover #NoFilter horizontalAlign="center"
                                                            verticalAlign="above" closeTransition="500ms ease-out">
                                                            <div class="info-wrapper satPop">
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <mat-form-field class="w-100">
                                                                            <input matInput
                                                                                (keyup)="supplierNameFilter($event.target.value, $event)"
                                                                                placeholder='Search' type="text"
                                                                                name="filter">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-sm-3" id="satTop">
                                                                        <mat-button-toggle-group id="group"
                                                                            #group="matButtonToggleGroup">
                                                                            <mat-button-toggle color="primary"
                                                                                (click)='$event.stopPropagation(); NoFilter.toggle();'
                                                                                id="iButton">
                                                                                <mat-icon id="iconButton">
                                                                                    clear
                                                                                </mat-icon>
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </sat-popover>
                                                    </mat-header-cell>                                                    
                                                    <mat-cell [matTooltip]="element.supplier_name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        <div id="overflow">
                                                            {{element.supplier_name}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PO_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        PO Qty
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.po_qty}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Received_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Received Qty
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.po_received_qty}}
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>