// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 1095px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#satTop {
    text-align: center;
    margin-top: 9px;
}

#buttonTop {
    margin-top: -2px;
}

.satPop {
    background-color: white;
    box-shadow: 1px 1px 2px 1px #80808054;
    padding: 10px;
    min-width: 270px;
    width: 270px;
    padding-top: 14px;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 130px;
    width: 130px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 130px;
    width: 130px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    margin-bottom: 0px;
}

#overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
