<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Stone & Polish Issue List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Stone & Polish Issue List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoadPolishOrderIssue.fromDate" (ngModelChange)="matTableConfig([])" #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" [min]="minDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [min]="minimumDate" [(ngModel)]="fromDate1" (dateChange)="matTableConfig([])" [max]="maximumDate" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="objLoadPolishOrderIssue.fromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoadPolishOrderIssue.toDate" (ngModelChange)="matTableConfig([])" #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [min]="objLoadPolishOrderIssue.FromDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [min]="fromDate1" (dateChange)="matTableConfig([])" [max]="maximumDate" [matDatepicker]="toPicker" placeholder="Choose a date" (dateChange)="objLoadPolishOrderIssue.toDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Status</strong></label>
                                        <select id="statusSelection" [(ngModel)]="objLoadPolishOrderIssue.status" (ngModelChange)="matTableConfig([])" class="form-control form-control-sm border border-secondary">
                                            <option value="All">All</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input id="supplierCodeName" [(ngModel)]="objLoadPolishOrderIssue.supplier_code" (keyup)='openNewSupplierLookup($event);' (input)='onEnterNewSupplierLookupDetails()' autocomplete="off" (focusout)='checkValidSupplierCode($event,"newSupplier")' (ngModelChange)="matTableConfig([])"
                                            maxlength="10" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input [(ngModel)]="objLoadPolishOrderIssue.supplier_name" disabled class="form-control form-control-sm border border-secondary" />
                                        <option></option>
                                    </div>
                                    <div class="col-sm-12 right" id="top">
                                        <button id="matButton" mat-raised-button color="primary" (click)="getPolishOderIssue()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }"> {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Issue No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">{{element.issue_no}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Issue Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.issue_date |date:'dd/MM/yyyy'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_Type">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Issue Type
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.issue_type}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Remarks">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Remarks
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.remarks" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">{{element.remarks}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Status
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.active ? 'All' : 'Cancelled'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" [disabled]="!element.active" (click)='modifyPolishOrderIssue(true,i)' matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14"
                                                                    [ngClass]="{'red': element.active === false }">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" matTooltip="View this row" (click)='modifyPolishOrderIssue(false,i,true)' [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14"
                                                                    [ngClass]="{'red': element.active === false }">
                                                                    visibility
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" [disabled]="!element.active" matTooltip="Delete this row" id="iconTableButton" (click)="onClickDelete(i)" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14"
                                                                    [ngClass]="{'red': element.active === false }">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Stone & Polish Issue ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Stone & Polish Issue</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong> Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input [(ngModel)]='objPolishOrderIssue.issue_date' readonly matInput [disabled]='objAction.isView || objAction.isEditing' [min]="minimumDate" [max]="maximumDate" [matDatepicker]="picker">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Section</strong></label>
                                        <input [(ngModel)]="objPolishOrderIssue.section_Name" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Issue To</strong></label>
                                        <input [(ngModel)]="objPolishOrderIssue.supplier_code" id="supplierCode" [disabled]='objAction.isView || objAction.isEditing' (keyup)='openNewSupplierLookups($event);' autocomplete="off" (focusout)='checkValidSupplierName($event,"newSupplier")' maxlength="10"
                                            (input)='onEnterNewSupplierLookupDetail()' class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input [(ngModel)]="objPolishOrderIssue.supplier_name" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-5">
                                        <label><strong>Issued for</strong></label>
                                        <div class="form-group" id="top">
                                            <mat-radio-group [(ngModel)]="objPolishOrderIssue.issue_type" (ngModelChange)="clearStone()" [disabled]='objAction.isView || objAction.isEditing'>
                                                <mat-radio-button checked [value]="'Stone'">Stone
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button [value]="'Polish'">Polish
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button [value]="'Others'">Others
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <label><strong>Remarks</strong></label>
                                        <input [(ngModel)]="objPolishOrderIssue.remarks" [disabled]='objAction.isView || objAction.isEditing' class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerLast">Image</th>
                                                        <th id="headerByno">Selling Price</th>
                                                        <th id="headerByno" *ngIf="objPolishOrderIssue.issue_type === 'Stone'">Stone Type
                                                        </th>
                                                        <th id="headerByno" *ngIf="objPolishOrderIssue.issue_type === 'Stone'">Stone Qty
                                                        </th>
                                                        <th id="headerByno">Charges</th>
                                                        <th id="headerAction">Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of objPolishOrderIssue.IssueDetails; let i=index">
                                                        <td id="columnCenter">{{i + 1}}</td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                            <input #byno id="byno" autocomplete="off" [(ngModel)]="objPolishOrderIssue.IssueDetails[i].byno" [disabled]='objAction.isView' (keyup)="onKeyPress($event,i)" class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td id="columnCenter">
                                                            <sat-popover #image horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <!-- <img id="bynoImgae" type="file" height="100px" width="100px" [src]="'assets\\images\\common\\empty-photo.jpg'" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">                                                         -->
                                                                        <img id="bynoImage" type="image" height="100px" width="100px" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <!-- <img id="bynoImgae" [satPopoverAnchor]="image" (mouseover)="image.open()" (mouseleave)="image.close()" height="24px" width="32px" type="file" [src]="'assets\\images\\common\\empty-photo.jpg'"> -->
                                                            <img id="bynoImgae" [satPopoverAnchor]="image" (mouseover)="image.open()" (mouseleave)="image.close()" height="24px" width="32px" type="file" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                        </td>
                                                        <td id="tdAlign"> {{data.selling_price}}
                                                            <!-- <input
                                                                class="form-control form-control-sm inputBox right" /> -->
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 1)" *ngIf="objPolishOrderIssue.issue_type === 'Stone'">
                                                            <input #stoneType id="stoneType" [(ngModel)]="objPolishOrderIssue.IssueDetails[i].stone_type" [disabled]='objAction.isView' class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 2)" *ngIf="objPolishOrderIssue.issue_type === 'Stone'">
                                                            <input #stoneQty id="stoneQty" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (click)="$event.target.select()" (keypress)="onlyAllwDecimalForInvoiceDetails($event,999999999,'objPolishOrderIssue.IssueDetails','stone_qty',i)"
                                                                [(ngModel)]="objPolishOrderIssue.IssueDetails[i].stone_qty" [disabled]='objAction.isView' class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                            <input #charges id="charges" [(ngModel)]="objPolishOrderIssue.IssueDetails[i].charges" [disabled]='objAction.isView' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (click)="$event.target.select()" (keypress)="onlyAllwDecimalForInvoiceDetails($event,999999999,'objPolishOrderIssue.IssueDetails','charges',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                            <button #action name="del" id="delbtn" (click)='removeRows(i)' [disabled]='objAction.isView' *ngIf='i !== objPolishOrderIssue.IssueDetails.length - 1' class="btn btn-sm">
                                                                <i style="color: red;" class="fa fa-trash"></i></button>
                                                            <button #action name="del" id="addbtn" class="btn btn-sm" [disabled]='objAction.isView' (click)='addEmptyRow(i)' *ngIf='i == objPolishOrderIssue.IssueDetails.length - 1'>
                                                                <i style="color: green;"
                                                                    class="fa fa-plus"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">

                                    <div class="col-sm-12" id="right">
                                        <button *ngIf='!objAction.isView' id="matButton" mat-raised-button color="primary" (click)="addPolishOrderIssue()">{{ !objAction.isEditing ?
                                            'Save' : 'Update' }}</button>&nbsp;
                                        <button *ngIf='!objAction.isView' id="matButton" mat-raised-button (click)="onClear(false)" color="warn">Clear</button>
                                        <button *ngIf='objAction.isView' id="matButton" (click)="onClear(true)" mat-raised-button color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>