<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Supplier Description ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Supplier Description</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Byno</strong></label>
                                        <input id="byNo" [(ngModel)]="objSupplierDescription.byno" (keyup)="onKeyPress($event)" class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-9"></div>

                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerTwo">INV Byno</th>
                                                <th id="headerThree">Product Group Name</th>
                                                <th id="headerThree">Supplier Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of supplierDescriptionChangeList; let i=index">
                                                <td id="columnCenter">{{i + 1}}</td>
                                                <td id="dataAlign"> {{data.byno}}
                                                    <!-- <input type="text" disabled [(ngModel)]='data.data'
                                                        class="form-control form-control-sm inputBox"> -->
                                                </td>
                                                <td id="dataAlign">
                                                    {{data.product_name}}
                                                    <!-- <input type="text" disabled [(ngModel)]='data.product_name'
                                                        class="form-control form-control-sm inputBox"> -->
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                    <input #supplierdescription type="text" [(ngModel)]='data.new_supplier_desc'
                                                        class="form-control form-control-sm inputBox">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="addSupplierDescription()">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)="exportToExcel()">
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>