<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** BarCode Printing (Double Rate)********************************************** -->
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">BarCode Printing (Double Rate) </div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Byno</strong></label>
                                        <input id="byno" [(ngModel)]="objBarcodeprinting.inv_byno"
                                            (ngModelChange)="changeGrid()"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Caption</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>No Of Copies</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-5" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="getBarCodePrinting()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerbyno">Byno</th>
                                                <th id="headerbyno">Product Code</th>
                                                <th>Product Name</th>
                                                <th id="headerAmount">Selling Price</th>
                                                <th id="headerAmount">Counter</th>
                                                <th id="headerAmount">Quantity</th>
                                                <th id="headerAmount">Pcs</th>
                                                <th id="headerLast">
                                                    <div id="checkTop">
                                                        <input type="checkbox" [(ngModel)]="masterSelected"
                                                            name="list_name" value="m1" (change)="checkUncheckAll()" />
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of barcodePrintingList;let i= index;'>
                                                <td id="columnCenter">{{i+1}}</td>
                                                <td id="columnLeft">
                                                    {{data.byno}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.product_code}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.product_name}}
                                                </td>
                                                <td id="columnLeftprice">

                                                    {{data.selling_price | number: '1.2-2'}}
                                                </td>
                                                <td id="columnLeft">
                                                    {{data.counter_code}}
                                                </td>
                                                <td id="columnLeftprice">
                                                    {{data.prod_qty | number: '1.2-2'}}
                                                </td>
                                                <td id="columnLeftprice">
                                                    {{data.prod_pcs | number: '1.2-2'}}
                                                </td>
                                                <td id="columnCenter1">
                                                    <input type="checkbox" [(ngModel)]="data.isSelected"
                                                        name="list_name" (change)="isAllSelected()" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" (click)="selectBarCodePrinting()" mat-raised-button
                                            color="primary">Print</button>&nbsp;
                                        <button id="matButton" (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            mat-raised-button color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>