// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 1%;
    width: 100%;
}

.list {
    margin-top: 1%;
    width: 1350px;
}

#hide {
    margin-bottom: 0px;
    text-decoration: none;
}

.hide{
    cursor: pointer;
    text-decoration: underline !important;
}

#status{
    margin-top:0px
}

.totalAmount {
    padding-right: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

#totalAlign{
    margin-top: -7px;
    margin-bottom: -5px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#loadSupplier{
    margin-top: 4px;
}

#top {
    margin-top: 5px;
}

#top1 {
    padding-top: 3px;
}

#top2 {
    padding-top: 8px;
}

#top3 {
    padding-top: 2px;
}

#top4 {
    margin-top: 9px;
}

#top5 {
    margin-top: 10px;
}

#top7 {
    margin-top: 26px;
}

#top8{
    margin-top:21px;
}

#checkTop {
    margin-top: -2px;
    padding-left:0px
}

#nameTop {
    margin-top: 11px;
}

.tdTop {
    padding-top: 4px;
}

#topCheck {
    margin-top: 4px;
}

#inputTop {
    margin-top: 5px;
}

#divTop1 {
    margin-top: 33px;
}

#autoInput{
    padding-left:4px
}

#textarea {
    height: 88px;
    resize: none;
}

#headerTwo {
    width: 4%;
}

#headerProduct {
    width: 8%;
}

#headerCostPrice {
    width: 6%;
}

#headerDescription {
    width: 17%;
}

#headerTotal {
    width: 8%;
}
.f22 {
    font-size: 22px;
}

.table-scroll {
    height: 260px;
}

#cardTop {
    margin-top: 15px;
}

#cardPadding {
    padding: 15px;
}

#columnLeft1 {
    padding-left:4px;
    width: 100px;
    padding-left: 0px;
}

#columnLeft2 {
    padding-left:4px;
    width: 115px;
}

#columnWidth {
    width: 160px;
}

#columnWidth1 {
    width: 200px;
}

#checkBox{
    padding-left:6px;
    padding-top:2px;
}

.mat-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 35px;
    height: 35px;
}

.inputBox1 {
    width: 100%;
    border: 0px;
    padding: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    height: 31px;
}

#iRed {
    height: 18px;
    width: 18px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.material-icons {
    font-size: 16px;  
    line-height: 1.3;
}

#iconBottom {
    margin-bottom: -3px;
}

#iTax{
    padding-left: 0px;
    padding-top: 4px;
}

#columnLeft {
    width: 110px;
    padding:4px;
}

#columnLeft1 {
    text-align:left;
    width: 130px;
    padding:4px;
}


// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 295px;
    width: 295px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(9) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 295px;
    width: 295px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 130px;
    width: 130px;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 130px;
    width: 130px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(9) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 295px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
