<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">{{ !objAction.isEditing ? 'New Material Details' : 'Edit Material Details' }}</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle *ngIf='objAction.isView === false' (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle *ngIf='objAction.isView === true' (click)="onClearView()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="maincard">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong> Material Name </strong></label>
                                        <input id="materialName" autocomplete="off" maxlength="20" placeholder="Material Name"
                                            (input)="_keyPressEvents.onlyAllowCharacters($event);removeSpecialCharacters($event)"
                                            [(ngModel)]="objMaterials.material_name" [disabled]='objAction.isView === true'
                                            
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong> UOM </strong></label>
                                        <select autocomplete="off" [(ngModel)]="objMaterials.material_uom" 
                                        [disabled]='objAction.isView' id="uom_id"
                                        class="form-control form-control-sm border border-secondary">
                                        <option value=0 disabled>--Select--</option>
                                        <option value=1>No.s</option>
                                        <option value=2>Mt.s</option>
                                    </select>
                                        <!-- <input id="uom" type="text" placeholder="UOM"
                                            [(ngModel)]="objMaterials.UOM" 
                                            class="form-control form-control-sm border border-secondary" /> -->
                                    </div>
                                </div>       

                                        
                                <div class="row">
                                    <div class="col-sm-6" id="status">
                                        <label id="active"><strong>  Active </strong></label>
                                        <div class="button b2" id="button-10">
                                            <input type="checkbox" class="checkbox" #active
                                            [disabled]='objAction.isView'
                                            (change)="objMaterials.active = active.checked === true ? false : true;changeFlagConfirmation()"
                                            [checked]="!objMaterials.active" />
                                            <div class="knobs">
                                                <span>YES</span>
                                            </div>
                                            <div class="layer"></div>
                                        </div>
                                    </div>
                                </div>                                                                
                                
                            </div>
                        </div>
                        <br>
                        <div class="card" id ="secondviewcard">
                            <div class="card-body" id="multicard">
                                <div class="row">
                                    <div class="col-sm-12" id="rightT">    
                                        <button id="matButton" mat-raised-button 
                                        *ngIf='!objAction.isView' (click)="addProductMaterials()"
                                            color="primary">{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                                        <button id="matButton" mat-raised-button 
                                        *ngIf='!objAction.isView' (click)="onClear(false)"
                                            color="warn">Clear</button>
                                        <button id="matButton" mat-raised-button *ngIf='objAction.isView'
                                        color="warn" (click)="onClearExit()">Exit</button>                                           
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Materials</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="firstcard">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong> Search by Material Name </strong></label>
                                        <input (keyup)="searchMaterialName($event.target.value)"
                                            [(ngModel)]="objFilter.SearchMaterial"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6" id="right">
                                        <div class="form-group" id="top">
                                            <mat-radio-group>
                                                <mat-radio-button (change)="radioChange($event)" checked [value]="2">All
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="1">Active
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="0">Inactive
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="newcard">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">
                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="Material_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Material Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false }">
                                                            {{element.material_name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="UOM">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        UOM
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false }">
                                                            {{element.uom_description}}
                                                        </label>

                                                    </mat-cell>
                                                </ng-container>
                                               
                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                               (click)="modifyOrViewMaterial(element, true)"
                                                                matTooltip="Edit this row" style="padding-left: 5px; width: 30px;"
                                                                [ngClass]="{'red': element.active === false }"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon 
                                                                    aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                            <button mat-icon-button color="primary"
                                                                (click)="modifyOrViewMaterial(element, false)"
                                                                matTooltip="View this row" style="width: 30px;"
                                                                [ngClass]="{'red': element.active === false }"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon 
                                                                    aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                        
                                                    </mat-cell>
                                                </ng-container>
                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index"
                                                    [ngClass]="{'highlight': selectedRowIndex === i}"
                                                    (click)="highlightRow(i)">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="secondcard">
                                <div class="row">
                                    <div class="col-sm-6" id="cardPadding">
                                        <label><i id="activeIcon" class="fa fa-square"
                                                aria-hidden="true"></i>Inactive</label>
                                    </div>
                                    <div class="col-sm-6" id="exit">
                                        <!-- <button (click)='_router.navigate([_localStorage.getMenuPath()])' id="buttonSave"
                                    class="buttonSave">Exit</button> -->
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>