.new {
    margin-top: 7%;
    width: 540px;
  }
  
  .list {
    margin-top: 4%;
    width: 608px;
  }
  
  #active {
    margin-top: -25px;
  
  }

  /* Table Css Start */
  
  .mat-table-fixed mat-header-cell {
    min-height: 30px;
    font-weight: bold;
  }
  
  .mat-table-fixed mat-cell {
    min-height: 25px;
  }
  
  .mat-cell {
    font-size: 12px;
  }
  
  .mat-row {
    background: white;
  }
  
  .mat-table {
    background: white;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    max-height: 291px;
    min-width: 300px;
    background: white;
    height: 291px;
  }
  
  #table{
    background: white;
    overflow-y: scroll;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
  }
  .mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;    
    border-left: 1px solid white;
  }
  
  .mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(2) {
    min-width: 220px;
    width: 220px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(3) {
    min-width: 160px;
    width: 160px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  .mat-table-fixed mat-cell:nth-child(4) {
    min-width: 75px;
    width: 75px;
    display: flex;
    justify-content: left;
    text-align: left;
    border-right: 0px;
  }
  .mat-table-fixed mat-cell:nth-child(5) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
  }
  
  .mat-cell:first-of-type {
    padding-right: 5px;
  }
  
  /* Table Css End */
  
  #top {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  
  @media screen and (max-width: 500px) {
    .new {
      width: 100%;
    }
  
    .list {
      width: 100%;
    }
  }
  
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: white;
  }
  
  .card-body {
    background-color: white;
  }
  
  .form-control {
    border-radius: 0px;
    background-color: white;
  }
  
  #rightT{
    margin-top:5px;
    text-align: right;
  }
  /* active */
  #hr{
    margin-bottom: 0.8rem;
  }
  
  
  
  
  .red {
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: red;
    width: 100%;
  }
  .red1 {
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    background-color: red;
    width: 100%;
  }
  #labelBottom{
    margin-bottom:0px
  }
  
  #hr1{
    margin-top:0.8rem
  }
  #status{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-top:27px
    }
    
    #statusLabel{
    background:none;
    color:black
    }
  
    #multicard{
      padding: 15px;
    }
    #maincard{
      padding: 15px;
    
    }
    #activeIcon{
      color: red;
      margin-right: 8px;
      padding-top: 6px;
      padding-right: 1px;
      padding-left: 2px;
    }
    
    #firstcard{
      padding: 15px;
    }
    #secondcard{
      padding: 15px;
      padding-bottom:0px
    
    }
    #newcard{
      padding: 15px;
    }
    #exit{
      text-align: right;
    }
    #break{
      margin-top: 10px;
    }#cardPadding{
      padding-top: 3px;
      font-weight: bold;
    }

  .mat-row:nth-child(even) {
      background-color: aliceblue;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: aliceblue;
    opacity: 1;
}