<div class="card" (keypress)="determineEnterKey($event)" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Product Selection</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="dialogClose()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" id="cardPadding">
        <div class="row">
            <div class="col-sm-4" id="paddingRight">
                <div class="card">
                    <div class="card-body" id="cardPadding">
                        <div class="row">
                            <div class="col-sm-8">
                                <label><strong>Product Group</strong></label>
                                <input disabled [(ngModel)]='objLookup.product_group_desc' class="form-control form-control-sm border border-secondary" />
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <label><strong>UOM</strong></label>
                                <input disabled [(ngModel)]='objLookup.product_uom' class="form-control form-control-sm border border-secondary" />
                            </div>
                            <!-- <div class="col-sm-12" id="top">
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="card" id="top">
                    <div class="card-body" id="cardPadding">
                        <div class="table-scroll table-scroll1">
                            <table border='1'>
                                <thead class="docs-primary-header">
                                    <tr>
                                        <th>Attributes</th>
                                        <th id="headerValue">Values</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let data of attributesList;let i = index;'>
                                        <td id="columnLeft">
                                            <strong>{{data.attribute_name}}</strong>
                                        </td>
                                        <td>
                                            <select (change)='filterAttributesValue($event)' class="form-control form-control-sm inputBox">
                                                <option value="" default> --Select--</option>
                                                <option *ngFor="let data1 of data.value_data"
                                                    [value]="data1.attribute_value_id">
                                                    {{data1.attribute_value}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body" id="cardPadding">
                        <div class="row">
                            <div class="col-sm-4">
                                <label><strong>Product Search</strong></label>
                                <input id="searchInput" cdkFocusInitial [(ngModel)]="_data.searchString" (keyup)="searchProduct(_data.searchString, $event)" autocomplete="off" placeholder="Search For Product" class="form-control form-control-sm border border-secondary">
                            </div>
                            <div class="col-sm-8" id="divTop">
                                <mat-checkbox [(ngModel)]='objLookup.apply_check'>Apply product code to all bynos below</mat-checkbox>
                            </div>
                        </div>
                        <div class="table-scroll" id="top">
                            <table border='1'>
                                <thead class="docs-primary-header">
                                    <tr>
                                        <th id="headerProductCode">Product Code</th>
                                        <th>Product Name</th>
                                    </tr>
                                </thead>
                                <tbody (keypress)="determineEnterKey($event)" class="scrollable">
                                    <tr *ngFor="let Product of filterProductList; let i = index" id='row{{i}}' (keyup)="onClick(Product,$event)" (dblclick)='onDoubleClick(i)' (click)="selectedRowIndex = i" [ngClass]="{ highlight: selectedRowIndex == i }">
                                        <td id="columnLeft"> {{Product.product_code}} </td>
                                        <td id="columnLeft"> {{Product.product_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="top">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button (click)="dialogOK()" color="primary">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>