// --------------------- Screen Based CSS Start ------------------- //
#checkTop {
    margin-top: 30px;
}

#headerProductCode {
    width: 25%
}

#columnLeft {
    padding: 4px;
}

.table-scroll {
    height: 300px
}

.table-scroll1 {
    height: 277px;
}

#cardPadding {
    padding: 10px
}

tr:nth-child(odd) {
    background-color: aliceblue;
}

#headerValue {
    width: 160px
}

#divTop {
    margin-top: 29px;
    font-weight: bold;
}

// --------------------- Screen Based CSS End ------------------- //