<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Production Receipt ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div *ngIf='!objAction.isView' id="height">{{objAction.isEditing ? 'Edit Production
                                    Receipt' : 'New Production Receipt'}}</div>
                                <div *ngIf='objAction.isView' id="height">View ProductionReceipt</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPaddingNew">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body" id="cardPaddingNew">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label><strong>Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input [(ngModel)]='objProductionReceipt.production_receipt_date'
                                                        [disabled]='objAction.isView' readonly matInput
                                                        [min]="minimumDate" [max]="maximumDate"
                                                        [matDatepicker]="picker1">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Inv Supplier Code</strong></label>
                                                <input #invSupplier id='invSupplier' [disabled]='objAction.isView'
                                                    (keyup)='openInvSupplierLookup($event);' maxlength="30"
                                                    (focusout)='checkValidInvSupplierName($event,"invSupplier")'
                                                    autocomplete="off" (input)='onEnterInvSupplierLookupDetails()'
                                                    [(ngModel)]='objProductionReceipt.inv_supplier_code'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Inv Supplier Name</strong></label>
                                                <input disabled [(ngModel)]='objProductionReceipt.inv_supplier_name'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                        <div class="row" id="top">
                                            <div class="col-sm-3">
                                                <label><strong>Supplier GSTIN</strong></label>
                                                <input disabled [(ngModel)]='objProductionReceipt.inv_supplier_gstn_no'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-3">
                                                <label><strong>Invoice No</strong></label>
                                                <input id='invoiceNo' [(ngModel)]='objProductionReceipt.invoice_no'
                                                    maxlength="10" onCopy="return false" onDrag="return false"
                                                    onDrop="return false" onPaste="return false"
                                                    [disabled]='objAction.isView'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Invoice Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input id='invoiceDate' [disabled]='objAction.isView'
                                                        [(ngModel)]='objProductionReceipt.invoice_date' matInput
                                                        [min]="minimumDate" [max]="maximumDate" readonly
                                                        [matDatepicker]="picker">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="row">
                                                    <div class="col-sm-6" id="isComposite">
                                                        <mat-checkbox [(ngModel)]='flags.isComposite'
                                                            [disabled]='objAction.isView'
                                                            (ngModelChange)='setTypeOfGst()'>Composite</mat-checkbox>
                                                    </div>
                                                    <div class="col-sm-6 right" id="load">
                                                        <button *ngIf='!objAction.isView'
                                                            (click)="getPendingProductionIssueNos(0)" id="matButton"
                                                            mat-raised-button color="primary">Load</button>&nbsp;
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-sm-3">
                                                <label><strong>Invoice Amount</strong></label>
                                                <input [(ngModel)]='objProductionReceipt.invoice_amount'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div> -->
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <div class="card">
                                    <div class="card-body" id="cardPaddingNew">
                                        <div class="table-scroll" id="editTable">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerIssueNo">Issue No</th>
                                                        <th id="headerLast">Date</th>
                                                        <th id="headerAction">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of productionIssueNosList; let i = index;">
                                                        <td id="tdissueNo">{{data.issue_no}}</td>
                                                        <td id="tdaligndate">{{data.issue_date | date : 'dd/MM/yyyy'}}
                                                        </td>
                                                        <td id="tdalign">
                                                            <label (click)="openIssueDialog(i)"
                                                                id="hide"><strong>Issue</strong></label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Issue No</th>
                                                        <th id="headerproductName">Product Name</th>
                                                        <th id="headerLast">Size</th>
                                                        <th id="headerLast">Estimated Quantity</th>
                                                        <th id="headerLast">Received so far</th>
                                                        <th id="headerLast">Received Qty</th>
                                                        <th id="headerLast">Conversion Charges</th>
                                                        <th id="headerLast">HSN</th>
                                                        <th id="headerLast" *ngIf='flags.isIgst && !flags.isComposite'>
                                                            IGST</th>
                                                        <th id="headerLast" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                            CGST</th>
                                                        <th id="headerLast" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                            SGST</th>
                                                        <th id="headerLast">Total Charges</th>
                                                        <th id="headerAct">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor='let data of productionReceiptDetailsList; let i = index;'>
                                                        <td id="columnCenter"
                                                            (keyup)="onKeyFocusGlobal($event, i, 0,'receiptColumns','productionReceiptDetailsList')">
                                                            {{ i + 1 }}</td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 1,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #issueNo [(ngModel)]='data.issue_no' maxlength="10"
                                                                (focusout)="getPendingProductionProducts(i)"
                                                                [disabled]='objAction.isView' onCopy="return false"
                                                                onDrag="return false" onDrop="return false"
                                                                onPaste="return false"
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 2,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #productName [(ngModel)]='data.product_name'
                                                                [disabled]='objAction.isView'
                                                                (input)='onEnterProductLookupDetail(i)' maxlength="30"
                                                                (focusout)='checkIsvalidProductName(i,$event)'
                                                                (keydown.Enter)="openProductLookup($event,i)"
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 3,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #productSize [(ngModel)]='data.product_size' disabled
                                                                class="form-control form-control-sm inputBox " />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 4,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #estimatedQty [(ngModel)]='data.estimated_qty'
                                                                disabled maxlength="11"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 5,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #receivedSoFar [(ngModel)]='data.received_so_far'
                                                                disabled
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 6,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #receivedQty [(ngModel)]='data.received_qty'
                                                                (focus)='$event.target.select()'
                                                                (click)='$event.target.select()' onCopy="return false"
                                                                onDrag="return false" onDrop="return false"
                                                                onPaste="return false" [disabled]='objAction.isView'
                                                                (keypress)="onlyAllowNumbersForReceiptDetails($event,10001,'productionReceiptDetailsList','received_qty',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 7,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #conversionCharges
                                                                [(ngModel)]='data.conversion_charges'
                                                                (focus)='$event.target.select()'
                                                                (click)='$event.target.select()' onCopy="return false"
                                                                onDrag="return false" onDrop="return false"
                                                                onPaste="return false" [disabled]='objAction.isView'
                                                                (input)='calculateTotalCharges(i)'
                                                                (keypress)="onlyAllowDecimalForReceiptDetails($event,999999.99,'productionReceiptDetailsList','conversion_charges',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 8,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #hsnCode [(ngModel)]='data.hsn_code' maxlength="10"
                                                                (focus)='$event.target.select()'
                                                                [disabled]='objAction.isView'
                                                                (click)='$event.target.select()' onCopy="return false"
                                                                onDrag="return false" onDrop="return false"
                                                                onPaste="return false" (focusout)='getGstByHsnCode(i)'
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td *ngIf='flags.isIgst && !flags.isComposite'
                                                            (keyup)="onKeyFocusGlobal($event, i, 9,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #igst [(ngModel)]='data.igst' disabled
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td *ngIf='!flags.isIgst && !flags.isComposite'
                                                            (keyup)="onKeyFocusGlobal($event, i, 10,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #cgst [(ngModel)]='data.cgst' disabled
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td *ngIf='!flags.isIgst && !flags.isComposite'
                                                            (keyup)="onKeyFocusGlobal($event, i, 11,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #sgst [(ngModel)]='data.sgst' disabled
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 12,'receiptColumns','productionReceiptDetailsList')">
                                                            <input #totalCharges disabled
                                                                [(ngModel)]='data.total_charges'
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 13,'receiptColumns','productionReceiptDetailsList')">
                                                            <button #action
                                                                (click)="openRemoveConfirmationDialog('Are you sure want to remove this row from the list', 'Production Receipt', i)"
                                                                *ngIf='i !== productionReceiptDetailsList.length - 1'
                                                                [disabled]='objAction.isView' id="delbtn"
                                                                class="btn btn-sm">
                                                                <i style="color: red;" class="fa fa-trash"></i></button>
                                                            <button #action
                                                                *ngIf='i === productionReceiptDetailsList.length - 1'
                                                                (click)='addNewRowToReceiptDetails()' id="addbtn"
                                                                [disabled]="objAction.isView || data.issue_no === 0 || data.issue_no === '' || data.product_name === '' || data.total_charges === 0 || data.total_charges === '0' || data.total_charges === '0.00'"
                                                                class="btn btn-sm"><i style="color: green;"
                                                                    class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" id="paddingLeft">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th style="width: 30%;">Material Name</th>
                                                        <th id="headerLast">Quantity</th>
                                                        <th id="actTH">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of productionMaterialsList; let i = index;'>
                                                        <td id="columnCenter"
                                                            (keyup)="onKeyFocusGlobal($event, i, 0,'materialColumns','productionMaterialsList')">
                                                            {{i+1}}</td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 1,'materialColumns','productionMaterialsList')">
                                                            <input #materialName [(ngModel)]='data.material_name'
                                                                (input)="onEnterMaterialLookupDetail(i)"
                                                                [disabled]='objAction.isView'
                                                                (focusout)='checkIsvalidMaterialName(i,$event)'
                                                                id="materialName" autocomplete="off" maxlength="30"
                                                                (keydown.Enter)="openMaterialLookup($event,i)"
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 2,'materialColumns','productionMaterialsList')">
                                                            <input #materialQty [(ngModel)]='data.material_qty'
                                                                (focus)='$event.target.select()'
                                                                [disabled]='objAction.isView'
                                                                (click)='$event.target.select()' onCopy="return false"
                                                                onDrag="return false" onDrop="return false"
                                                                onPaste="return false"
                                                                (keypress)="onlyAllowDecimalForReceiptDetails($event,10000,'productionMaterialsList','material_qty',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td
                                                            (keyup)="onKeyFocusGlobal($event, i, 3,'materialColumns','productionMaterialsList')">
                                                            <button #matAction
                                                                (click)="openRemoveMaterialConfirmationDialog('Are you sure want to remove this row from the list', 'Production Receipt', i)"
                                                                *ngIf='i !== productionMaterialsList.length - 1'
                                                                [disabled]='objAction.isView' id="delbtn"
                                                                class="btn btn-sm">
                                                                <i style="color: red;" class="fa fa-trash"></i></button>
                                                            <button #matAction
                                                                *ngIf='i === productionMaterialsList.length - 1'
                                                                (click)='addNewRowToMaterialDetails()' id="addbtn"
                                                                [disabled]="objAction.isView || data.material_name === 0 || data.material_name === '' || data.material_name === null || data.material_qty === '' || data.material_qty === 0 || data.material_qty === '0' || data.material_qty === '0.00'"
                                                                class="btn btn-sm"><i style="color: green;"
                                                                    class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label><strong>Taxable Amount</strong></label>
                                                <input disabled [(ngModel)]='objProductionReceipt.taxable_value'
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                            <!-- <div class="col-sm-3">
                                                <label><strong>Other Amount</strong></label>
                                                <input (focus)='$event.target.select()' (click)='$event.target.select()'
                                                    onCopy="return false" onDrag="return false" onDrop="return false"
                                                    onPaste="return false"
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div> -->
                                            <div class="col-sm-3">
                                                <label><strong>Additions</strong></label>
                                                <input [(ngModel)]='objProductionReceipt.additions'
                                                    onCopy="return false" onDrag="return false" onDrop="return false"
                                                    onPaste="return false" [disabled]='objAction.isView'
                                                    (click)='$event.target.select()' (focus)='$event.target.select()'
                                                    (focusout)="convertTotalsToDecimal('')"
                                                    (input)="getTotalInvoiceAmount('Additions')"
                                                    (keypress)="onlyAllowDecimal($event,999999.99,'objProductionReceipt','additions')"
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>

                                            <div class="col-sm-3">
                                                <label><strong>Deductions</strong></label>
                                                <input [(ngModel)]='objProductionReceipt.deductions'
                                                    onCopy="return false" onDrag="return false" onDrop="return false"
                                                    onPaste="return false" [disabled]='objAction.isView'
                                                    (click)='$event.target.select()' (focus)='$event.target.select()'
                                                    (focusout)="convertTotalsToDecimal('')"
                                                    (input)="getTotalInvoiceAmount('Deductions')"
                                                    (keypress)="onlyAllowDecimal($event,999999.99,'objProductionReceipt','deductions')"
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                            <div class="col-sm-4" *ngIf='flags.isIgst && !flags.isComposite'>
                                                <label><strong>IGST Amount</strong></label>
                                                <input disabled [(ngModel)]='objProductionReceipt.igst_total'
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                            <div class="col-sm-2" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                <label><strong>CGST Amount</strong></label>
                                                <input disabled [(ngModel)]='objProductionReceipt.cgst_total'
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                            <div class="col-sm-2" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                <label><strong>SGST Amount</strong></label>
                                                <input disabled [(ngModel)]='objProductionReceipt.sgst_total'
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Round Off</strong></label>
                                                <input [(ngModel)]='objProductionReceipt.round_off_total'
                                                    (focus)='$event.target.select()' (click)='$event.target.select()'
                                                    (input)='getTotalInvoiceAmount()' onCopy="return false"
                                                    [disabled]='objAction.isView' onDrag="return false"
                                                    onDrop="return false" onPaste="return false"
                                                    (keypress)="onlyAllowRoundOffDecimal($event,999999.99,'objProductionReceipt','round_off_total')"
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Invoice Amount</strong></label>
                                                <input [(ngModel)]='objProductionReceipt.invoice_amount' disabled
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <label><strong>Remarks</strong></label>
                                                <textarea id="textarea" rows="1" [disabled]='objAction.isView'
                                                    [(ngModel)]='objProductionReceipt.remarks' maxlength="100"
                                                    class="form-control form-control-sm border border-secondary">
                                                </textarea>
                                            </div>
                                            <div class="col-sm-3 right" id="divTop">
                                                <div class="upload-btn-wrapper">
                                                    <button [disabled]='objAction.isView' class="btn">Attach
                                                        File</button>
                                                    <input #file [disabled]='objAction.isView' id="file-input" hidden
                                                        accept="image/*" type="file" />
                                                    <!-- <button class="btn" id="uploaddocument"
                                                        *ngIf="objPurchaseOrder.purchase_order_no !== 0"
                                                        (click)="openAttachFilesPopup()">Attach File</button>
                                                    <input #file id="file-input" hidden accept="image/*" type="file" /> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 right" id="divTop">
                                        <button *ngIf='!objAction.isView' (click)='addProductionReceipt()'
                                            id="matButton" mat-raised-button color="primary">{{objAction.isEditing ?
                                            'Update' : 'Save'}}</button>&nbsp;
                                        <button *ngIf='!objAction.isView' (click)='onClear(false)' id="matButton"
                                            mat-raised-button color="warn">Clear</button>
                                        <button *ngIf='objAction.isView' (click)='onClear(true)' id="matButton"
                                            mat-raised-button color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Production Receipt List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Receipts</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="productionReceiptLoad.from_date"
                                                (ngModelChange)='matTableConfig([])' #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="productionReceiptLoad.from_date = dateValidation.toFormattedDate($event.value);matTableConfig([])">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="productionReceiptLoad.to_date"
                                                (ngModelChange)='matTableConfig([])' #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="productionReceiptLoad.from_date" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date" [min]='fromDate1' [max]='maximumDate'
                                                (dateChange)="productionReceiptLoad.to_date = dateValidation.toFormattedDate($event.value);matTableConfig([])">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Status</strong></label>
                                        <select id='statuss' [(ngModel)]='productionReceiptLoad.status'
                                            (ngModelChange)='matTableConfig([])'
                                            class="form-control form-control-sm border border-secondary">
                                            <option [value]="'All'">All</option>
                                            <option [value]="'Cancelled'">Cancelled </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input id='loadSupplier' (keyup)='openLoadSupplierLookup($event);'
                                            (focusout)='checkValidLoadSupplierName($event,"loadSupplier")'
                                            autocomplete="off" (input)='onEnterLoadSupplierLookupDetails()'
                                            [(ngModel)]='productionReceiptLoad.supplier_code'
                                            (ngModelChange)='matTableConfig([])'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled [(ngModel)]='productionReceiptLoad.supplier_name'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-12 right" id="top">
                                        <button (click)='loadProductionReceipts()' id="matButton" mat-raised-button
                                            color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Receipt_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active }">
                                                            {{element.receipt_no}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Receipt_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active}">
                                                            {{element.receipt_date | date : 'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active }">
                                                            {{element.inv_supplier_name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Invoice_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Invoice No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active }">
                                                            {{element.inv_no}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Invoice_Amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Invoice Amount
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomRight"
                                                            [ngClass]="{'red': !element.active }">
                                                            {{element.inv_amount}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Payment_Status">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Payment Status
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active }">
                                                            {{element.payment_decision_status}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Status
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active }">
                                                            {{element.active ? 'Active' : 'Cancelled'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)="modifyProductionReceipt(i,true,false)"
                                                                [disabled]='!element.active' matTooltip="Edit this row"
                                                                id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)="modifyProductionReceipt(i,false,true)"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                [disabled]='!element.active' (click)="onClickDelete(i)"
                                                                matTooltip="Cancel this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Cancel this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>