<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Production Issue ********************************************** -->
            <div *ngIf="!componentVisibility && !isReconciliation" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Issue</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong> Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input [(ngModel)]='Date' matInput [matDatepicker]="picker">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Issue To</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>Issued for</strong></label>
                                        <div class="form-group" id="top">
                                            <mat-radio-group>
                                                <mat-radio-button checked [value]="2">Stone
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button [value]="1">Polish
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button [value]="0">Stitching
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button [value]="0">Others
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label><strong>Remarks</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerByno">Selling Price</th>
                                                        <th id="headerOne">With Blouse</th>
                                                        <th id="headerOne">With Pallu</th>
                                                        <th id="headerOne">Damaged</th>
                                                        <th id="headerByno">Issued Qty</th>
                                                        <th id="headerByno">Estimated Return Qty</th>
                                                        <th id="headerByno">Estimated Material Loss</th>
                                                        <th id="headerLast">Size Details</th>
                                                        <th id="headerLast">Image</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="columnCenter">1</td>
                                                        <td>
                                                            <input class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td>
                                                            <input
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td>
                                                            <div id=checkTop>
                                                                <mat-checkbox>
                                                                </mat-checkbox>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id=checkTop>
                                                                <mat-checkbox>
                                                                </mat-checkbox>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id=checkTop>
                                                                <mat-checkbox>
                                                                </mat-checkbox>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td>
                                                            <input
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td>
                                                            <input
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td id="columnCenter">
                                                            <div id="actionicon2">
                                                                <button mat-icon-button color="primary"
                                                                    matTooltip="View this row" (click)="openSizeDialog()" id="iconTableButton"
                                                                    [matTooltipClass]="'custom-tip'">
                                                                    <mat-icon aria-label="View this row" class="f-14">
                                                                        remove_red_eye
                                                                    </mat-icon>
                                                                </button>
                                                                <button mat-icon-button color="primary" (click)="openSizeDialog()"
                                                                    matTooltip="Edit this row" id="iconTableButton"
                                                                    [matTooltipClass]="'custom-tip'">
                                                                    <mat-icon aria-label="Edit this row" class="f-14">
                                                                        edit
                                                                    </mat-icon>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td id="columnCenter">
                                                            <div id="actionicon2">
                                                                <button mat-icon-button color="primary"
                                                                    matTooltip="View this row" id="iconTableButton"
                                                                    [matTooltipClass]="'custom-tip'">
                                                                    <mat-icon aria-label="View this row" class="f-14">
                                                                        remove_red_eye
                                                                    </mat-icon>
                                                                </button>
                                                                <button mat-icon-button color="primary"
                                                                    matTooltip="Edit this row" id="iconTableButton"
                                                                    [matTooltipClass]="'custom-tip'">
                                                                    <mat-icon aria-label="Edit this row" class="f-14">
                                                                        edit
                                                                    </mat-icon>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)="onClear()"
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Production Issue List ********************************************** -->
            <div *ngIf="componentVisibility && !isReconciliation" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Issue List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="load.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Status</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                        <option></option>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                        <option></option>
                                    </div>
                                    <div class="col-sm-12 right" id="top">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_No">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Issue No
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.Issue_No}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_Date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Issue Date
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.Issue_Date}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_Type">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Issue Type
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.Issue_Type}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Remarks">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Remarks
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.Remarks}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Status
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.Status}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="View this row"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    visibility
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                            <label (click)="reconciliationClick()"
                                                                id="hide"><strong>Reconciliation</strong></label>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Reconciliation ********************************************** -->
            <div *ngIf="isReconciliation && !componentVisibility" class="edit">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Issue Reconciliation</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClearReconciliation()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Issue No</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Issue Date</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerLast">Issued Qty</th>
                                                        <th id="headerLast">Estimated Return Qty</th>
                                                        <th id="headerLast">Received Qty</th>
                                                        <th id="headerLast">Estimated vs Received</th>
                                                        <th id="headerLast">Image</th>
                                                        <th id="headerByno">Balance Material Received Date</th>
                                                        <th id="headerOne">Closed Status</th>
                                                        <th id="headerByno">Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="columnCenter">1</td>                                                      
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td id="columnCenter">
                                                            <label (click)="openEstimatedVSReceiptDialog()"
                                                            id="hide"><strong>View</strong></label>
                                                        </td>
                                                        <td id="columnCenter">
                                                            <label
                                                            id="hide"><strong>View</strong></label>
                                                        </td>
                                                        <td id="columnCenter">
                                                            <mat-form-field id="matDate" class="example-full-width matDate">
                                                                <input [(ngModel)]='Date' matInput [matDatepicker]="picker1">
                                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker1></mat-datepicker>
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <div id=checkTop>
                                                                <mat-checkbox>
                                                                </mat-checkbox>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input
                                                                class="form-control form-control-sm inputBox" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)="onClearReconciliation()"
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>