<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Purchase Return Approve ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchase Return Approve List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Section Name</strong></label>
                                        <input [(ngModel)]="objLoad.Section" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Supplier Name</strong></label>
                                        <select id="supplier" [(ngModel)]='objLoad.Supplier_Code' (ngModelChange)='getPurchaseReturnApprovedList()' class="form-control form-control-sm border border-secondary">
                                            <option disabled value="">--Select--</option>
                                            <option *ngFor="let data of supplierList" [value]="data.supplier_code">
                                                {{data.supplier_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Return_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Approved Date
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Return_Date" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.approved_date | date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Byno">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Byno
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Byno" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.byno}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Supplier_Name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.supplier_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_City">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier City
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Supplier_City" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.supplier_city}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_code">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Product Code
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Product_code" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.product_code}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Quantity">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Quantity" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.return_quantity}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getQuantity()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Pieces">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Pieces
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Pieces" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.return_pcs}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getPcs()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button (click)="onRemovePruchaseReturnList(element)" mat-icon-button color="primary" matTooltip="remove this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="remove this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" [hidden]="dataSource.data.length === 0">
                                                </mat-footer-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Purchase Return Approve ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchase Return Approve</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='resetScreen(true)' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="row">
                            <div class="col-sm-3" id="paddingRight">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>From Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="fromDate" [(ngModel)]="objReturnLoad.From_Date" (ngModelChange)='getSupplierCity()' #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" [min]="minDate" [min]="minDate" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [max]="maximumDate" [min]="minimumDate" [(ngModel)]="model1" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="objReturnLoad.From_Date = dateValidation.toFormattedDate($event.value);getSupplierCity();">
                                                    <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #fromPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>To Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="toDate" [(ngModel)]="objReturnLoad.To_Date" (ngModelChange)='getSupplierCity()' #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [max]="maxDate" [min]="objReturnLoad.From_Date" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [max]="maximumDate" [min]="model1" [(ngModel)]="model2" [matDatepicker]="endPicker" placeholder="Choose a date" (dateChange)="objReturnLoad.To_Date = dateValidation.toFormattedDate($event.value);getSupplierCity();">
                                                    <mat-datepicker-toggle matSuffix [for]="endPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #endPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>
                                                <label id="labelAdjus"><strong>Supplier City</strong></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 right">
                                            <mat-checkbox [disabled]="!objReturnLoad.SupplierCityList" [(ngModel)]="objReturnLoad.citySelectAll" (change)='onSelectCityAll()'>Select All
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="card" id="viewCard">
                                        <div class="card-body" id="cardPadding">
                                            <div class="group" *ngFor='let city of objReturnLoad.SupplierCityList; let i = index'>
                                                <mat-checkbox [(ngModel)]='city.is_selected' (change)='onChangeSupplierCity();getSupplierGroup();citySelectAll();cityunSelectAll();'>
                                                    {{city.supplier_city}}
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>
                                                <label id="labelAdjus"><strong>Supplier Group</strong></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 right">
                                            <mat-checkbox [disabled]="objReturnLoad.SupplierGroupList.length==0" [(ngModel)]="objReturnLoad.groupSelectAll" (change)='onSelectGroupAll()'>Select All
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="card" id="viewCard">
                                        <div class="card-body" id="cardPadding">
                                            <div class="group" *ngFor='let group of objReturnLoad.SupplierGroupList; let i = index'>
                                                <mat-checkbox [(ngModel)]='group.is_selected' (change)='onChangeSupplierGroup();getSupplierName();groupSelectAll();groupunSelectAll();'>
                                                    {{group.supplier_group}}</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>
                                                <label id="labelAdjus"><strong>Supplier Name</strong></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 right">
                                            <mat-checkbox [disabled]="objReturnLoad.SupplierNameList.length==0" [(ngModel)]="objReturnLoad.nameSelectAll" (change)='onSelectNameAll()'>Select All
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="card" id="viewCard">
                                        <div class="card-body" id="cardPadding">
                                            <div class="group" *ngFor='let name of objReturnLoad.SupplierNameList; let i = index'>
                                                <mat-checkbox [(ngModel)]='name.is_selected' (change)='onChangeSupplierName();getAprovalList();nameSelectAll();nameunSelectAll();'>
                                                    {{name.supplier_name}}
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header" style="color:white">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th>By no</th>
                                                        <th>Supplier Name</th>
                                                        <th>Supplier Group</th>
                                                        <th>Supplier City</th>
                                                        <th>Pieces</th>
                                                        <th>Quantity</th>
                                                        <th>Cost Price</th>
                                                        <th id="headerLast">
                                                            <div id="checkTop">
                                                                <mat-checkbox [disabled]='approvalList.length==0' [(ngModel)]="allSelected" (change)="checkUncheckAll()"></mat-checkbox>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let approve of approvalList; let i = index'>
                                                        <td id="columnCenter">{{i+1}}</td>
                                                        <td id="columnLeft">
                                                            {{approve.byno}}
                                                        </td>
                                                        <td id="columnLeft">
                                                            {{approve.supplier_name}}
                                                        </td>
                                                        <td id="columnLeft">
                                                            {{approve.supplier_group}}
                                                        </td>
                                                        <td id="columnLeft">
                                                            {{approve.city}}
                                                        </td>
                                                        <td id="columnRight">
                                                            {{approve.pcs}}
                                                        </td>
                                                        <td id="columnRight">
                                                            {{approve.qty}}
                                                        </td>
                                                        <td id="columnRight">
                                                            {{approve.cost_price}}
                                                        </td>
                                                        <td id="columnCenter">
                                                            <div id="checkTop">
                                                                <mat-checkbox [(ngModel)]="approve.isSelected" (change)="isAllSelected()"></mat-checkbox>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot *ngIf="objReturnLoad.SupplierNameList.length !== 0 && approvalList.length!=0">
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th id="rightFooter">
                                                        {{getApprovalQty()}}
                                                    </th>
                                                    <th id="rightFooter">
                                                        {{getApprovalCostPrice()}}
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-12 right">
                                                <button id="matButton" (click)="onApproveByno()" mat-raised-button color="primary">Approve</button>&nbsp;
                                                <button id="matButton" mat-raised-button (click)='resetScreen(false)' color="warn">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>