// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 1285px;
}

.new {
    margin-top: 1.5%;
    width: 100%;
}

#hide {
    margin-bottom: 4px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px;
}

#viewCard {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

#matDate {
    margin-top: -14px;
    margin-bottom: -14px;
}

#labelAdjus {
    margin-bottom: 0px;
    padding-top: 3px;
}

.table-scroll {
    height: 503px;
}

#checkTop {
    margin-top: -7px;
}

.table-scroll td {
    padding: 4px;
}

#rightFooter{
    text-align: right;
    padding-right:4px
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(9) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 240px;
    width: 240px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(9) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(1) {
    min-width: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    padding-left: 5px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(4) {
    min-width: 240px;
    width: 240px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(6) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.mat-table-fixed mat-footer-cell:nth-child(8) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-footer-cell:nth-child(9) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
