<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Edit Cost Price</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" id="cardPadding">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-2">
                        <label><strong>Supplier Code</strong><sup id="sup">*</sup></label>
                        <input #newSupplier id='newSupplier' autocomplete="off" disabled
                            [(ngModel)]='objInvoices.supplier_code' maxlength="30"
                            class="form-control form-control-sm border border-secondary" />
                        <div class="row" id="divTop1">
                            <div class='col-sm-5' id="top1">
                                <label id="hide" *ngIf='flags.isRegistered'><strong>Registered</strong></label>
                            </div>
                            <div class='col-sm-7'>
                                <mat-checkbox [(ngModel)]='flags.isComposite' disabled
                                    (ngModelChange)='disableTaxableColumns()'>
                                    Composite</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label><strong>Supplier Name & Email</strong></label>
                        <textarea id="textarea" rows=4 [(ngModel)]='objInvoices.supplier_address' disabled
                            class="form-control form-control-sm border border-secondary"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Byno</strong></label>
                        <input disabled [(ngModel)]='objInvoices.inv_byno'
                            class="form-control form-control-sm border border-secondary" />
                        <div id="top">
                            <label><strong>GSTIN No</strong></label>
                            <input id='gstnNo' [(ngModel)]='objInvoices.entered_gstn_no' (input)='setTypeOfGst()'
                                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                disabled class="form-control form-control-sm border border-secondary" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Invoice No</strong><sup id="sup">*</sup></label>
                        <select [(ngModel)]='objInvoices.supplier_invoice_no' #supplierInvoiceNo id='supplierInvoiceNo'
                            disabled class="form-control form-control-sm border border-secondary">
                            <option disabled [value]="''">--Select--</option>
                            <option *ngFor='let invoice of invoiceNosList' [value]='invoice.invoice_no'>
                                {{invoice.invoice_no}}</option>
                        </select>
                        <div id="top">
                            <div class="row">
                                <div class="col-sm-4" id="paddingRight">
                                    <label><strong>GRN No</strong></label>
                                    <input disabled [(ngModel)]='objInvoices.grn_no'
                                        class="form-control form-control-sm border border-secondary" />
                                </div>
                                <div class="col-sm-8">
                                    <label><strong>PO No</strong><sup id="sup">*</sup></label>
                                    <select [(ngModel)]='objInvoices.po_id' disabled
                                        class="form-control form-control-sm border border-secondary">
                                        <option [value]=0>--Select--</option>
                                        <option *ngFor='let po of poNosList' [value]='po.po_id'>
                                            {{po.po_no}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-5">
                                <label><strong>Invoice Date</strong></label>
                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                    <input matInput [(ngModel)]='objInvoices.supplier_invoice_date' disabled
                                        [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker" disabled>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-7">
                                <label><strong>Pattial Amount</strong><sup id="sup">*</sup></label>
                                <input #invoiceAmount id='invoiceAmount' disabled
                                    [(ngModel)]='objInvoices.invoice_amount' (click)='$event.target.select()'
                                    (focus)='$event.target.select()' onCopy="return false" onDrag="return false"
                                    onDrop="return false" onPaste="return false" (focusout)="convertTotalsToDecimal('')"
                                    (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','invoice_amount')"
                                    class="form-control form-control-sm border border-secondary right" />
                            </div>
                        </div>
                        <div id="top">
                            <label><strong>Merchandiser Name</strong></label>
                            <input disabled [(ngModel)]='objInvoices.merchandiser_name'
                                class="form-control form-control-sm border border-secondary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="cardTop">
            <div class="card-body" id="cardPadding">
                <div class="table-scroll">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerOne">S.No</th>
                                <th id="headerProduct">Product Group</th>
                                <th id="headerTwo">UOM</th>
                                <th id="headerTwo">Qty</th>
                                <th id="headerTwo">Actual Qty</th>
                                <th id="headerTwo">Pcs</th>
                                <th id="headerTwo">Actual Pcs</th>
                                <th id="headerCostPrice">Cost Price</th>
                                <th id="headerCostPrice">Actual Cost Price</th>
                                <th id="headerOne" *ngIf='flags.isDiscountAmount'>Discount Amount</th>
                                <th id="headerOne">Discount %</th>
                                <th id="headerOne">Price Code</th>
                                <th id="headerTwo" *ngIf='flags.isAddMargin'>Add Margin</th>
                                <th id="headerDescription" *ngIf='flags.isSupplierDesc'>Supplier
                                    Description</th>
                                <th id="headerOne" *ngIf='flags.isDryWash'>Dry Wash</th>
                                <th id="headerTwo" *ngIf='flags.isMrp'>MRP</th>
                                <th id="headerTwo">HSN Code</th>
                                <th id="headerTwo" *ngIf='!flags.isIgst && !flags.isComposite'>SGST</th>
                                <th id="headerTwo" *ngIf='!flags.isIgst && !flags.isComposite'>Actual SGST</th>
                                <th id="headerTwo" *ngIf='!flags.isIgst && !flags.isComposite'>CGST</th>
                                <th id="headerTwo" *ngIf='!flags.isIgst && !flags.isComposite'>Actual CGST</th>
                                <th id="headerTwo" *ngIf='flags.isIgst && !flags.isComposite'>IGST</th>
                                <th id="headerTwo" *ngIf='flags.isIgst && !flags.isComposite'>Actual IGST</th>
                                <th id="headerTwo">Rounded Off</th>
                                <th id="headerTwo">Actual Rounded Off</th>
                                <th id="headerTotal">Total</th>
                                <th id="headerTotal">Actual Total</th>
                                <!-- <th id="headerOne">Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of invoiceDetailsList;let i = index;'>
                                <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 0)">{{data.byno_serial}}
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 1,true)">
                                    <input #productGroup type="text" autocomplete="off" (focus)='setProductFocus(i)'
                                        disabled [(ngModel)]='data.product_group_name' onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 2,true)">
                                    <input #productGroupUOM type="text" disabled [(ngModel)]='data.product_group_uom'
                                        autocomplete="off" class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 3,true)">
                                    <input #qty type="text" (click)='$event.target.select()' disabled
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,10000,'invoiceDetailsList','product_qty',i)"
                                        [(ngModel)]='data.product_qty' (focus)='$event.target.select()'
                                        (input)='setActualQuantity(i)' autocomplete="off" onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <!-- (input)='setActualQuantity(i)' -->
                                <td (keyup)="onKeyFocusGlobal($event, i, 4)">
                                    <input #actualQty type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.actual_product_qty' disabled
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,999999,'invoiceDetailsList','actual_product_qty',i)"
                                        (focus)='$event.target.select()' autocomplete="off"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <!-- (input)='setActualPcs(i)' -->
                                <td (keyup)="onKeyFocusGlobal($event, i, 5,true)">
                                    <input #pcs type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.no_of_pcs' disabled
                                        (keypress)="onlyAllwNumbersForInvoiceDetails($event,10000,'invoiceDetailsList','no_of_pcs',i)"
                                        (focus)='$event.target.select()' autocomplete="off" onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 6)">
                                    <input #actualPcs type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.actual_no_of_pcs' disabled
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,999999,'invoiceDetailsList','actual_no_of_pcs',i)"
                                        (focus)='$event.target.select()' autocomplete="off"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 7,true)">
                                    <input #costPrice type="text" (click)='$event.target.select()'
                                        (input)='setActualCostPrice(i)' [(ngModel)]='data.cost_price'
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,1000000,'invoiceDetailsList','cost_price',i)"
                                        (focus)='$event.target.select()' autocomplete="off" onCopy="return false"
                                        onDrag="return false" disabled onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 8)">
                                    <input #actualCostPrice type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.actual_cost_price' (input)='getActualGstByHsnCode(i)'
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,999999,'invoiceDetailsList','actual_cost_price',i)"
                                        (focus)='$event.target.select()' autocomplete="off"
                                        (focusout)="convertCostPriceToDecimal(i,'')"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td *ngIf='flags.isDiscountAmount' (keyup)="onKeyFocusGlobal($event, i, 9,true)">
                                    <input #discountAmt type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.discount_amount' (input)='calculateTaxableValue(i)' disabled
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,10000,'invoiceDetailsList','discount_amount',i)"
                                        (focus)='$event.target.select()' autocomplete="off" onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 10,true)">
                                    <input #discountPercent type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.discount_percent' disabled (input)='calculateTaxableValue(i)'
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,100,'invoiceDetailsList','discount_percent',i)"
                                        (focus)='$event.target.select()' autocomplete="off" onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 11,true)">
                                    <input #priceCode type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.price_code' (focus)='$event.target.select()'
                                        autocomplete="off" (focusout)='checkIsValidPriceCode(i)'
                                        (keyup)='onlyAllowUpperCases($event)' onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false" maxlength="2"
                                        disabled class="form-control form-control-sm inputBox">
                                </td>
                                <td *ngIf='flags.isAddMargin' (keyup)="onKeyFocusGlobal($event, i, 12,true)">
                                    <input #addMargin type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.add_margin' (focus)='$event.target.select()'
                                        autocomplete="off" onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false" maxlength="2" disabled
                                        class="form-control form-control-sm inputBox">
                                </td>
                                <td *ngIf='flags.isSupplierDesc' (keyup)="onKeyFocusGlobal($event, i, 13,true)">
                                    <mat-form-field id="matDate">
                                        <input #supplierDesc id="autoInput" type="text" matInput
                                            [(ngModel)]="data.supplier_desc" maxlength="50" disabled
                                            [formControl]="myControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                            <mat-option *ngFor="let option of filteredOptions | async"
                                                [value]="option.supplier_description_id">
                                                {{option.supplier_description}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td id="columnCenter" *ngIf='flags.isDryWash'
                                    (keyup)="onKeyFocusGlobal($event, i, 14,true)">
                                    <div id="topCheck">
                                        <input #dryWash disabled [(ngModel)]='data.dry_wash' type="checkbox"
                                            id="empcode" name="name0" class="right">
                                    </div>
                                </td>
                                <td *ngIf='flags.isMrp' (keyup)=" onKeyFocusGlobal($event, i, 15,true)">
                                    <input #mrp type="text" (click)='$event.target.select()' [(ngModel)]='data.mrp'
                                        (focus)='$event.target.select()' autocomplete="off" onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false" disabled
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,999999,'invoiceDetailsList','mrp',i)"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 16,true)">
                                    <input #hsnCode type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.hsn_code' (focus)='$event.target.select();' autocomplete="off"
                                        (focusout)='getGstByHsnCode(i)' onCopy="return false" onDrag="return false"
                                        disabled onDrop="return false" onPaste="return false" maxlength="5"
                                        class="form-control form-control-sm inputBox">
                                </td>
                                <td *ngIf='!flags.isIgst && !flags.isComposite'
                                    (keyup)="onKeyFocusGlobal($event, i, 17,true)">
                                    <input #sgst type="text" (click)='$event.target.select()' disabled
                                        [(ngModel)]='data.sgst' (focus)='$event.target.select()' autocomplete="off"
                                        (input)='calculateTaxableValue(i)' onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false"
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,99.99,'invoiceDetailsList','sgst',i)"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td *ngIf='!flags.isIgst && !flags.isComposite'
                                    (keyup)="onKeyFocusGlobal($event, i, 17,true)">
                                    <input #sgst type="text" (click)='$event.target.select()' disabled
                                        [(ngModel)]='data.actual_sgst' (focus)='$event.target.select()'
                                        autocomplete="off" (input)='calculateTaxableValue(i)' onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,99.99,'invoiceDetailsList','actual_sgst',i)"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td *ngIf='!flags.isIgst && !flags.isComposite'
                                    (keyup)="onKeyFocusGlobal($event, i, 18,true)">
                                    <input #cgst type="text" (click)='$event.target.select()' disabled
                                        [(ngModel)]='data.cgst' (focus)='$event.target.select()' autocomplete="off"
                                        (input)='calculateTaxableValue(i)' onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false"
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,99.99,'invoiceDetailsList','cgst',i)"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td *ngIf='!flags.isIgst && !flags.isComposite'
                                    (keyup)="onKeyFocusGlobal($event, i, 18,true)">
                                    <input #cgst type="text" (click)='$event.target.select()' disabled
                                        [(ngModel)]='data.actual_cgst' (focus)='$event.target.select()'
                                        autocomplete="off" (input)='calculateTaxableValue(i)' onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,99.99,'invoiceDetailsList','actual_cgst',i)"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td *ngIf='flags.isIgst && !flags.isComposite'
                                    (keyup)="onKeyFocusGlobal($event, i, 19,true)">
                                    <input #igst type="text" (click)='$event.target.select()' disabled
                                        [(ngModel)]='data.igst' (focus)='$event.target.select()' autocomplete="off"
                                        (input)='calculateTaxableValue(i)' onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false"
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,9999.99,'invoiceDetailsList','igst',i)"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td *ngIf='flags.isIgst && !flags.isComposite'
                                    (keyup)="onKeyFocusGlobal($event, i, 19,true)">
                                    <input #igst type="text" (click)='$event.target.select()' disabled
                                        [(ngModel)]='data.actual_igst' (focus)='$event.target.select()'
                                        autocomplete="off" (input)='calculateTaxableValue(i)' onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        (keypress)="onlyAllwDecimalForInvoiceDetails($event,9999.99,'invoiceDetailsList','actual_igst',i)"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 20,true)">
                                    <input #roundOff type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.round_off' (focus)='$event.target.select()' autocomplete="off"
                                        (input)='calculateTaxableValue(i)' onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false" disabled
                                        (keypress)="onlyAllowRoundOffDecimalForInvoiceDetails($event,9999.99,'invoiceDetailsList','round_off',i);"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 20,true)">
                                    <input #roundOff type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.actual_round_off' (focus)='$event.target.select()'
                                        autocomplete="off" (input)='calculateTaxableValue(i)' onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false" disabled
                                        (keypress)="onlyAllowRoundOffDecimalForInvoiceDetails($event,9999.99,'invoiceDetailsList','actual_round_off',i);"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 21,true)">
                                    <input #taxableValue type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.total_taxable_value' disabled (focus)='$event.target.select()'
                                        autocomplete="off" onCopy="return false" onDrag="return false"
                                        onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <td (keyup)="onKeyFocusGlobal($event, i, 21,true)">
                                    <input #taxableValue type="text" (click)='$event.target.select()'
                                        [(ngModel)]='data.actual_total_taxable_value' disabled
                                        (focus)='$event.target.select()' autocomplete="off" onCopy="return false"
                                        onDrag="return false" onDrop="return false" onPaste="return false"
                                        class="form-control form-control-sm inputBox right">
                                </td>
                                <!-- <td (keyup)="onKeyFocusGlobal($event, i, 22,true)">
                                    <button #action name="del" matTooltip="Remove" id="delbtn" disabled
                                        *ngIf="i !==invoiceDetailsList.length - 1" class="btn btn-sm">
                                        <div id="iconBottom">
                                            <mat-icon id="iRed">
                                                delete
                                            </mat-icon>
                                        </div>
                                    </button>
                                    <button #action *ngIf="i === invoiceDetailsList.length - 1" class="btn btn-sm"
                                        matTooltip="Add" name="add" id="addbtn" disabled>
                                        <div id="iconBottom">
                                            <mat-icon id="iGreen">
                                                add
                                            </mat-icon>
                                        </div>
                                    </button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div class="card" id="cardTop">
            <div class="card-body" id="cardPadding"
                style="padding-bottom: 10px;padding-left: 10px;padding-right: 10px;">
                <div class="row">
                    <div class="col-sm-3" style="border-right:1px solid lightgrey">
                        <div class="table-scroll" style="height:auto">
                            <table style="border:none" border='0'>
                                <tbody style="border:none">
                                    <tr style="border:none">
                                        <td style="border:none;padding: 7px" id="columnLeft">
                                            <strong>Total Pcs</strong>
                                        </td>
                                        <td style="border:none">
                                            <input id="hide" type="text" [(ngModel)]='objInvoices.qty_total' disabled
                                                style="font-size:20px;font-weight:bold;background-color:white"
                                                class="form-control form-control-sm inputBox1 right">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding: 7px" id="columnLeft">
                                            <strong>Product Total</strong>
                                        </td>
                                        <td style="border:none;text-align: right;padding-right: 4px;">
                                            <label style="font-size:20px;font-weight:bold;background-color:white"
                                                id="hide"><strong>{{objInvoices.undeducted_product_total
                                                    | number:
                                                    '1.2-2'}}</strong></label>                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding: 7px" id="columnLeft">
                                            <strong>Discount</strong>
                                        </td>                                       
                                        <td style="border:none">
                                            <input #discountTotal id="hide" type="text"
                                                [(ngModel)]='objInvoices.discount_total'
                                                (click)='$event.target.select()' (focus)='$event.target.select()'
                                                onCopy="return false" onDrag="return false" onDrop="return false"
                                                onPaste="return false" disabled
                                                (input)="calculateTaxableValueAfterDiscountEdit('Discount')"
                                                (focusout)="convertTotalsToDecimal('')"
                                                (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','discount_total')"
                                                style="font-size:20px;font-weight:bold;background-color:white"
                                                class="form-control form-control-sm inputBox1 right">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding: 7px" id="columnLeft">
                                            <strong>Actual Discount</strong>
                                        </td>
                                        <td style="border:none">
                                            <input #discountTotal id="hide" type="text"
                                                [(ngModel)]='objInvoices.discount_total'
                                                (click)='$event.target.select()' (focus)='$event.target.select()'
                                                onCopy="return false" onDrag="return false" onDrop="return false"
                                                onPaste="return false" disabled
                                                (input)="calculateTaxableValueAfterDiscountEdit('Discount')"
                                                (focusout)="convertTotalsToDecimal('')"
                                                (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','actual_discount_total')"
                                                style="font-size:20px;font-weight:bold;background-color:white"
                                                class="form-control form-control-sm inputBox1 right">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding: 7px" id="columnLeft">
                                            <strong>Taxable Value</strong>
                                        </td>
                                        <td style="border:none;text-align: right;padding-right: 4px;">
                                            <label style="font-size:20px;font-weight:bold;background-color:white"
                                                id="hide"><strong>{{objInvoices.product_total | number:
                                                    '1.2-2'}}</strong></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding: 7px" id="columnLeft">
                                            <strong>Actual Taxable Value</strong>
                                        </td>
                                        <td style="border:none;text-align: right;padding-right: 4px;">
                                            <label style="font-size:20px;font-weight:bold;background-color:white"
                                                id="hide"><strong>{{objInvoices.product_total | number:
                                                    '1.2-2'}}</strong></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-3" style="padding-right:5px">
                                <div class="table-scroll" style="height:auto">
                                    <table style="border:none;overflow: hidden;" border='0'>
                                        <tbody style="border:none">
                                            <tr style="border:none">
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Freight Charges</strong>
                                                </td>
                                                <td>
                                                    <input type="text" #freightCharges
                                                        [(ngModel)]='objInvoices.freight_charges' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false" disabled (click)='$event.target.select()'
                                                        (focus)='$event.target.select()'
                                                        (focusout)="convertTotalsToDecimal('')"
                                                        (input)="calculateAdditionsAndDeductions('Freight')"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','freight_charges')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Misc. Additions</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.additions'
                                                        onCopy="return false" onDrag="return false"
                                                        onDrop="return false" onPaste="return false" disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()'
                                                        (focusout)="convertTotalsToDecimal('')"
                                                        (input)="calculateAdditionsAndDeductions('Additions')"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','additions')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Misc. Deductions</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.deductions'
                                                        onCopy="return false" onDrag="return false"
                                                        onDrop="return false" onPaste="return false" disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()'
                                                        (focusout)="convertTotalsToDecimal('')"
                                                        (input)="calculateAdditionsAndDeductions('Deductions')"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','deductions')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-3" id="paddingRight">
                                <div class="table-scroll" style="height:auto">
                                    <table style="border:none;overflow: hidden;" border='0'>
                                        <tbody style="border:none">
                                            <tr style="border:none">
                                                <td style="border:none" id="columnLeft2">
                                                    <strong>Master Discount%</strong>
                                                </td>
                                                <td>
                                                    <input type="text" disabled
                                                        [(ngModel)]='objInvoices.master_discount_percent'
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none" id="columnLeft2">
                                                    <strong>Special Discount%</strong>
                                                </td>
                                                <td>
                                                    <input type="text"
                                                        [(ngModel)]='objInvoices.special_discount_percent' disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllwDecimal($event,100,'objInvoices','special_discount_percent')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Credit Days</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.credit_days' disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllowNumbers($event,999,'objInvoices','credit_days')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="table-scroll" style="height:auto">
                                    <table style="border:none;overflow: hidden;" border='0'>
                                        <tbody style="border:none">
                                            <tr style="border:none" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>CGST</strong>
                                                </td>
                                                <td colspan="3">
                                                    <input type="text" [(ngModel)]='objInvoices.cgst_total'
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','cgst_total')"
                                                        (input)="calculateGrandTotalAfterGSTChanges('CGST')"
                                                        (focusout)="convertTotalsToDecimal('')" disabled class=" form-control form-control-sm inputBox1
                                                        right">
                                                </td>
                                            </tr>
                                            <tr style="border:none" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Actual CGST</strong>
                                                </td>
                                                <td colspan="3">
                                                    <input type="text" [(ngModel)]='objInvoices.cgst_total'
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','actual_cgst_total')"
                                                        (input)="calculateGrandTotalAfterGSTChanges('CGST')"
                                                        (focusout)="convertTotalsToDecimal('')" disabled class=" form-control form-control-sm inputBox1
                                                        right">
                                                </td>
                                            </tr>
                                            <tr style="border:none" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>SGST</strong>
                                                </td>
                                                <td colspan="3">
                                                    <input type="text" [(ngModel)]='objInvoices.sgst_total'
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','sgst_total')"
                                                        (input)="calculateGrandTotalAfterGSTChanges('SGST')"
                                                        (focusout)="convertTotalsToDecimal('')" disabled class=" form-control form-control-sm inputBox1
                                                        right">
                                                </td>
                                            </tr>
                                            <tr style="border:none" *ngIf='!flags.isIgst && !flags.isComposite'>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Actual SGST</strong>
                                                </td>
                                                <td colspan="3">
                                                    <input type="text" [(ngModel)]='objInvoices.sgst_total'
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','actual_sgst_total')"
                                                        (input)="calculateGrandTotalAfterGSTChanges('SGST')"
                                                        (focusout)="convertTotalsToDecimal('')" disabled class=" form-control form-control-sm inputBox1
                                                        right">
                                                </td>
                                            </tr>
                                            <tr *ngIf='flags.isIgst && !flags.isComposite'>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>IGST</strong>
                                                </td>
                                                <td colspan="3">
                                                    <input type="text" [(ngModel)]='objInvoices.igst_total'
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','igst_total')"
                                                        (input)="calculateGrandTotalAfterGSTChanges('IGST')"
                                                        (focusout)="convertTotalsToDecimal('')" disabled class=" form-control form-control-sm inputBox1
                                                        right">
                                                </td>
                                            </tr>
                                            <tr *ngIf='flags.isIgst && !flags.isComposite'>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Actual IGST</strong>
                                                </td>
                                                <td colspan="3">
                                                    <input type="text" [(ngModel)]='objInvoices.igst_total'
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','actual_igst_total')"
                                                        (input)="calculateGrandTotalAfterGSTChanges('IGST')"
                                                        (focusout)="convertTotalsToDecimal('')" disabled class=" form-control form-control-sm inputBox1
                                                        right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>TCS %</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.tcs_amount'
                                                        onCopy="return false" onDrag="return false"
                                                        onDrop="return false" onPaste="return false" disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()'
                                                        (focusout)="convertTotalsToDecimal('')"
                                                        (input)="calculateAdditionsAndDeductions('TCS')"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','tcs_amount')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                                <td style="border:none;width: 80px;">
                                                    <strong>TCS Amount</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.tcs_amount'
                                                        onCopy="return false" onDrag="return false"
                                                        onDrop="return false" onPaste="return false" disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()'
                                                        (focusout)="convertTotalsToDecimal('')"
                                                        (input)="calculateAdditionsAndDeductions('TCS')"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','tcs_amount')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Actual TCS %</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.tcs_amount'
                                                        onCopy="return false" onDrag="return false"
                                                        onDrop="return false" onPaste="return false" disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()'
                                                        (focusout)="convertTotalsToDecimal('')"
                                                        (input)="calculateAdditionsAndDeductions('TCS')"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','tcs_amount')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                                <td style="border:none;width: 80px;">
                                                    <strong>Actual TCS Amount</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.tcs_amount'
                                                        onCopy="return false" onDrag="return false"
                                                        onDrop="return false" onPaste="return false" disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()'
                                                        (focusout)="convertTotalsToDecimal('')"
                                                        (input)="calculateAdditionsAndDeductions('TCS')"
                                                        (keypress)="onlyAllwDecimal($event,999999.99,'objInvoices','tcs_amount')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none" id="columnLeft">
                                                    <strong>Rounded Off</strong>
                                                </td>
                                                <td colspan="3">
                                                    <input type="text" [(ngModel)]='objInvoices.round_off_total'
                                                        (input)='getGrandTotal()' disabled
                                                        (click)='$event.target.select()'
                                                        (focus)='$event.target.select()' onCopy="return false"
                                                        onDrag="return false" onDrop="return false"
                                                        onPaste="return false"
                                                        (keypress)="onlyAllowRoundOffDecimal($event,999999.99,'objInvoices','round_off_total')"
                                                        class="form-control form-control-sm inputBox1 right">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngIf='flags.isIgst || flags.isComposite' class="col-sm-12" style="margin-top: 6px;">
                                <div class="table-scroll" style="height:auto">
                                    <table style="border:none;overflow: hidden;" border='0'>
                                        <tbody style="border:none">
                                            <tr style="border:none">
                                                <td style="border:none" id="columnLeft">
                                                    <strong>IRN</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.irn'
                                                        onCopy="return false" onDrag="return false" disabled
                                                        onDrop="return false" onPaste="return false"
                                                        class="form-control form-control-sm inputBox1">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngIf='!flags.isIgst && !flags.isComposite' class="col-sm-6"
                                style="margin-top: -33px;padding-right: 0px;">
                                <div class="table-scroll" style="height:auto">
                                    <table style="border:none;overflow: hidden;" border='0'>
                                        <tbody style="border:none">
                                            <tr style="border:none">
                                                <td style="border:none" id="columnLeft">
                                                    <strong>IRN</strong>
                                                </td>
                                                <td>
                                                    <input type="text" [(ngModel)]='objInvoices.irn'
                                                        onCopy="return false" onDrag="return false"
                                                        onDrop="return false" onPaste="return false" disabled
                                                        class="form-control form-control-sm inputBox1">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="border-left:1px solid lightgrey">
                        <div class="table-scroll" style="height:auto">
                            <table style="border:none;overflow: hidden;" border='0'>
                                <tbody style="border:none">
                                    <tr>
                                        <td style="border:none;" id="columnLeft">
                                            <strong>Total Amount</strong>
                                        </td>
                                        <td style="border:none">
                                            <input id="hide" type="text" disabled
                                                style="font-size:20px;font-weight:bold;background-color:white"
                                                class="form-control form-control-sm inputBox1 right">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="border:none;padding:10px;background: #e4e5e6;width: 100%;text-align:right">
                                            <label class="totalAmount" id="hide"><strong>{{objInvoices.grand_total |
                                                    number:
                                                    '1.2-2'}}</strong></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding:5px;padding-right: 0px;width: 100%;"
                                            id="columnRight">
                                            <button (click)='editCostPrice()' id="matButton" mat-raised-button
                                                color="primary">Save</button>&nbsp;
                                            <button id="matButton" mat-raised-button (click)="onClear(false)"
                                                color="warn">Clear</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card" id="cardTop">
            <div class="card-body" id="cardPadding"
                style="padding-bottom: 10px;padding-left: 10px;padding-right: 10px;">
                <div class="row">
                    <div class="col-sm-3" style="border-right:1px solid lightgrey">
                        <table border='0' style="height:auto;width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="printTD"><strong>Total Pcs</strong></td>
                                    <td class="right">{{objInvoices.qty_total}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Product Total</strong></td>
                                    <td class="right">{{objInvoices.undeducted_product_total | number: '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Actual Product Total</strong></td>
                                    <td class="right">{{objInvoices.actual_undeducted_product_total | number: '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Discount</strong></td>
                                    <td class="right">{{objInvoices.discount_total}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Actual Discount</strong></td>
                                    <td class="right">{{objInvoices.actual_discount_total}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Taxable Value</strong></td>
                                    <td class="right">{{objInvoices.product_total}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Actual Taxable Value</strong></td>
                                    <td class="right">{{objInvoices.actual_product_total | number: '1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2" style="border-right:1px solid lightgrey">
                        <table border='0' style="height:auto;width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="printTD"><strong>Freight Charges</strong></td>
                                    <td class="right">{{objInvoices.freight_charges}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Misc. Additions</strong></td>
                                    <td class="right">{{objInvoices.additions}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Misc. Deductions</strong></td>
                                    <td class="right">{{objInvoices.deductions}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Master Discount%</strong></td>
                                    <td class="right">{{objInvoices.master_discount_percent}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Special Discount%</strong></td>
                                    <td class="right">{{objInvoices.special_discount_percent}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Credit Days</strong></td>
                                    <td class="right">{{objInvoices.credit_days}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2" style="border-right:1px solid lightgrey">
                        <table border='0' style="height:auto;width: 100%;">
                            <tbody>
                                <tr *ngIf='flags.isIgst && !flags.isComposite'>
                                    <td class="printTD"><strong>IGST</strong></td>
                                    <td class="right">{{objInvoices.igst_total}}</td>
                                </tr>
                                <tr *ngIf='flags.isIgst && !flags.isComposite'>
                                    <td class="printTD"><strong>Actual IGST</strong></td>
                                    <td class="right">{{objInvoices.actual_igst_total}}</td>
                                </tr>
                                <tr *ngIf='!flags.isIgst && !flags.isComposite'>
                                    <td class="printTD"><strong>CGST</strong></td>
                                    <td class="right">{{objInvoices.cgst_total}}</td>
                                </tr>
                                <tr *ngIf='!flags.isIgst && !flags.isComposite'>
                                    <td class="printTD"><strong>Actual CGST</strong></td>
                                    <td class="right">{{objInvoices.actual_cgst_total}}</td>
                                </tr>
                                <tr *ngIf='!flags.isIgst && !flags.isComposite'>
                                    <td class="printTD"><strong>SGST</strong></td>
                                    <td class="right">{{objInvoices.sgst_total}}</td>
                                </tr>
                                <tr *ngIf='!flags.isIgst && !flags.isComposite'>
                                    <td class="printTD"><strong>Actual SGST</strong></td>
                                    <td class="right">{{objInvoices.actual_sgst_total}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>IRN</strong></td>
                                    <td>{{objInvoices.irn}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2">
                        <table border='0' style="height:auto;width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="printTD"><strong>TCS %</strong></td>
                                    <td class="right">{{objInvoices.tcs_percent}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Actual TCS %</strong></td>
                                    <td class="right">{{objInvoices.tcs_percent}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>TCS Amount</strong></td>
                                    <td class="right">{{objInvoices.tcs_amount}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Actual TCS Amount</strong></td>
                                    <td class="right">{{objInvoices.actual_tcs_amount}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Rounded Off</strong></td>
                                    <td class="right">{{objInvoices.round_off_total}}</td>
                                </tr>
                                <tr>
                                    <td class="printTD"><strong>Actual Rounded Off</strong></td>
                                    <td class="right">{{objInvoices.actual_round_off_total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-3" style="border-left:1px solid lightgrey">
                        <div class="table-scroll" style="height:auto">
                            <table style="border:none;overflow: hidden;" border='0'>
                                <tbody style="border:none">
                                    <tr>
                                        <td style="border:none;" id="columnLeft">
                                            <strong>Total Amount</strong>
                                        </td>
                                        <td style="border:none">
                                            <input id="hide" type="text" disabled
                                                style="font-size:20px;font-weight:bold;background-color:white"
                                                class="form-control form-control-sm inputBox1 right">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="border:none;background: #e4e5e6;width: 100%;text-align:right">
                                            <label class="totalAmount" id="hide"><strong>{{objInvoices.grand_total |
                                                    number:
                                                    '1.2-2'}}</strong></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;" id="columnLeft">
                                            <strong>Actual Total Amount</strong>
                                        </td>
                                        <td style="border:none">
                                            <input id="hide" type="text" disabled
                                                style="font-size:20px;font-weight:bold;background-color:white"
                                                class="form-control form-control-sm inputBox1 right">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="border:none;background: #e4e5e6;width: 100%;text-align:right">
                                            <label class="totalAmount" id="hide"><strong>{{objInvoices.actual_grand_total |
                                                    number:
                                                    '1.2-2'}}</strong></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding:5px;padding-right: 0px;width: 100%;"
                                            id="columnRight">
                                            <div>
                                                <button (click)='editCostPrice()' id="matButton" mat-raised-button
                                                    color="primary">Save</button>&nbsp;
                                                <button id="matButton" mat-raised-button (click)="onClear(false)"
                                                    color="warn">Clear</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>