// --------------------- Screen Based CSS Start ------------------- //
.new {
    margin-top: 1%;
    width: 1100px;
}

.view {
    margin-top: 5%;
    width: 800px;
}

.list {
    margin-top: 2%;
    width: 1188px;
}

#cardPadding {
    padding: 10px
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px
}

#radiogroups {
    margin-top: 32px;
    margin-bottom: -9px;
}

#headerothercharges {
    width: 119px;
}

#headerDiscount {
    width: 145px;
}

#headerdiscount {
    width: 145px;
}

#top7 {
    margin-top: 26px;
}

#headerLast {
    width: 4%;
}

#headercostPrice {
    width: 113px;
}

#divAdjus {
    padding-top: 25px;
    margin-bottom: -5px;
}

#hide {
    margin-bottom: 0px;
}

#checkTop {
    margin-top: -7px;
}

#details {
    width: 10%;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 165px;
    cursor: pointer;
}

.table-scroll td {
    padding: 4px;
}

.table-scroll {
    overflow-x: hidden;
}

#rdiogrp {
    margin-top: 5px;
}

#headerOne {
    width: 8%
}

#tblHeight {
    height: 329px
}

#tbl1Height {
    height: 167px;
}

// --------------------- Screen Based CSS End ------------------- //
// --------------------- Table Css Start ------------------- //
.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 229px;
    width: 229px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 134px;
    width: 134px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 149px;
    width: 149px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 149px;
    width: 149px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 229px;
    width: 229px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 134px;
    width: 134px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 149px;
    width: 149px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 149px;
    width: 149px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-right: 0px;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //