<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Purchase Return Note ********************************************** -->
            <div *ngIf="componentVisibility==2" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">RGN Entry</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='onClear(true)' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label><strong>Section</strong></label>
                                                <input disabled [(ngModel)]='objRGN.Section' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label><strong>RGN Date</strong></label>
                                                <input disabled [(ngModel)]='objRGN.RGN_Date' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll" id="tbl1Height">
                                            <table border='1'>
                                                <thead class="docs-primary-header" style="color:white">
                                                    <tr>
                                                        <th>DC No</th>
                                                        <th>DC Date</th>
                                                        <th id="headerOne">Total Pcs</th>
                                                        <th>Supplier Name</th>
                                                        <th>Supplier City</th>
                                                        <th id="details"></th>
                                                        <th id="headerLast">

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of objRGN.Supplier_Details; let i = index">
                                                        <td id="columnLeft">
                                                            {{data.dc_no}}
                                                        </td>
                                                        <td id="columnLeft">
                                                            {{data.dc_date}}
                                                        </td>
                                                        <td id="columnRight">
                                                            {{data.pcs}}
                                                        </td>
                                                        <td id="columnLeft">
                                                            {{data.supplier_name}}
                                                        </td>
                                                        <td id="columnLeft">
                                                            {{data.city}}
                                                        </td>
                                                        <td id="columnCenter">
                                                            <label id="hide" (click)='onViewClick(i)'><strong>View Details</strong></label>
                                                        </td>
                                                        <td id="columnCenter">
                                                            <div id="checkTop">
                                                                <input #check [(ngModel)]='data.checkFlag' (ngModelChange)='onAddCheckValue(i);alreadySeletecedCheck(i);' type="checkbox" style="margin-top:5px;padding-left: 5px;" />
                                                                <!-- <mat-checkbox #check [(ngModel)]='data.checkFlag' (ngModelChange)='onAddCheckValue(i)'></mat-checkbox> -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot *ngIf='!objRGN.Supplier_Details || objRGN.Supplier_Details.length!==0'>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th id="columnRight">{{getTransferPcs() ? getTransferPcs(): 0}}</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>

                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="top">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label><strong>LR No</strong></label>
                                                <input [(ngModel)]='objRGN.LR_No' id="lrno" maxlength="20" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>LR Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="fromDate" [(ngModel)]="objRGN.LR_Date" #autocomplete (keyup)="validateLRDate()" (focusout)="validateLRDate()" [min]="minDate" [min]="minDate" (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                                    <input type="hidden" [max]="maximumDate" [min]="minimumDate" [(ngModel)]="tempLRDate" [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="objRGN.LR_Date = dateValidation.toFormattedDate($event.value);">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>LR Amount</strong></label>
                                                <input [(ngModel)]='objRGN.LR_Amount' id="lramount" (keypress)="onlyAllowDecimal($event,99999999999.99,'objRGN','LR_Amount');" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3" id="radiogroups">
                                                <mat-radio-group [(ngModel)]='objRGN.Paid'>
                                                    <mat-radio-button id="paid" value="true">To Pay</mat-radio-button>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <mat-radio-button value="false">Paid</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>

                                        <div class="row" id="top">
                                            <div class="col-sm-3">
                                                <label><strong>No. of Bales</strong></label>
                                                <input [(ngModel)]='objRGN.No_of_Bales' id="bales" onCopy="return false" onDrag="return false" onDrop="return false" maxlength="5" onPaste="return false" (input)='_keyPressEvents.onlyAllowNumbers($event)' class="form-control form-control-sm border border-secondary"
                                                />
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>Mode Of Transporter</strong></label><br>
                                                <mat-radio-group id="rdiogrp" [(ngModel)]='objRGN.Mode_Of_Transporter' (ngModelChange)='getTransporter()'>
                                                    <mat-radio-button id="rdiogrp" value="Transport">Transport
                                                    </mat-radio-button>
                                                    &nbsp;&nbsp;
                                                    <mat-radio-button value="Courier">Courier</mat-radio-button>&nbsp;&nbsp;
                                                    <mat-radio-button value="Post">Post</mat-radio-button>&nbsp;&nbsp;
                                                    <mat-radio-button value="By Hand">By Hand</mat-radio-button>&nbsp;&nbsp;
                                                </mat-radio-group>
                                            </div>

                                            <div class="col-sm-3">
                                                <label><strong>Transporter</strong></label>
                                                <select [(ngModel)]='objRGN.Transporter' [disabled]='objRGN.Mode_Of_Transporter !== "Transport"' id="trans" class="form-control form-control-sm border border-secondary">
                                                    <option value=0>--Select--</option>
                                                    <option *ngFor="let trans of transporterList"
                                                    [value]="trans.transporter_id">
                                                    {{trans.transporter_name}}
                                                </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" id="top">
                                            <div class="col-sm-3">
                                                <label><strong>Carrier Name</strong></label>
                                                <input [(ngModel)]='objRGN.Carrier_Name' id="carrier" maxlength="100" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Coolie</strong></label>
                                                <input [(ngModel)]='objRGN.Coolie' id="coolie" (keypress)="onlyAllowDecimal($event,99999999999.99,'objRGN','Coolie');" class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-3">
                                                <label><strong>Kind Attention</strong></label>
                                                <input [(ngModel)]='objRGN.Kind_Attention' id="kind" maxlength="50" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Docket No</strong></label>
                                                <input [(ngModel)]='objRGN.Docket_No' id="dcno" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                        <div class="row" id="top">
                                            <div class="col-sm-9">
                                                <label><strong>Remarks</strong></label>
                                                <textarea [(ngModel)]='objRGN.Remarks' maxlength="250" id="textarea" rows="1" class="form-control form-control-sm border border-secondary"></textarea>
                                            </div>
                                            <div class="col-sm-3 right">
                                                <div id="top7" class="upload-btn-wrapper">
                                                    <button (click)='openAttachFilesPopup()' class="btn">Attach
                                                        File</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-12" id="right">
                                                <button id="matButton" mat-raised-button (click)='addRGN()' color="primary">{{objAction.isEditing?'Update':'Save'}}</button>&nbsp;
                                                <button id="matButton" mat-raised-button (click)='onClear(false)' color="warn">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="componentVisibility==3" class="view">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">View DC Details</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='componentVisibility=2' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label style="padding-top: 3px"><strong>DC No :</strong></label>
                                            </div>
                                            <div class="col-sm-2">
                                                <input disabled [(ngModel)]='objView.dc_no' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label style="padding-top: 3px"><strong>DC Date :</strong></label>
                                            </div>
                                            <div class="col-sm-2">
                                                <input disabled [(ngModel)]='objView.dc_date' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" id="cardPadding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card" id="top">
                                                <div class="card-body" id="cardPadding">
                                                    <div class="table-scroll" id="tblHeight">
                                                        <table border='1'>
                                                            <thead class="docs-primary-header" style="color:white">
                                                                <tr>
                                                                    <th style="width: 25%;">Byno</th>
                                                                    <!-- <th style="width: 25%;">Purchase Return No</th> -->
                                                                    <th style="width: 25%;">Purchase Return Date</th>
                                                                    <th style="width: 12%;">Return Qty</th>
                                                                    <th style="width: 12%;">Return Pcs</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let data of SupplierDCDetailsList; let i = index">
                                                                    <td id="columnLeft">
                                                                        {{data.byno}}
                                                                    </td>
                                                                    <!-- <td id="columnLeft">
                                                            {{data.purchase_return_no}}
                                                        </td> -->
                                                                    <td id="columnLeft">
                                                                        {{data.purchase_return_date|date:'dd/MM/yyyy'}}
                                                                    </td>
                                                                    <td id="columnRight">
                                                                        {{data.return_qty}}
                                                                    </td>
                                                                    <td id="columnRight">
                                                                        {{data.return_pcs}}
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                            <tfoot *ngIf='!SupplierDCDetailsList || SupplierDCDetailsList.length!==0'>
                                                                <tr>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th id="columnRight">{{getReturnQty() ? getReturnQty(): 0}}</th>
                                                                    <th id="columnRight">{{getReturnPcs() ? getReturnPcs(): 0}}</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="card">
                                        <div class="card-body" id="cardPadding">
                                            <div class="row">
                                                <div class="col-sm-12" id="right">
                                                    <button id="matButton" mat-raised-button (click)='componentVisibility=2' color="warn">Exit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Purchase Return Note List ********************************************** -->
            <div *ngIf="componentVisibility==1" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">RGN - Returned Goods Notes</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.From_Date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" [min]="minDate" [min]="minDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="minimumDate" [(ngModel)]="model1" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="objLoad.From_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.To_Date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [max]="maxDate" [min]="objLoad.From_Date" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="model1" [(ngModel)]="model2" [matDatepicker]="endPicker" placeholder="Choose a date" (dateChange)="objLoad.To_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="endPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #endPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]='objLoad.Section' class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6 right" id="divTop">
                                        <button id="matButton" mat-raised-button (click)='getRGNDetails()' color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="RGN_No">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        RGN No
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.rgn_no}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="RGN_Date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        RGN Date
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.rgn_date|date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.Supplier_Name}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="No_Of_Bales">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        No of Bales
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.bales}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="LR_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        LR No
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.lr_no}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="LR_Amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        LR Amount
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.lr_amount|number :'1.2-2'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)='fetchRGNDetails(element)' matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>