<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** New Product Group Attribute ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Add Product Group Attribute</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Section Name</strong> </label>
                                        <input maxlength="50" disabled autocomplete="off"
                                            [(ngModel)]="objProductAttributes.Group_Section_Name"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Product Group Name</strong> </label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objProductAttributes.product_group_name" id="groupName"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6" id="top">
                                        <label><strong>Attribute Name</strong> </label>
                                        <input maxlength="50" autocomplete="off"
                                            [(ngModel)]="objProductAttributes.attribute_name"
                                            (input)="onEnterAttributeLookupDetails()"
                                            (keyup)="openAttributeGroupLookup($event)" autocomplete="off" id="name"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th>Attribute Value</th>
                                                <th id="headerLast"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of objProductAttributes.attributeValue;let i=index">
                                                <td id="center">{{i+1}}</td>
                                                <td id="columnLeft">
                                                    {{data.attribute_value}}
                                                </td>
                                                <td id="columnCenter">
                                                    <mat-checkbox [(ngModel)]="data.is_selected"></mat-checkbox>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="onSaveModuleDetails()">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)="onClear(false)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Product Group Attributes List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Product Group Attributes</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Section Name</strong></label>
                                        <input disabled maxlength="50" autocomplete="off"
                                            [(ngModel)]="objLoad.Group_Section_Name"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Product Group</strong></label>
                                        <input maxlength="50" autocomplete="off"
                                            [(ngModel)]="objLoad.product_group_name"
                                            (input)="onEnterProductGroupLookupDetails()" id="groupName"
                                            (keyup)="openProductGroupLookup($event)" autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>Description</strong></label>
                                        <input maxlength="50" disabled autocomplete="off"
                                            [(ngModel)]="objLoad.product_group_desc"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Category</strong></label>
                                        <input maxlength="50" disabled autocomplete="off"
                                            [(ngModel)]="objLoad.category_name"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>UOM</strong></label>
                                        <input maxlength="50" disabled autocomplete="off"
                                            [(ngModel)]="objLoad.product_group_uom"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Lifestyle Product</strong></label>
                                        <input maxlength="50" disabled autocomplete="off" [(ngModel)]="objLoad.lsp"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Attribute_Name" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Attribute Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.attribute_name}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Attribute_Value">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Attribute Value
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.attribute_value}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)="onClickDelete(i)" matTooltip="Delete this row"
                                                                id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>