// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 1.5%;
  width: 600px;
}

.list {
  margin-top: 1.5%;
  width: 645px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 22px;
}

#top{
  margin-top:10px;
}

#headerOne{
  width:1%
}

#headerLast{
  width:10%
}

#columnCenter {
  text-align: center;
  padding-bottom: 8px;
}

#center{
text-align:center;
}

.table-scroll {
  height: 300px;
}


// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: left;
  text-align: left;
  border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(4) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  margin-bottom: 0px;
}

#overflow1 {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

// --------------------- Table Css End ------------------- //
