.new {
    margin-top: 7%;
    width: 450px;
}

.list {
    margin-top: 2%;
    width: 685px;
}

.form-control:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
    border-radius: 0px;
  }
  
  .form-control {
    font-size: 12px;
    border-radius: 0px;
    color: black;
  }