<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Mail</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label><strong>To</strong> </label>
                                        <input maxlength="50" autocomplete="off" autocomplete="off" id="to"
                                            [(ngModel)]='objUser.User_Name'
                                            (keyup)='onKeyPressSearch($event)' [matTooltip]="objUser.User_Name"
                                            matTooltipPosition="above" (keypress)='onlyAllowEnterKey($event)'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label><strong>Message</strong> </label>
                                        <textarea id="textarea" rows="4" style="height:auto"
                                            [(ngModel)]='objUser.Message' 
                                            class="form-control form-control-sm border border-secondary">
                                         </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='saveMessages()'
                                            color="primary">Send</button>&nbsp;
                                        <button id="matButton" (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            mat-raised-button color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>