<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Warehouse GatePass Generation********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Warehouse GatePass Generation</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.From_Date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" [min]="minDate" [min]="minDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="minimumDate" [(ngModel)]="model1" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="objLoad.From_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.To_Date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [max]="maxDate" [min]="objLoad.From_Date" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="model1" [(ngModel)]="model2" [matDatepicker]="endPicker" placeholder="Choose a date" (dateChange)="objLoad.To_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="endPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #endPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]="objLoad.Section" class="form-control form-control-sm border border-secondary">

                                    </div>

                                    <div class="col-sm-6" id="divTop">
                                        <button id="matButton" mat-raised-button (click)='getWarehouseGatePass()' color="primary">Load</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">
                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="GatePass_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        GatePass No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.gatepass_title}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="GatePass_Date" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        GatePass Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.gatepass_date|date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_Type" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer Type
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="From_Location">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From Section
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.company_section_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="To_Location">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        To Location
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.destination_wh_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Pieces">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Pieces
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.no_of_pcs}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getPieces()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="No_Of_Bales">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        No Of Bales
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.no_of_bags}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getNoOfBales()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" [disabled]='element.is_edit_flag   || !rights.Update' (click)='fetchWarehouseGatepass(element)' matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" (click)='openDeleteConfirmationDialog(element)' [disabled]=' !element.active || !rights.Delete' matTooltip="Delete this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" (click)='viewWarehouseGatepass(element)' [disabled]='!rights.View' matTooltip="View this row" style="width: 30px;" [matTooltipClass]="' custom-tip '">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" [hidden]="dataSource.data.length === 0">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Warehouse GatePass Generation ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Warehouse GatePass Generation</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3" id="paddingRight">
                                        <label><strong>Type</strong></label>
                                        <select id='type' [(ngModel)]='objWarehouseGatepass.Type' [disabled]='objAction.isView ||objAction.isEditing ' (ngModelChange)='getGoodsTransferType();getGatepassNo();getGatepassToLocation();objWarehouseGatepass.Transfer_Details=[]' class="form-control form-control-sm border border-secondary">
                                            <option disabled value="">--Select--</option>
                                            <option *ngFor="let data of typeList" [value]="data.transfer_flag">
                                                {{data.transfer_name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3" id="paddingRight">
                                        <label><strong>Goods Transfer Type</strong></label>
                                        <select id="goodsTransferType" [(ngModel)]='objWarehouseGatepass.GoodsTransfer_Type' [disabled]='objAction.isView || objWarehouseGatepass.Type !== "T"||objAction.isEditing' (ngModelChange)='getGatepassToLocation();objWarehouseGatepass.Transfer_Details=[]'
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value="">--Select-- </option>
                                            <option *ngFor="let data1 of goodsTransferTypeList"
                                                [value]="data1.goods_transfer_flag">
                                                {{data1.goods_transfer_type}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3" id="paddingRight">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]='objWarehouseGatepass.Section' class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>GatePass No</strong></label>
                                        <input disabled [(ngModel)]='objWarehouseGatepass.GatePass_No' class="form-control form-control-sm border border-secondary">
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3" id="paddingRight">
                                        <label><strong>GatePass Date</strong></label>
                                        <input disabled [(ngModel)]='objWarehouseGatepass.GatePass_Date' class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-3" id="paddingRight">
                                        <label><strong>To Location</strong></label>
                                        <select id="toLocation" [(ngModel)]='objWarehouseGatepass.To_Location' [disabled]='objAction.isView||objAction.isEditing' (focus)='beforeSelectToLocation()' (ngModelChange)='getGatepassTowarehouse();objWarehouseGatepass.Transfer_Details=[]' class="form-control form-control-sm border border-secondary">
                                            <option disabled value="">--Select-- </option>
                                            <option *ngFor="let data of locationList" [value]="data.sales_location_id">
                                                {{data.sales_location_name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label><strong>To Warehouse</strong></label>
                                        <select id="toWarehouse" [(ngModel)]='objWarehouseGatepass.To_Warehouse' [disabled]='objAction.isView||objAction.isEditing' 
                                        (ngModelChange)='getTransferDetails();objWarehouseGatepass.Transfer_Details=[]' (focus)='beforeSelectTowarehouse();' class="form-control form-control-sm border border-secondary">
                                            <option disabled value="">--Select-- </option>
                                            <option *ngFor="let data of toWarehouseList" [value]="data.warehouse_id">
                                                {{data.wh_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th> </th>
                                                        <th>Transfer No</th>
                                                        <th>Transfer Date</th>
                                                        <th>Transfer Pcs</th>
                                                        <th>Sale Value</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let transfer of objWarehouseGatepass.Transfer_Details;let i=index">
                                                        <td id="columnCenter">{{i+1}}</td>
                                                        <td id="columnCenter"><input [disabled]='objAction.isView' #check [(ngModel)]='transfer.checkFlag' (ngModelChange)='onAddCheckValue(i)' type="checkbox" style="margin-top:5px;padding-left: 5px;" /></td>
                                                        <td id="columnLeft">{{transfer.transfer_id}}</td>
                                                        <td id="columnLeft">{{transfer.transfer_date|date:'dd/MM/yyyy'}} </td>
                                                        <td id="columnRight">{{transfer.transfer_pcs}}</td>
                                                        <td id="columnRight">{{transfer.sale_value|number :'1.2-2'}}</td>

                                                    </tr>
                                                </tbody>
                                                <tfoot *ngIf='objWarehouseGatepass.Transfer_Details.length!==0'>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th id="columnRight">{{getTransferPcs() ? getTransferPcs(): 0}}</th>
                                                        <th id="columnRight">{{getSaleValue() ? getSaleValue() : 0}}</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>To</strong></label>
                                        <input [(ngModel)]='objWarehouseGatepass.To' [disabled]='objAction.isView' maxlength="30" class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-4">
                                        <label><strong>DC No</strong></label>
                                        <input disabled [(ngModel)]='objWarehouseGatepass.DC_No' class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-4">
                                        <label><strong>No Of Bales</strong></label>
                                        <input [(ngModel)]='objWarehouseGatepass.No_Of_Bales' [disabled]='objAction.isView' id="noofbales" onCopy="return false" onDrag="return false" onDrop="return false" maxlength="5" onPaste="return false" (input)='_keyPressEvents.onlyAllowNumbers($event)'
                                            class="form-control form-control-sm border border-secondary">
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-8">
                                        <label><strong>Remarks</strong></label>
                                        <textarea id="textarea" maxlength="100" [disabled]='objAction.isView' [(ngModel)]='objWarehouseGatepass.Remarks' rows="1" class="form-control form-control-sm border border-secondary">
                              </textarea>
                                    </div>
                                    <div class="col-sm-4 right" id="divTop">
                                        <button *ngIf='objAction.isView==false' id="matButton" mat-raised-button (click)="addWarehouseGatepass()" color="primary">{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                                        <button *ngIf='objAction.isView==false' id="matButton" mat-raised-button (click)="onClear(false)" color="warn">Clear</button>
                                        <button *ngIf='objAction.isView==true' id="matButton" mat-raised-button (click)='onListClick()' color="warn">Exit</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>