<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">New Supplier - Bank Details</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div>
                    <label><strong>Bank Name</strong> </label>
                    <input id="bank" maxlength="50" [(ngModel)]="objSupplierBank.bank_name"
                        class="form-control form-control-sm border border-secondary" />
                </div>
                <div id="top">
                    <label><strong>A/C No</strong> </label>
                    <input id="accountNo" maxlength="30" [(ngModel)]="objSupplierBank.supplier_account_no" 
                     (input)="_keyPressEvents.onlyAllowNumbers($event)" class="form-control form-control-sm border border-secondary" />
                </div>
                <div id="top">
                    <label><strong>IFSC Code</strong> </label>
                    <input id="ifsc" maxlength="20" [(ngModel)]="objSupplierBank.ifsc_code"
                        class="form-control form-control-sm border border-secondary" />
                </div>
                <div id="top">
                    <label><strong>Branch Name</strong> </label>
                    <input id="branch" maxlength="20" [(ngModel)]="objSupplierBank.branch_name"
                        class="form-control form-control-sm border border-secondary" />
                </div>
            </div>
        </div> <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="upload-btn-wrapper">
                            <button class="btn" *ngIf="objSupplierBank.bank_name === ''"
                                (click)="openAttachFilesPopup()">Attach File</button>
                            <input #file id="file-input" hidden accept="image/*" type="file" />

                            <button class="btn" id="uploaddocument"
                                *ngIf="objSupplierBank.bank_name !== ''"
                                (click)="openAttachFilesPopup()">Attach File</button>
                            <input #file id="file-input" hidden accept="image/*" type="file" />
                        </div>
                    </div>
                    <div class="col-sm-7" id="right">
                        <button id="matButton" mat-raised-button color="primary" (click)="addBanKDetails()">{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" 
                            (click)="onClear()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>