<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Size and Product</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="table-scroll">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerOne">S.No</th>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Product Code</th>
                                <th>Attributes</th>
                                <th>HSN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="columnCenter">1</td>
                                <td>
                                    <input class="form-control form-control-sm inputBox" />
                                </td>
                                <td>
                                    <input class="form-control form-control-sm inputBox" />
                                </td>
                                <td>
                                    <input class="form-control form-control-sm inputBox" />
                                </td>
                                <td>
                                    <input class="form-control form-control-sm inputBox" />
                                </td>
                                <td>
                                    <input class="form-control form-control-sm inputBox" />
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12 right">
                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>