<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** New  Godown To Counter ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">
                                    {{ !objAction.isEditing ? 'New Counter To Godown' : 'Edit Counter To Godown' }}
                                </div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='resetScreen(true)' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Transfer No</strong></label>
                                        <input disabled [(ngModel)]='objGodownToCounter.Transfer_No'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Transfer Date</strong></label>
                                        <input disabled [(ngModel)]='objGodownToCounter.Transfer_Date'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>From Store</strong></label>
                                        <input disabled [disabled]='objEditableGrid.flags.isDisable'
                                            [(ngModel)]='objGodownToCounter.From_Store'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>From Section</strong></label>
                                        <input disabled [(ngModel)]='objGodownToCounter.From_Section'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>To Warehouse</strong></label>
                                        <!-- <input disabled [(ngModel)]='objGodownToCounter.To_Warehouse' class="form-control form-control-sm border border-secondary" /> -->
                                        <select id="Warehouse" [disabled]='objEditableGrid.flags.isDisable'
                                            [(ngModel)]='objGodownToCounter.To_Warehouse'
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value="">--Select--</option>
                                            <option *ngFor="let data1 of locationList" [value]="data1.warehouse_id">
                                                {{data1.wh_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <app-editable-grid *ngIf="showTable === true" [value]="objEditableGrid"></app-editable-grid>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row" id="remarkstop">
                                            <div class="col-sm-1" id="remarksTop">
                                                <label><strong>Remarks</strong></label>
                                            </div>
                                            <div class="col-sm-11" id="inputTop">
                                                <textarea id="textarea" rows="1" maxlength="200"
                                                    class="form-control form-control-sm border border-secondary">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-6">
                                        <button *ngIf='section_id==15' id="labelButton" mat-flat-button>
                                            <mat-icon id="iRed">stop</mat-icon>Image Not Captured
                                        </button>
                                    </div> -->
                                    <!-- <div class="col-sm-4" id="right">
                                        <label id="hide">Total Pieces : <span id="bold">{{getProductPcs()}}</span></label>
                                    </div> -->
                                    <div class="col-sm-4" id="right">
                                        <button id="matButton" mat-raised-button
                                            *ngIf='!objEditableGrid.flags.isDisable' color="primary"
                                            (click)="addGoods()">{{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            *ngIf='!objEditableGrid.flags.isDisable' color="warn"
                                            (click)="resetScreen(false)">Clear</button>
                                        <button id="matButton" mat-raised-button *ngIf='objEditableGrid.flags.isDisable'
                                            color="warn" (click)="onListClick()">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Godown To Counter List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Counter To Godown Transfer List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [disabled]="!rights.Add" (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.From_Date"
                                                (ngModelChange)='matTableConfig([])' #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [min]="minDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="minimumDate"
                                                [(ngModel)]="model1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="objLoad.From_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                        <div id="top1">
                                            <label><strong>To Date</strong></label>
                                            <mat-form-field appearance="outline" id="matDate"
                                                class="example-full-width">
                                                <input matInput id="toDate" [(ngModel)]="objLoad.To_Date"
                                                    (ngModelChange)='matTableConfig([])' #autocomplete
                                                    (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                    [max]="maxDate" [min]="objLoad.From_Date"
                                                    (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                                <input type="hidden" [max]="maximumDate" [min]="model1"
                                                    [(ngModel)]="model2" [matDatepicker]="endPicker"
                                                    placeholder="Choose a date"
                                                    (dateChange)="objLoad.To_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                                <mat-datepicker-toggle matSuffix [for]="endPicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #endPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>From Store</strong></label>
                                        <input disabled [(ngModel)]='objLoad.From_Store'
                                            class="form-control form-control-sm border border-secondary" />
                                        <div id="top">
                                            <label><strong>To Warehouse</strong></label>
                                            <select id="Warehouse" [(ngModel)]='objLoad.To_Warehouse'
                                                (ngModelChange)='matTableConfig([])'
                                                class="form-control form-control-sm border border-secondary">
                                                <option disabled value="">--Select--</option>
                                                <option *ngFor="let data1 of locationList" [value]="data1.warehouse_id">
                                                    {{data1.wh_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]='objLoad.Section'
                                            class="form-control form-control-sm border border-secondary" />
                                        <div id="top">
                                            <label><strong>Status</strong></label>
                                            <select [(ngModel)]='objLoad.Status' (ngModelChange)='matTableConfig([])'
                                                class="form-control form-control-sm border border-secondary">
                                                <option value="ALL">All</option>
                                                <option value="Received">Received</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Cancelled">Cancelled</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5" id="divTop">
                                        <br>
                                        <br>
                                        <button id="matButton" mat-raised-button (click)='getGoods()'
                                            color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false ,'green': element.approved === true }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false ,'green': element.approved === true }">
                                                            {{element.transfer_id}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{dataSource.data.length}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_Date" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false ,'green': element.approved === true }">
                                                            {{element.transfer_date|date:'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="From">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false ,'green': element.approved === true }">
                                                            {{element.source_name}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="To">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        To
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false ,'green': element.approved === true }">
                                                            {{element.destination_name}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_Pcs">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer Pcs
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false ,'green': element.approved === true }">
                                                            {{element.transfer_pcs}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getProductPcs()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Selling_Price">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Selling Price
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.active === false ,'green': element.approved === true }">
                                                            {{element.selling_price| number:'1.2-2'}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef> {{getSellingPrice()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                [disabled]='element.data_transferred || element.acknowledged || element.approved || !element.active || !rights.Update'
                                                                (click)='fetchGoods(element)' matTooltip="Edit this row"
                                                                id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)='openDeleteConfirmationDialog(element)'
                                                                [disabled]='element.data_transferred || element.acknowledged || element.approved || !element.active || !rights.Delete'
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)='viewGoods(element)' [disabled]='!rights.View'
                                                                matTooltip="View this row" style="width: 30px;"
                                                                [matTooltipClass]="' custom-tip '">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                            (click)='generateReport(element,false)'
                                                            matTooltip="Print this row" id="iconTableButton"
                                                            [matTooltipClass]="'custom-tip'">
                                                            <mat-icon aria-label="Print this row" class="f-14">
                                                                local_printshop
                                                            </mat-icon>
                                                        </button>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"
                                                    [hidden]="dataSource.data.length === 0">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">                                    
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()]) '
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->

<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>