// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 1.5%;
    width: 1250px;
}

.list {
    margin-top: 1.5%;
    width: 1157px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 20px;
}

#top {
    margin-top: 10px;
}

#divTop {
    margin-top: 52px;
    text-align: right;
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 27px;
    width: 24px;
}

#bold {
    font-weight: bold;
    color: black;
}

#hide {
    text-decoration: none;
    padding-top: 8px;
}

#top1 {
    margin-top: 15px;
}

#remarksTop {
    padding-top: 6px;
}

#inputTop {
    padding-top: 2px;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 124px;
    width: 124px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 124px;
    width: 124px;
    display: flex;
    justify-content: center;
    text-align: center;
}

// --------------------- Table Css End ------------------- //

.mat-table-fixed mat-footer-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(4) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(5) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(6) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.mat-table-fixed mat-footer-cell:nth-child(7) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-footer-cell:nth-child(8) {
    min-width: 124px;
    width: 124px;
    display: flex;
    justify-content: center;
    text-align: center;
}

// --------------------- Table Css End ------------------- //
