// --------------------- Screen Based CSS Start ------------------- //
.list {
    margin-top: 1%;
    width: 950px;
}

#hide {
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px;
}

#headerOne {
    width: 1%;
}

#headerLast {
    width: 5%;
}

#columnCenter {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

#divAdjus {
    padding-top: 25px;
    margin-bottom: -5px;
}

#headerTwo {
    width: 16%;
}

#headerThree {
    width: 24%;
}

#headerlast {
    width: 21%;
}

#headerFour {
    width: 10%;
}

#headerTr {
    width: 11%;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5px;
    height: 24px;
}

#tdPrice {
    text-align: right;
    padding-right: 5px;
}

#tdCounter {
    text-align: left;
    padding-left: 5px;
}

#tdbyno {
    text-align: left;
    padding-left: 5px;
}

// --------------------- Screen Based CSS End ------------------- //