<div class="card" (keypress)="determineEnterKey($event)" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Employee Search</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="dialogClose()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" id="cardPadding">
        <input id="searchInput" cdkFocusInitial [(ngModel)]="_data.searchString"
            (keyup)="searchEmployee(_data.searchString, $event)" autocomplete="off" placeholder="Search For Employee"
            class="form-control form-control-sm">
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12">
                        <label style="font-weight: bold;margin-bottom:0px">Include Resigned Employees</label>
                        &nbsp;&nbsp;<mat-checkbox [(ngModel)]="employeeLookupFil.Resigned"
                            (ngModelChange)="getEmployeeList(employeeLookupFil.For)">
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="table-scroll">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                            </tr>
                        </thead>
                        <tbody (keypress)="determineEnterKey($event)">
                            <tr *ngFor="let employee of filterdEmployeeList; let i = index" id='row{{i}}'
                                (keypress)="onClick(employee,$event)" (dblclick)='onDoubleClick(employee)'
                                (click)="selectedRowIndex = i" [ngClass]="{ highlight: selectedRowIndex == i }">
                                <td id="columnLeft">{{ employee.Employee_Code }}</td>
                                <td id="columnLeft">{{ employee.Employee_Name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button (click)="dialogOK()"
                            color="primary">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>