// --------------------- Screen Based CSS Start ------------------- //

.table-scroll td {
    padding: 4px;
    border: 0.5px solid lightgray;
    background-color: white;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
}


// --------------------- Screen Based CSS End ------------------- //