<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** New Product Group ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">New Product Group</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div>
                                                    <label><strong>Product Group Name</strong><sup
                                                            id="sup">*</sup></label>
                                                    <input maxlength="50" id='productGroup' autocomplete="off"
                                                        [(ngModel)]='objProductGroup.product_group_name'
                                                        class="form-control form-control-sm border border-secondary" />
                                                </div>
                                                <div id="top">
                                                    <label><strong>Description</strong></label>
                                                    <textarea maxlength="100" rows="3" id='productDesc' autocomplete="off"
                                                    [(ngModel)]='objProductGroup.product_group_desc'
                                                    class="form-control form-control-sm border border-secondary">
                                                    </textarea>
                                                    <!-- <input maxlength="50" id='productDesc' autocomplete="off"
                                                        [(ngModel)]='objProductGroup.product_group_desc'
                                                        class="form-control form-control-sm border border-secondary" /> -->
                                                </div>
                                                <div class="row" id="top">
                                                    <div class="col-sm-5">
                                                        <label><strong>UOM</strong></label>
                                                        <div class="form-group" id="radioGroup">
                                                            <mat-radio-group
                                                                [(ngModel)]="objProductGroup.product_group_uom">
                                                                <mat-radio-button id='uom' [value]=1>Nos
                                                                </mat-radio-button>&nbsp;&nbsp;&nbsp;
                                                                <mat-radio-button [value]=2>Mts
                                                                </mat-radio-button>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <label><strong>Category</strong></label>
                                                        <select id='category' [(ngModel)]='objProductGroup.category_id'
                                                            class="form-control form-control-sm border border-secondary">
                                                            <option disabled [value]=0>--Select--</option>
                                                            <option *ngFor='let category of categoriesList'
                                                                [value]='category.Category_Id'>
                                                                {{category.Category_Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row" id="top">
                                                    <div class="col-sm-5">
                                                        <mat-checkbox id='uniqueByNo'
                                                            [(ngModel)]='objProductGroup.unique_byno_prod_serial'>Unique
                                                            Byno Serial
                                                        </mat-checkbox>
                                                    </div>
                                                    <!-- <div class="col-sm-7">
                                                        <mat-checkbox id='lsp' [(ngModel)]='objProductGroup.lsp'>
                                                            Lifestyle
                                                            Product</mat-checkbox>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5" id="paddingLeft">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th>Section Name<sup id="sup">*</sup></th>
                                                        <th>Select</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of groupSectionsList;let i = index">
                                                        <td id="columnLeft">
                                                            {{data.Group_Section_Name}}
                                                        </td>
                                                        <td id="columnCenter">
                                                            <mat-checkbox [(ngModel)]='data.checked'
                                                                (change)='onChangeSectionSelection($event,i)'>
                                                            </mat-checkbox>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)='addProductGroups()'>{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='onClear(false)'>Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Product Group List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Product Groups</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Section Name</strong></label>
                                        <input [(ngModel)]='objLoad.group_section_name' maxlength="50" disabled
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Group_Name" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Group Name<button id="buttonTop" mat-icon-button
                                                            [satPopoverAnchor]="NoFilter"
                                                            (click)="$event.stopPropagation(); NoFilter.toggle();"
                                                            color="secondary" class="Filter-icon">
                                                            <mat-icon aria-label="Filter">arrow_drop_down
                                                            </mat-icon>
                                                        </button> &nbsp;
                                                        <sat-popover #NoFilter horizontalAlign="center"
                                                            verticalAlign="above" closeTransition="500ms ease-out">
                                                            <div class="info-wrapper satPop">
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <mat-form-field class="w-100">
                                                                            <input matInput
                                                                                (keyup)="GroupNameFilter($event.target.value, $event)"
                                                                                placeholder='Search' type="text"
                                                                                name="filter">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-sm-3" id="satTop">
                                                                        <mat-button-toggle-group id="group"
                                                                            #group="matButtonToggleGroup">
                                                                            <mat-button-toggle color="primary"
                                                                                (click)='$event.stopPropagation(); NoFilter.toggle();'
                                                                                id="iButton">
                                                                                <mat-icon id="iconButton">
                                                                                    clear
                                                                                </mat-icon>
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </sat-popover>
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.product_group_name"
                                                    matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            {{element.product_group_name}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Description" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Description
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.product_group_desc"
                                                    matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                    <div id="overflow1">
                                                        {{element.product_group_desc}}
                                                    </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Category">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Category
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.category_name}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="UOM">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        UOM
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.product_group_uom === 1 ? 'Nos' : 'Mts'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Unique_Byno">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Unique Byno
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.unique_byno_prod_serial ? 'Yes' : 'No'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Lifestyle">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Lifestyle
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.lsp ? 'Yes' : 'No'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Active">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Active
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.active ? 'Yes' : 'No'}}
                                                    </mat-cell>
                                                </ng-container>


                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                [disabled]='!element.active'
                                                                (click)='modifyProductGroups(i)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                [disabled]='!element.active' (click)='onClickDelete(i)'
                                                                matTooltip="Deactivate this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Deactivate this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)="onClickActive(i)"
                                                                matTooltip="Activate this row" id="iconTableButton"
                                                                [disabled]="element.active"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Activate this row" class="f-14">
                                                                    check_circle
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>