// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 3%;
  width: 800px;
}

.list {
  margin-top: 2%;
  width: 1280px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 22px;
}

#top {
  margin-top: 17.8px;
}

#top2 {
  margin-top: 5px;
}

.table-scroll {
  height: 287px;
}

#columnCenter {
  text-align: center;
  padding-bottom: 6px;
}

#productDesc{
  height:69px;
  resize: none;
}

// --------------------- Screen Based CSS End ------------------- //


// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
  min-width: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
  min-width: 230px;
  width: 230px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
  min-width: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(9) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
  min-width: 240px;
  width: 240px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
  min-width: 230px;
  width: 230px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
  min-width: 150px;
  width: 150px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(7) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(8) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: left;
  text-align: left;
  border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(9) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px;
  margin-bottom: 0px;
}

#overflow1 {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 230px;
  margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

// --------------------- Table Css End ------------------- //