<br>
<div class="true">

    <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.gt-sm="60" class="flex-p">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2 id="h2">Total Bales Received</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayoutAlign="space-between center">
                        <mat-checkbox color="primary" class="example-margin" [checked]="explodeSlices"
                            (change)="explodeSlices = !explodeSlices">Explode Slices</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin" [checked]="showLabels"
                            (change)="showLabels = !showLabels">Show Labels</mat-checkbox>
                    </div>
                    <div class="w-100 h-300p">
                        <ngx-charts-pie-chart [scheme]="colorScheme3" [results]="totalBalesData" [legend]="showLegend"
                            [legendTitle]="legendTitle" [explodeSlices]="explodeSlices" [labels]="showLabels"
                            [doughnut]="doughnut" [gradient]="gradient">
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="40" class="flex-p">
            <mat-card class="custom-card">
                <mat-card-header class="docs-primary-header p-2" fxLayoutAlign="space-between center">
                    <mat-card-title class="m-0">
                        <h5 style="margin-bottom: 0px;color:white">Info Board</h5>
                    </mat-card-title>
                    <button mat-icon-button>
                        <mat-icon style="color: white;">more_vert</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <div perfectScrollbar class="todo-list">
                        <mat-list>
                            <mat-list-item *ngFor="let item of infoBoardData">
                                <mat-icon style="font-size: 10px;height: 10px;" mat-list-icon>lens</mat-icon>
                                <span style="font-size:14px" class="text-truncate">{{ item.value }}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2 id="h2">Inward Bales</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="w-100 h-300p">
                        <ngx-charts-bar-vertical-2d [scheme]="colorScheme4" [results]="inwardBalesData"
                            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legendTitle]="legendTitle"
                            [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                        </ngx-charts-bar-vertical-2d>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2 id="h2">Outward Bales</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="w-100 h-300p">
                        <ngx-charts-bar-vertical-2d [scheme]="colorScheme4" [results]="outwardBalesData"
                            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legendTitle]="legendTitle"
                            [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                        </ngx-charts-bar-vertical-2d>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2 id="h2">Goods Transfer</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="w-100 h-300p">
                        <ngx-charts-bar-vertical-2d [scheme]="colorScheme4" [results]="goodTransferData"
                            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                            [legendTitle]="legendTitle" [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="yAxisLabel" [yAxisLabel]="xAxisLabel">
                        </ngx-charts-bar-vertical-2d>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2 id="h2">Bale Stock</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="w-100 h-300p">
                        <ngx-charts-bar-vertical-2d [scheme]="colorScheme4" [results]="balesStockData"
                            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legendTitle]="legendTitle"
                            [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                        </ngx-charts-bar-vertical-2d>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

</div>

<div class="false">

</div>