// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 2%;
    width: 1220px;
}

.list {
    margin-top: 2%;
    width: 894px;
}

#viewCard {
    height: 154px;
    overflow-y: auto;
    overflow-x: hidden;
}

#sectionLabel{
    margin-top: 6px;
    margin-bottom: 2px;
}

#labelAdjus {
    margin-bottom: 0px;
    padding-top: 3px;
}

#headerCounter{
    width: 207px;
}

#columnCenter{
    height: 24px;
}

// --------------------- Table Css End ------------------- //
