<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Godown Stock Scanning ********************************************** -->
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Stock Variation</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label id="sectionLabel"><strong>Section</strong></label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <select
                                                            class="form-control form-control-sm border border-secondary">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="top">
                                    <div class="card">
                                        <div class="card-body" id="cardPadding">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div>
                                                                <label id="labelAdjus"><strong>Product
                                                                        Group</strong></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 right">
                                                            <mat-checkbox>
                                                                Select All
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                    <div class="card" id="viewCard">
                                                        <div class="card-body" id="cardPadding">
                                                            <div class="group">
                                                                <mat-checkbox>
                                                                    Accessories
                                                                </mat-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div>
                                                                <label id="labelAdjus"><strong>Product</strong></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 right">
                                                            <mat-checkbox>
                                                                Select All
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                    <div class="card" id="viewCard">
                                                        <div class="card-body" id="cardPadding">
                                                            <div class="group">
                                                                <mat-checkbox>Hair Clip
                                                                </mat-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div> <br>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div>
                                                                <label id="labelAdjus"><strong>Counter</strong></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 right">
                                                            <mat-checkbox>
                                                                Select All
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                    <div class="card" id="viewCard">
                                                        <div class="card-body" id="cardPadding">
                                                            <div class="group">
                                                                <mat-checkbox>
                                                                </mat-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div>
                                                                <label id="labelAdjus"><strong>Brand</strong></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 right">
                                                            <mat-checkbox>
                                                                Select All
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                    <div class="card" id="viewCard">
                                                        <div class="card-body" id="cardPadding">
                                                            <div class="group">
                                                                <mat-checkbox>Stoln
                                                                </mat-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-7">
                                <div>
                                    <div class="card">
                                        <div class="card-body" id="cardPadding">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <label id="sectionLabel"><strong>Group By</strong></label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <select
                                                                class="form-control form-control-sm border border-secondary">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 right">
                                                    <button id="matButton" mat-raised-button
                                                        color="primary">Load</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll" id="ediTable">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerCounter">Counter</th>
                                                        <th>Physical Qty</th>
                                                        <th>System Qty</th>
                                                        <th>Variation Qty
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="columnCenter">1</td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-12 right">
                                                <button id="matButton" mat-raised-button
                                                color="primary">All Variation Qty</button>&nbsp;
                                                <button id="matButton" mat-raised-button
                                                    (click)='_router.navigate([_localStorage.getMenuPath()])'
                                                    color="warn">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>