// --------------------- Screen Based CSS Start ------------------- //
.new {
    margin-top: 1%;
    width: 1150px;
}

.list {
    margin-top: 1.5%;
    width: 847px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 20px;
}

#editTable {
    height: 151px;
}

#checkTop {
    text-align: center;
    margin-top: 3px;
}

#headerByno {
    width: 12%;
}

#headerImage {
    width: 12%;
}

#headerLast {
    width: 10%;
}

#tdDate {
    padding-left: 5px;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 195px;
}

#columnCenter {
    height: 25px;
}

#SupplierinvoiceAmount {
    text-align: right;
}

// --------------------- Screen Based CSS End ------------------- //
// --------------------- Table Css Start ------------------- //
.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 314px;
    width: 314px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 314px;
    width: 314px;
    display: flex;
    justify-content: left;
    text-align: left;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-right: 0px;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-footer-cell:nth-child(4) {
    min-width: 314px;
    width: 314px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.mat-table-fixed mat-footer-cell:nth-child(5) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.mat-table-fixed mat-footer-cell:nth-child(6) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: left;
    text-align: left;
    border-left: 0px;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px;
    margin-bottom: 0px;
}

#overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

#headerCheckbox {
    width: 13%;
}

// --------------------- Table Css End ------------------- //