<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Work Order Receipt********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Work Order Invoice List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.From_Date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" [min]="minDate" [min]="minDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="minimumDate" [(ngModel)]="model1" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="objLoad.From_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.To_Date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [max]="maxDate" [min]="objLoad.From_Date" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="model1" [(ngModel)]="model2" [matDatepicker]="endPicker" placeholder="Choose a date" (dateChange)="objLoad.To_Date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="endPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #endPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input id="supplierCode" [(ngModel)]="objLoad.supplier_code" (keyup)='openNewSupplierLookup($event);' (input)='onEnterNewSupplierLookupDetails()' autocomplete="off" (focusout)='checkValidSupplierCode($event,"newSupplier")' (ngModelChange)="matTableConfig([])"
                                            maxlength="10" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input id="supplierName" [(ngModel)]="objLoad.supplier_name" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Transfer Type</strong></label>
                                        <select id="Transfer" [(ngModel)]="objLoad.transfer_type" (ngModelChange)="matTableConfig([])" class="form-control form-control-sm border border-secondary">
                                            <option value="">---Select---</option>
                                            <option *ngFor="let type of WorkOrderIssueEntryGridList"
                                                [value]="type.transfer_flag">
                                                {{type.transfer_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-9 right" id="divTop">
                                        <button id="matButton" (click)="getWorkOrderReceiptList()" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.wo_receipt_id}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Receipt Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.wo_receipt_date|date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.account_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>Total
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Quantity">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.quantity}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{calculation()}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)='fetchWorkOrderReceipt(element.wo_receipt_id)' matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" (click)='viewWorkOrderReceipt(element.wo_receipt_id)' matTooltip="View this row" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    visibility
                                                                </mat-icon>
                                                            </button>
                                                            <!-- <button mat-icon-button color="primary"
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button> -->
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" [hidden]="dataSource.data.length === 0">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Work Order Receipt********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Work Order Invoice</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label><strong>Transfer Type</strong></label>
                                                <select id="Transfer_Type" [(ngModel)]="objWorkOrderInvoice.transfer_type" [disabled]='objAction.isView' (ngModelChange)='gePendindSupplierLookup()' class="form-control form-control-sm border border-secondary">
                                                    <option value="">--Select--</option>
                                                    <option *ngFor="let type of WorkOrderIssueEntryGridList"
                                                        [value]="type.transfer_flag">
                                                        {{type.transfer_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label><strong>Inv Supplier Code</strong></label>
                                                <input id="received_from" [(ngModel)]="objWorkOrderInvoice.received_from" [disabled]='objAction.isView' (keyup)='openReceivedFormLookups($event);' (input)='onEnterNewSupplierReceivedFormLookupDetail()' (keypress)='beforPendingSupplierCodeValidation();'
                                                    autocomplete="off" (focusout)='checkValidSupplierCodes($event,"newSupplier")' (ngModelChange)="matTableConfig([])" maxlength="10" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label><strong>Inv Supplier Name</strong></label>
                                                <input disabled [(ngModel)]='objWorkOrderInvoice.supplier_name' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                        <div class="row" id="top">
                                            <div class="col-sm-4">
                                                <label><strong>Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input [(ngModel)]='objWorkOrderInvoice.Date' [disabled]='objAction.isView' readonly (click)="picker1.open()" matInput [matDatepicker]="picker1">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col-sm-3">
                                                <label><strong>Inv Supplier Code</strong></label>
                                                <input id="inv_supplier_code" [(ngModel)]="objWorkOrderInvoice.inv_supplier_code" (keyup)='openNewSupplierLookups($event);' (input)='onEnterNewSupplierLookupDetail()' autocomplete="off" (focusout)='checkValidSupplierCodes($event,"newSupplier")' (ngModelChange)="matTableConfig([])"
                                                    maxlength="10" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Inv Supplier Name</strong></label>
                                                <input disabled [(ngModel)]="objWorkOrderInvoice.inv_supplier_name" class="form-control form-control-sm border border-secondary" />
                                            </div> -->
                                            <div class="col-sm-4">
                                                <label><strong>Supplier Invoice No</strong></label>
                                                <input id="Supplier_invoice_no" [disabled]='objAction.isView' [(ngModel)]="objWorkOrderInvoice.Supplier_invoice_no" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label><strong>Supplier Invoice Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input [(ngModel)]="objWorkOrderInvoice.Supplier_invoice_Date" [disabled]='objAction.isView' (click)="picker.open()" readonly matInput [matDatepicker]="picker">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row" id="top">
                                            <!-- <div class="col-sm-3">
                                                <label><strong>Supplier Invoice No</strong></label>
                                                <input id="Supplier_invoice_no" [(ngModel)]="objWorkOrderInvoice.Supplier_invoice_no" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Supplier Invoice Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input [(ngModel)]="objWorkOrderInvoice.Supplier_invoice_Date" (click)="picker.open()" readonly matInput [matDatepicker]="picker">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div> -->
                                            <!-- <div class="col-sm-6">
                                                <label><strong>Supplier Invoice Amount</strong></label>
                                                <input id="SupplierinvoiceAmount" [(ngModel)]="objWorkOrderInvoice.Supplier_invoice_Amount" (focusout)="convertTotalsToDecimal('')" (click)='$event.target.select()' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" onDrop="return false"
                                                    onPaste="return false" (keypress)="onlyAllowDecimal($event,999999.99,'objWorkOrderInvoice','Supplier_invoice_Amount')" class="form-control form-control-sm border border-secondary" />
                                            </div> -->
                                            <!-- <div class="col-sm-6 right" id="divTop">
                                                <button id="matButton" mat-raised-button (click)="getWorkOrderIssueEntryGridList()" color="primary">Load</button>
                                            </div> -->
                                            <div class='col-sm-12'>
                                                <mat-checkbox [(ngModel)]='isComposite' [disabled]='objAction.isView' (ngModelChange)='disableTaxableColumns()'>
                                                    Composite</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll" id="editTable">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <!-- <th id="headerOne">S.No</th> -->
                                                        <th id="headerLast">WO Issued No</th>
                                                        <th id="headerImage">Date</th>
                                                        <th id="headerLast">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of workOrderNoList;let i= index;'>
                                                        <!-- <td id="columnCenter">{{i+1}}</td> -->

                                                        <td id="tdDate" #check>{{data.wo_issue_id}}
                                                        </td>
                                                        <td id="tdDate">{{data.wo_issue_date |date:'dd/MM/yyyy'}}
                                                        </td>

                                                        <td id="columnCenter">
                                                            <label (click)="openBynoDialog(data)" id="hide"><strong>Select
                                                                    Byno</strong></label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Work Order No</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerOne">Image</th>
                                                        <th>Description</th>
                                                        <th id="headerLast">Stone Type</th>
                                                        <th id="headerLast">Stone Qty</th>
                                                        <th id="headerByno">Taxable Value</th>
                                                        <th id="headerByno">HSN</th>
                                                        <th *ngIf='!isIgst && !isComposite' id="headerByno">CSGT</th>
                                                        <th *ngIf='!isIgst && !isComposite' id="headerByno">SGST</th>
                                                        <th *ngIf='isIgst && !isComposite' id="headerByno">IGST</th>
                                                        <th id="headerLast">Total</th>
                                                        <th id="headerByno">Customer Charge</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data1 of workOrderIssueDetailsList;let i= index;'>
                                                        <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 0)">{{i+1}}</td>
                                                        <td id="columnLeft" (keyup)="onKeyFocusGlobal($event, i, 1)">{{data1.work_order_no}}</td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 2)"><input #byno disabled [(ngModel)]="data1.byno" class="form-control form-control-sm inputBox"></td>
                                                        <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                            <sat-popover #image horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <img id="bynoImgae" type="file" height="100px" width="100px" [src]="'assets\\images\\common\\empty-photo.jpg'" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="bynoImgae" #bynoImgae [satPopoverAnchor]="image" (mouseover)="image.open()" (mouseleave)="image.close()" height="24px" width="32px" type="file" [src]="'assets\\images\\common\\empty-photo.jpg'">
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 4)"><input #desc disabled [(ngModel)]="data1.description" class="form-control form-control-sm inputBox"></td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 5)"><input #stonetype disabled [(ngModel)]="data1.stone_type" class="form-control form-control-sm inputBox"></td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 6)"><input #stoneqty disabled [(ngModel)]="data1.stone_qty" class="form-control form-control-sm inputBox"></td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 7)"><input id="columnRight" #taxablevalue disabled (click)='$event.target.select()' (input)='calculateTaxableValue(i)' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" onDrop="return false"
                                                                onPaste="return false" (keypress)="onlyAllwDecimal($event,999999.99,'workOrderIssueDetailsList','saree_value',i)" [(ngModel)]="data1.saree_value" class="form-control form-control-sm inputBox"></td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 8)"><input #hsncode [(ngModel)]="data1.hsn_code" [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select();' autocomplete="off" (focusout)='getGstByHsnCode(i)' onCopy="return false"
                                                                onDrag="return false" [disabled]='objAction.isView' onDrop="return false" onPaste="return false" maxlength="10" class="form-control form-control-sm inputBox"></td>
                                                        <td *ngIf='!isIgst && !isComposite' (keyup)="onKeyFocusGlobal($event, i, 9)"><input #cgst [(ngModel)]="data1.cgst" (click)='$event.target.select()' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" o nDrop="return false" onPaste="return false" (keypress)="onlyAllwDecimal($event,999999.99,'workOrderIssueDetailsList','cgst',i)"
                                                                (input)='calculateTaxableValue(i)' disabled (ngModelChange)="dataChanged($event)" class="form-control form-control-sm inputBox"></td>
                                                        <td *ngIf='!isIgst && !isComposite' (keyup)="onKeyFocusGlobal($event, i, 10)"><input #sgst disabled (click)='$event.target.select()' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="onlyAllwDecimal($event,999999.99,'workOrderIssueDetailsList','sgst',i)"
                                                                [(ngModel)]="data1.sgst" (input)='calculateTaxableValue(i)' class="form-control form-control-sm inputBox"></td>
                                                        <td *ngIf='isIgst && !isComposite' (keyup)="onKeyFocusGlobal($event, i, 11)"><input #igst disabled (click)='$event.target.select()' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="onlyAllwDecimal($event,999999.99,'workOrderIssueDetailsList','igst',i)"
                                                                [(ngModel)]="data1.igst" (input)='calculateTaxableValue(i)' class="form-control form-control-sm inputBox"></td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 12)"><input #charges id="columnRight" disabled (click)='$event.target.select()' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                                                (keypress)="onlyAllwDecimal($event,999999.99,'workOrderIssueDetailsList','charges',i)" [(ngModel)]="data1.charges" class="form-control form-control-sm inputBox"></td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 13)"><input id="columnRight" #customercharges [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" onDrop="return false"
                                                                onPaste="return false" (focusout)='convertToDecimal(i)' (keypress)="onlyAllwDecimal($event,999999.99,'workOrderIssueDetailsList','customer_charges',i)" [(ngModel)]="data1.customer_charges" class="form-control form-control-sm inputBox"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label><strong>Taxable Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.total_taxable_value" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Other Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.others_amount" (click)='$event.target.select()' [disabled]='objAction.isView' (focus)='$event.target.select()' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (input)='getGrandTotal(true)'
                                                    id="columnRight" (keypress)="onlyAllowRoundOffDecimal($event,999999.99,'objWorkOrderInvoice','others_amount')" (focusout)='convertTotalsToDecimal()' class="form-control form-control-sm border border-secondary"
                                                />
                                            </div>
                                            <div class="col-sm-3">
                                                <div *ngIf='!isIgst && !isComposite'>
                                                    <label><strong>CGST Amount</strong></label>
                                                    <input [(ngModel)]="objWorkOrderInvoice.cgst_total" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                                </div>
                                                <div *ngIf='isIgst && !isComposite'>
                                                    <label><strong>IGST Amount</strong></label>
                                                    <input [(ngModel)]="objWorkOrderInvoice.igst_total" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div *ngIf='!isIgst && !isComposite'>
                                                    <label><strong>SGST Amount</strong></label>
                                                    <input [(ngModel)]="objWorkOrderInvoice.sgst_total" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Round Off</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.round_off_total" id="columnRight" [disabled]='objAction.isView' (focusout)="convertTotalsToDecimal('')" (input)='getGrandTotal(false)' [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()'
                                                    onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="onlyAllowRoundOffDecimal($event,999999.99,'objWorkOrderInvoice','round_off_total')" class="form-control form-control-sm border border-secondary"
                                                />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Invoice Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.inv_amount" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>Remarks</strong></label>
                                        <textarea id="textarea" rows="1" [(ngModel)]="objWorkOrderInvoice.remarks" [disabled]='objAction.isView' class="form-control form-control-sm border border-secondary">
                                                </textarea>
                                    </div>
                                    <div class="col-sm-2 right" id="divTop">
                                        <div class="upload-btn-wrapper">
                                            <input [(ngModel)]="objWorkOrderInvoice.file_path" #file id="file-input" hidden accept="image/*" type="file" />
                                            <button class="btn" id="uploaddocument" *ngIf="objWorkOrderInvoice.purchase_order_no !== 0" (click)="openAttachFilesPopup()">Attach File</button>
                                            <input #file id="file-input" hidden accept="image/*" type="file" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4 right" id="divTop">
                                        <button *ngIf='objAction.isView==false' id="matButton" (click)="addWorkOrderReceiptList()" mat-raised-button color="primary">
                                            {{!objAction.isEditing ? 'Save' : 'Update'}}</button>&nbsp;
                                        <button *ngIf='objAction.isView==false' id="matButton" mat-raised-button (click)="onClear(false)" color="warn">Clear</button>
                                        <button *ngIf='objAction.isView==true' id="matButton" mat-raised-button (click)='onListClick()' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="card" id="top">
                            <div class="card-body" id="cardPaddingNew">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label><strong>Taxable Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.total_taxable_value" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-4" *ngIf='isIgst && !isComposite'>
                                                <label><strong>IGST Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.igst_total" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-2" *ngIf='!isIgst && !isComposite'>
                                                <label><strong>CGST Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.cgst_total" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-2" *ngIf='!isIgst && !isComposite'>
                                                <label><strong>SGST Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.sgst_total" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Additions</strong></label>
                                                <input [(ngModel)]='objWorkOrderInvoice.additions' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' (focusout)="convertTotalsToDecimal('')"
                                                    (input)="getGrandTotal('Additions')" (keypress)="onlyAllowDecimal($event,999999.99,'objProductionReceipt','additions')" class="form-control form-control-sm border border-secondary right" />
                                            </div>

                                            <div class="col-sm-3">
                                                <label><strong>Deductions</strong></label>
                                                <input [(ngModel)]='objWorkOrderInvoice.deductions' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' (focusout)="convertTotalsToDecimal('')"
                                                    (input)="getGrandTotal('Deductions')" (keypress)="onlyAllowDecimal($event,999999.99,'objProductionReceipt','deductions')" class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Round Off</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.round_off_total" id="columnRight" [disabled]='objAction.isView' (focusout)="convertTotalsToDecimal('')" (input)='getGrandTotal("Round")' [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()'
                                                    onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="onlyAllowRoundOffDecimal($event,999999.99,'objWorkOrderInvoice','round_off_total')" class="form-control form-control-sm border border-secondary"
                                                /></div>
                                            <div class="col-sm-6">
                                                <label><strong>Invoice Amount</strong></label>
                                                <input [(ngModel)]="objWorkOrderInvoice.inv_amount" id="columnRight" disabled class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <label><strong>Remarks</strong></label>
                                                <textarea id="textarea" rows="1" [(ngModel)]="objWorkOrderInvoice.remarks" [disabled]='objAction.isView' class="form-control form-control-sm border border-secondary">
                                                </textarea>
                                            </div>
                                            <div class="col-sm-3 right" id="divTop">
                                                <div class="upload-btn-wrapper">
                                                    <button class="btn">Attach File</button>
                                                    <input #file id="file-input" hidden accept="image/*" type="file" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 right" id="divTop">
                                        <button *ngIf='objAction.isView==false' id="matButton" (click)="addWorkOrderReceiptList()" mat-raised-button color="primary">
                                            {{!objAction.isEditing ? 'Save' : 'Update'}}</button>&nbsp;
                                        <button *ngIf='objAction.isView==false' id="matButton" mat-raised-button (click)="onClear(false)" color="warn">Clear</button>
                                        <button *ngIf='objAction.isView==true' id="matButton" mat-raised-button (click)='onListClick()' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************************** Export Menu ********************************************** -->
        <mat-menu #menu="matMenu">
            <button (click)="exportToPdf()" mat-menu-item>
                <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span>Export To PDF</span>
            </button>
            <button (click)="exportToExcel()" mat-menu-item>
                <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
                <span>Export To Excel</span>
            </button>
        </mat-menu>