.new {
    width: 566px;
}
    .table-scroll {
        position: relative;
        width: 100%;
        z-index: 1;
        margin: auto;
        overflow: auto;
        height: 270px;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
    }

    #overflow {
        overflow: hidden;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 315px;
        margin-bottom: 0px;
        text-align: left;
        padding-left: 5px;
        height: 24px;
    }

    