<div class="new">
    <div class="card" (keypress)="determineEnterKey($event)" id="mainbox">
        <div class="card-header docs-primary-header" id="mainheader">
            <div class="row">
                <div class="col-sm-6">
                    <div id="height">Product Code Search</div>
                </div>
                <div class="col-sm-6" id="right">
                    <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                        <mat-button-toggle (click)="dialogClose()" id="iButton">
                            <mat-icon id="iconButton">clear</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <div class="card-body" id="cardPadding">
            <input id="searchInput" cdkFocusInitial [(ngModel)]="_data.searchString"
                (keyup)="searchProductCode(_data.searchString, $event)" autocomplete="off"
                placeholder="Search For ProductCode" class="form-control form-control-sm">
            <br>
            <div class="card">
                <div class="card-body" id="cardPadding">
                    <div class="table-scroll">
                        <table border='1'>
                            <thead class="docs-primary-header">
                                <tr>
                                    <th id="headerOne">S.No</th>
                                    <th>Product Code</th>
                                    <th>Product Name</th>
                                </tr>
                            </thead>
                            <tbody (keypress)="determineEnterKey($event)" class="scrollable">
                                <tr *ngFor="let ProductCode of filteredProductCodeList; let i = index" id='row{{i}}'
                                    (keypress)="onClick(ProductCode,$event)" (dblclick)='onDoubleClick(ProductCode)'
                                    (click)="selectedRowIndex = i" [ngClass]="{ highlight: selectedRowIndex == i }">
                                    <td id="columnCenter">{{ i+1 }}</td>
                                    <td id="overflow">{{ ProductCode.product_code }}</td>
                                    <td id="overflow" [matTooltip]="ProductCode.product_name"
                                    matTooltipPosition="above">{{ ProductCode.product_name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body" id="cardPadding">
                    <div class="row">
                        <div class="col-sm-12" id="right">
                            <button id="matButton" mat-raised-button (click)="dialogOK()"
                                color="primary">Select</button>&nbsp;
                            <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>