<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Split Goods Entry ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Merge Goods Entry</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Merged Quantity</strong></label>
                                        <input class="form-control form-control-sm border border-secondary">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerTwo">Byno</th>
                                                <th id="headerProduct">Product Name</th>
                                                <th id="headerLast">Selling Price</th>
                                                <th id="headerLast">UOM</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="columnCenter">1</td>
                                                <td> <input type="text" class="form-control form-control-sm inputBox">
                                                </td>
                                                <td>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Product Code</strong></label>
                                        <input class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-5">
                                        <label><strong>Product Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Selling Price</strong></label>
                                                <input class="form-control form-control-sm border border-secondary">
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>HSN Code</strong></label>
                                                <input class="form-control form-control-sm border border-secondary">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" id="top">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Type</strong></label>
                                                <select class="form-control form-control-sm border border-secondary">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>GST %</strong></label>
                                                <input class="form-control form-control-sm border border-secondary">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>