// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 1%;
    width: 800px;
}

#hide {
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px;
}

#headerOne {
    width: 1%;
}

#headerLast {
    width: 13%;
}

#headerTwo {
    width: 15%;
}

.table-scroll{
    height: 260px;
}

// --------------------- Screen Based CSS End ------------------- //
