<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Debit/Credit Note ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Debit/Credit Note</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Byno</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong> Date</strong></label>
                                        <input disabled [(ngModel)]='Date'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <label><strong>Supplier Invoice</strong></label>
                                        <textarea disabled rows="5" id="textarea" class="form-control form-control-sm border border-secondary">
                                        </textarea>
                                        <div id="top">
                                            <label><strong>Supplier GSTIN No</strong></label>
                                            <input disabled
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Invoice No</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                        <div id="top">
                                            <label><strong>Invoice Date</strong></label>
                                            <input disabled
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>
                                        <div id="top">
                                            <label><strong>Invoice Amount</strong></label>
                                            <input disabled
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Type</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Amount</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-9">
                                        <label><strong>Remarks</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>