<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** By Percentage ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Byno Wise Discount</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Discount %</strong></label>
                                        <input [(ngModel)]='objDblRateByDiscount.discount_percent'
                                            (keyup)='calculateDiscountRate($event)' (click)='$event.target.select()'
                                            (focus)='$event.target.select()' autocomplete="off"
                                            (keypress)="onlyAllowInputDecimal($event,100,'objDblRateByDiscount','discount_percent')"
                                            class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <!-- <div class="col-sm-10 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne" rowspan="2">S.No</th>
                                                <th id="headerTwo" rowspan="2">ByNo</th>
                                                <th id="headerThree" rowspan="2">Product Name</th>
                                                <th rowspan="2" id="headerFour">Counter</th>
                                                <th rowspan="2" id="headerFour">Selling Price</th>
                                                <th id="headerlast" colspan="2">Discount Rate</th>
                                                <th rowspan="2" id="headerAction">Action</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of bynoWiseChangeList; let i = index;'>
                                                <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 0)">{{i+1}}
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                    <input #byno [(ngModel)]='data.byno' type="text"
                                                        (keyup)='onKeyPress($event,i)' autocomplete="off"
                                                        class="form-control form-control-sm inputBox">
                                                </td>
                                                <td [matTooltip]="data.product_name"
                                                    matTooltipPosition="above">
                                                    <input id="tdcounterCode" [(ngModel)]="data.product_name" type="text" id="overflow" name="name0"
                                                        disabled class="form-control form-control-sm inputBox">
                                                </td>
                                                <td>
                                                    <input [(ngModel)]="data.counter_code" type="text" name="name0"
                                                        disabled class="form-control form-control-sm inputBox">
                                                </td>
                                                <td>
                                                    <input id="tdSellingPrice" [(ngModel)]="data.selling_price" type="text" name="name0"
                                                        disabled class="form-control form-control-sm inputBox">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                    <input type="text" #discountPercent
                                                        [(ngModel)]='data.discount_percent'
                                                        (click)='$event.target.select()' autocomplete="off"
                                                        (focus)='$event.target.select()'
                                                        (input)='calculateDiscountRatePerRow(data)'
                                                        (keypress)="onlyAllowDecimal($event,100,'bynoWiseChangeList','discount_percent',i)"
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                    <input #discountAmount type="text" [(ngModel)]='data.discount_rate'
                                                        (click)='$event.target.select()' autocomplete="off"
                                                        (focus)='$event.target.select()'
                                                        (keypress)="onlyAllowDecimal($event,199000,'bynoWiseChangeList','discount_rate',i)"
                                                        class="form-control form-control-sm inputBox right">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                    <button #action name="del" id="delbtn" (click)='removeRows(i)'
                                                        *ngIf='i !== bynoWiseChangeList.length - 1' class="btn btn-sm">
                                                        <i style="color: red;" class="fa fa-trash"></i></button>
                                                    <button #action name="del" id="addbtn" class="btn btn-sm"
                                                        (click)='addEmptyRow(i)'
                                                        *ngIf='i == bynoWiseChangeList.length - 1'>
                                                        <i style="color: green;" class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button (click)='addBynoWiseDisount()' id="matButton" mat-raised-button
                                            color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>