// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 1000px;
}

#hide {
    margin-bottom: 4px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px;
}

#headerOne {
    width: 1%;
}

#headerLast {
    width: 5%;
}

#columnCenter {
    text-align: center;
    padding-top: 2px;
}

#checkTop{
    margin-top: -2px;
    padding-left: 0px;
}

#inputTop{
    margin-top: 4px;
}


#checkTop1{
    margin-top: -6px;
}

#checkTop2{
    margin-top: -8px;
}

// --------------------- Screen Based CSS End ------------------- //
