<button mat-icon-button style="color:white;padding-top:5px" [matMenuTriggerFor]="messagesMenu"
    (click)="openMessagesMenu()">
    <mat-icon matBadgeColor="warn" [matBadge]="badge" (click)='saveMessages()' style="font-size:22px">notifications</mat-icon>
</button>
<mat-menu #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages"
    style="border-radius:0px">
    <mat-tab-group backgroundColor="primary" color="primary" (click)="stopClickPropagate($event)"
        [selectedIndex]="selectedTab">
        <mat-tab>
            <ng-template mat-tab-label style="margin-top:-2px !important">
                <mat-icon style="padding-top:4px">message</mat-icon>
            </ng-template>
            <mat-card class="content" perfectScrollbar>
                <div fxLayout="column" fxLayoutAlign="none">
                    <button mat-button *ngFor="let message of messages">                      
                        <img *ngIf="message.employee_photo_name!==''" width="50" height="50"
                          
                            onerror="this.onerror = null;this.src='assets\\images\\common\\empty-profile.png'">
                        <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                            <div fxLayout="row" fxLayoutAlign="space-between start">
                                <span class="name">{{message.sender_name}}</span>
                                <span class="info">
                                    <mat-icon>access_time</mat-icon> {{message.created_on|date:'hh'}} hrs ago
                                </span>
                            </div>
                            <span  [matTooltip]="message.message" matTooltipPosition="above" class="text muted-text">{{message.message}}</span>
                        </div>
                    </button>
                </div>
            </mat-card>
        </mat-tab>       
    </mat-tab-group>  
</mat-menu>