// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 1.5%;
  width: 1200px;
}

.list {
  margin-top: 1.5%;
  width: 1000px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 20px;
}

.table-scroll {
  overflow: hidden;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 325px;
  margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

.table th {
  padding: .25rem !important;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table td {
  padding: .25rem;
  padding-top: .25rem !important;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

// --------------------- Screen Based CSS End ------------------- //
