<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** New Product ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">New Product</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Product Group</strong></label>
                                        <input maxlength="50" [(ngModel)]='objProductMaster.product_group_name' disabled
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Description</strong></label>
                                        <input maxlength="50" [(ngModel)]='objProductMaster.product_group_desc' disabled
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Category</strong></label>
                                        <input maxlength="50" [(ngModel)]='objProductMaster.category_name' disabled
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>UOM</strong></label>
                                                <input maxlength="50" [(ngModel)]='objProductMaster.product_group_uom'
                                                    disabled autocomplete="off"
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6" id="paddingLeft">
                                                <label><strong>Lifestyle Product</strong></label>
                                                <input maxlength="50" [(ngModel)]='objProductMaster.lsp' disabled
                                                    autocomplete="off"
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label><strong>Product Code</strong></label>
                                                <input maxlength="50" [(ngModel)]='objProductMaster.product_code'
                                                    id="productCode" autocomplete="off" maxlength="10"
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-4" id="top">
                                                <br>
                                                <mat-checkbox [(ngModel)]='objProductMaster.active'>Active
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Product Name</strong></label>
                                        <input maxlength="50" [(ngModel)]='objProductMaster.product_name'
                                            id="productName" autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Billing Name</strong></label>
                                        <input maxlength="50" [(ngModel)]='objProductMaster.product_billing_desc'
                                            id="billingName" autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <label><strong>Product Attributes</strong></label>
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor='let data of objProductMaster.product_attributes;let i = index;'>
                                                        <td id="columnLeft">
                                                            {{data.attribute_name}}
                                                        </td>
                                                        <td>
                                                            <select [(ngModel)]="productAtrributes"
                                                                (change)='attibuteChange()'
                                                                class="form-control form-control-sm inputBox">
                                                                <option value="" default> --Select--</option>
                                                                <option *ngFor="let data1 of data.value_data"
                                                                    [value]="data1.attribute_value_id">
                                                                    {{data1.attribute_value}}</option>
                                                            </select>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <label><strong>Product Counter</strong></label>
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th>Sales Location</th>
                                                        <th>Counter</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor='let data of objProductMaster.counter_data;let i = index;'>
                                                        <td id="columnLeft">
                                                            {{data.sales_location_name}}
                                                        </td>
                                                        <td>
                                                            <select class="form-control form-control-sm inputBox">
                                                                <option default> --Select--</option>
                                                                <option *ngFor="let data1 of data.counter_data"
                                                                    [value]="data1.counter_id">
                                                                    {{data1.counter_code}}</option>
                                                            </select>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <div class="card" id="top">
                                    <div class="card-body" id="cardPadding">
                                        <label><strong>HSN Codes</strong></label>
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">HSN</th>
                                                        <th>Description</th>
                                                        <th id="headerLast">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor='let data2 of objProductMaster.product_hsn;let i = index;'>
                                                        <td>
                                                            <input type="text" [(ngModel)]='data2.Hsn' #hsn
                                                                maxlength="10" (input)="onEnterHSNLookupDetails(i)"
                                                                id="hsn" (focusout)='checkValidHsn($event,i)'
                                                                (keyup)="openHSNLookup($event,i)"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td [matTooltip]="data2.Hsn_Description"
                                                            matTooltipPosition="above">
                                                            <input type="text" [(ngModel)]='data2.Hsn_Description'
                                                                disabled class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm"
                                                                *ngIf="i !== objProductMaster.product_hsn.length - 1"
                                                                (click)='openRemoveConfirmationDialog(i)' name="delete"
                                                                id="delbtn">
                                                                <i id="iRed" class="fa fa-trash"></i>
                                                            </button>
                                                            <button name="add" id="addbtn"
                                                                *ngIf="i === objProductMaster.product_hsn.length - 1"
                                                                (click)='addNewRow()'
                                                                [disabled]="!objProductMaster.product_hsn[i].Hsn "
                                                                class="btn btn-sm">
                                                                <i id="iGreen" class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)="addProductMasters()"
                                            color="primary">{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)="onClear(false)"
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Product List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Product Master</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Product Group</strong></label>
                                        <input maxlength="50" [(ngModel)]='objLoadProductMaster.product_group_name'
                                            autocomplete="off" (input)="onEnterProductGroupLookupDetails()"
                                            (focusout)='checkValidProduct($event)' id="groupName"
                                            (keyup)="openProductGroupLookup($event)"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Description</strong></label>
                                        <input maxlength="50" [(ngModel)]='objLoadProductMaster.product_group_desc'
                                            disabled autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Category</strong></label>
                                        <input maxlength="50" [(ngModel)]='objLoadProductMaster.category_name' disabled
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>UOM</strong></label>
                                        <input maxlength="50" [(ngModel)]='objLoadProductMaster.product_group_uom'
                                            disabled autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Lifestyle Product</strong></label>
                                        <input maxlength="50" [(ngModel)]='objLoadProductMaster.lsp' disabled
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">


                                        <cdk-virtual-scroll-viewport style="height: 329px;" [itemSize]="20" cloneThead>
                                            <table class="table table-bordered" border='1'>
                                                <thead class="docs-primary-header"
                                                    style="color: white;text-align:center">
                                                    <tr>
                                                        <th style="width:50px">S.No</th>
                                                        <th style="width:100px">Product Code</th>
                                                        <th style="width:350px">Product Name</th>
                                                        <th style="width:150px">Billing Name</th>
                                                        <th style="width:80px">Active</th>
                                                        <th style="width:80px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *cdkVirtualFor='let data of productMasterList;let i = index;'>
                                                        <td style="width:50px;text-align:center">
                                                            {{i+1}}
                                                        </td>
                                                        <td style="width:100px">{{data.product_code}}</td>
                                                        <td style="width:350px" [matTooltip]="data.product_name"
                                                            matTooltipPosition="above">
                                                            <div id="overflow">
                                                                {{data.product_name}}
                                                            </div>
                                                        </td>
                                                        <td style="width:150px">{{data.product_billing_desc}}</td>
                                                        <td style="width:80px">{{data.active ? 'Yes':'No'}}</td>
                                                        <td style="width:80px;text-align:center">
                                                            <div id="actionicon2">
                                                                <button mat-icon-button color="primary"
                                                                    matTooltip="Edit this row" id="iconTableButton"
                                                                    (click)="fetchProductMaster(data.product_code)"
                                                                    [matTooltipClass]="'custom-tip'">
                                                                    <mat-icon aria-label="Edit this row" class="f-14">
                                                                        edit
                                                                    </mat-icon>
                                                                </button>
                                                                <button mat-icon-button color="primary"
                                                                    matTooltip="Delete this row" id="iconTableButton"
                                                                    (click)="openDeleteConfirmationDialog(data.product_code)"
                                                                    [matTooltipClass]="'custom-tip'">
                                                                    <mat-icon aria-label="Delete this row" class="f-14">
                                                                        delete
                                                                    </mat-icon>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </cdk-virtual-scroll-viewport>

                                        <!-- <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Code" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Product Code
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.product_code}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Name" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Product Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.product_name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            {{element.product_name}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Billing_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Billing Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.product_billing_desc" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow1">
                                                            {{element.product_billing_desc}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Active">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Active
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.active ? 'Yes':'No'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" matTooltip="Edit this row" id="iconTableButton" (click)="fetchProductMaster(element.product_code)" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" matTooltip="Delete this row" id="iconTableButton" (click)="openDeleteConfirmationDialog(element.product_code)" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>