<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Godown To Counter Transfer</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton"
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong>Transfer Date</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div> 
                                <br>
                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> Warehouse </strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="Warehouse" [(ngModel)]= "load.warehouse_id"  (ngModelChange)="getSectionList()" 
                                                class="form-control form-control-sm border border-secondary">
                                                <option disabled value=''>--Select--</option>
                                                <option *ngFor="let data of warehouseList" [value]="data.warehouse_id">
                                                    {{data.wh_name}}</option>
                                            </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> Section </strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="section" [(ngModel)]="load.company_section_id"
                                        class="form-control form-control-sm border border-secondary">
                                        <option disabled value=''>--Select--</option>
                                        <option *ngFor="let data of sectionList" [value]="data.company_section_id">
                                            {{data.company_section_name}}</option>
                                    </select>
                                    </div>
                                </div> 
                                <br>
                                
                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> Transfer No</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                    <input [(ngModel)]="load.transfer_id" id="transferNo"
                                        (input)="_keyPressEvents.onlyAllowNumbers($event)" maxlength="9"
                                        class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card" id="divTop">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="CheckGodownToCounter()"> View</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>