
#columnCentersNo{
    text-align: center;
}

.table-scroll {
    height: 405px;
}

#top1{
    margin-top:4px
}

#headerSno{
    width: 2%;
}

#headerprodutName{
    width: 30%;
}

.table-scroll td {
    padding: 2px;
    border: 0.5px solid lightgray;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5px;
    height: 24px;
}