<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Issue Details</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-4">
                        <label><strong>Issue No</strong> </label>
                        <input disabled [(ngModel)]='objIssueNos.issue_no'
                            class="form-control form-control-sm border border-secondary" />
                    </div>
                    <div class="col-sm-4">
                        <label><strong>Issue Date</strong> </label>
                        <input disabled [(ngModel)]='objIssueNos.issue_date'
                            class="form-control form-control-sm border border-secondary" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card cardHeight" id="top">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-2 center" *ngFor='let data of productionDetailsList; let i = index;'>
                                <div id="image">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <label><strong>{{data.byno}}</strong></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="table-scroll" id="top">
                    <table border='1'>
                        <tbody>
                            <tr>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                                <td id="columnCenter">
                                    <img id="bynoImgae" height="100px" width="100px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                    <br>
                                    <div>
                                        <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                                    </div>
                                </td>
                            </tr>
                        </tbody>        
                    </table>
                </div> -->
                    </div>
                    <div class="col-sm-6" style="padding-left:0px">
                        <!-- <div class="table-scroll">
                            <table border='1'>
                                <thead class="docs-primary-header">
                                    <tr>
                                        <th id="headerSno">S.No</th>
                                        <th id="headerprodutName">Product Name</th>
                                        <th id="headerLast">Product Size</th>
                                        <th id="headerLast">Quantity</th>
                                        <th id="headerLast">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let data of productDetailsList; let i = index;'>
                                        <td id="columnCentersNo">{{i+1}}</td>
                                        <td>
                                            <input #productName (focusout)='checkValidProductName(i,$event);'
                                                [(ngModel)]='data.product_name' (keyup)='openProductLookup($event,i)'
                                                (input)='onEnterProductLookupDetails(i)'
                                                class="form-control form-control-sm inputBox" />
                                        </td>
                                        <td>
                                            <input disabled [(ngModel)]='data.product_size'
                                                class="form-control form-control-sm inputBox" />
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm inputBox right" />
                                        </td>
                                        <td (keyup)="onKeyFocusGlobal($event, i, 4)">
                                            <button #action name="del" id="delbtn" (click)='removeRows(i)'
                                                *ngIf='i !== productDetailsList.length - 1' class="btn btn-sm">
                                                <i style="color: red;" class="fa fa-trash"></i></button>
                                            <button #action name="del" id="addbtn" class="btn btn-sm"
                                                (click)='addNewRow()' *ngIf='i == productDetailsList.length - 1'>
                                                <i style="color: green;" class="fa fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->

                        <div class="table-scroll">
                            <table class="scrollToMe" border='1' id='lookupTable' style="cursor: pointer;">
                                <thead class="docs-primary-header" style="text-align: center;">
                                    <tr>
                                        <th style="width: 1%;">S.No</th>
                                        <th id="headerProductName">Product Name</th>
                                        <th id="headerProductSize">Product Size</th>
                                        <th>Estimated Qty</th>
                                        <th id="headersofar">Received So Far</th>
                                    </tr>
                                </thead>
                                <tbody class="scrollable">
                                    <tr *ngFor="let product of productsList; let i = index" id='row{{i}}'>
                                        <td id="columnCenter" style="width: 1%;">{{ i+1 }}</td>
                                        <td id="overflow" [matTooltip]="product.product_name"
                                        matTooltipPosition="above" >{{ product.product_name }}</td>
                                        <td id="columnRight">{{ product.product_size }}</td>
                                        <td id="columnRight">{{ product.estimated_qty}}</td>
                                        <td id="columnRight">{{ product.received_so_far}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="top">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12 right">
                        <button id="matButton" mat-raised-button color="primary">Add</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>