<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Image Capture</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle id="iButton" (click)="dialogClose()">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" id="cardPadding">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-4">
                        <label><strong>Byno</strong></label>
                        <input disabled class="form-control form-control-sm border border-secondary">
                    </div>
                    <div class="col-sm-4">
                        <label><strong>Selling Price</strong></label>
                        <input disabled class="form-control form-control-sm border border-secondary">
                    </div>
                    <div class="col-sm-4">
                        <label><strong>Product ID</strong></label>
                        <input disabled class="form-control form-control-sm border border-secondary">
                    </div>
                </div>
                <div class="row" id="top">
                    <div class="col-sm-12">
                        <label><strong>Description</strong></label>
                        <input disabled class="form-control form-control-sm border border-secondary">
                    </div>
                    <div class="col-sm-4" id="top">
                        <label><strong>Counter</strong></label>
                        <input disabled class="form-control form-control-sm border border-secondary">
                    </div>
                    <div class="col-sm-4" id="top">
                        <label><strong>Purchase Date</strong></label>
                        <input disabled class="form-control form-control-sm border border-secondary">
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="top">
            <div class="card-body center" id="cardPadding">
                <img height="300" width="100%" type="file" [src]="'assets\\images\\common\\empty-photo.jpg'">
            </div>
        </div>
        <div class="card" id="top">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" (click)="dialogOK()" mat-raised-button
                            color="primary">Print</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" (click)="dialogClose()">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>