<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Products</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Search by Product Name</strong></label>
                                        <input maxlength="50" (keyup)="searchRights($event.target.value)"
                                            autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="top">
                                            <mat-radio-group [(ngModel)]="objProdProductsLoad.TimeLine">
                                                <mat-radio-button (change)="radioChange($event)" checked [value]="2">All
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="1">Active
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="0">Inactive
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': !element.active }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Prod_Name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Product name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.prod_name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        <label id="overflow" [ngClass]="{'red': !element.active }">
                                                            {{element.prod_name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="Special_Product">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Special Product
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.special_product"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        <label id="overflow" [ngClass]="{'red': !element.active }">
                                                            {{element.special_product ? 'Yes' : 'No'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyProductionProducts(true,i)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'"
                                                                [disabled]='!element.active'>
                                                                <mat-icon aria-label="Edit this row"
                                                                    [ngClass]="{'red': !element.active }" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyProductionProducts(false,i,true)'
                                                                matTooltip="View this row" style="width: 30px;"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row"
                                                                    [ngClass]="{'red': !element.active }" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height" *ngIf='!objAction.isView'>{{ !objAction.isEditing ? 'New Production
                                    Products' : 'Edit Production Products' }}</div>
                                <div id="height" *ngIf='objAction.isView'>View Production Products</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Product name</strong> </label>
                                    </div>
                                    <div class="col-sm-5" id="product name">
                                        <input maxlength="30" autocomplete="off" [(ngModel)]="objProdProducts.prod_name"
                                            [disabled]="objAction.isView"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Special Product</strong> </label>
                                    </div>
                                    <div id="box" class="col-sm-3">
                                        <mat-checkbox [(ngModel)]="objProdProducts.special_product"
                                            [disabled]="objAction.isView"></mat-checkbox>
                                    </div>
                                </div>

                                <br><br>
                                <div class="row">
                                    <div class="col-sm-6" id="Active">
                                        <label><strong> Active </strong></label>
                                        <div class="button b2" id="button-10">
                                            <input type="checkbox" class="checkbox" #active
                                                (change)="objProdProducts.active = active.checked === true ? false : true;changeFlagConfirmation()"
                                                [checked]="!objProdProducts.active" [disabled]="objAction.isView" />
                                            <div class="knobs">
                                                <span>YES</span>
                                            </div>
                                            <div class="layer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="card-body">
                        <div class="card" id="Productionproduct">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th>Sizes</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of productSizesList;let i = index;'>
                                                <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 0)">{{i + 1}}
                                                </td>
                                                <td id="columnLeft" (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                    <input #productionSize [(ngModel)]="data.prod_size"
                                                        (input)="onlyAllowAlphanumeric($event);"
                                                        (keyup)='onlyAllowUpperCases($event)'
                                                        [disabled]="objAction.isView"
                                                        class="form-control form-control-sm inputBox" maxlength="10"
                                                        autocomplete="off">
                                                </td>
                                                <td id="columnRight" (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                    <button #action *ngIf="i !== productSizesList.length - 1"
                                                        (click)="removeRowFromProductionProductsDetails(i)" name="del"
                                                        matTooltip="Remove" id="delbtn" class="btn btn-sm"
                                                        [disabled]="objAction.isView">
                                                        <i style="color: red;" class="fa fa-trash"></i>
                                                    </button>
                                                    <button #action *ngIf="i === productSizesList.length - 1"
                                                        (click)="addNewRowToProductionProductsDetails()"
                                                        matTooltip="Add" class="btn btn-sm" name="add" id="addbtn"
                                                        [disabled]="data.prod_size === '' ||  objAction.isView">
                                                        <i style="color: green;" class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" *ngIf='!objAction.isView' mat-raised-button
                                            color="primary" (click)='saveProductionProduct()'>
                                            {{ !objAction.isEditing ? 'Save' : 'Update' }}
                                        </button>&nbsp;
                                        <button id="matButton" *ngIf='!objAction.isView' mat-raised-button color="warn"
                                            (click)="onClear(false)">Clear</button>
                                        <button *ngIf='objAction.isView' id="matButton" mat-raised-button color="warn"
                                            (click)="onClear(true)">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>