table tr.highlight {
    background-color: wheat !important;
    color: black;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 260px;
}

.table-scroll table {
    width: 100%;
    min-width: 100px;
    margin: auto;
    border-collapse: collapse;
    border: 0.5px solid lightgray;
    border-spacing: 0;
    font-family: "Roboto", sans-serif;
}

.table-wrap {
    position: relative;
}

.table-scroll th {
    padding: 5px 10px;
    border: 0.5px solid lightgray;
    vertical-align: middle;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.table-scroll td {
    padding: 2px;
    padding-right: 0px;
    border: 0.5px solid lightgray;
    // background-color: white;
    vertical-align: middle;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.table-scroll thead th {
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: "Roboto", sans-serif;
}

th.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    font-family: "Roboto", sans-serif;
}

thead th.sticky {
    z-index: 5;
    font-family: "Roboto", sans-serif;
}

.table-scroll thead tr:nth-child(2) th {
    top: 29px;
    font-family: "Roboto", sans-serif;
}

#intbl {
    width: 100%;
    border: 0px;
    padding: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    height: 27px;
}

input#intbl:focus {
    outline: none;
    outline-color: white;
}

.intbl {
    width: 100%;
    border: 0px;
    padding: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    height: 27px;
}

input.intbl:focus {
    outline: none;
    outline-color: white;
}

td {
    padding: 0px;
    font-size: 12px;
    // background-color: white;
}

th {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    font-family: roboto;
}

.table td {
    padding-top: 0px !important;
    // background-color: white;
}

p {
    font-size: 12px;
}

#addbtn {
    background-color: white;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    min-height: 25px;
}

#addbtn:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
}

#delbtn {
    background-color: white;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    min-height: 25px;
    /* margin-top: 3px; */
}

#delbtn:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
}

#DescInput {
    width: 93px;
    margin: 0px;
    height: 20px;
    margin-top: -10px;
    border-bottom: 0px;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
    vertical-align: middle;
}

.form-control:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
    border-radius: 0px;
}

.form-control {
    font-size: 12px;
    border-radius: 0px;
    color: black;
}

input[type="checkbox"]:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
    border-radius: 0px;
}


/*Editable Table End*/

.mat-dialog-container {
    padding: 0px;
}

.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

.mat-raised-button {
    line-height: 0px;
    min-width: 65px;
    font-size: 12px;
}

// .highlight {
//     background-color: wheat;
//     color: white;
// }

.card {
    border-radius: 0px
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: white;
}

.card-body {
    background-color: white;
}

.form-control {
    border-radius: 0px;
    background-color: white;
}

#headerProductName{
    width: 223px;
}

#headerProductSize{
    width: 99px;
}

#headersofar{
    width: 113px;
}