<div class="card" (keypress)="determineEnterKey($event)" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Product Search</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="dialogClose()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding:15px">
        <input id="searchInput" cdkFocusInitial [(ngModel)]="_data.searchString"
            (keyup)="searchProducts(_data.searchString, $event)" autocomplete="off"
            placeholder="Search For Product Name" class="form-control form-control-sm">
        <div class="card" style="border-radius:0px;margin-top:10px">
            <div class="card-body" style="padding:15px">
                <div class="table-scroll">
                    <table class="scrollToMe" border='1' id='lookupTable' style="cursor: pointer;">
                        <thead class="docs-primary-header" style="text-align: center;">
                            <tr>
                                <th style="width: 1%;">S.No</th>
                                <th id="headerProductName">Product Name</th>
                                <th id="headerProductSize">Product Size</th>
                                <th>Estimated Qty</th>
                                <th id="headersofar">Received So Far</th>
                            </tr>
                        </thead>
                        <tbody (keypress)="determineEnterKey($event)" class="scrollable">
                            <tr *ngFor="let product of filterProductList; let i = index" id='row{{i}}'
                                (keypress)="onClick(product,$event)" (dblclick)='onDoubleClick(product)'
                                (click)="selectedRowIndex = i" [ngClass]="{ highlight: selectedRowIndex == i }">
                                <td style="width: 1%;">{{ i+1 }}</td>
                                <td style="text-align: left;padding-left:4px">{{ product.product_name }}</td>
                                <td style="text-align: left;padding-left:4px">{{ product.product_size }}</td>
                                <td style="text-align: right;;padding-right:4px">{{ product.estimated_qty}}</td>
                                <td style="text-align: right;;padding-right:4px">{{ product.received_so_far}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 10px;">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button (click)="dialogOK()"
                            color="primary">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>