<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** New Product Attribute ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">{{ !objAction.isEditing ? 'New Attribute' : 'Edit Attribute' }}</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Attribute Name<sup id='sup'>*</sup></strong> </label>
                                        <input id="attributeName" [(ngModel)]='objProductAttributes.Attribute_Name'
                                            maxlength="50" autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                               
                                    <div class="col-sm-6" id="status">
                                        <label><strong> Active </strong></label>
                                        <div class="button b2" id="button-10">
                                            <input type="checkbox" class="checkbox" #active
                                                (change)="objProductAttributes.Active = active.checked === true ? false : true;changeFlagConfirmation()"
                                                [checked]="!objProductAttributes.Active" />
                                            <div class="knobs">
                                                <span>YES</span>
                                            </div>
                                            <div class="layer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th>Section Name<sup id="sup">*</sup></th>
                                                        <th>Select</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of groupSectionsList;let i = index">
                                                        <td id="columnLeft">
                                                            {{data.Group_Section_Name}}
                                                        </td>
                                                        <td id="columnCenter">
                                                            <mat-checkbox [(ngModel)]='data.checked'
                                                                (change)='onChangeSectionSelection($event,i)'>
                                                            </mat-checkbox>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)="addProductAttributes()"
                                            color="primary">{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)="onClear(false)"
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Product Attributes List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Product Attributes</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Section Name</strong></label>
                                        <input disabled [(ngModel)]='Group_Section_Name' maxlength="50"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-6" id="right">
                                        <div class="form-group" id="top">
                                            <mat-radio-group [(ngModel)]="objProductLoad.TimeLine">
                                                <mat-radio-button (change)="radioChange($event)" checked [value]="2">All
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="1">Active
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button (change)="radioChange($event)" [value]="0">Inactive
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.Active === false }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Attribute_Name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Attribute Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Attribute_Name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        <label id="labelBottom"
                                                            [ngClass]="{'red': element.Active === false }">
                                                            {{element.Attribute_Name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div>
                                                            <button mat-icon-button color="primary"
                                                                (click)="modifyOrViewProductAttributes(i)"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon [ngClass]="{'red': element.Active === false }"
                                                                    aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            &nbsp;<label *ngIf="element.Active === true" id="hide"
                                                                (click)="onAttributeValueClick(element)">Values</label>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>