// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 1050px;
}

#hide {
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#headerOne {
    width: 1%;
}
#headerPrice {
    width: 7%;
}
#headerLast {
    width: 12%;
}

#columnCenter {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

#divAdjus{
    padding-top: 25px;
    margin-bottom: -5px;
}

#headerTwo{
    width: 130px;
}

#headerThree{
   width: 356px; 
}

#headerCounter{
    width: 110px;
}

// --------------------- Screen Based CSS End ------------------- //
