<div class="card" (keypress)="determineEnterKey($event)" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">Product Selection</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="dialogClose()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" id="cardPadding">

        <!-- <div class="col-sm-4" id="paddingRight">
                <div class="card">
                    <div class="card-body" id="cardPadding">
                        <div class="row">
                            <div class="col-sm-8">
                                <label><strong>Product Group</strong></label>
                                <input disabled [(ngModel)]='objLookup.product_group_desc' class="form-control form-control-sm border border-secondary" />
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <label><strong>UOM</strong></label>
                                <input disabled [(ngModel)]='objLookup.product_uom' class="form-control form-control-sm border border-secondary" />
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="card" id="top">
                    <div class="card-body" id="cardPadding">
                        <div class="table-scroll table-scroll1">
                            <table border='1'>
                                <thead class="docs-primary-header">
                                    <tr>
                                        <th>Attributes</th>
                                        <th id="headerValue">Values</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let data of attributesList;let i = index;'>
                                        <td id="columnLeft">
                                            <strong>{{data.attribute_name}}</strong>
                                        </td>
                                        <td>
                                            <select (change)='onChange($event)' class="form-control form-control-sm inputBox">
                                                <option value="" default> --Select--</option>
                                                <option *ngFor="let data1 of data.value_data"
                                                    [value]="data1.attribute_value_id">
                                                    {{data1.attribute_value}}</option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->

        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-4">
                        <label><strong>Product Code</strong></label>
                        <input id="searchInput" disabled [(ngModel)]="productCode" autocomplete="off" placeholder="Product Code" class="form-control form-control-sm border border-secondary">
                    </div>
                    <div class="col-sm-8">
                        <!-- <input id="searchInput" disabled [(ngModel)]="productCode" autocomplete="off" placeholder="Product Code" class="form-control form-control-sm border border-secondary"> -->
                        <mat-checkbox [(ngModel)]='apply_check'>Apply product code to all bynos below</mat-checkbox>
                    </div>
                </div>
                <div class="table-scroll" id="top">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerValue">Attributes</th>
                                <th id="headerValue">Values</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of attributesList;let i = index;'>
                                <td id="columnLeft">
                                    <strong>{{data.attribute_name}}</strong>
                                </td>
                                <td>
                                    <select [(ngModel)]='data.selectedvalue' (change)='filterAttributesValue(data,i);' class="form-control form-control-sm inputBox">
                                        <option value="" default> --Select--</option>
                                        <option *ngFor="let data1 of data.value_data;let k = index;"
                                            [value]="data1.attribute_value">
                                            {{data1.attribute_value}}</option>
                                    </select>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card" id="top">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button (click)="dialogOK()" color="primary">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>