<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Production Issue ********************************************** -->
            <div *ngIf="!componentVisibility && !isReconciliation" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Issue</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label><strong>Issue Date</strong></label>
                                                        <mat-form-field appearance="outline" id="matDate">
                                                            <input [(ngModel)]='objProductionIssue.issue_date' [disabled]='objAction.isView' (click)="picker1.open()" matInput readonly [matDatepicker]="picker1">
                                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label><strong>Section</strong></label>
                                                        <input [(ngModel)]='objProductionIssue.section' disabled class="form-control form-control-sm border border-secondary" />
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label><strong>Issue To</strong></label>
                                                        <input [(ngModel)]='objProductionIssue.supplier_code' [disabled]='objAction.isView' id="supplierCode" maxlength="10" (keyup)='openSupplierLookupNew($event);' (input)='onEnterSupplierLookupNew()' autocomplete="off" (focusout)='checkValidNewSupplierCode($event,"newSupplier")'
                                                            class="form-control form-control-sm border border-secondary" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <label><strong>Supplier Name</strong></label>
                                                <input disabled [(ngModel)]='objProductionIssue.supplier_name' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-7" id="top">
                                                <label><strong>Remarks</strong></label>
                                                <input [(ngModel)]='objProductionIssue.remarks' [disabled]='objAction.isView' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Material Name</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerLoss">Selling Price</th>
                                                        <th id="headerOne">Damaged</th>
                                                        <th id="headerOne">Length</th>
                                                        <th id="headerOne">Issued Qty</th>
                                                        <th id="headerLoss">Estimated Material Loss</th>
                                                        <th id="headerLast">Image</th>
                                                        <th id="headerOne">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of objProductionIssue.issue_details;let i = index;'>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 0)" id="columnCenter">
                                                            {{i+1}}</td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                            <input [(ngModel)]='data.material_name' [disabled]='objAction.isView' #materialName (input)="onEnterMaterialLookupDetail(i)" id="materialName" (keyup)="openMaterialLookup($event,i)" class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                            <input [(ngModel)]='data.byno' #byno [disabled]='objAction.isView' (ngModelChange)="data.byno = $event.toUpperCase();resetRow(i,true)" (keyup)='onKeyPress($event,i)' class="form-control form-control-sm inputBox upper" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                            <input [(ngModel)]='data.selling_price' disabled #sellingPrice class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                            <div id=checkTop>
                                                                <mat-checkbox #damaged [disabled]='objAction.isView' [(ngModel)]='data.damaged'>
                                                                </mat-checkbox>
                                                            </div>
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 5)">
                                                            <input [(ngModel)]='data.length' #length [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' autocomplete="off" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (keypress)="onlyAllwDecimalForProductionIssue($event,10000,'objProductionIssue.issue_details','length',i)"
                                                                class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 6)">
                                                            <input [(ngModel)]='data.issued_qty' #issuedQty [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' autocomplete="off" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                                                (keypress)="onlyAllwDecimalForProductionIssue($event,10000,'objProductionIssue.issue_details','issued_qty',i)" class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 7)">
                                                            <input [(ngModel)]='data.estimated_loss' #estimatedLoss [disabled]='objAction.isView' (click)='$event.target.select()' (focus)='$event.target.select()' autocomplete="off" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                                                (keypress)="onlyAllwDecimalForProductionIssue($event,10000,'objProductionIssue.issue_details','estimated_loss',i)" class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 8)" id="columnCenter">
                                                            <sat-popover #imagePre horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPopImage">
                                                                        <!-- <img id="bynoImage" type="file" height="100px" width="100px" [src]="'assets\\images\\common\\empty-photo.jpg'" onerror="this.onerror = null;this.src='assets/images/common/INA.png'"> -->
                                                                        <img id="bynoImage" type="image" height="100px" width="100px" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="bynoImage" #pre [satPopoverAnchor]="imagePre" (mouseover)="imagePre.open()" (mouseleave)="imagePre.close()" height="24px" width="32px" type="image" [src]="'http://192.9.202.100/HRDocumentsPath/SonsBynoImages/' + data.image_path" onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 9)">
                                                            <button #action name="del" matTooltip="Remove" id="delbtn" [disabled]='objAction.isView' *ngIf="i !==objProductionIssue.issue_details.length - 1" class="btn btn-sm" (click)='removeRowFromMaterialList(i)'>
                                                                <div id="iconBottom">
                                                                    <mat-icon id="iRed">
                                                                        delete
                                                                    </mat-icon>
                                                                </div>
                                                            </button>
                                                            <button #action *ngIf="i === objProductionIssue.issue_details.length - 1" class="btn btn-sm" matTooltip="Add" name="add" id="addbtn" [disabled]="objAction.isView || data.material_name == ''  ||data.byno == ''  || data.selling_price == '' || data.length == '' || data.issued_qty == '' || data.estimated_loss == '' "
                                                                (click)='addNewRowToMaterialList(i)'>
                                                                <div id="iconBottom">
                                                                    <mat-icon id="iGreen">
                                                                        add
                                                                    </mat-icon>
                                                                </div>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="paddingLeft">
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <label><strong>Estimated Returns</strong></label>
                                        <div class="table-scroll" id="tableTwo">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th style="width: 30%;">Product Name</th>
                                                        <th id="headerLast">Product Size</th>
                                                        <th id="headerLast">Quantity</th>
                                                        <th id="headerOne">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of objProductionIssue.issue_estimation_details;let i = index;'>
                                                        <td (keyup)="onKeyFocusGlobalForProducts($event, i, 0)">
                                                            <input [(ngModel)]='data.product_name' #productName autocomplete="off" [disabled]='objAction.isView' (input)="onEnterProductLookupDetail(i)" id="productName" (keyup)="openProductLookup($event,i)" class="form-control form-control-sm inputBox" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobalForProducts($event, i, 1)">
                                                            <input [(ngModel)]='data.prod_size' #productSize disabled class="form-control form-control-sm inputBox right" />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobalForProducts($event, i, 2)">
                                                            <input [(ngModel)]='data.estimated_qty' [disabled]='objAction.isView' (keypress)="onlyAllwDecimalForProductionIssue($event,10000,'objProductionIssue.issue_estimation_details','estimated_qty',i)" #estimatedQty class="form-control form-control-sm inputBox right"
                                                            />
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobalForProducts($event, i, 3)">
                                                            <button #action name="del" matTooltip="Remove" id="delbtn" [disabled]='objAction.isView' *ngIf="i !==objProductionIssue.issue_estimation_details.length - 1" class="btn btn-sm" (click)='removeRowFromEstimationList(i)'>
                                                                <div id="iconBottom">
                                                                    <mat-icon id="iRed">
                                                                        delete
                                                                    </mat-icon>
                                                                </div>
                                                            </button>
                                                            <button #action *ngIf="i === objProductionIssue.issue_estimation_details.length - 1" class="btn btn-sm" matTooltip="Add" name="add" id="addbtn" [disabled]="objAction.isView || data.product_name == '' || data.prod_size == '' || data.estimated_qty == '' "
                                                                (click)='addNewRowToEstimationList(i)'>
                                                                <div id="iconBottom">
                                                                    <mat-icon id="iGreen">
                                                                        add
                                                                    </mat-icon>
                                                                </div>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card">
                                    <div class="card-body" id="cardPadding">
                                        <div class="row">
                                            <div class="col-sm-12" id="right">
                                                <button *ngIf='objAction.isView==false' id="matButton" (click)="addProductionIssue()" mat-raised-button color="primary">
                                                    {{!objAction.isEditing ? 'Save' : 'Update'}}</button>&nbsp;
                                                <button *ngIf='objAction.isView==false' id="matButton" mat-raised-button (click)="onClear(false)" color="warn">Clear</button>
                                                <button *ngIf='objAction.isView==true' id="matButton" mat-raised-button (click)='onListClick()' color="warn">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Production Issue List ********************************************** -->
            <div *ngIf="componentVisibility && !isReconciliation" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Issue List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.from_date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" [min]="minDate" [min]="minDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="minimumDate" [(ngModel)]="model1" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="objLoad.from_date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.to_date" (ngModelChange)='matTableConfig([])' #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [max]="maxDate" [min]="objLoad.From_Date" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [max]="maximumDate" [min]="model1" [(ngModel)]="model2" [matDatepicker]="endPicker" placeholder="Choose a date" (dateChange)="objLoad.to_date = dateValidation.toFormattedDate($event.value);matTableConfig([]);">
                                            <mat-datepicker-toggle matSuffix [for]="endPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #endPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Status</strong></label>
                                        <select id='status' [(ngModel)]='objLoad.status' (ngModelChange)='matTableConfig([])' class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]="''">--Select--</option>
                                            <option [value]="'All'">All</option>
                                            <option [value]="'Cancelled'">Cancelled</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input id="supplierCode" [(ngModel)]="objLoad.supplier_code" (keyup)='openSupplierLookupList($event);' (input)='onEnterSupplierLookupList()' autocomplete="off" (focusout)='checkValidSupplierCode($event,"newSupplier")' (ngModelChange)="matTableConfig([])"
                                            maxlength="10" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input id="supplierName" [(ngModel)]="objLoad.supplier_name" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-12 right" id="top">
                                        <button id="matButton" (click)="getProductionIssue()" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false}">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_No">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Issue No
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false}">
                                                            {{element.issue_no}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_Date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Issue Date
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false}">
                                                            {{element.issue_date | date:'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Issue_Type">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Issue Type
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false}">
                                                            {{element.transfer_name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Remarks">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Remarks
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false}">
                                                            {{element.remarks}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Status
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Category_Name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false}">
                                                            {{element.active?'Yes':'No'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" [disabled]='!element.active' (click)='fetchProductionIssue(element)' matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" (click)='viewProductionIssue(element)' matTooltip="View this row" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    visibility
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" [disabled]='!element.active' (click)='openCancelConfirmationDialog(element)' matTooltip="Delete this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                            <label *ngIf='element.active' (click)="reconciliationClick(element.issue_no)" id="hide"><strong>Reconciliation</strong></label>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Reconciliation ********************************************** -->
            <div *ngIf="isReconciliation && !componentVisibility" class="edit">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Issue Reconciliation</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClearReconciliation()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Issue No</strong></label>
                                        <input disabled [(ngModel)]="objReconciliation.issue_no" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Issue Date</strong></label>
                                        <input disabled [(ngModel)]="objReconciliation.issue_date" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input disabled [(ngModel)]="objReconciliation.supplier_code" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled [(ngModel)]="objReconciliation.supplier_name" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th id="headerByno">Material Name</th>
                                                        <th id="headerByno">Byno</th>
                                                        <th id="headerLast">Issued Qty</th>
                                                        <th id="headerLast">Consumed Quantity</th>
                                                        <th id="headerLast">Returned Quantity</th>
                                                        <th id="headerLast">Estimated vs Received</th>
                                                        <th id="headerLast">Image</th>
                                                        <!-- <th id="headerOne">Closed Status</th> -->
                                                        <!-- <th id="headerByno">Remarks</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let data of objReconciliation.reconciliation_details;let i = index;'>
                                                        <td class="paddingColumn" id="columnCenter">{{i+1}}</td>
                                                        <td class="paddingColumn" id="columnLeft">
                                                            {{data.material_name}}
                                                        </td>
                                                        <td class="paddingColumn" id="columnLeft">
                                                            {{data.byno}}
                                                        </td>
                                                        <td class="paddingColumn" id="columnRight">
                                                            {{data.issued_qty}}
                                                        </td>
                                                        <td class="paddingColumn" id="columnRight">
                                                            {{data.consumed_qty}}
                                                        </td>
                                                        <td class="paddingColumn" id="columnRight">
                                                            {{data.returned_qty}}
                                                        </td>
                                                        <td class="paddingColumn" id="columnCenter">
                                                            <label (click)="openEstimatedVSReceiptDialog(data.issue_no)" id="hide"><strong>View</strong></label>
                                                        </td>
                                                        <td class="paddingColumn" id="columnCenter">
                                                            <label id="hide"><strong>View</strong></label>
                                                        </td>
                                                        <!-- <td>
                                                            <div id=checkTop>
                                                                <mat-checkbox [(ngModel)]='data.closed'>
                                                                </mat-checkbox>
                                                            </div>
                                                        </td> <td id="columnLeft">
                                                                <input [(ngModel)]='data.remarks' class="form-control form-control-sm inputBox" />
                                                            </td>  -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <label><strong>Remarks</strong></label>
                                                <textarea id="textarea" [(ngModel)]="objReconciliation.remarks" rows="1" class="form-control form-control-sm border border-secondary">
                                                </textarea>
                                            </div>
                                            <div class="col-sm-3" id="divTop">
                                                <div class="upload-btn-wrapper">
                                                    <button class="btn">Attach File</button>
                                                    <input #file id="file-input" hidden accept="image/*" type="file" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2" id="paddingDivTop">
                                                <mat-checkbox [(ngModel)]='objReconciliation.closed'>Closed
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 right" id="divTop">
                                        <button id="matButton" mat-raised-button (click)='addReconciliationUpdate()' color="primary">Close</button>&nbsp;
                                        <!-- <button id="matButton" mat-raised-button (click)='addReconciliationUpdate()' color="primary">Close</button>&nbsp; -->
                                        <button id="matButton" mat-raised-button (click)="onClearReconciliation()" color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>