// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 3%;
    width: 90%;
}

.edit {
    margin-top: 2%;
    width: 1150px;
}

.list {
    margin-top: 2%;
    width: 1100px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

.form-group {
    margin-bottom: 0rem;
}

#checkTop {
    text-align: center;
    margin-top: -7px;
}

#headerByno {
    width: 12%;
}

#headerLoss {
    width: 10%;
}

#headerLast {
    width: 8%;
}

.matDate {
    width: 127px;
}

#status {
    margin-top: 0px;
}

#tableTwo {
    height: 362px;
}

#iRed {
    height: 18px;
    width: 18px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.material-icons {
    font-size: 16px;
    line-height: 1.3;
}

#iconBottom {
    margin-bottom: -3px;
}

.satPopImage {
    background-color: white;
    box-shadow: 1px 1px 2px 1px #80808054;
    padding: 10px;
    min-width: 120px;
}

#bynoImage {
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
}

.paddingColumn {
    padding: 3px;
}

#paddingDivTop{
    padding-top: 29px;
}
// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
