<div class="card" (keypress)="determineEnterKey($event)" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-6">
                <div id="height">{{+(_data.For) !== 3 ? 'Suppliers Search' : 'Accounts Search'}}</div>
            </div>
            <div class="col-sm-6" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="dialogClose()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding:15px">
        <input *ngIf="+(_data.For) !== 3" id="searchInput" cdkFocusInitial [(ngModel)]="_data.searchString"
            (keyup)="searchaccounts(_data.searchString, $event)" autocomplete="off"
            placeholder="Search For Supplier Code" class="form-control form-control-sm">
        <input *ngIf="+(_data.For) === 3" id="searchInput" cdkFocusInitial [(ngModel)]="_data.searchString"
            (keyup)="searchaccounts(_data.searchString, $event)" autocomplete="off"
            placeholder="Search For Account Code" class="form-control form-control-sm">
        <div class="card" style="border-radius:0px;margin-top:10px">
            <div class="card-body" style="padding:15px">
                <div class="table-scroll">
                    <table class="scrollToMe" border='1' id='lookupTable' style="cursor: pointer;">
                        <thead class="docs-primary-header" style="text-align: center;">
                            <tr>
                                <th style="width: 1%;">S.No</th>
                                <th>{{+(_data.For) !== 3 ? 'Supplier Code' : 'Account Code'}}</th>
                                <th>{{+(_data.For) !== 3 ? 'Supplier Name' : 'Account Name'}}</th>
                                <th>GSTIN No</th>
                            </tr>
                        </thead>
                        <tbody (keypress)="determineEnterKey($event)" class="scrollable">
                            <tr *ngFor="let accounts of fillterAccountsList; let i = index" id='row{{i}}'
                                (keypress)="onClick(accounts,$event)" (dblclick)='onDoubleClick(accounts)'
                                (click)="selectedRowIndex = i" [ngClass]="{ highlight: selectedRowIndex == i }">
                                <td style="width: 1%;">{{ i+1 }}</td>
                                <td style="text-align: left;padding-left:4px">{{ accounts.account_code }}</td>
                                <td style="text-align: left;padding-left:4px">{{ accounts.account_name }}</td>
                                <td style="text-align: left;padding-left:4px">{{ accounts.gstn_no === 'null' ? '' : accounts.gstn_no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 10px;">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12" id="right">
                        <button id="matButton" mat-raised-button (click)="dialogOK()"
                            color="primary">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button (click)="dialogClose()" color="warn">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>