<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Counter Stock< List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Godown Stock</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">

                                    <div class="col-sm-3">
                                        <label><strong>Section</strong></label>
                                        <select id="Transfer" 
                                            class="form-control form-control-sm border border-secondary">
                                            <option [value]="">--All--</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-9 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table  class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Counter_Code">
                                                    <mat-header-cell  *matHeaderCellDef>
                                                        Counter Code
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.Counter_Code}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Counter_Name">
                                                    <mat-header-cell  *matHeaderCellDef>
                                                        Counter Name
                                                    </mat-header-cell>
                                                    <mat-cell 
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.Counter_Name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>Total
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Physical_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Physical Qty
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.Physical_Qty}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>0
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="System_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        System Qty
                                                    </mat-header-cell>
                                                    <mat-cell
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.System_Qty}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>0
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Variation_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Variation Qty
                                                    </mat-header-cell>
                                                    <mat-cell
                                                        *matCellDef="let element" class="row-no">
                                                        {{element.Variation_Qty}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>0
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"
                                                [hidden]="dataSource.data.length === 0">
                                            </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                        color="primary" (click)="VariationQty()">All Variation Qty</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- ****************************************** Godown Stock Scanning ********************************************** -->
                <div *ngIf="!componentVisibility" class="new">
                    <div class="card" id="mainbox">
                        <div class="card-header docs-primary-header" id="mainheader">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="height"> Godown Stock</div>
                                </div>
                                <div class="col-sm-6" id="right">
                                    <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                        <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                            <mat-icon id="iconButton">more_vert</mat-icon>
                                        </mat-button-toggle>
                                        <mat-button-toggle (click)='clear()'
                                            id="iButton">
                                            <mat-icon id="iconButton">clear</mat-icon>
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body" id="cardPadding">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label><strong> Counter Code</strong></label>
                                            <input disabled
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>

                                       <div class="col-sm-10">

                                       </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" id="top">
                                <div class="card-body" id="cardPadding">
                                    <div class="table-scroll" id="ediTable">
                                        <table border='1'>
                                            <thead class="docs-primary-header">
                                                <tr>
                                                    <th id="headerOne">S.No</th>
                                                    <th id="headerByno">Byno</th>
                                                    <th id="headerByno">Product Group</th>
                                                    <th id="headerByno">Product</th>
                                                    <th id="headerByno">Brand
                                                    </th>
                                                    <th>Selling Price</th>
                                                    <th>Physical Qty</th>
                                                    <th>System Qty</th>
                                                    <th>Variation</th>
                                                    <th>Counter Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="columnCenter">1</td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="card" id="top">
                                <div class="card-body" id="cardPadding">
                                    <div class="row">
                                        <div class="col-sm-12 right">
                                            <button id="matButton" mat-raised-button
                                                (click)='_router.navigate([_localStorage.getMenuPath()])'
                                                color="warn">Exit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>