<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Single Product ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Single Product</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>ByNo</strong></label>
                                        <input #byno id='byno' [(ngModel)]='objSingleProductLoad.byno'
                                            (keyup)="onKeyPress($event)" autocomplete="off"
                                            class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Section</strong></label>
                                        <input [(ngModel)]='objSingleProductLoad.company_section_name' disabled
                                            class="form-control form-control-sm border border-secondary">
                                    </div>

                                    <!-- <div class="col-sm-6 right" id="divTop">
                                        <button id="matButton" (click)='getSingleProductDetails()' mat-raised-button
                                            color="primary">Load</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerTwo">ByNo</th>
                                                <th id="headerThree">Product Name</th>
                                                <th>Counter</th>
                                                <th>Current Price</th>
                                                <th id="headerlast">New Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of singleProductList;let i = index;'>
                                                <td id="columnCenter">{{i + 1}}</td>
                                                <td id="tdcode">{{data.byno}}</td>
                                                <td id="overflow" [matTooltip]="data.product_name"
                                                    matTooltipPosition="above">{{data.product_name}}</td>
                                                <td id="tdcode">{{data.counter_code}}</td>
                                                <td id="headercurrentprice">{{data.selling_price}}</td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                    <input #newPrice type="text" [(ngModel)]='data.new_selling_price'
                                                        (focus)='$event.target.select()'
                                                        (click)='$event.target.select()'
                                                        (keypress)="onlyAllowDecimal($event,199000,'singleProductList','new_selling_price',i)"
                                                        class="form-control form-control-sm inputBox right">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" (click)="addSingleProduct()" mat-raised-button
                                            color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>