// --------------------- Screen Based CSS Start ------------------- //

#headerOne{
    width:1%
}

.table-scroll td {
    padding: 4px;
    border: 0.5px solid lightgray;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
}

// --------------------- Screen Based CSS End ------------------- //
