// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 7%;
  width: 540px;
}

.list {
  margin-top: 2%;
  width: 569px;
}

#top {
  margin-top: 33px;
  margin-bottom: 0px;
}

#hide {
  margin-bottom: 4px;
}

#divTop{
  margin-top: 10px;
}

#labelTop{
  margin-top: 15px;
}

.mat-icon-button .mat-icon, .mat-icon-button i {
  line-height: 22px;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
  min-width: 285px;
  width: 285px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
  min-width: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
  min-width: 285px;
  width: 285px;
  display: flex;
  justify-content: left;
  text-align: left;
  border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(3) {
  min-width: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 285px;
  margin-bottom: 0px;
}

// --------------------- Table Css End ------------------- //
