<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Byno Selection</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-4">
                        <label><strong>Issue No</strong> </label>
                        <input disabled class="form-control form-control-sm border border-secondary" />
                    </div>
                    <div class="col-sm-4">
                        <label><strong>Issue Date</strong> </label>
                        <input disabled class="form-control form-control-sm border border-secondary" />
                    </div>
                </div>
            </div>
        </div>
        <div class="table-scroll" id="top">
            <table border='1'>
                <tbody>
                    <tr>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                        <td id="columnCenter">
                            <img id="bynoImgae" height="100px" width="100px" type="file"
                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                            <br>
                            <div>
                                <mat-checkbox>CSKA0001/1/1</mat-checkbox>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="card" id="top1">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12 right">
                        <button id="matButton" mat-raised-button color="primary">Select</button>&nbsp;
                        <button id="matButton" mat-raised-button color="warn" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>