<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Goods Transfer List(Returnable)********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfer List (Returnable)</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Section</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>From</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>To</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Status</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker" placeholder="Choose a date" (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" [min]="load.FromDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker" placeholder="Choose a date" (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>

                                    </div>

                                    <div class="col-sm-6 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Transfer_No}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Transfer_Date}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Warehouse_From">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Warehouse_From}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Warehouse_To">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        To
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Warehouse_To}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>Total
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer Qty
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Transfer_qty}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>0
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Selling_Price">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Selling Price
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Selling_Price}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>0
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" matTooltip="Delete this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Goods Transfer(Returnable)********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfer (Returnable) </div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Transfer No</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong> Date</strong></label>
                                        <mat-form-field id="matDate" appearance="outline">
                                            <input (click)="picker6.open()" [matDatepicker]="picker6" matInput readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker6">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker6></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Section</strong></label>
                                        <input autocomplete="off" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>From Sales Location</strong></label>
                                        <input autocomplete="off" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>From Warehouse</strong></label>
                                        <input disabled autocomplete="off" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>To Name</strong></label>
                                        <input autocomplete="off" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>To Address</strong></label>
                                        <input autocomplete="off" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>To GSTIN No</strong></label>
                                        <input autocomplete="off" class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <app-editable-grid *ngIf="showTable === true" [value]="objEditableGrid"></app-editable-grid>
                        <br>

                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <label><strong>Remarks</strong></label>
                                        <textarea id="textarea" rows="1" class="form-control form-control-sm border border-secondary">
                              </textarea>
                                    </div>
                                    <div class="col-sm-5 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>