// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 2%;
    width: 1250px;
}

.new {
    margin-top: 2%;
    width: 650px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#textarea {
    height: 92px;
    resize: none;
}

#top1{
    padding-top:4px
}

#headerByno {
    width: 20%;
}

#headerByno1 {
    width: 10%;
}

#bynoImgae {
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
}

.satPop1 {
    background-color: white;
    box-shadow: 1px 1px 2px 1px #80808054;
    padding: 10px;
    min-width: 120px;
    width: auto;
    height: auto;
}

// --------------------- Screen Based CSS End ------------------- //