<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Byno Tracking - Local Goods</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle id="iButton"
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Byno</strong></label>
                                        <input class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Product ID</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Product Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="divTop">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerByno1">Original Byno</th>
                                                <th id="headerByno1">Old Byno</th>
                                                <th id="headerByno1">Supplier Code</th>
                                                <th>Supplier Name</th>
                                                <th>Supplier Group Name</th>
                                                <th id="headerByno1">Product Code</th>
                                                <th>Supplier Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="columnCenter">1</td>
                                                <td id="cursor" (click)="newClick()">
                                                    <input disabled class="form-control form-control-sm inputBox cursor">
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="divTop">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Image View</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton"
                                        (click)='onClear()'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Byno</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Product ID</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Counter</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>
                                    <div class="col-sm-4" id="top">
                                        <label><strong>Selling Price</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="divTop">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerOne">Image</th>
                                                <th>Image Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="columnCenter">1</td>
                                                <td id="columnCenter" (click)="openImageDialog()">
                                                    <sat-popover #image horizontalAlign="center" verticalAlign="above"
                                                        closeTransition="500ms ease-out">
                                                        <div class="row">
                                                            <div class="info-wrapper satPop1">
                                                                <img id="bynoImgae" type="file" height="100px"
                                                                    width="100px"
                                                                    [src]="'assets\\images\\common\\empty-photo.jpg'"
                                                                    onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                            </div>
                                                        </div>
                                                    </sat-popover>
                                                    <img id="bynoImgae" [satPopoverAnchor]="image"
                                                        (mouseover)="image.open()" (mouseleave)="image.close()"
                                                        height="36px" width="52px" type="file"
                                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="divTop">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='onClear()'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>