@import "theme";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media not print {
    /* hide the printing components from @media screen */
    .printable {
        display: none;
    }
}
@media print {
    /* hide the screen components from @media print */
    .screenable {
        display: none;
    }
    * {
        color: black !important;
    } // optional (remove if colorfull wanted)
}
// ------------------ Common Alignment Start ----------------- //

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.cursor {
    cursor: pointer;
}

#cursor {
    cursor: pointer;
}

#right {
    text-align: right;
}

#left {
    text-align: left;
}

#justify {
    text-align: justify;
}

#center {
    text-align: center;
}

#columnLeft {
    padding-left: 4px;
    text-align: justify;
}

#columnCenter {
    text-align: center;
}

#columnRight {
    padding-right: 4px;
    text-align: right;
}

#labelBottom {
    margin-bottom: 0px;
}

#sup {
    color: red;
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    top: -0.2em;
}

#cardPadding {
    padding: 15px;
}

#group {
    height: 26px;
    border-radius: 0px;
}

#iconButton {
    line-height: 0;
    height: 24px;
    width: 22px;
    margin-left: -10px;
    font-size: 20px;
}

#iButton {
    width: 26px;
    border-radius: 0px;
}

#pdf {
    color: red;
    margin-right: 5px;
}

#excel {
    color: green;
    margin-right: 5px;
}

#responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
}

.card,
p,
label {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

a {
    background-color: transparent;
}

a:active,
a:hover,
a:focus {
    outline-width: 0;
}

a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.w-100 {
    width: 100%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0px;
}

.card-body {
    background-color: white;
}

#mainbox {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: -10px;
    border-radius: 0px;
}

#mainheader {
    padding-left: 8px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-top: 4px;
    color: white;
    font-size: 14px;
    border-radius: 0px;
    margin-bottom: -4px;
}

#height {
    padding-top: 3px;
}

#divTop {
    margin-top: 24px;
}

#top {
    margin-top: 10px;
}

#outForm {
    margin-top: -13px;
    margin-bottom: -16px;
}

#viewCard {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: aliceblue;
    opacity: 1;
}

input:focus {
    outline: none;
}

input,
input::-webkit-input-placeholder {
    color: black;
    font-size: 12px;
}

html,
body {
    height: 100%;
}

.mat-form-field,
.mat-checkbox,
.form-control {
    font-size: 12px;
    width: 100%;
}

.form-control {
    border-radius: 0px;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px !important;
}

.font19 {
    font-size: 19px;
}

.font20 {
    font-size: 20px !important;
}

.red {
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: red;
    width: 100%;
}

.green {
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: green;
    width: 100%;
}

#hide {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0px;
    cursor: pointer;
}

#iRed {
    color: red;
}

#iGreen {
    color: green;
}

#matDateDisable {
    margin-top: -15px;
    margin-bottom: -25px;
}

#matDate {
    margin-top: -14px;
    margin-bottom: -25px;
}

.radio {
    margin-top: 7px;
    margin-bottom: -5px;
}

#iconTableButton {
    width: 30px;
}

#textarea {
    height: auto;
    resize: none;
}

#radioGroup {
    padding-top: 7px;
    margin-bottom: 0px;
}

#paddingLeft {
    padding-left: 0px;
}

#paddingRight {
    padding-right: 0px;
}

#bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

// ------------------ Common Alignment End ----------------- //

// ------------------ Custom CSS Start ----------------- //

.material-icons:focus {
    outline: none;
}

.mat-select-panel:not([class*="mat-elevation-z"]) {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
}

div .mat-select-content {
    min-width: 200px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
}

.mat-option {
    font-size: 12px !important;
}

.mat-option .mat-pseudo-checkbox {
    width: 12px;
    height: 12px;
}

.mat-option .mat-pseudo-checkbox-checked::after {
    top: 2.4px;
    left: 1px;
    width: 5px;
    height: 1px;
    border-left: 2px solid currentColor;
    transform: rotate(-45deg);
    opacity: 1;
    box-sizing: content-box;
}

.table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

div.mat-menu-panel {
    min-height: 0px;
}

div.mat-menu-content:not(:empty) {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
}

button.mat-flat-button {
    background-color: white;
    line-height: 40px;
}

button.mat-menu-item {
    background-color: white;
    line-height: 25px;
    height: 30px;
    border-top: 1px solid#c2cfd6;
}

.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
    width: 40px;
    height: 40px;
}

button:focus {
    outline: 1px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.input-label .mat-form-field-label {
    top: 1.5125em;
    font-size: 14px !important;
}

.mat-select-panel .mat-option {
    font-size: 12px !important;
}

.docs-primary-header {
    padding-left: 20px;
}

.component-page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.docs-primary-header h1 {
    margin: 0;
    padding: 12px 8px;
    font-size: 16px;
}

div.mat-radio-outer-circle {
    height: 16px;
    width: 16px;
}

div.mat-radio-inner-circle {
    height: 16px;
    width: 16px;
}

div.mat-radio-label-content {
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 0px;
    padding-right: 0;
    margin-top: -4px;
}

div.mat-checkbox-inner-container {
    height: 12px;
    width: 12px;
    text-align: center;
    margin-top: 5px;
}

.mat-tab-labels {
    margin-top: -6px;
}

.mat-tab-label-container {
    height: 35px;
    background: khaki;
}

div .mat-tab-body-content {
    overflow-x: hidden;
}

button.mat-icon-button {
    width: 20px;
    height: 20px;
    padding: 0;
    min-width: 0;
    flex-shrink: 0;
    line-height: 0px;
    border-radius: 50%;
}

custom-dialog-container {
    max-width: 100vw !important;
}

div .custom-dialog-container {
    max-width: 100vw !important;
}

div .cdk-overlay-pane .custom-dialog-container {
    max-width: 100vw !important;
}

.cdk-overlay-pane .custom-dialog-container {
    max-width: 100vw;
}

.custom-dialog-container .mat-dialog-container {
    box-shadow: none;
    background: none;
    max-width: 100vw;
}

.custom-dialog-container1 .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0px;
}

.pink-theme .custom-dialog-container .mat-dialog-container {
    box-shadow: none;
    background: none;
}

.light-theme .custom-dialog-container .mat-dialog-container {
    box-shadow: none;
    background: none;
}

.red-theme .custom-dialog-container .mat-dialog-container {
    box-shadow: none;
    background: none;
}

.pink-theme .custom-dialog-container1 .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0px;
}

.light-theme .custom-dialog-container1 .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0px;
}

.red-theme .custom-dialog-container1 .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0px;
}

.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12);
    display: block;
    padding: 0px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
}

.example-selected-value {
    margin: 15px 0;
}

.mat-button-toggle-checked {
    color: white;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: white;
}

.mat-row {
    background: white;
}

div .mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    color: black !important;
    font-weight: bold;
    box-sizing: border-box;
    opacity: 0.6;
    min-width: 135px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

//Date Picker Start

button mat-icon-button mat-button-base {
    display: block;
    font-size: inherit;
    width: 1.5em;
    height: 1.5em;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 0.5em 0;
}

div .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.45em;
    // left: 10px;
}

div .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    // min-width: 72px;
    // width: 180px;
}

div .mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 1.1em;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

div .mat-form-field-appearance-outline .mat-form-field-outline:focus {
    border: 1px solid #6c757d;
}

div .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px;
    border-right-style: none;
    height: 29px;
    border-left: 1px solid #6c757d;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
}

div .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-radius: 0px;
    border: 1px solid currentColor;
    border-left-style: none;
    border-right-style: none;
    height: 29px;
}

div .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px;
    border-left-style: none;
    flex-grow: 1;
    height: 29px;
    border-right: 1px solid #6c757d;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
}

//Date Picker End
div.mat-paginator-container {
    min-height: 0px;
    background-color: white;
}

div.mat-paginator-range-actions {
    margin-right: -5px;
    min-height: 0px;
}

div.mat-paginator-page-size-label {
    color: black;
}

div.mat-paginator-range-label {
    margin: 0 12px 0 12px;
    color: black;
}

svg.mat-paginator-icon {
    width: 20px;
    fill: currentColor;
}

input:disabled {
    background-color: aliceblue;
}

#matButton {
    height: 30px;
    line-height: 0.8px;
    font-size: 13px;
}

#sup {
    color: red;
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    top: -0.25em;
}

//Active Start
.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    // top: 50%;
    width: 100px;
    height: 30px;
    margin: -32px auto 0 50px;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 10 */

#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
    position: absolute;
    top: 3.7px;
    width: 40px;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 5px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before {
    content: "";
    left: 4px;
    background-color: #03a9f4;
}

#button-10 .knobs:after {
    content: "NO";
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span {
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
    color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
    left: 54px;
    background-color: #f44336;
}

#button-10 .checkbox:checked + .knobs:after {
    color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}

#status {
    margin-top: 30px;
}

// Active End

//ng-select Start

.ng-select .ng-select-container .ng-value-container .ng-input > input {
    box-sizing: content-box;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
    cursor: default;
}

.ng-dropdown-panel {
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    width: 100%;
    z-index: 9999;
    -webkit-overflow-scrolling: touch;
    background: white;
    font-size: 12px;
    border: 0px;
}

.ng-select.ng-select-single .ng-select-container {
    height: 25px;
}

.ng-select .ng-select-container {
    background-color: #fff;
    border-radius: 0px;
    border: 0px;
    min-height: 25px;
    align-items: center;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 2px;
    left: 0;
    padding-left: 5px;
    padding-right: 50px;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
}

.ng-select.ng-select-opened > .ng-select-container:hover {
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: blue;
}

.ng-dropdown-panel.ng-select-bottom {
    top: 100%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-color: #e6e6e6;
    margin-top: 1px;
}

.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    /* min-width: 154px; */
    -webkit-overflow-scrolling: touch;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
    display: block;
    height: auto;
    box-sizing: border-box;
    max-height: 240px;
    overflow-y: auto;
    min-width: 240px;
    left: 0px;
    border: 1px solid #e6e6e6;
}

.custom .ng-dropdown-panel {
    min-width: 200px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    padding: 3px 10px;
}

#hide {
    font-weight: bold;
}

// ng-select End

/* perfect-scrollbar */

.ps {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
    position: relative;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}

.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    height: 7px;
    bottom: 0px;
    position: absolute;
}

.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    width: 7px;
    right: 0px;
    position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
    opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
    background-color: #eee;
    opacity: 0.9;
}

.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color 0.2s linear, height 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
    height: 4px;
    bottom: 1px;
    position: absolute;
}

.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color 0.2s linear, width 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
    width: 4px;
    right: 1px;
    position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
    background-color: #999;
    height: 7px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background-color: #999;
    width: 7px;
}

@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}

.sebm-google-map-container {
    height: 490px;
    height: calc(100vh - 144px);
}

#leaflet-map {
    width: 100%;
    height: 490px;
    height: calc(100vh - 144px);
}

//----------Perfect Scrollbar End---------------

mark {
    font-weight: bold;
    background-color: wheat;
}

div .mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: initial;
    -webkit-overflow-scrolling: touch;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -8px;
}

.mat-badge-medium .mat-badge-content {
    width: 18px;
    height: 18px;
    line-height: 20px;
}

.mat-badge-content {
    font-weight: 600;
    font-size: 11px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -6px;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: aliceblue;
    background: aliceblue;
}

.mat-sort-header-arrow {
    color: white;
}

.mat-tooltip.tooltip {
    font-size: 20px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -16px;
}

.btn {
    color: gray;
    background-color: lightgrey;
    padding: 3px 30px;
    border-radius: 0px;
    font-size: 12px;
    font-weight: bold;
}

.btn {
    line-height: 1.7;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

// ------------------ Custom CSS End ----------------- //

// ------------------ Editable Table Start ----------------- //

table tr.highlight {
    background-color: wheat !important;
    color: black;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 300px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.table-scroll table {
    width: 100%;
    min-width: 100px;
    margin: auto;
    border-collapse: collapse;
    border: 0.5px solid lightgray;
    border-spacing: 0;
    font-family: "Roboto", sans-serif;
}

.table-wrap {
    position: relative;
}

.table-scroll th {
    padding: 5px 10px;
    border: 0.5px solid lightgray;
    vertical-align: middle;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.table-scroll td {
    padding: 0px;
    border: 0.5px solid lightgray;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.table-scroll thead th {
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: "Roboto", sans-serif;
}

th.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    font-family: "Roboto", sans-serif;
}

thead th.sticky {
    z-index: 5;
    font-family: "Roboto", sans-serif;
}

.table-scroll tfoot th,
.table-scroll tfoot td {
    color: white;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 9999;
    font-family: "Roboto", sans-serif;
}

tfoot td.sticky {
    z-index: 5;
    font-family: "Roboto", sans-serif;
}

.table-scroll tfoot td {
    color: white;
    padding: 4px;
    font-weight: bold;
}

.table-scroll thead tr:nth-child(2) th {
    top: 29px;
    font-family: "Roboto", sans-serif;
}

#inputBox {
    width: 100%;
    border: 0px;
    padding: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    height: 25px;
}

input#inputBox:focus {
    outline: none;
    outline-color: white;
}

.inputBox {
    width: 100%;
    border: 0px;
    padding: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    height: 25px;
}

input.inputBox:focus {
    outline: none;
    outline-color: white;
}

.table td {
    padding-top: 0px !important;
    background-color: white;
}

#addbtn {
    background-color: white;
    width: 100%;
    padding: 0px;
    min-height: 25px;
}

#addbtn:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
}

#delbtn {
    background-color: white;
    width: 100%;
    padding: 0px;
    min-height: 25px;
}

#delbtn:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
}

.form-control:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
    border-radius: 0px;
}

input[type="checkbox"]:focus {
    outline: none;
    outline-color: white;
    box-shadow: inset 0px 0px 0px 2px rgb(127, 179, 228);
    border-radius: 0px;
}

#headerOne {
    width: 1%;
}

#headerTwo {
    width: 10%;
}

#headerLast {
    width: 8%;
}

.form-group {
    margin-bottom: 0rem;
}

label.mat-checkbox-layout {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
    align-items: baseline;
    vertical-align: middle;
    display: inline-flex;
    white-space: nowrap;
    margin-bottom: 0px;
}

// ------------------ Editable Table End ----------------- //

// ------------------ Material Table Start ----------------- //

.table-container {
    display: flex;
    flex-direction: column;
    max-height: 317px;
    min-width: 300px;
    background: white;
    height: 317px;
    overflow-y: scroll;
}

.mat-table-fixed mat-header-cell {
    min-height: 30px;
    font-weight: bold;
}

.mat-table-fixed mat-cell {
    min-height: 25px;
}

.mat-cell:first-of-type {
    padding-right: 5px;
}

.mat-cell {
    font-size: 12px;
}

.mat-row {
    background: white;
}

.mat-table {
    background: white;
}

.mat-table-fixed mat-header-cell,
.mat-table-fixed mat-cell {
    min-width: 200px;
    width: 200px;
    font-family: "Roboto", sans-serif;
}

.mat-table-fixed .mat-header-row,
.mat-table-fixed .mat-row,
.mat-table-fixed .mat-footer-row {
    width: max-content;
}

.mat-header-row {
    min-height: 20px !important;
    font-family: "Roboto", sans-serif;
}

.mat-row {
    min-height: 24px !important;
    font-family: "Roboto", sans-serif;
}

.mat-table-fixed mat-footer-cell {
    min-height: 25px;
}

.mat-footer-row {
    min-height: 25px !important;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.table-scroll {
    font-family: "Roboto", sans-serif;
}

th,
td {
    font-family: "Roboto", sans-serif;
}

.table-child mat-row mat-cell:nth-child(1),
.table-child mat-header-row mat-header-cell:nth-child(1) {
    min-width: 77px;
}

.mat-cell:first-of-type,
.mat-footer-cell:first-of-type {
    padding-left: 5px;
}

.mat-header-cell:first-of-type {
    padding-left: 0px;
}

.mat-cell:last-of-type,
.mat-header-cell:last-of-type {
    padding-right: 0px;
    padding-left: 0px;
}

.mat-cell {
    padding-left: 5px;
}

.mat-header-cell {
    border-right: 1px solid white;
    padding-left: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 500px;
}

.mat-row:nth-child(even) {
    background-color: aliceblue;
}

.mat-row:hover {
    background-color: wheat;
}

// ------------------ Material Table End ----------------- //

// ------------------ Responsive Layout Start ----------------- //

@media screen and (max-width: 500px) {
    .new {
        width: 100%;
    }
    .list {
        width: 100%;
    }
}

// ------------------ Responsive Layout Start ----------------- //
