<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Warehouse Gatepass Acknowledgement</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input id='fromDate' matInput [(ngModel)]='objLoad.From_Date' #autocomplete
                                                (keyup)="validateFromDate();" (focusout)="validateFromDate()"
                                                (ngModelchange)='matTableConfig([]);' [min]="minDate" [max]="maxDate"
                                                (keypress)="valDate.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [min]="minimumDate" [(ngModel)]="tempFromDate"
                                                [max]="maximumDate" [matDatepicker]="picker" placeholder="Choose a date"
                                                (dateChange)="matTableConfig([]);objLoad.From_Date = valDate.toFormattedDate($event.value);">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input id='toDate' matInput [(ngModel)]='objLoad.To_Date' #autocomplete
                                                (keyup)="validateToDate();" (focusout)="validateToDate()"
                                                [min]="objLoad.From_Date" [max]="maxDate"
                                                (ngModelChange)='matTableConfig([]);'
                                                (keypress)="valDate.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [min]="tempFromDate" [(ngModel)]="tempToDate"
                                                [max]="maximumDate" [matDatepicker]="picker1"
                                                placeholder="Choose a date"
                                                (dateChange)="matTableConfig([]);objLoad.To_Date = valDate.toFormattedDate($event.value);">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-sm-3">
                                        <label><strong>Current Store</strong></label><br>
                                        <input disabled [(ngModel)]='objLoad.Location'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Company Section</strong></label><br>
                                        <select [(ngModel)]='objLoad.Section' id="sections"
                                            class="form-control form-control-sm border border-secondary">
                                            <option *ngFor='let section of loadSectionsList'
                                                [value]='section.company_section_id'>{{section.company_section_name}}
                                            </option>
                                        </select>
                                    </div>


                                    <div class="col-sm-2 right" id="divTop">
                                        <button id="matButton" mat-raised-button (click)='getWarehouseGatePass()'
                                            color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">
                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_Type" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer Type
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.Transfer_Name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Date" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Received Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.Received_Date|date:'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="GRN">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        GRN No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.Outward_Grn_No}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="Gatepass" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Gatepass No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.Gatepass_Title}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Gatepass_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Gatepass Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.Gatepass_Date|date:'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="From">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Source Location
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.Source_Warehouse_Name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Section">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Section
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.Current_Location}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Bale">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Bale Count
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom">
                                                            {{element.No_Of_Bags}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Cancel this row" style="width: 30px;"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Cancel this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div> -->

            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div *ngIf='!objAction.isView' id="height">
                                    {{ !objAction.isEditing ? 'New Warehouse Gatepass Acknowledgement' : 'Edit Warehouse Gatepass Acknowledgement' }}
                                </div>
                                <div *ngIf='objAction.isView' id="height">
                                    View Warehouse Gatepass Acknowledgement
                                </div>
                                <!-- <div id="height">Inward Gatepass Entry</div> -->
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Received Date</strong> </label>
                                        <mat-form-field appearance="outline" id="matDate">
                                            <input matInput disabled [(ngModel)]='objWarehouseGatePass.Received_Date'
                                                [matDatepicker]="picker1">
                                            <mat-datepicker-toggle matSuffix readonly [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Warehouse Location</strong> </label><br>
                                        <input disabled [(ngModel)]='objWarehouseGatePass.Store_Location'
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-4">
                                        <label><strong>From Location</strong></label><br>
                                        <select id='sourceLocation' [(ngModel)]='objWarehouseGatePass.sales_location_id'
                                            [disabled]='objAction.isView '
                                            (ngModelChange)="getWarehouse();onChangeNewFields()"
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                            <option *ngFor='let location of sourceLocationList'
                                                [value]='location.Sales_Location_ID'>{{location.Sales_Location_Name}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-sm-4">
                                        <label><strong>From Warehouse/Store</strong></label><br>
                                        <select [(ngModel)]='objWarehouseGatePass.From_Warehouse'
                                            [disabled]='objAction.isView'
                                            (ngModelChange)='getWarehouseGRNNoList();onChangeNewFields()'
                                            id="fromwarehouse"
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value=''>--Select--</option>
                                            <option *ngFor='let ware of warehouseList' [value]='ware.WareHouse_Id'>
                                                {{ware.Wh_Name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label><strong>GRN No</strong> </label><br>
                                        <select [(ngModel)]='objWarehouseGatePass.grn_no' (focus)='checkWarehouse()'
                                            id="grnNo" [disabled]='objAction.isView' 
                                            (ngModelChange)="getWarehouseGatePassDetails();onChangeNewFields()"
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value=0>--Select--</option>
                                            <option *ngFor='let grn of grnNoList'
                                                [value]='grn.grn_no'>
                                                {{grn.grn_no}}
                                            </option>
                                        </select>
                                    </div>

                                        <div class="col-sm-4"><label><strong>Gatepass No</strong> </label><br>
                                            <input [(ngModel)]='objWarehouseGatePass.Gatepass_No' disabled
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>
                                </div>
                                <br>
                                <div class="row" style="margin-top: -8px;">
                                    <div class="col-sm-4"><label><strong>Ewaybill No</strong> </label><br>
                                        <input [(ngModel)]='objWarehouseGatePass.eway_billno' disabled
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Bale Count</strong> </label><br>
                                        <input [(ngModel)]='objWarehouseGatePass.Bale_Count' id="Bale" disabled
                                            maxlength="10"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-6">
                                        <label><strong>Remarks</strong></label>&nbsp;
                                        <textarea [(ngModel)]='objWarehouseGatePass.Remarks' id="textarea" rows="1"
                                            style="height:auto;resize:none" maxlength="100"
                                            [disabled]='objAction.isView'
                                            class="form-control form-control-sm border border-secondary">
                                </textarea>
                                    </div>
                                </div>

                                <br>
                                <!-- <div class="row" style="margin-top: -8px;">
                                    <div class="col-sm-8">
                                        <label><strong>Remarks</strong></label>&nbsp;
                                        <textarea [(ngModel)]='objWarehouseGatePass.Remarks' id="textarea" rows="1"
                                            style="height:auto;resize:none" maxlength="100"
                                            [disabled]='objAction.isView'
                                            class="form-control form-control-sm border border-secondary">
                                </textarea>
                                    </div>

                                </div> -->
                            </div>

                        </div>
                        <div class="card" style="margin-top:10px">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header" style="color:white">
                                                    <tr>
                                                        <th style="width:60px">S.No</th>
                                                        <th>Gatepass No</th>
                                                        <th>Bale No</th>
                                                        <!-- <th style="width:100px">Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let data of objWarehouseGatePass.Transfer_Details;let i = index;">
                                                        <td id="columnCenter" style="vertical-align: middle;">
                                                            {{i+1}}
                                                        </td>
                                                        <td id="entryTD" #gatepassNo
                                                            style="vertical-align: middle;text-align:left;padding-left: 5px;">
                                                            {{objWarehouseGatePass.gatepass_title}}
                                                        </td>
                                                        <td id="entryTD" #gatepassNo
                                                            style="vertical-align: middle;text-align:right;padding-right: 5px;">
                                                            {{data.bale_no}}
                                                        </td>
                                                        <!-- <td (keyup)="onKeyFocusGlobal($event,i,2)" id="entryTD"
                                                                style="vertical-align: middle;">
                                                                <input #baleNo
                                                                    class="form-control form-control-sm inputBox"
                                                                    (focus)='$event.target.select()'
                                                                    [disabled]='objAction.isView'
                                                                    (click)='$event.target.select()'
                                                                    onDrag="return false" onDrop="return false"
                                                                    onPaste="return false"
                                                                    (input)='calculateTotalBaleCounts()' id="intbl"
                                                                    name="style">
                                                            </td> -->
                                                        <!-- <td (keyup)="onKeyFocusGlobal($event,i,3)">
                                                            <button style="width: 50%;" #action name="del" matTooltip="Remove" (click)="deleteRow(i)" [disabled]='objAction.isView' id="delbtn" class="btn btn-sm">
                                                                <i style="color: red;" class="fa fa-trash"></i>
                                                            </button>
                                                            <button #action class="btn btn-sm" matTooltip="Add" (click)="addRows()" 
                                                                name="add" id="addbtn">
                                                                <i style="color: green;" class="fa fa-plus"></i>
                                                            </button>
                                                        </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header" style="color:white">
                                                    <tr>
                                                        <th style="width:1%">S.No</th>
                                                        <th>Transfer No</th>
                                                        <th>Transfer Date</th>
                                                        <th>Transfer Type</th>
                                                        <th>Transfer Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let data of objWarehouseGatePass.Transfer_Details;let i = index;">
                                                        <td id="entryTD"
                                                            style="width:8%;vertical-align: middle;text-align: center;padding-right:5px">
                                                            {{i+1}}
                                                        </td>
                                                        <td id="entryTD"
                                                            style="vertical-align: middle;text-align: left;padding-left: 5px;">
                                                            {{data.Transfer_Ref_No}}
                                                        </td>
                                                        <td id="entryTD"
                                                            style="vertical-align: middle;text-align: left;">
                                                            {{data.Transfer_Date|date:'dd/MM/yyyy'}} </td>
                                                        <td id="entryTD"
                                                            style="vertical-align: middle;text-align: left;">
                                                            {{data.Transfer_Type}} </td>
                                                        <td id="entryTD"
                                                            style="vertical-align: middle;text-align: right;padding-right: 5px;">
                                                            {{data.Transfer_Qty}} </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th id="footercolor"></th>
                                                        <th id="footercolor"></th>
                                                        <th id="footercolor"></th>
                                                        <th id="footercolor"></th>
                                                        <th id="footercolor"
                                                            style="vertical-align: middle;text-align: right;padding-right: 5px;">
                                                            {{getTotal()}}</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-top:10px">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button *ngIf='!objAction.isView' id="matButton" mat-raised-button
                                            (click)='saveWarehouseGatePass()'
                                            color="primary">{{objAction.isEditing ? 'Update' : 'Save'}}</button>&nbsp;
                                        <button *ngIf='!objAction.isView' id="matButton" mat-raised-button color="warn"
                                            (click)="onClear(false)">Clear</button>
                                        <button *ngIf='objAction.isView' id="matButton" mat-raised-button color="warn"
                                            (click)="onListClick()">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='exportToPdf()'>
            <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
            <span>Export To PDF</span>
        </button>
        <button mat-menu-item (click)='exportToExcel()'>
            <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
            <span>Export To Excel</span>
        </button>
    </mat-menu>



    <sat-popover #Gatepass horizontalAlign="after" verticalAlign="start" closeTransition="500ms ease-out">
        <div class="info-wrapper satPop">
            <div class="card" id="mainbox" style="width:450px">
                <div class="card-header docs-primary-header" id="mainheader">
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="height">Gatepass Details</div>
                        </div>
                        <div class="col-sm-6" id="right">
                            <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                <mat-button-toggle (click)='$event.stopPropagation(); Gatepass.toggle();' id="iButton">
                                    <mat-icon id="iconButton">clear</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardPadding">
                    <div class="card">
                        <div class="card-body" style="padding:15px">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label><strong>Gatepass No</strong></label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="hide"><strong>{{objGatepassDetails.GatePass_No}}</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label><strong>Gatepass Date</strong></label>
                                </div>
                                <div class="col-sm-6">
                                    <label
                                        id="hide"><strong>{{objGatepassDetails.GatePass_Date | date : 'dd/MM/yyyy'}}</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label><strong>Gatepass Type</strong></label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="hide"><strong>{{objGatepassDetails.GatePass_Type}}</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label><strong>Section Name</strong></label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="hide"><strong>{{objGatepassDetails.Gate_Section_Name}}</strong></label>
                                </div>
                            </div>
                            <!-- <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Supplier Name</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label id="hide"><strong>{{objGatepassDetails.Account_Name}}</strong></label>
                                    </div>
                                </div> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label><strong>Total Bale Count</strong></label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="hide"><strong>{{objGatepassDetails.Bale_Count}}</strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-top:10px">
                        <div class="card-body" id="cardPadding">
                            <div class="row">
                                <div class="col-sm-12" id="right">
                                    <button (click)='$event.stopPropagation(); Gatepass.toggle();' id="matButton"
                                        mat-raised-button color="warn">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sat-popover>