.new {
  margin-top: 1%;
  width: 650px;
}

.list {
  margin-top: 2%;
  width: 1250px;
}

.mat-table-fixed mat-header-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.mat-table-fixed mat-header-cell:nth-child(3) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.mat-table-fixed mat-header-cell:nth-child(4) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.mat-table-fixed mat-header-cell:nth-child(8) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(9) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
  min-width: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.mat-table-fixed mat-cell:nth-child(3) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.mat-table-fixed mat-cell:nth-child(4) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.mat-table-fixed mat-cell:nth-child(5) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.mat-table-fixed mat-cell:nth-child(6) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.mat-table-fixed mat-cell:nth-child(7) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.mat-table-fixed mat-cell:nth-child(8) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 5px;
  border-right: 0px;
}
.mat-table-fixed mat-cell:nth-child(9) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 268px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
