// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 5%;
    width: 450px;
}

#hide {
    text-decoration: none;
}

#top {
    margin-top: 6px;
}

#top1 {
    margin-top: 18px;
}

// --------------------- Screen Based CSS End ------------------- //
