// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 1%;
    width: 1027px;
  }
  
  .list {
    margin-top: 1.5%;
    width: 955px;
  }
  
  .mat-icon-button .mat-icon,
  .mat-icon-button i {
    line-height: 20px;
  }
  
  #top {
    margin-top: 10px;
  }
  
//   .table-scroll {
//     height: 279px;
//   }
  
  #headerOne{
    width:1%;
    height: 25px;
  }

  #headertwo {
    width: 50%; 
  }

  #sno{
      text-align: center;
  }

  #headerDescription{
      width: 32%;
  }

  #tdlast{
      text-align: left;
      padding-left: 5px;
  }
  
  #headerLast{
    width:3%
  }

  #productName {
    width: 29%;
  }


#topbutton{
    margin-top: -1px;
    text-align: right;
}

#footercolor{
    background-color: wheat;
    height: 25px;
    padding-right: 5px;
text-align: right;
}

#rights {
    text-align: right;
    margin-top: 24px;
}

#remarkstop{
  margin-top: 2px;
}

#remarkslabel{
  margin-top: 2px;
}
  
  // --------------------- Screen Based CSS End ------------------- //
  
  // --------------------- Table Css Start ------------------- //
  
  .mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 133px;
    width: 133px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 103px;
    width: 103px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 86px;
    width: 86px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
  }

  .mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(3) {
    min-width: 133px;
    width: 133px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(4) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(5) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
 
  .mat-table-fixed mat-cell:nth-child(6) {
    min-width: 103px;
    width: 103px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
  }
  
  .mat-table-fixed mat-cell:nth-child(7) {
    min-width: 86px;
    width: 86px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
  }

  .mat-table-fixed mat-cell:nth-child(8) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
  }

  
  #overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px;
    margin-bottom: 0px;
  }
  
  #overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-bottom: 0px;
  }
  
  ::ng-deep .mat-tooltip {
    font-size: 14px;
  }

  #divTop {
    margin-top: 24px;
    text-align: right;
}

#banktop {
    margin-top: 24px;
}

#hides{
    color: #303f9f;
}

#labelButton{
    margin-top: 14px;
    font-size: 11px;
}

#headercost{
    width: 12%;
}

#headerPo {
    width: 12%;
}

#bootstraptable{
    height: 118px;
}

#attachFile {
    text-align: right;
    margin-top: 21px;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 262px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

#bynoImgae {
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
}

.satPop1 {
  background-color: white;
  box-shadow: 1px 1px 2px 1px #80808054;
  padding: 10px;
  min-width: 120px;
  width: auto;
  height: auto;
}

#headerimage{
  width: 6%;
}

  // --------------------- Table Css End ------------------- //
  