<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Polish Order List********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Polish Order List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="load.FromDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Status</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--All--</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>From</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>To</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-9" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Polish_Order_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        polish Order No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Polish_Order_No}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Polish_Order_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        polish Order Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Polish_Order_Date}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="From">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.From}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="To">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        To
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.To}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Saree_Value">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Saree Value
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Saree_Value}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Quantity">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Quantity}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <!-- <button mat-icon-button color="primary"
                                                                matTooltip="Delete this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button> -->
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Polish Order ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Polish Order</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                            <div class="col-sm-3">
                                                <label><strong> Polish order No</strong></label>
                                                <input disabled
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div class="col-sm-3">
                                                <label><strong> Date</strong></label>
                                                <input disabled [(ngModel)]="Date"
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>

                                    <div class="col-sm-3">
                                        <label><strong> Bill No</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong> Sales Location </strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--All--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate">
                                            <input (click)="picker1.open()" matInput readonly [matDatepicker]="picker1">
                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Delivery Time</strong></label>
                                        <input #fromTime class="form-control form-control-sm border border-secondary"
                                            autocomplete="off" type="time" name="name0">
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong> Order Taken By</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong> Warehouse </strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--All--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" id="top">

                                    <div class="col-sm-3">
                                        <label><strong>Bonus Card No</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Customer Name</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Phone No</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Address1</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Address2</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    
                                    <div class="col-sm-3">
                                        <label><strong>Address3</strong></label>
                                        <input class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne" rowspan="2">S.No</th>
                                                        <th id="headerPo" rowspan="2">ByNo</th>
                                                        <th rowspan="2" id="headerimage">Image</th>
                                                        <th id="headerDescription" rowspan="2">Description</th>
                                                        <th rowspan="2">Saree Value</th>
                                                        <th colspan="2">Roll Polish</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Charges</th>
                                                        <th>Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="sno">1</td>
                                                        <td></td>
                                                        <td id="columnCenter">
                                                            <sat-popover #image horizontalAlign="center"
                                                                verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <img id="bynoImgae" type="file" height="100px"
                                                                            width="100px"
                                                                            [src]="'assets\\images\\common\\empty-photo.jpg'"
                                                                            onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="bynoImgae" [satPopoverAnchor]="image"
                                                                (mouseover)="image.open()" (mouseleave)="image.close()"
                                                                height="36px" width="52px" type="file"
                                                                [src]="'assets\\images\\common\\empty-photo.jpg'">
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label><strong>Remarks</strong></label>
                                            </div>

                                            <div class="col-sm-10">
                                                <textarea id="textarea" rows="1"
                                                    class="form-control form-control-sm border border-secondary">
                              </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" id="right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>