// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 3%;
    width: 650px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}


// --------------------- Screen Based CSS End ------------------- //
