<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Work Order Receipt List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton"
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> From Date</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate"
                                            #autocomplete (keyup)="validateFromDate()"  [min]="minDate" 
                                            (focusout)="validateFromDate()"
                                            (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker" 
                                            placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                            (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value);">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div> <br>

                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> To Date</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" 
                                            #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()"  
                                            [max]="maxDate"
                                            [min]="load.FromDate"
                                            (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker" 
                                            [max]="maximumDate" [min]="fromDate1"
                                            placeholder="Choose a date" (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value);">      
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-checkbox (change)='onChangeOfAllSuppliers()' 
                                        [(ngModel)]="allsuppliers">All Suppliers</mat-checkbox>
                                    </div>
                                    <div class="col-sm-8">

                                    </div>
                                </div>
                                                                
                            <div *ngIf="allsuppliers">
                                <br>
                                <div class="row">
                                    <div class="col-sm-4" id="top1">
                                        <label><strong> Supplier Code </strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input [(ngModel)]="objWorkOrderIssue.supplier_code" id="supplierCode"
                                        (keyup)='openNewSupplierLookups($event);' autocomplete="off"
                                        (focusout)='checkValidSupplierName($event,"newSupplier")'
                                        maxlength="10" (input)='onEnterNewSupplierLookupDetail()'
                                        class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong> Supplier Name </strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="hide"><strong> {{objWorkOrderIssue.supplier_name}}
                                            </strong></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="card" id="divTop">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" 
                                        (click)= 'generateReport()' mat-raised-button color="primary">View</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'>Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>