// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 2%;
  width: 1179px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 20px;
}

#top {
  margin-top: 10px;
}

//   .table-scroll {
//     height: 279px;
//   }

#headerOne {
  width: 1%;
}
#headerbyno {
  width: 13%;
}

#headerAmount {
  width: 9%;
}

#headerLast {
  width: 5%;
}

#tdlast {
  text-align: left;
  padding-left: 5px;
}

#topbutton {
  margin-top: -1px;
  text-align: right;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 310px;
  margin-bottom: 0px;
}

#overflow1 {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

#divTop {
  margin-top: 24px;
  text-align: right;
}

#columnCenter1 {
  padding-top: 2px;
  padding-bottom: 8px;
  text-align: center;
}

#checkTop {
  margin-top: -4.5px;
}

#columnLeftprice{
  text-align: right;
  padding-right: 5px;
}

.table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 320px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
// --------------------- Table Css End ------------------- //
