// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 1%;
    width: 1232px;
  }
  
  .list {
    margin-top: 1.5%;
    width: 1067px;
  }
  
  .mat-icon-button .mat-icon,
  .mat-icon-button i {
    line-height: 20px;
  }
  
  #top {
    margin-top: 10px;
  }
  
  .table-scroll {
    height: 239px;
  }
  
  #headerOne{
    width:1%
  }

  #headerSupplier{
    width: 102px;
  }

  #headerPurchase{
      width: 105px;
  }
  
  #headerLast{
    width:3%
  }

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -19px
}

.btn {
    color: gray;
    background-color: lightgrey;
    padding: 3px 30px;
    border-radius: 0px;
    font-size: 12px;
    font-weight: bold;
}

.btn {
    line-height: 1.7;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#topbutton{
    margin-top: 23px;
    text-align: right;
}
  // --------------------- Screen Based CSS End ------------------- //
  
  // --------------------- Table Css Start ------------------- //
  
  .mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 294px;
    width: 294px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

 
  .mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
  }
  
  .mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(4) {
    min-width: 294px;
    width: 294px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(5) {
    min-width: 200px;
    width: 200px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(6) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
  }

  .mat-table-fixed mat-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  #overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px;
    margin-bottom: 0px;
  }
  
  ::ng-deep .mat-tooltip {
    font-size: 14px;
  }

  #divTop {
    margin-top: 24px;
    text-align: left;
}

.dot {
    height: 13px;
    width: 13px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: -2px;
}

#mailToLabel{
    margin-top: 7px;
    margin-bottom: 0px;
    color: #303f9f;
}

#mailToSupplier{
    margin-top: 7px;
    margin-bottom: 0px;
    color: red; 
}

#textareas{
    resize: none;
    height: 92px;
}

#headerProductGroup{
    width: 17%;
}

#headerSize{
  width: 6%;
}

#headerProduct{
    width: 17%;
}

#headerQty{
    width: 66px;
}

#headerCostPrice{
   width: 12%; 
}

#row{
    text-align: center;
}

#labelBottom {
  margin-bottom: 0px;
  text-align: right;
}

#labelBottomLeft {
  margin-bottom: 0px;
  text-align: left;
}

  
  // --------------------- Table Css End ------------------- //
  