<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Supplier Purchase Order List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Supplier Purchase Order List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="startDate" [(ngModel)]="objLoadDetailedPO.from_date"
                                                #autocomplete (keyup)="validateStartDate()" (ngModelChange)="matTableConfig([])"
                                                (focusout)="validateStartDate();" [min]="minDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off"
                                                (ngModelChange)="matTableConfig([])">
                                            <input type="hidden" [min]="minimumDate" [(ngModel)]="startDate1"
                                                [matDatepicker]="startPicker" placeholder="Choose a date" (dateChange)="objLoadDetailedPO.from_date =
                                             dateValidation.toFormattedDate($event.value);matTableConfig([])">
                                            <mat-datepicker-toggle matSuffix [for]="startPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #startPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="endDate" [(ngModel)]="objLoadDetailedPO.to_date"
                                                #autocomplete (keyup)="validateEndDate()" (ngModelChange)="matTableConfig([])"
                                                (focusout)="validateEndDate();" [min]="objLoadDetailedPO.from_date"
                                                [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off" (ngModelChange)="matTableConfig([])">
                                            <input type="hidden" [(ngModel)]="endDate1" [min]="startDate1"
                                                [matDatepicker]="endPicker" placeholder="Choose a date" (dateChange)="objLoadDetailedPO.to_date = 
                                            dateValidation.toFormattedDate($event.value);matTableConfig([])">
                                            <mat-datepicker-toggle matSuffix [for]="endPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #endPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input (keyup)='openLoadSupplierLookup($event);' maxlength="20"
                                            autocomplete="off" (input)='onEnterLoadSupplierLookupDetails()'
                                            [(ngModel)]='objLoadDetailedPO.supplier_code' (ngModelChange)="matTableConfig([])"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled [(ngModel)]='objLoadDetailedPO.supplier_name' disabled
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Status</strong></label>
                                        <select [(ngModel)]="objLoadDetailedPO.status" (ngModelChange)="matTableConfig([])"
                                            class="form-control form-control-sm border border-secondary">
                                            <option value="0">All</option>
                                            <option value="1">Cancelled</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-2">
                                        <label><strong>Brand</strong></label>
                                        <select [(ngModel)]="objLoadDetailedPO.brand" (ngModelChange)="matTableConfig([])"
                                            class="form-control form-control-sm border border-secondary">
                                            <option value=''>--Select--</option>
                                            <option *ngFor='let brand of getBrandList' [value]='brand.brand'>
                                                {{brand.brand}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-10 left" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="loadDetailedPurchaseOrderList()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label [ngClass]="{'red': element.cancelled === true }">
                                                            {{i+1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PO_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        PO No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.po_no}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Po_Date" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        PO Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.po_date | date : 'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.supplier_name}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Brand">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Brand
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.brand}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Total_Amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Total Amount
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.net_amount | number : '1.2-2'}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)="viewDetailedPODetails(i)" 
                                                                matTooltip="View this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)="fetchDetailedPODetails(i)" [disabled]="element.cancelled === true"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)="onClickDelete(i)" matTooltip="Delete this row" [disabled]="element.cancelled === true"
                                                                id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span class="dot"></span>&nbsp;&nbsp;&nbsp;&nbsp;<label>Cancelled</label>
                                    </div>

                                    <div class="col-sm-2">
                                        <label id="mailToLabel"><strong>Mail To Management</strong></label>
                                    </div>

                                    <div class="col-sm-2">
                                        <label id="mailToSupplier"><strong>Mail To Supplier</strong></label>
                                    </div>

                                    <div class="col-sm-6" id="right">
                                        <button id="matButton" (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            mat-raised-button color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Supplier Purchase Order Entry ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">{{objAction.isEditing ? 'Edit Supplier Purchase Order Entry' :
                                    'Supplier Purchase Order Entry'}}</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle *ngIf = 'objAction.isView === false' (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle *ngIf = 'objAction.isView === true' (click)="onClearView()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div>
                                            <label><strong>Po No</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objDetailedPO.po_no" disabled
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>
                                        <div id="top">
                                            <label><strong>Po Date</strong></label>
                                            <mat-form-field appearance="outline" id="matDate"
                                                class="example-full-width">
                                                <input matInput id="toDate" [(ngModel)]="objDetailedPO.po_date"
                                                    #autocomplete (keyup)="validatePODate()" [disabled]="objAction.isView === true"
                                                    (focusout)="validatePODate()" [min]="maximumDate" [max]="maxDate"
                                                    (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                                <input type="hidden" [(ngModel)]="poDate1" [min]="minimumDate"
                                                    [max]="maximumDate" [matDatepicker]="poPicker"
                                                    placeholder="Choose a date" [disabled]="objAction.isView === true"
                                                    (dateChange)="objDetailedPO.po_date = dateValidation.toFormattedDate($event.value)">
                                                <mat-datepicker-toggle matSuffix [for]="poPicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #poPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div id="top">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label><strong>Supplier Code</strong></label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <mat-checkbox [(ngModel)]="objDetailedPO.new_supplier"
                                                     [disabled]="objAction.isView === true"   (ngModelChange)="onCheckNewSupplier()">New Supplier
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                            <input autocomplete="off" [(ngModel)]="objDetailedPO.supplier_code"
                                                [disabled]="objDetailedPO.new_supplier === true || objAction.isView === true" id="code"
                                                (keyup)='openNewSupplierLookup($event);' maxlength="20"
                                                autocomplete="off" (input)='onEnterNewSupplierLookupDetails()'
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div>
                                            <label><strong>Supplier Name</strong></label>&nbsp;
                                            <input autocomplete="off" [(ngModel)]="objDetailedPO.supplier_name"
                                                [disabled]="objDetailedPO.new_supplier === false || objAction.isView === true" maxlength="100" id="name"
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div>
                                            <label><strong>Address</strong></label>
                                            <textarea id="textareas" rows="4" [disabled]="objDetailedPO.new_supplier === false
                                            || objAction.isView === true"
                                                [(ngModel)]="objDetailedPO.supplier_address" maxlength="200"
                                                class="form-control form-control-sm border border-secondary">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div>
                                            <label><strong>Reference No</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objDetailedPO.reference_no"
                                                maxlength="50" id="refNO" [disabled]="objAction.isView === true"
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div id="top">
                                            <label><strong>Raised By</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objDetailedPO.raised_by"
                                                maxlength="100" id="raisedBy" [disabled]="objAction.isView === true"
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div>
                                            <label><strong>Brand</strong></label>
                                            <select autocomplete="off" [(ngModel)]="objDetailedPO.brand" id="brand"
                                                (ngModelChange)="getProductGroupDetailsForPO()" [disabled]="objAction.isView === true"
                                                class="form-control form-control-sm border border-secondary">
                                                <option value=''>--Select--</option>
                                                <option *ngFor='let brand of getBrandList' [value]='brand.brand'>
                                                    {{brand.brand}}</option>
                                            </select>
                                        </div>

                                        <!-- <div id="top">
                                            <label><strong>Sales Location</strong></label>
                                            <select autocomplete="off" [(ngModel)]="objDetailedPO.sales_location_id"
                                                id="location"
                                                class="form-control form-control-sm border border-secondary">
                                                <option value=0>--Select--</option>
                                            </select>
                                        </div> -->
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-9">
                                    </div>
                                    <div class="col-sm-1">
                                        <input autocomplete="off" placeholder="From Row"
                                            (keypress)='onEnterFromRow($event,$event.target.value)'
                                            [(ngModel)]="contextMenuModel.From_Row" [disabled]="objAction.isView === true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-1">
                                        <input autocomplete="off" placeholder="To Row"
                                            (keypress)='onEnterToRow($event,$event.target.value)'
                                            [(ngModel)]="contextMenuModel.To_Row" [disabled]="objAction.isView === true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-1 right">
                                        <button id="matButton" mat-raised-button color="primary"
                                         [disabled]="objAction.isView === true"   (click)="onContextMenuAddRow(contextMenuModel)">AddRow</button>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne" rowspan="2">S.No</th>
                                                        <th rowspan="2" id="headerProductGroup">Product Group</th>
                                                        <th rowspan="2" id="headerProduct">Product</th>
                                                        <th id="headerSupplier" rowspan="2">Design Code</th>
                                                        <th id="headerPurchase" rowspan="2">Color</th>
                                                        <th rowspan="2" id="headerQty">Quality</th>
                                                        <th rowspan="2" id="headerSize">Size</th>
                                                        <th rowspan="2" id="headerCostPrice">Cost Price</th>
                                                        <th rowspan="2">Qty</th>
                                                        <th rowspan="2">Amount</th>
                                                        <th id="headerLast" rowspan="2">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let data of getDetailedPOGirdList; let i = index;">
                                                    <tr>
                                                        <td id="row" (keyup)="onKeyFocusGlobal($event, i, 0)">{{i+1}}
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                            <ng-select #productGroup id="productGroup"
                                                            (click)="onClickProductGroupValidate()" [disabled]="objAction.isView === true"
                                                                [(ngModel)]="data.product_group_name" appendTo="body"
                                                                class="custom" [items]="getProductGroupList"
                                                                (ngModelChange)="getProductListForPO(i)"
                                                                [clearable]="false" bindLabel="product_group_name" bindValue="product_group_name">
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-index="index">
                                                                    <span>{{item.product_group_name}}</span>
                                                                </ng-template>
                                                            </ng-select>
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                            <ng-select #product id="product"  
                                                            [(ngModel)]="data.product" appendTo="body" class="custom"
                                                           [disabled]="objAction.isView === true"
                                                             [items]="getProductList" (ngModelChange)="getDesignCodeListForPO(i)"
                                                             bindLabel="product" bindValue="product" [clearable]="false">
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-index="index">
                                                                    <span>{{item.product}}</span>
                                                                </ng-template>
                                                            </ng-select>
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                            <ng-select #designCode id="designCode"
                                                                [(ngModel)]="data.design_code" appendTo="body"
                                                                [disabled]="objAction.isView === true"
                                                                class="custom" [items]="getDesignCodeList"
                                                                (ngModelChange)="getColorListForPO(i)" [clearable]="false"
                                                                bindLabel="style_code" bindValue="style_code">
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-index="index">
                                                                    <span>{{item.style_code}}</span>
                                                                </ng-template>
                                                            </ng-select>
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                            <ng-select #color id="color" [(ngModel)]="data.color"
                                                            [disabled]="objAction.isView === true"
                                                                appendTo="body" class="custom" [items]="getColorList"
                                                                (ngModelChange)='getQualityListForPO(i)'
                                                                [clearable]="false" bindLabel="color" bindValue="color">
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-index="index">
                                                                    <span>{{item.color}}</span>
                                                                </ng-template>
                                                            </ng-select>
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 5)">
                                                            <ng-select #quality id="quality" [(ngModel)]="data.quality"
                                                            [disabled]="objAction.isView === true"
                                                                appendTo="body" class="custom" [items]="getQualityList"
                                                                (ngModelChange)="getizeListForPO(i)" bindLabel="quality"
                                                                [clearable]="false"   bindValue="quality">
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-index="index">
                                                                    <span>{{item.quality}}</span>
                                                                </ng-template>
                                                            </ng-select>
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 6)">
                                                            <ng-select #size id="size" [(ngModel)]="data.size"
                                                             [disabled]="objAction.isView === true"
                                                                appendTo="body" class="custom" [items]="getSizeList"
                                                                [clearable]="false"   bindLabel="size" bindValue="size">
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-index="index">
                                                                    <span>{{item.size}}</span>
                                                                </ng-template>
                                                            </ng-select>
                                                        </td>

                                                        <td (keyup)="onKeyFocusGlobal($event, i, 7)">
                                                            <input type="text" #cost [(ngModel)]="data.cost_price"
                                                                (keypress)="onlyAllowDecimalForCostPrice($event,99999.99,'data','cost_price',i);"
                                                                (input)="getTotalAmount(data)" [disabled]="objAction.isView === true"
                                                                (focusout)="openLocationTableDialog(i,data)"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 8)">
                                                            <input type="text" #qty [(ngModel)]="data.qty" 
                                                                (input)="getTotalAmount(data);getNetQuantityTotal();" [disabled]="objAction.isView === true"
                                                                (keypress)="onlyAllowDecimalForQty($event,99999.99,'data','qty',i);"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 9)">
                                                            <input type="text" #amount [(ngModel)]="data.amount"
                                                                (ngModelChange)="getNetTotalTotal()" [disabled]="objAction.isView === true"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>

                                                        <td (keyup)="onKeyFocusGlobal($event, i, 10)">
                                                            <button #action
                                                                *ngIf="i !== getDetailedPOGirdList.length - 1"
                                                                (click)="deleteDetailedPOGrid(i)" name="del" [disabled]="objAction.isView === true"
                                                                matTooltip="Remove" id="delbtn" class="btn btn-sm">
                                                                <i style="color: red;" class="fa fa-trash"></i>
                                                            </button>
                                                            <button #action
                                                                *ngIf="i === getDetailedPOGirdList.length - 1"
                                                                (click)="addNewDetailedGridEntry()" matTooltip="Add"
                                                                [disabled]="getDetailedPOGirdList[i].product_group_name === '' || 
                                                                getDetailedPOGirdList[i].product === '' || getDetailedPOGirdList[i].cost_price === '' ||
                                                                getDetailedPOGirdList[i].amount === '' || objAction.isView === true"
                                                                class="btn btn-sm" name="add" id="addbtn">
                                                                <i style="color: green;" class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Delivery Schedule</strong></label>
                                        <input autocomplete="off" [(ngModel)]="objDetailedPO.delivery_schedule"
                                            id="schedule" maxlength="100" [disabled]="objAction.isView === true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Delivery Location</strong></label>
                                        <select [(ngModel)]="objDetailedPO.to_sales_location_id" id="deliveryLoc"
                                          [disabled]="objAction.isView === true"  class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                            <option *ngFor = 'let location of getLocationList' 
                                            [value]='location.sales_location_id'>{{location.sales_location_name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Delivery Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="deliveryDate" [(ngModel)]="objDetailedPO.delivery_date"
                                             [disabled]="objAction.isView === true"   #autocomplete (keyup)="validateDeliveryDate()"
                                                (focusout)="validateDeliveryDate()" [min]="maximumDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="deliveryDate1" [min]="minimumDate"
                                                [max]="maximumDate" [matDatepicker]="toPicker"
                                                placeholder="Choose a date" [disabled]="objAction.isView === true"
                                                (dateChange)="objDetailedPO.delivery_date = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Payment Terms</strong></label>
                                        <input [(ngModel)]="objDetailedPO.payment_terms" id="terms" [disabled]="objAction.isView === true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-4">
                                        <label><strong>Credit Days</strong></label>
                                        <input [(ngModel)]="objDetailedPO.credit_days" id="creditDays" [disabled]="objAction.isView === true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-6">
                                        <label><strong>Remarks</strong></label>
                                        <textarea id="textarea" rows="1" [(ngModel)]="objDetailedPO.remarks"
                                          [disabled]="objAction.isView === true"  class="form-control form-control-sm border border-secondary">
                                        </textarea>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Net Quantity</strong></label>
                                        <input [(ngModel)]="objDetailedPO.net_quantity" disabled
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Net Total</strong></label>
                                        <input [(ngModel)]="objDetailedPO.net_total" disabled
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2" id="topbutton">
                                        <button id="matButton" (click)="onSaveDetailedPurchaseOrders()" [disabled]="objAction.isView === true"
                                            mat-raised-button color="primary">{{objAction.isEditing ? 'Update' :
                                            'Save'}}</button>&nbsp;
                                        <button id="matButton" (click)="onClear(false)" mat-raised-button
                                          [disabled]="objAction.isView === true"  color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>