// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 2%;
    width: 1220px;
}

.list {
    margin-top: 2%;
    width: 894px;
}

#hide {
    margin-bottom: 4px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 131px;
    width: 131px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 105px;
    width: 105px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 105px;
    width: 105px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}


.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 131px;
    width: 131px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 105px;
    width: 105px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 105px;
    width: 105px;
    display: flex;
    justify-content: left;
    text-align: left;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.mat-table-fixed mat-footer-cell:nth-child(2) {
    min-width: 131px;
    width: 131px;
    display: flex;
    justify-content: left;
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(3) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}
.mat-table-fixed mat-footer-cell:nth-child(4) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.mat-table-fixed mat-footer-cell:nth-child(5) {
    min-width: 105px;
    width: 105px;
    display: flex;
    justify-content: left;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
}
.mat-table-fixed mat-footer-cell:nth-child(6) {
    min-width: 105px;
    width: 105px;
    display: flex;
    justify-content: left;
    text-align: left;
    border-right: 0px;
}

.mat-table-fixed mat-footer-cell:nth-child(7) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
