<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Goods Transfer in Bales ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Goods Transfer in Bales</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Section</strong></label>
                                        <input [(ngModel)]="objLoad.section"
                                         disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Sales Location</strong></label>
                                        <select id="target" [(ngModel)]="objLoad.sales_location_id" (ngModelChange)='matTableConfig([])'
                                            class="form-control form-control-sm border border-secondary">
                                            <option *ngFor="let location of workingLocationList"
                                                [value]="location.Sales_Location_ID">
                                                {{location.Sales_Location_Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Section GRN</strong></label>
                                        <select id="section" [(ngModel)]="objLoad.section_grn_no" (ngModelChange)='matTableConfig([])'
                                        class="form-control form-control-sm border border-secondary">
                                        <option *ngFor="let section of getSectionGRNList"
                                            [value]="section.grn_no">
                                            {{section.section_grn_no}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>GRN Date</strong></label>
                                        <input [(ngModel)]="objLoad.grn_date" disabled class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-8 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary" (click)="loadGoodsTransferBalesDetails()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">
                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <!-- <ng-container matColumnDef="select">
                                                    <mat-header-cell *matHeaderCellDef>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row ; let i = index ;">
                                                        <mat-checkbox  [(ngModel)]="row.is_selected"
                                                            (change)="selectedRowIndexList($event,row)">
                                                        </mat-checkbox>
                                                    </mat-cell>
                                                </ng-container> -->

                                                <ng-container matColumnDef="remote_transfer_id">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Transfer No
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.remote_transfer_id}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="remote_transfer_date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Transfer Date
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.remote_transfer_date | date : 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Source_From">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Source From
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.source_warehouse_name}}
                                                    </mat-cell>
                                                </ng-container>

                                                <!-- <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container> -->

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary"
                                        (click)="saveGoodsTransferBalesDetails()">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>