<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** MRP Change ********************************************** -->
            <div class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">MRP Change</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                 
                                    <mat-button-toggle (click)='onClear(true)' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <div>
                                                <label><strong>Byno</strong></label>
                                                <input #byno id='byno' [(ngModel)]='objMrpChange.byno'
                                                    (keyup)="onKeyPress($event)" autocomplete="off"
                                                    class="form-control form-control-sm border border-secondary">
                                            </div>

                                            <div id="top">
                                                <label><strong>Product Description</strong></label>
                                                <input disabled [(ngModel)]='objMrpChange.product_name'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div id="top">
                                                <label><strong>UOM</strong></label>
                                                <input disabled [(ngModel)]='objMrpChange.uom_description'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div id="top">
                                                <label><strong>Pcs</strong></label>
                                                <input disabled [(ngModel)]='objMrpChange.prod_pcs'
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>

                                            <div id="top">
                                                <label><strong>Qty</strong></label>
                                                <input disabled [(ngModel)]='objMrpChange.prod_qty'
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div>
                                            <div>
                                                <label><strong>MRP</strong></label>
                                                <input [(ngModel)]='objMrpChange.mrp_amount'
                                                    (click)='$event.target.select()' (focus)='$event.target.select()'
                                                    (keypress)="onlyAllowDecimal($event,199000,'objMrpChange','mrp_amount')"
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>

                                            <div id="top">
                                                <label><strong>HSN Code</strong></label>
                                                <input disabled [(ngModel)]='objMrpChange.hsncode'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div id="top">
                                                <label><strong>Tax %</strong></label>
                                                <input disabled [(ngModel)]='objMrpChange.tax'
                                                    class="form-control form-control-sm border border-secondary right" />
                                            </div>

                                            <div id="top">
                                                <label><strong>Remarks</strong></label>
                                                <textarea id="textarea" rows="3" [(ngModel)]='objMrpChange.remarks'
                                                    class="form-control form-control-sm border border-secondary">
                                    </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" (click)='addMRPChanges()' mat-raised-button
                                            color="primary">Save</button>&nbsp;
                                        <button (click)='onClear(false)' id="matButton" mat-raised-button
                                            color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>