// --------------------- Screen Based CSS Start ------------------- //

.list {
    margin-top: 1%;
    width: 661px;
}

#hide {
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 22px;
}

#top {
    padding-top: 5px;
}

#headerOne {
    width: 1%;
}

#columnCenter {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

#divAdjus{
    padding-top: 25px;
    margin-bottom: -5px;
}

#headerTwo{
    width: 12%;
}

#headerThree{
   width: 21%; 
}

#headerFour{
    width: 15%;
}

#headerlast{
    width: 15%;
}

#textarea{
    height: 97px;
}

// --------------------- Screen Based CSS End ------------------- //
