<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Counter Excess Entry List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Godown Shortage Entry List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.FromDate" #autocomplete
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                 [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate"
                                                
                                                (dateChange)="objLoad.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.ToDate" #autocomplete
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                 [min]="objLoad.FromDate"
                                                [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker"
                                                placeholder="Choose a date" 
                                                (dateChange)="objLoad.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Adjustment_ID">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Adjustment ID
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Adjustment_ID}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Adjustment_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Adjustment Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Adjustment_Date |date:'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Source_Type">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Source Type
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Source_Type}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Adjustment_Type">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Adjustment Type
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Adjustment_Type}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Transfer_Pcs">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Transfer Pcs
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Transfer_Pcs}}
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Godown Excess Entry ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Godown Shortage Entry</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)='OnClear()' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Reconciliation ID</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Machine Name</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Reconciliation Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput readonly [matDatepicker]="picker1">
                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-5">

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="top">
                            <app-editable-grid *ngIf="showTable === true" [value]="objEditableGrid"></app-editable-grid>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label id="labelAdjus"><strong> Remarks</strong></label>
                                            </div>
                                            <div class="col-sm-10">
                                                <textarea rows="1" id="textarea"
                                                    class="form-control form-control-sm border border-secondary"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" id="right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>