// --------------------- Screen Based CSS Start ------------------- //
.new {
    margin-top: 1%;
    width: 788px;
}

.list {
    margin-top: 1.5%;
    width: 1383px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 20px;
}

#top {
    margin-top: 8px;
}

#top2 {
    margin-top: 10px;
}

#top1 {
    margin-top: 15px;
}

#topsub {
    margin-top: 15px;
}

#tdlast {
    text-align: left;
    padding-left: 5px;
}

#bynoImgae {
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
}

.satPop1 {
    background-color: white;
    box-shadow: 1px 1px 2px 1px #80808054;
    padding: 10px;
    min-width: 120px;
    width: auto;
    height: auto;
}

#topbutton {
    margin-top: -1px;
    text-align: right;
}

#rights {
    text-align: right;
    margin-top: 24px;
}

#textarea {
    height: 155px;
}

// --------------------- Screen Based CSS End ------------------- //
// --------------------- Table Css Start ------------------- //
.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(9) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(10) {
    min-width: 127px;
    width: 127px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(11) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(12) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(13) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(14) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(15) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(16) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
}

.mat-table-fixed mat-header-cell:nth-child(17) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 210px;
    width: 210px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
    min-width: 150px;
    width: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(7) {
    min-width: 96px;
    width: 96px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(8) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(9) {
    min-width: 104px;
    width: 104px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(10) {
    min-width: 127px;
    width: 127px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(11) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(12) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(13) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(14) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(15) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(16) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(17) {
    min-width: 91px;
    width: 91px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
}

#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px;
    margin-bottom: 0px;
}

#overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-bottom: 0px;
}

 ::ng-deep .mat-tooltip {
    font-size: 14px;
}

#divTop {
    margin-top: 24px;
    text-align: right;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 262px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

#labelBottom {
    margin-bottom: 0px;
    text-align: right;
}

#labelBottom1 {
    margin-bottom: 0px;
    text-align: left;
}

#labelBottom2 {
    margin-bottom: 0px;
    text-align: center;
}

// --------------------- Table Css End ------------------- //