<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Invoice Register List********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Invoice Register List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="load.FromDate" #autocomplete (keyup)="validateFromDate()" (focusout)="validateFromDate()" (ngModelChange)="matTableConfig([])" [min]="minDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="fromDate1" [matDatepicker]="fromPicker" placeholder="Choose a date" [min]="minimumDate" [max]="maximumDate" (dateChange)="matTableConfig([])" (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete (keyup)="validateToDate()" (focusout)="validateToDate()" (ngModelChange)="matTableConfig([])" [min]="load.FromDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)" autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [matDatepicker]="toPicker" placeholder="Choose a date" (dateChange)="matTableConfig([])" (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Status</strong></label>
                                        <select [(ngModel)]="load.Status" (ngModelChange)="matTableConfig([])" class="form-control form-control-sm border border-secondary">
                                            <option value="All">All</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary" (click)="getInvoiceRegisterList()">Load</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label id="labelBottom2" [ngClass]="{'red': element.active === false }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="by_no" sticky>
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        By No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            </label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="supplier_code" sticky>
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Supplier Code <button id="buttonTop" mat-icon-button [satPopoverAnchor]="NoFilter" (click)="$event.stopPropagation(); NoFilter.toggle();" color="secondary" class="Filter-icon">
                                                        <mat-icon aria-label="Filter">arrow_drop_down
                                                        </mat-icon>
                                                    </button> &nbsp;
                                                        <sat-popover #NoFilter horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                                            <div class="info-wrapper satPop">
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <mat-form-field class="w-100">
                                                                            <input matInput (keyup)="SuplierCodeFilter($event.target.value, $event)" placeholder='Search' type="text" name="filter">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-sm-3" id="satTop">
                                                                        <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                                                            <mat-button-toggle color="primary" (click)='$event.stopPropagation(); NoFilter.toggle();' id="iButton">
                                                                                <mat-icon id="iconButton">
                                                                                    clear
                                                                                </mat-icon>
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </sat-popover>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.supplier_code}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="supplier_name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Supplier Name <button id="buttonTop" mat-icon-button [satPopoverAnchor]="NoFilter" (click)="$event.stopPropagation(); NoFilter.toggle();" color="secondary" class="Filter-icon">
                                                            <mat-icon aria-label="Filter">arrow_drop_down
                                                            </mat-icon>
                                                        </button> &nbsp;
                                                        <sat-popover #NoFilter horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                                            <div class="info-wrapper satPop">
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <mat-form-field class="w-100">
                                                                            <input matInput (keyup)="SuplierNameFilter($event.target.value, $event)" placeholder='Search' type="text" name="filter">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-sm-3" id="satTop">
                                                                        <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                                                            <mat-button-toggle color="primary" (click)='$event.stopPropagation(); NoFilter.toggle();' id="iButton">
                                                                                <mat-icon id="iconButton">
                                                                                    clear
                                                                                </mat-icon>
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </sat-popover>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.supplier_name}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="invoice_no">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Invoice No <button id="buttonTop" mat-icon-button [satPopoverAnchor]="NoFilter" (click)="$event.stopPropagation(); NoFilter.toggle();" color="secondary" class="Filter-icon">
                                                            <mat-icon aria-label="Filter">arrow_drop_down
                                                            </mat-icon>
                                                        </button> &nbsp;
                                                        <sat-popover #NoFilter horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                                            <div class="info-wrapper satPop">
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <mat-form-field class="w-100">
                                                                            <input matInput (keyup)="SuplierInvoiceNoFilter($event.target.value, $event)" placeholder='Search' type="text" name="filter">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-sm-3" id="satTop">
                                                                        <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                                                            <mat-button-toggle color="primary" (click)='$event.stopPropagation(); NoFilter.toggle();' id="iButton">
                                                                                <mat-icon id="iconButton">
                                                                                    clear
                                                                                </mat-icon>
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </sat-popover>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.invoice_no}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="invoice_date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Invoice Date <button id="buttonTop" mat-icon-button [satPopoverAnchor]="NoFilter" (click)="$event.stopPropagation(); NoFilter.toggle();" color="secondary" class="Filter-icon">
                                                            <mat-icon aria-label="Filter">arrow_drop_down
                                                            </mat-icon>
                                                        </button> &nbsp;
                                                        <sat-popover #NoFilter horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
                                                            <div class="info-wrapper satPop">
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <mat-form-field class="w-100">
                                                                            <input matInput (keyup)="SuplierCodeFilter($event.target.value, $event)" placeholder='Search' type="text" name="filter">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-sm-3" id="satTop">
                                                                        <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                                                            <mat-button-toggle color="primary" (click)='$event.stopPropagation(); NoFilter.toggle();' id="iButton">
                                                                                <mat-icon id="iconButton">
                                                                                    clear
                                                                                </mat-icon>
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </sat-popover>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.invoice_date |date:'dd/MM/yyyy'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="grn_no">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        GRN No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.grn_no}}</label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="lr_no">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        LR No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.grn_no}}</label>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="ewaybillno">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Eway Bill No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.ewaybillno}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="entered_date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Invoice Entry Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom1" [ngClass]="{'red': element.active === false }">
                                                            {{element.entered_date |date:'dd/MM/yyyy'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="sub_total">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Sub Total
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false }">
                                                            {{element.sub_total | number: '1.2-2'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="other_amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Others
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false }">
                                                            {{element.other_amount | number: '1.2-2'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="taxable_amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Taxable Value
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false }">
                                                            {{element.taxable_amount | number: '1.2-2'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="cgst_amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        CGST
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false }">
                                                            {{element.cgst_amount | number: '1.2-2'}}</label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="sgst_amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        SGST
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false }">
                                                            {{element.sgst_amount | number: '1.2-2'}} </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="igst_amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        IGST
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.active === false }">
                                                            {{element.igst_amount | number: '1.2-2'}} </label>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)='modifyInvoiceRegister(true,i)' [disabled]="!element.active || element.approved" matTooltip="Edit this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row"
                                                                    [ngClass]="{'red': element.active === false }"
                                                                    class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" (click)="onClickDelete(i)" matTooltip="Delete this row" id="iconTableButton" [disabled]="!element.active || element.approved" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    cancel
                                                                </mat-icon>
                                                            </button>

                                                            <button mat-icon-button color="primary" matTooltip="Approve This Row" [disabled]="element.approved || !element.active" (click)="onClickApproved(i)" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Approve Row" class="f-14">
                                                                    thumb_up
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Invoice Register ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Invoice Register</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div>
                                            <div>
                                                <label><strong>Supplier Code</strong></label>
                                                <input #newSupplier id='newSupplier' (keyup)='openNewSupplierLookup($event);' autocomplete="off" (focusout)='checkValidSupplierName($event,"newSupplier")' maxlength="10" (input)='onEnterNewSupplierLookupDetails()' [(ngModel)]='objInvoiceRegister.supplier_code'
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div id="top">
                                                <label><strong>Supplier Name</strong></label>
                                                <textarea id="textarea" rows="4" disabled [(ngModel)]='objInvoiceRegister.supplier_address' class="form-control form-control-sm border border-secondary"></textarea>
                                            </div>

                                            <div id="top">
                                                <label><strong>GSTN No</strong></label>
                                                <input id="gstnno" [(ngModel)]='objInvoiceRegister.gstn_no' maxlength="20" class="form-control form-control-sm border border-secondary" />
                                            </div>

                                            <div id="top">
                                                <label><strong>Eway Bill No</strong></label>
                                                <input id="ewaybillno" [(ngModel)]='objInvoiceRegister.ewaybillno' maxlength="30" class="form-control form-control-sm border border-secondary" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-4">

                                        <div>
                                            <label><strong>Invoice No</strong></label>
                                            <input id="invoiceno" [(ngModel)]='objInvoiceRegister.invoice_no' maxlength="50" class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div id="top">
                                            <label><strong>Invoice Date</strong></label>
                                            <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                <input (click)="picker.open()" matInput [(ngModel)]='objInvoiceRegister.invoice_date' readonly [max]='maxDate' [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div id="top1">
                                            <label><strong>Sub Total</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.sub_total' id="subtotal" (input)="calculateTaxableValue();calculateToatalInvoiceAmount()" (keypress)="onlyAllowDecimal($event,99999999999.99,'objInvoiceRegister','sub_total');" (click)='$event.target.select()' (focus)='$event.target.select()'
                                                onDrag="return false" onDrop="return false" onPaste="return false" class="form-control form-control-sm border border-secondary" />
                                        </div>
                                        <div id="top">
                                            <label><strong>Others</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.other_amount' id="others" (input)="calculateTaxableValue();calculateToatalInvoiceAmount()" (click)='$event.target.select()' onDrag="return false" onDrop="return false" onPaste="return false" (focus)='$event.target.select()'
                                                (keypress)="onlyAllowDecimal($event,99999999999.99,'objInvoiceRegister','others');" class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div id="top">
                                            <label><strong>Taxable Value</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.taxable_amount' disabled (input)='calculateToatalInvoiceAmount()' class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">

                                        <div>
                                            <label><strong>CGST</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.cgst_amount' id="cgst" [disabled]="objInvoiceRegister.igst_amount!=0" (input)='calculateToatalInvoiceAmount()' (keypress)="onlyAllowDecimal($event,99999999999.99,'objInvoiceRegister','cgst_amount');" (click)='$event.target.select()'
                                                onDrag="return false" onDrop="return false" onPaste="return false" (focus)='$event.target.select()' (change)="changeInIGST();calculateToatalInvoiceAmount()" class="form-control form-control-sm border border-secondary"
                                            />
                                        </div>

                                        <div id="top">
                                            <label><strong>SGST</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.sgst_amount' id="sgst" [disabled]="objInvoiceRegister.igst_amount!=0" (change)="changeIGST();calculateToatalInvoiceAmount()" (input)='calculateToatalInvoiceAmount()' (click)='$event.target.select()' onDrag="return false"
                                                onDrop="return false" onPaste="return false" (focus)='$event.target.select()' (keypress)="onlyAllowDecimal($event,99999999999.99,'objInvoiceRegister','sgst_amount');" class="form-control form-control-sm border border-secondary"
                                            />
                                        </div>

                                        <div id="top">
                                            <label><strong>IGST</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.igst_amount' id="igst" [disabled]="objInvoiceRegister.cgst_amount!=0 || objInvoiceRegister.sgst_amount!=0" (input)="calculateToatalInvoiceAmount()" (keypress)="onlyAllowDecimal($event,99999999999.99,'objInvoiceRegister','igst_amount');"
                                                (click)='$event.target.select()' (focus)='$event.target.select()' onDrag="return false" onDrop="return false" onPaste="return false" class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div id="top">
                                            <label><strong>Cess</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.cess' id="cess" (input)='calculateToatalInvoiceAmount()' (click)='$event.target.select()' onDrag="return false" onDrop="return false" onPaste="return false" (focus)='$event.target.select()' (keypress)="onlyAllowDecimal($event,99999999999.99,'objInvoiceRegister','cess');"
                                                class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div id="top">
                                            <label><strong>Round Off</strong></label>
                                            <input [(ngModel)]='objInvoiceRegister.round_off' id="roundoff" ng-model="negativeNumber" allow-negative="true" (input)='calculateToatalInvoiceAmount()' (click)='$event.target.select()' onDrag="return false" onDrop="return false" onPaste="return false"
                                                (focus)='$event.target.select()' (keypress)="onlyAllowRoundOffDecimal($event,99999999999.99,'objInvoiceRegister','round_off');" class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div id="top2">
                                            <label><strong>Total Invoice Amount</strong></label>
                                            <input disabled [(ngModel)]='objInvoiceRegister.invoice_amount' class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="saveInvoiceRegister()">{{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn" (click)="onClear(false)">Clear</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='exportToPdf()'>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item (click)='exportToExcel()'>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>