<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Godown To Counter Transfer Acknowledgement List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Godown To Counter Transfer Acknowledgement List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <!-- <mat-button-toggle (click)="newClick()" [disabled]="!rights.Add" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle> -->
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Section</strong></label>
                                        <input disabled [(ngModel)]='objLoad.section' section
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Current Store</strong></label>
                                        <input autocomplete="off" disabled
                                            [(ngModel)]="objLoad.from_warehouse"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>From Warehouse</strong></label>
                                        <select id="toSection" [(ngModel)]='objLoad.to_location'
                                            (ngModelChange)="onClearGtoCList()"
                                            class="form-control form-control-sm border border-secondary">
                                            <!-- <option disabled value = 0>--Select--</option> -->
                                            <option *ngFor="let data of locationList" [value]="data.warehouse_id">
                                                {{data.wh_name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>From Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate"
                                            class="example-full-width">
                                            <input matInput id="fromDate" [(ngModel)]="objLoad.from_date"
                                                #autocomplete (ngModelChange)='onClearGtoCList();'
                                                (keyup)="validateFromDate()" (focusout)="validateFromDate()"
                                                [min]="minDate" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [min]="minimumDate" [(ngModel)]="fromDate1"
                                                [max]="maximumDate" [matDatepicker]="fromPicker"
                                                placeholder="Choose a date" (dateChange)="objLoad.from_date = dateValidation.toFormattedDate($event.value);
                                                onClearGtoCList()">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>To Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate"
                                            class="example-full-width">
                                            <input matInput id="toDate" [(ngModel)]="objLoad.to_date"
                                                #autocomplete (ngModelChange)="onClearGtoCList()"
                                                (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                [min]="objLoad.from_date" [max]="maxDate"
                                                (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [(ngModel)]="toDate1" [min]="fromDate1"
                                                [max]="maximumDate" [matDatepicker]="toPicker"
                                                placeholder="Choose a date"
                                                (dateChange)="objLoad.to_date = dateValidation.toFormattedDate($event.value); onClearGtoCList()">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>  
                                    <div class="col-sm-1 right" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary"
                                            (click)="loadGtoCDetails()">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="transfer_id" sticky>
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Transfer No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_id}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="transfer_date">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Transfer Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_date | date : 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="ack_date" sticky>
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Ack Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.ack_date | date : 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="To_Section">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Current Store
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.destination_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>


                                                <ng-container matColumnDef="From_Section">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From Warehouse
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.source_name}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                             
                                                <ng-container matColumnDef="Ack_Pcs">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack Pcs
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_pcs}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Ack_Qty">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Ack Qty
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.transfer_qty}}
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getAckQtyTotal.ack_qty}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)="fetchGodowntoCounterDetails(i)"
                                                                matTooltip="View this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"
                                                    [hidden]="dataSource.data.length === 0">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ****************************************** Godown To Counter Transfer Acknowledgement Acknowledgement ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">New Godown To Counter Transfer Acknowledgement</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle *ngIf="objAction.isView == false" (click)="onClear(true)"
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle *ngIf="objAction.isView == true" id="iButton"
                                        (click)="onClearView()">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Godown Transfer Date</strong></label>
                                        <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                            <input matInput id="date" [(ngModel)]="objGodownToCounter.transfer_date"
                                                #autocomplete [disabled]="objAction.isView==true"
                                                (keyup)="validateDate()" (focusout)="validateDate()" [min]="minDate"
                                                [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                autocomplete="off">
                                            <input type="hidden" [(ngModel)]="date1" [min]="minimumDate"
                                                [max]="maximumDate" [matDatepicker]="toPicker1"
                                                placeholder="Choose a date" #autocomplete
                                                (dateChange)="objGodownToCounter.transfer_date = dateValidation.toFormattedDate($event.value);">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker1"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Godown Transfer Ack Date</strong></label>
                                        <input autocomplete="off" disabled
                                            [(ngModel)]="objGodownToCounter.transfer_ack_date"
                                            [disabled]="objAction.isView==true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Godown Transfer No<sup id='sup'>*</sup></strong></label>
                                        <input autocomplete="off" [(ngModel)]="objGodownToCounter.transfer_id"
                                            id="transferId" maxlength="10"
                                            (input)="_keyPressEvents.onlyAllowNumbers($event);"
                                            [disabled]="objAction.isView==true" (click)="checkToLocationIsEmpty()"
                                            (keyup)="onKeyPressTransferNo($event)"
                                            (ngModelChange)="onClearByNoDetails()"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>From Section</strong></label>
                                        <input autocomplete="off" disabled [(ngModel)]="objGodownToCounter.from_section"
                                            [disabled]="objAction.isView==true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Current Store</strong></label>
                                        <input autocomplete="off" disabled
                                            [(ngModel)]="objGodownToCounter.from_warehouse"
                                            [disabled]="objAction.isView==true"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>From Warehouse<sup id='sup'>*</sup></strong></label>
                                        <select id="location" [(ngModel)]='objGodownToCounter.to_location'
                                            (ngModelChange)='matTableConfig([])' [disabled]="objAction.isView==true"
                                            class="form-control form-control-sm border border-secondary">
                                            <!-- <option disabled value=0>--Select--</option> -->
                                            <option *ngFor="let data1 of locationList" [value]="data1.warehouse_id">
                                                {{data1.wh_name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Byno<sup id='sup'>*</sup></strong></label>
                                        <input autocomplete="off" [(ngModel)]="objGodownToCounter.byno" id="byNo"
                                            maxlength="50" [disabled]="objAction.isView==true"
                                            (keyup)="onKeyPress($event)" (click)="checkTransferNoEmpty()"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>Ack Pieces</strong></label>
                                                <input autocomplete="off" disabled
                                                    [(ngModel)]="objGodownToCounter.acknowledged_pieces"
                                                    [disabled]="objAction.isView==true"
                                                    class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Total Pieces</strong></label>
                                        <input autocomplete="off" disabled [(ngModel)]="objGodownToCounter.total_pieces"
                                            [disabled]="objAction.isView==true"
                                            class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="row">  
                                    <!-- <div class="col-sm-9" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary" (click)="loadTransferNoBasedByNoDetails()" >Load</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <!-- <br>
                    <app-editable-grid *ngIf="showTable === true" [value]="objEditableGrid"></app-editable-grid>
                    <br> -->

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th>Byno</th>
                                                        <th>Received Byno</th>
                                                        <th id="productName">Product Name</th>
                                                        <th>UOM</th>
                                                        <th>Selling Price</th>
                                                        <th>Qty</th>
                                                        <th>Pieces</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of byNoList; let i=index">
                                                        <td id="sno">{{i+1}}
                                                            <!-- <label>{{i+1}}</label> -->
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]='data.byno'
                                                                [ngClass]="{'green': data.received_byno  !== undefined}"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]='data.received_byno'
                                                                [ngClass]="{'green': data.received_byno  !== undefined} "
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]='data.product_name'
                                                                [ngClass]="{'green': data.received_byno  !== undefined}"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled
                                                                [(ngModel)]="data.uom_descrition"
                                                                [ngClass]="{'green': data.received_byno  !== undefined}"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>

                                                        <td>
                                                            <input type="text" disabled [(ngModel)]="data.selling_price"
                                                                [ngClass]="{'green': data.received_byno  !== undefined}"
                                                                id="price"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td id="headerqty">
                                                            <input type="text" disabled [(ngModel)]="data.prod_qty"
                                                                id="price"
                                                                [ngClass]="{'green': data.received_byno  !== undefined}"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td>
                                                            <input type="text" disabled [(ngModel)]="data.prod_pcs"
                                                                id="price"
                                                                [ngClass]="{'green': data.received_byno  !== undefined}"
                                                                class="form-control form-control-sm inputBox">
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-1" id="remarksTop">
                                                <label><strong>Remarks</strong></label>
                                            </div>
                                            <div class="col-sm-11" id="inputTop">
                                                <textarea id="textarea" rows="1"
                                                    [(ngModel)]="objGodownToCounter.remarks" maxlength="200"
                                                    [disabled]="objAction.isView==true"
                                                    class="form-control form-control-sm border border-secondary">
                                  </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 right" id="rights">
                                        <button id="matButton" mat-raised-button color="primary"
                                            [disabled]="objAction.isView==true"
                                            (click)="onSaveGToCAcknowledgementDetails()">Save</button>&nbsp;
                                        <button id="matButton" *ngIf="objAction.isView == false" mat-raised-button color="warn"
                                            (click)="onClear(false)">Clear</button>
                                            <button id="matButton" *ngIf="objAction.isView == true" mat-raised-button color="warn"
                                            (click)="onClearView()">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****************************************** Export Menu ********************************************** -->
    <mat-menu #menu="matMenu">
        <button (click)="exportToPdf()" mat-menu-item>
            <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
            <span>Export To PDF</span>
        </button>
        <button (click)="exportToExcel()" mat-menu-item>
            <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
            <span>Export To Excel</span>
        </button>
    </mat-menu>