<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Sales Return Other Location********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Sales Return Other Location</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>From Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input matInput id="fromDate" [(ngModel)]="load.FromDate"
                                                        #autocomplete (keyup)="validateFromDate()"
                                                        (focusout)="validateFromDate()"
                                                        (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="fromDate1"
                                                        [matDatepicker]="fromPicker" placeholder="Choose a date"
                                                        (dateChange)="load.FromDate = dateValidation.toFormattedDate($event.value)">
                                                    <mat-datepicker-toggle matSuffix [for]="fromPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #fromPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-6">
                                                <label><strong>To Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate"
                                                    class="example-full-width">
                                                    <input matInput id="toDate" [(ngModel)]="load.ToDate" #autocomplete
                                                        (keyup)="validateToDate()" (focusout)="validateToDate()"
                                                        [min]="load.FromDate" [max]="maxDate"
                                                        (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="toDate1"
                                                        [matDatepicker]="toPicker" placeholder="Choose a date"
                                                        (dateChange)="load.ToDate = dateValidation.toFormattedDate($event.value)">
                                                    <mat-datepicker-toggle matSuffix [for]="toPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #toPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Location</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label><strong>Status</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-5" id="divTop">
                                        <button id="matButton" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>                            

                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Approve_Id" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Approve ID
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Approve_Id}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Sales_Return_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Sales Return No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Sales_Return_No}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Sales_Return_Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Sales Return Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Sales_Return_Date}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="From_Location">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        From Location
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.From_Location}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Byno">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Byno
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Byno}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Quantity">
                                                    <mat-header-cell *matHeaderCellDef>
                                                       Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Quantity}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Code">
                                                    <mat-header-cell *matHeaderCellDef>
                                                       Product Code
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Product_Code}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Selling_Price">
                                                    <mat-header-cell *matHeaderCellDef>
                                                      Selling Price
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Selling_Price}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Status
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Status}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Card_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                      Bonus Card No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        {{element.Card_No}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Sales Return Other Location********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Sales Return Form - Other Location </div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Sales Return No</strong></label>
                                        <input disabled class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Bill No</strong></label>
                                        <input autocomplete="off"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                        <div class="col-sm-3">
                                        <label><strong> Sales Return Date</strong></label>
                                        <mat-form-field id="matDate" appearance="outline">
                                            <input (click)="picker6.open()" [matDatepicker]="picker6" matInput readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker6">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker6></mat-datepicker>
                                        </mat-form-field>
                                    </div> 

                                    <div class="col-sm-3">
                                        <label><strong>Bill Date</strong></label>
                                        <mat-form-field id="matDate" appearance="outline">
                                            <input (click)="picker5.open()" [matDatepicker]="picker5" matInput readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker5">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker5></mat-datepicker>
                                        </mat-form-field>
                                    </div> 

                                </div>

                                <div class="row" id="top">
                                        <div class="col-sm-3">
                                        <label><strong>Goods Physically In</strong></label>
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option disabled [value]=0>--Select--</option>
                                        </select>
                                    </div> 
                                    <div class="col-sm-3">
                                        <label><strong>Product Code</strong></label>
                                        <input autocomplete="off" 
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Byno</strong></label>
                                        <input autocomplete="off" 
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label><strong>Qty</strong></label>
                                        <input autocomplete="off" 
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-3">
                                        <label><strong>Pcs</strong></label>
                                        <input autocomplete="off" 
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                <div class="col-sm-3">
                                    <label><strong>Selling Price</strong></label>
                                    <input autocomplete="off" 
                                        class="form-control form-control-sm border border-secondary" />
                                </div>

                                <div class="col-sm-3">
                                    <label><strong>Bonus Card No</strong></label>
                                    <input autocomplete="off" 
                                        class="form-control form-control-sm border border-secondary" />
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>