// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 6%;
    width: 843px;
  }
  
  .list {
    margin-top: 1.5%;
    width: 1453px;
  }
  
  .mat-icon-button .mat-icon,
  .mat-icon-button i {
    line-height: 20px;
  }
  
  #top {
    margin-top: 10px;
  }
  
//   .table-scroll {
//     height: 279px;
//   }
  
  #headerOne{
    width:1%
  }
  
  #headerLast{
    width:3%
  }

  #productName {
    width: 29%;
  }


#topbutton{
    margin-top: -1px;
    text-align: right;
}

#footercolor{
    background-color: wheat;
    height: 25px;
    padding-right: 5px;
text-align: right;
}

#rights {
    text-align: right;
    margin-top: 24px;
}

#remarkstop{
  margin-top: 2px;
}

#remarkslabel{
  margin-top: 2px;
}
  
  // --------------------- Screen Based CSS End ------------------- //
  
  // --------------------- Table Css Start ------------------- //
  
  .mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 118px;
    width: 118px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(6) {
    min-width: 173px;
    width: 173px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(7) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(8) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(9) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .mat-table-fixed mat-header-cell:nth-child(10) {
    min-width: 181px;
    width: 181px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(11) {
    min-width: 88px;
    width: 88px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(12) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(2) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(4) {
    min-width: 118px;
    width: 118px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(5) {
    min-width: 180px;
    width: 180px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(6) {
    min-width: 173px;
    width: 173px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(7) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(8) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(9) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .mat-table-fixed mat-cell:nth-child(10) {
    min-width: 181px;
    width: 181px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(11) {
    min-width: 88px;
    width: 88px;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    padding-right: 5px;
    border-right: 0px;
  }
  
  .mat-table-fixed mat-cell:nth-child(12) {
    min-width: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

 
  
  #overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px;
    margin-bottom: 0px;
  }
  
  #overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-bottom: 0px;
  }
  
  ::ng-deep .mat-tooltip {
    font-size: 14px;
  }

  #divTop {
    margin-top: 24px;
    text-align: right;
}

#banktop {
    margin-top: 24px;
}

#hides{
    color: #303f9f;
}

#labelButton{
  margin-top: 14px;
  font-size: 11px;
}
  // --------------------- Table Css End ------------------- //
  