<div class="card" id="mainbox">
    <div class="card-header docs-primary-header" id="mainheader">
        <div class="row">
            <div class="col-sm-10">
                <div id="height">Receipt Details</div>
            </div>
            <div class="col-sm-2" id="right">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="onClear()" id="iButton">
                        <mat-icon id="iconButton">clear</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="table-scroll">
                    <table border='1'>
                        <thead class="docs-primary-header">
                            <tr>
                                <th id="headerOne">S.No</th>
                                <th>Receipt No</th>
                                <th>Receipt Date</th>
                                <th>Byno</th>
                                <th>Size</th>
                                <th>Cost Price</th>
                                <th>Selling Price</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="columnCenter">1</td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td id="columnCenter">
                                    <sat-popover #image horizontalAlign="center"
                                        verticalAlign="above" closeTransition="500ms ease-out">
                                        <div class="row">
                                            <div class="info-wrapper satPop1">
                                                <img id="bynoImgae" type="file" height="100px"
                                                    width="100px"
                                                    [src]="'assets\\images\\common\\empty-photo.jpg'"
                                                    onerror="this.onerror = null;this.src='assets/images/common/INA.png'">
                                            </div>
                                        </div>
                                    </sat-popover>
                                    <img id="bynoImgae" [satPopoverAnchor]="image"
                                        (mouseover)="image.open()" (mouseleave)="image.close()"
                                        height="24px" width="32px" type="file"
                                        [src]="'assets\\images\\common\\empty-photo.jpg'">
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" id="cardPadding">
                <div class="row">
                    <div class="col-sm-12 right">
                        <button id="matButton" mat-raised-button color="warn" (click)="onClear()">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>