// --------------------- Screen Based CSS Start ------------------- //
.new {
    margin-top: 2%;
    width: 1400px;
}

.list {
    margin-top: 2%;
    width: 1220px;
}

#hide {
    margin-bottom: 0px;
}

#textarea {
    height: 92px;
    resize: none;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 20px;
}

#productDescription {
    width: 30%;
}

#overflowD {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 25%;
    margin-bottom: 0px;
}

#headerC {
    width: 8%
}

#checkTop {
    margin-top: 30px;
}

// --------------------- Screen Based CSS End ------------------- //
// --------------------- Table Css Start ------------------- //
#overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    margin-bottom: 0px;
}

#overflow1 {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 295px;
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

// --------------------- Table Css End ------------------- //
.table-scroll thead th {
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: "Roboto", sans-serif;
}

th.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    font-family: "Roboto", sans-serif;
}

thead th.sticky {
    z-index: 5;
    font-family: "Roboto", sans-serif;
}

.table-scroll thead tr:nth-child(2) th {
    top: 29px;
    font-family: "Roboto", sans-serif;
}

#snoh {
    min-width: 60px;
}

#codeh {
    min-width: 112px;
    left: 60px;
}

#nameh {
    min-width: 200px;
    left: 172px;
}

#snoc {
    width: 60px;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: normal;
}

#codec {
    left: 60px;
    min-width: 112px;
    background-color: white;
    color: black;
    text-align: left;
    font-weight: normal;
}

#namec {
    left: 172px;
    min-width: 200px;
    background-color: white;
    color: black;
    text-align: left;
    font-weight: normal;
}