<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Invoice Entry ********************************************** -->
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Invoice Product Detail View</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onExit()" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll" style="height: 443px;">
                                    <table border='1'>
                                        <thead class="docs-primary-header">
                                            <tr>
                                                <th>S.No</th>
                                                <th style="min-width: 100px;">Product Code</th>
                                                <th style="min-width: 250px;">Product Description</th>
                                                <th *ngIf='objInvoiceProdDetailEdit.product_uom!=="No.s"' style="min-width: 80px;">Mts</th>
                                                <th>Pieces</th>
                                                <th style="min-width: 200px;">Style Code</th>
                                                <th style="min-width: 80px;">HSN Code</th>
                                                <!-- <th id="headerC">GST</th> -->
                                                <th style="min-width: 80px;">Counter</th>
                                                <th *ngIf='configList[0].ipd_size_entry ==true' style="min-width: 80px;">Size</th>
                                                <th style="min-width: 150px;" *ngFor="let data of attributesList; let i = index">{{data.attribute_name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of objInvoiceProdDetailEdit.product_details; let i = index">
                                                <td id="columnCenter"> {{i+1}}</td>
                                                <td> <input #prodCode disabled maxlength="8" [(ngModel)]='data.product_code ' class="form-control form-control-sm inputBox" type="text" autocomplete="off"> </td>
                                                <td> <input #prodDesc class="form-control form-control-sm inputBox" [(ngModel)]='data.product_description ' disabled type="text" name="name0"></td>
                                                <td *ngIf='objInvoiceProdDetailEdit.product_uom!=="No.s"'> <input #mts style="text-align: right;" disabled class="form-control form-control-sm inputBox" [(ngModel)]='data.inv_det_actual_qty
                                                    ' type="text" autocomplete="off" name="name0"></td>
                                                <td> <input #pieces style="text-align: right;" class="form-control form-control-sm inputBox" [(ngModel)]='data.inv_det_actual_pcs ' disabled type="text" name="name0"></td>
                                                <td> <input #stylecode disabled maxlength="50" [(ngModel)]='data.style_code ' class="form-control form-control-sm inputBox" type="text" autocomplete="off"></td>
                                                <td> <select #hsn disabled [(ngModel)]='data.hsncode ' class="form-control form-control-sm inputBox"> <option disabled value="">--Select-- </option>  <option *ngFor="let data1 of objInvoiceProdDetailEdit.product_details[i].hsncode" [value]="data1"> {{data1}}</option>  </select>
                                                </td>
                                                <!-- <td (keyup)="onKeyFocusGlobal($event, i, 7)"> <input #gst class="form-control form-control-sm inputBox" [(ngModel)]='data.gstn_no ' disabled type="text"  name="name0"> </td> -->
                                                <td>
                                                    <select #counter [(ngModel)]='data.counter' disabled class="form-control form-control-sm inputBox"> 
                                                    <option disabled value=0>--Select-- </option> 
                                                     <option *ngFor="let data of counterList" [value]="data.counter_id">
                                                          {{data.counter_code}}</option>  </select>
                                                </td>
                                                <td *ngIf='configList[0].ipd_size_entry ==true'>
                                                    <select #size [(ngModel)]='data.size' disabled class="form-control form-control-sm inputBox"> 
                                                    <option disabled value="">--Select-- </option> 
                                                     <option *ngFor="let size of sizeist" [value]="size.attribute_value">
                                                          {{size.attribute_value}}</option>  </select>
                                                </td>
                                                <td *ngFor="let attribute of data.attributesList; let j = index"> <input disabled maxlength="50" [(ngModel)]='attribute.attribute_value ' [matTooltip]="attribute.attribute_value" matTooltipPosition="above" class="form-control form-control-sm inputBox" type="text" autocomplete="off"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='onExit() ' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>