<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Production Material Requirements List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Material Requirements</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])'
                                        id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Search by Product Name</strong></label>
                                        <input maxlength="50" autocomplete="off"
                                            (keyup)="searchRights($event.target.value)"
                                            class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="prod_name">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Product Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.prod_name"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.prod_name}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Size">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Size
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.prod_size"
                                                        matTooltipPosition="above" *matCellDef="let element"
                                                        class="row-no">
                                                        {{element.prod_size}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyProductionMaterialRequirements(true,i,false,true)'
                                                                matTooltip="Edit this row" id="iconTableButton"
                                                                [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary"
                                                                (click)='modifyProductionMaterialRequirements(false,i,true,true)'
                                                                matTooltip="View this row" style="width: 30px;"
                                                                [matTooltipClass]="'cust    om-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>
                                                sadsadsajdgaskd
                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'
                                            color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** New Production Material Requirements ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Production Material Requirements Entry</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton">
                                        <mat-icon id="iconButton" (click)="onClear(true)">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong>Product Name</strong></label>
                                        <select id="productName" [(ngModel)]="objProdMaterial.prod_id"
                                            [disabled]="objAction.isView || objAction.isEditing"
                                            (ngModelChange)="getProductionProductSize(true)"
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value=''>--Select-- </option>
                                            <option *ngFor='let name of getProductList' [value]='name.prod_id'>
                                                {{name.prod_name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label><strong>Product Size</strong></label>
                                        <select id="productSize" [(ngModel)]="objProdMaterial.prod_size"
                                            (click)="checkProductName()"
                                            (ngModelChange)='modifyProductionMaterialRequirements(false,0,false,false)'
                                            [disabled]="objAction.isView || objAction.isEditing"
                                            class="form-control form-control-sm border border-secondary">
                                            <option disabled value=''>--Select-- </option>
                                            <option *ngFor='let name of getProductSizeList' [value]='name.prod_size'>
                                                {{name.prod_size}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" id="supplier">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <table border='1'>
                                        <thead class="docs-primary-header" style="color:white">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="material">Material Name</th>
                                                <th>UOM</th>
                                                <th>Required Quantity</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor=" let data of getProductionMaterialList; let i = index">
                                                <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                    {{i+1}}
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                    <input class="form-control form-control-sm inputBox" type="text"
                                                        #materialName name="name0" maxlength="30" id="materialName"
                                                        (focusout)="checkValidMaterialName($event,i,'materialName')"
                                                        (click)="beforeEnterMaterialNameValidation()"
                                                        [disabled]="objAction.isView"
                                                        (keyup)='openMaterialLookup($event,i);' autocomplete="off"
                                                        (input)='onEnterMaterialLookupDetails(i)'
                                                        [(ngModel)]="data.material_name">
                                                </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                    <input class="form-control form-control-sm inputBox right"
                                                        [(ngModel)]="data.uom_description" #uom type="text" name="name0"
                                                        autocomplete="off" disabled>
                                                </td>
                                                <td id="columnRight" (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                    <input class="form-control form-control-sm inputBox right"
                                                        #requiredQuantity type="text" name="name0"
                                                        (focus)="$event.target.select()"
                                                        (click)="$event.target.select()" [disabled]="objAction.isView"
                                                        [(ngModel)]="data.req_quantity"
                                                        (keypress)=" data.uom_description ==='Mt.s' ? onlyAllwDecimalForQuantity($event,9999.99,'getProductionMaterialList','req_quantity',i) : onlyAllwNumbersForQuantity($event,10000,'getProductionMaterialList','req_quantity',i)"
                                                        autocomplete="off">
                                                </td>
                                                <td id="columnRight" (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                    <button #action *ngIf="i !== getProductionMaterialList.length - 1"
                                                        (click)="deleteRowFromGrid(i)" name="del" matTooltip="Remove"
                                                        [disabled]="objAction.isView" id="delbtn" class="btn btn-sm">
                                                        <i style="color: red;" class="fa fa-trash"></i>
                                                    </button>
                                                    <button #action *ngIf="i === getProductionMaterialList.length - 1"
                                                        (click)="addNewRowToGrid()" matTooltip="Add"
                                                        [disabled]="checkViewData(i)" class="btn btn-sm" name="add"
                                                        id="addbtn">
                                                        <i style="color: green;" class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button *ngIf='!objAction.isView' id="matButton" mat-raised-button
                                            color="primary" (click)="saveProductionMaterial()">
                                            {{ !objAction.isEditing ? 'Save' : 'Update' }}</button>&nbsp;
                                        <button *ngIf='!objAction.isView' id="matButton" (click)="onClear(false)"
                                            mat-raised-button color="warn">Clear</button>
                                        <button *ngIf='objAction.isView' id="matButton" mat-raised-button color="warn"
                                            (click)="onClear(true)">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ****************************************** Export Menu ********************************************** -->

<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>