// --------------------- Screen Based CSS Start ------------------- //

.new {
    margin-top: 3%;
    width: 650px;
  }
  
  .list {
    margin-top: 2.5%;
    width: 610px;
  }
  
  #top {
    margin-top: 33px;
    margin-bottom: 0px;
  }
  
  #hide {
    margin-bottom: 4px;
  }
  
  .mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 22px;
  }
  
  // --------------------- Screen Based CSS End ------------------- //
  
  // --------------------- Table Css Start ------------------- //
  
  .mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
  }
  
  .mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
  }
  .mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mat-table-fixed mat-cell:nth-child(2) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .mat-table-fixed mat-cell:nth-child(3) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .mat-table-fixed mat-cell:nth-child(4) {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 0px;
  }
  
  #overflow {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
    margin-bottom: 0px;
  }
  
  ::ng-deep .mat-tooltip {
    font-size: 14px;
  }

  #material {
    width: 40%;
  }
  
  // --------------------- Table Css End ------------------- //
  