<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Purchase Order List ********************************************** -->
            <div *ngIf="componentVisibility && !isView" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchase Order List</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='_router.navigate([_localStorage.getMenuPath()])' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label><strong>From Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="startDate" [(ngModel)]="objLoadPurchase.from_date" #autocomplete (keyup)="validateStartDate()" (focusout)="validateStartDate();" [min]="minDate" (keypress)="dateValidation.numberOnly($event)" autocomplete="off" (ngModelChange)="matConfig([])">
                                                    <input type="hidden" [min]="minimumDate" [(ngModel)]="startDate1" [matDatepicker]="startPicker" placeholder="Choose a date" (dateChange)="objLoadPurchase.from_date =
                                                         dateValidation.toFormattedDate($event.value);matConfig([])">
                                                    <mat-datepicker-toggle matSuffix [for]="startPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #startPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>To Date</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="endDate" [(ngModel)]="objLoadPurchase.to_date" #autocomplete (keyup)="validateEndDate()" (focusout)="validateEndDate();" [min]="objLoadPurchase.from_date" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)" autocomplete="off"
                                                        (ngModelChange)="matConfig([])">
                                                    <input type="hidden" [(ngModel)]="endDate1" [min]="startDate1" [matDatepicker]="endPicker" placeholder="Choose a date" (dateChange)="objLoadPurchase.to_date =
                                                        dateValidation.toFormattedDate($event.value);matConfig([])">
                                                    <mat-datepicker-toggle matSuffix [for]="endPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #endPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label><strong>Supplier Name</strong></label>
                                                <mat-form-field id="matDate" appearance="outline">
                                                    <input #supplierName type="text" matInput [(ngModel)]="objLoadPurchase.account_name" maxlength="50" (ngModelChange)="matConfig([])" [formControl]="supplierLoadControl" (input)="matConfig([])" [matAutocomplete]="autoLoadSupplier">
                                                    <mat-autocomplete #autoLoadSupplier="matAutocomplete" [displayWith]="displayLoadSupplierFn.bind(this)">
                                                        <mat-option *ngFor="let option of filteredLoadSupplier | async" [value]="option.account_name">
                                                            {{option.account_name}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Supplier City</strong></label>
                                                <mat-form-field id="matDate" appearance="outline">
                                                    <input #supplierGroup type="text" matInput (ngModelChange)="matConfig([])" (input)="matConfig([])" [(ngModel)]="objLoadPurchase.city" maxlength="50" [formControl]="cityControl" [matAutocomplete]="autoLoadCity">
                                                    <mat-autocomplete #autoLoadCity="matAutocomplete" [displayWith]="displayCitiesFn.bind(this)">
                                                        <mat-option *ngFor="let option of filteredCities | async" [value]="option.city">
                                                            {{option.city}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Raised By</strong></label>
                                                <input autocomplete="off" [(ngModel)]="objLoadPurchase.raised_by" maxlength="100" id="agentMail" (input)="matConfig([])" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label><strong>Despatch To</strong></label>
                                                <mat-form-field id="matDate" appearance="outline">
                                                    <input #location type="text" matInput [(ngModel)]="objLoadPurchase.sales_location_id" maxlength="50" [formControl]="locationControl" (ngModelChange)="matConfig([])" (input)="matConfig([])" [matAutocomplete]="autoLocation">
                                                    <mat-autocomplete #autoLocation="matAutocomplete" [displayWith]="displayLocationFn.bind(this)">
                                                        <mat-option *ngFor="let option of filteredLocation | async" [value]="option.sales_location_id">
                                                            {{option.sales_location_name}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 right" id="divTop">
                                        <button id="matButton" (click)="loadPurchaseOrderListDetails()" mat-raised-button color="primary">Load</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container" id="table">
                                            <mat-table #table [dataSource]="dataSource" class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        <label [ngClass]="{'red': element.cancelled === true }">
                                                            {{i + 1}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PO_No" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        PO No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.po_id}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Po_Date" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        PO Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.po_date | date : 'dd/MM/yyyy'}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Name">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Name
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Supplier_Name" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                                {{element.supplier_name}}
                                                            </label>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_Group">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier Group
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Supplier_Group" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                                {{element.supplier_group}}
                                                            </label>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Supplier_City">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Supplier City
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Supplier_City" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow1">
                                                            <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                                {{element.city}}
                                                            </label>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Raised_By">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Raised By
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Raised_By" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow1">
                                                            <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                                {{element.raised_by}}
                                                            </label>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Dispatch_to">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Dispatch To
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <div id="overflow1">
                                                            <label id="labelBottomLeft" [ngClass]="{'red': element.cancelled === true }">
                                                                {{element.despatch_name}}
                                                            </label>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Discount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Discount %
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.discount}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Quality">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.quantity}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getTotal.quantity_total}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Amount
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <label id="labelBottom" [ngClass]="{'red': element.cancelled === true }">
                                                            {{element.amount| number : '1.2-2'}}
                                                        </label>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>{{getTotal.amount_total | number : '1.2-2'}}
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Action" stickyEnd>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <div id="actionicon2">
                                                            <button mat-icon-button color="primary" (click)="viewPurchaseOrderDetails(i)" matTooltip="View this row" id="iconTableButton" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="View this row" class="f-14">
                                                                    remove_red_eye
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" matTooltip="Edit this row" id="iconTableButton" (click)="fetchPurchaseOrderDetails(i)" [disabled]='element.cancelled === true' [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Edit this row" class="f-14">
                                                                    edit
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" matTooltip="Delete this row" id="iconTableButton" [disabled]='element.cancelled === true' (click)="onClickDelete(i)" [matTooltipClass]="'custom-tip'">
                                                                <mat-icon aria-label="Delete this row" class="f-14">
                                                                    delete
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu1" id="iconTableButton">
                                                                <mat-icon class="f-14">
                                                                    more_vert
                                                                </mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-cell>
                                                    <mat-footer-cell *matFooterCellDef>
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>
                                                <mat-footer-row [hidden]="dataSource.data.length === 0" *matFooterRowDef="displayedColumns; sticky: true">
                                                </mat-footer-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12 right">
                                        <button id="matButton" mat-raised-button (click)='_router.navigate([_localStorage.getMenuPath()])' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************** Purchase Order Entry ********************************************** -->
            <div *ngIf="!componentVisibility && !isView" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-4">
                                <div id="height">
                                    <label></label>
                                    <label *ngIf="!objAction.isEditing">{{objPurchaseOrder.po_no }}</label>
                                    <label *ngIf="objAction.isEditing ">{{objPurchaseOrder.po_no}}</label>
                                    <!-- <label *ngIf="objAction.isView">{{objPurchaseOrder.po_no}}</label> -->
                                </div>
                            </div>
                            <div class="col-sm-4 center">
                                <div id="height">{{objAction.isEditing ? 'Edit Purchase Order' : 'Purchase Order'}}
                                </div>
                            </div>
                            <div class="col-sm-3 right">
                                <div id="height">
                                    <label *ngIf="!objAction.isEditing && !objAction.isView">{{objPurchaseOrder.date}}</label>
                                    <label *ngIf="objAction.isEditing && !objAction.isView">{{objPurchaseOrder.date |
                                        date :'dd/MM/yyyy'}}</label>
                                    <label *ngIf="objAction.isView">{{objPurchaseOrder.date | date :'dd/MM/yyyy'
                                        }}</label>
                                </div>
                            </div>
                            <div class="col-sm-1" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" *ngIf="objAction.isView === false" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)="onClearView()" *ngIf="objAction.isView === true" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div *ngIf="!objAction.isView">
                                            <label><strong>Supplier City</strong></label>
                                            <mat-form-field id="matDate" appearance="outline">
                                                <input #supplierCity id="city" type="text" matInput 
                                                 [disabled]="objAction.isView==true"  [(ngModel)]="objPurchaseOrder.city" maxlength="50" 
                                                 (ngModelChange)="getSupplierGroupList()" [formControl]="cityControl" [matAutocomplete]="auto">
                                                 <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCitiesFn.bind(this)">
                                                    <mat-option *ngFor="let option of filteredCities | async" [disabled]="objAction.isView==true" [value]="option.city">
                                                        {{option.city}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>

                                        <div *ngIf="objAction.isView">
                                            <label><strong>Supplier City</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.city" id="gstnNo" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary" />
                                        </div>

                                        <div id="top1" *ngIf="!objAction.isView">
                                            <label><strong>Supplier Group</strong></label>
                                            <mat-form-field id="matDate" appearance="outline">
                                                <input [disabled]="objAction.isView==true" #supplierGroup id="group" type="text" matInput [(ngModel)]="objPurchaseOrder.supplier_group_name" maxlength="50" [formControl]="groupControl" [matAutocomplete]="autoGroup" (focusout)="getSupplierByGroupIdList()"
                                                    (ngModelChange)="onEnterSupplierGroup();getSupplierByGroupIdList()">
                                                <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayGroupFn.bind(this)">
                                                    <mat-option *ngFor="let option of filteredGroups | async" [value]="option.supplier_group_name">
                                                        {{option.supplier_group_name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>

                                        <div *ngIf="objAction.isView">
                                            <label><strong>Supplier Group</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.supplier_group_name" id="gstnNo" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary" />
                                        </div>


                                        <div id="top1" *ngIf="!objAction.isView">
                                            <label><strong>Supplier Name</strong></label>
                                            <mat-form-field id="matDate" appearance="outline">
                                                <input #supplierName id="name" type="text" matInput [(ngModel)]="objPurchaseOrder.account_name" maxlength="50" [formControl]="supplierControl" [matAutocomplete]="autoSupplier" [disabled]="objAction.isView==true" (ngModelChange)="onEnterSupplierDetails()">
                                                <mat-autocomplete #autoSupplier="matAutocomplete" [displayWith]="displaySupplierFn.bind(this)">
                                                    <mat-option *ngFor="let option of filteredSupplier | async" [value]="option.account_name">
                                                        {{option.account_name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>

                                        <div *ngIf="objAction.isView">
                                            <label><strong>Supplier Name</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.account_name" id="gstnNo" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div>
                                            <label><strong>Supplier Address</strong></label>&nbsp;
                                            <textarea id="textarea" rows="5" [(ngModel)]="objPurchaseOrder.address1" [disabled]="objAction.isView==true" maxlength="200" class="form-control form-control-sm border border-secondary">
                                </textarea>
                                        </div>
                                        <div id="top">
                                            <label><strong>Supplier GSTIN</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.gstn_no" id="gstnNo" [disabled]="objAction.isView==true" maxlength="30" class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div>
                                            <label><strong>Supplier Email Id</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.email" [disabled]="objAction.isView==true" maxlength="100" id="supplierMail" class="form-control form-control-sm border border-secondary" />
                                        </div>
                                        <div id="top">
                                            <label><strong>Agent Name</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.agent_name" [disabled]="objAction.isView==true" maxlength="100" id="agentName" class="form-control form-control-sm border border-secondary" />
                                        </div>
                                        <div id="top">
                                            <label><strong>Agent Email Id</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.agent_email" [disabled]="objAction.isView==true" maxlength="100" id="agentMail" class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div>
                                            <label><strong>Supplier Phone No</strong></label>
                                            <input autocomplete="off" [(ngModel)]="objPurchaseOrder.phones" [disabled]="objAction.isView==true" maxlength="12" id="supplierMbl" (input)='_keyPressEvents.onlyAllowNumbers($event)' class="form-control form-control-sm border border-secondary" />
                                        </div>
                                        <div class="row" id="top">
                                            <div class="col-sm-6">
                                                <label><strong>Despatch No</strong></label>
                                                <select [(ngModel)]='objPurchaseOrder.sales_location_id' id="location" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary">
                                                    <option disabled value=0>--Select--</option>
                                                    <option *ngFor="let data of sourceLocationList"
                                                        [value]="data.sales_location_id">
                                                        {{data.sales_location_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Return Type</strong></label>
                                                <select [(ngModel)]="objPurchaseOrder.return_type" id="returnType" [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary">
                                                    <option disabled [value]=0>--Select--</option>
                                                    <option [value]=1>Quaterly</option>
                                                    <option [value]=2>Monthly</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6" id="divTop1">
                                                <button id="matButton" mat-raised-button color="primary" [disabled]="objAction.isView==true" (click)="openNewBankDialog()">Bank</button>
                                            </div>
                                            <div class="col-sm-6" id="top">
                                                <label><strong>Nos</strong></label>
                                                <select [(ngModel)]='objPurchaseOrder.uom_id' id="nos" [disabled]="objAction.isView==true" (ngModelChange)="addNewPurchaseGridForNOS(true);" class="form-control form-control-sm border border-secondary">
                                                    <option disabled value=0>--Select--</option>
                                                    <option *ngFor="let data of getUOMList" [value]="data.uom_id">
                                                        {{data.uom_description}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-scroll">
                                            <table border='1'>
                                                <thead class="docs-primary-header">
                                                    <tr>
                                                        <th id="headerOne">S.No</th>
                                                        <th *ngIf='hideFlag.ProductFlag'>Product</th>
                                                        <th *ngIf='hideFlag.ImageFlag' id="headerThree">Image</th>
                                                        <th *ngIf='hideFlag.PreFlag' id="headerThree">Preview</th>
                                                        <th *ngIf='hideFlag.HSNFlag' id="headerThree">HSN Code</th>
                                                        <th *ngIf='hideFlag.BrandFlag' id="headerThree">Brand</th>
                                                        <th *ngIf='hideFlag.SleveeFlag' id="headerThree">Slevee</th>
                                                        <th *ngIf='hideFlag.ColorFlag' id="headerTwo">Color</th>
                                                        <th *ngIf='hideFlag.NoDesignFlag' id="headerTwo">No Of Design
                                                        </th>
                                                        <th *ngIf='hideFlag.NoSetsFlag' id="headerTwo">No Of Sets</th>
                                                        <th *ngIf='hideFlag.NoColorsFlag' id="headerTwo">Colors</th>
                                                        <th *ngIf='hideFlag.QtyFlag' id="headerTwo">Qty</th>
                                                        <th *ngIf='hideFlag.MeterFlag' id="headerTwo">Mts</th>
                                                        <th *ngIf='hideFlag.RateFlag' id="headerThree">Rate</th>
                                                        <th *ngIf='hideFlag.AmountFlag'>Amount</th>
                                                        <th id="headerOne">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of getPurchaseOrderGridList; let i = index">
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 0)" id="columnCenter">
                                                            {{i+1}}
                                                        </td>
                                                        <td *ngIf='hideFlag.ProductFlag' (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                            <input type="text" [(ngModel)]="data.product_name" [disabled]="objAction.isView==true" autocomplete="off" #productName maxlength="60" (focusout)="checkEditableTrueFalse()" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td *ngIf='hideFlag.ImageFlag' (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                            <!-- <button class="btn" (click)='uploadMultipleFiles($event,i)' [disabled]="objAction.isView==true"
                                                            [(ngModel)]="data.image_path"  >Attach File</button>
                                                            <input #file id="file-input" hidden accept="image/*" type="file" /> -->
                                                            <input type="file" [(ngModel)]="data.image_path" [disabled]="objAction.isView==true" accept="image/*" autocomplete="off" #image (focusout)="checkEditableTrueFalse()" (change)='uploadMultipleFiles($event,i)' class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td *ngIf='hideFlag.PreFlag' (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                            <sat-popover #pre horizontalAlign="center" id="pre" verticalAlign="above" closeTransition="500ms ease-out">
                                                                <div class="row">
                                                                    <div class="info-wrapper satPop1">
                                                                        <!-- <img id="poImgae" type="file" height="100px"
                                                                            width="100px"
                                                                            [src]="'D:\\Angular Development\\PurchasesDocuments'+ data.temp_path"
                                                                            onerror="this.onerror = null;this.src='assets/images/common/INA.png'"> -->
                                                                        <img id="poImgae" type="file" height="100px" width="100px" [src]="'\\\\192.9.202.39\\\\Rmkv_Nxt_Doc\\\\Invoices' + data.image_path" onerror="this.onerror = null;this.src='assets\\images\\common\\empty-profile.png'">
                                                                    </div>
                                                                </div>
                                                            </sat-popover>
                                                            <img id="poImgae" [satPopoverAnchor]="pre" (mouseover)="pre.open()" (mouseleave)="pre.close()" height="22px" width="22px" type="file" [src]="'\\\\192.9.202.39\\\\Rmkv_Nxt_Doc\\\\Invoices' + data.image_path">
                                                            <!-- [src]="'https:\\D:\\Angular Development\\PurchasesDocuments\\' + data.temp_path" -->
                                                        </td>
                                                        <td *ngIf='hideFlag.HSNFlag' (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                            <input type="text" [(ngModel)]="data.hsn_code" [disabled]="objAction.isView==true" autocomplete="off" #hsnCode maxlength="10" (focusout)="checkEditableTrueFalse()" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td *ngIf='hideFlag.BrandFlag' (keyup)="onKeyFocusGlobal($event, i, 5)">
                                                            <input type="text" [(ngModel)]="data.brand" [disabled]="objAction.isView==true" autocomplete="off" #brand maxlength="60" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td *ngIf='hideFlag.SleveeFlag' (keyup)="onKeyFocusGlobal($event, i, 6)">
                                                            <input type="text" [(ngModel)]="data.sleeve" [disabled]="objAction.isView==true" autocomplete="off" #slevee maxlength="60" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td *ngIf='hideFlag.ColorFlag' (keyup)="onKeyFocusGlobal($event, i, 7)">
                                                            <input type="text" id="color" [(ngModel)]="data.color" [disabled]="objAction.isView==true" autocomplete="off" #color maxlength="60" (focusout)="openSizeTableDialog(i,data)" class="form-control form-control-sm inputBox">
                                                        </td>
                                                        <td *ngIf='hideFlag.NoDesignFlag' (keyup)="onKeyFocusGlobal($event, i, 8)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.no_of_design " [disabled]="checkIsEmptyQuantity(data) || objAction.isView==true" (click)="$event.target.select()" (focus)="$event.target.select(); " autocomplete="off" (focusout)="checkEditableTrueFalse()" #design
                                                                maxlength="5" (keypress)="onlyAllowNumbers($event,99999,'data','no_of_design')" (input)="getTotalQty(data);" class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <td *ngIf='hideFlag.NoSetsFlag' (keyup)="onKeyFocusGlobal($event, i, 9)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.no_of_sets" autocomplete="off" #sets maxlength="5" (input)="getTotalQty(data);" (keypress)="onlyAllowNumbers($event,99999,'data','no_of_sets')" [disabled]="checkIsEmptyQuantity(data) || objAction.isView==true" (click)="$event.target.select()"
                                                                (focus)="$event.target.select();" (focusout)="checkEditableTrueFalse()" class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <td *ngIf='hideFlag.NoColorsFlag' (keyup)="onKeyFocusGlobal($event, i, 10)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.colors" #colors [disabled]="checkIsEmptyQuantity(data) || objAction.isView==true" (click)="$event.target.select()" (focus)="$event.target.select();" (focusout)="checkEditableTrueFalse()" autocomplete="off" maxlength="5"
                                                                (input)="getTotalQty(data);" (keypress)="onlyAllowNumbers($event,99999,'data','colors')" class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <!-- <td *ngIf='hideFlag.PiecesFlag'
                                                            (keyup)="onKeyFocusGlobal($event, i, 11)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.pcs"
                                                                (click)="$event.target.select()"
                                                                (focus)="$event.target.select()" autocomplete="off"
                                                                #pcs maxlength="5"
                                                                (input)="_keyPressEvents.onlyAllowNumbers($event);"
                                                                class="form-control form-control-sm inputBox">
                                                        </td> -->
                                                        <td *ngIf='hideFlag.QtyFlag' (keyup)="onKeyFocusGlobal($event, i, 11)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.qty" autocomplete="off" #qty (input)="getTotalRateAmount(data);onClearQuantityBasedData(data);" (keypress)="onlyAllowNumbers($event,99999,'data','qty')" [disabled]="checkValidQuantity(data) || objAction.isView==true"
                                                                maxlength="10" (click)="$event.target.select()" (focus)="$event.target.select();" (focusout)="checkEditableTrueFalse()" class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <td *ngIf='hideFlag.MeterFlag' (keyup)="onKeyFocusGlobal($event, i, 12)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.qty" autocomplete="off" #mts (input)="getTotalRateAmount(data);" (keypress)="onlyAllowNumbers($event,99999,'data','qty')" maxlength="10" [disabled]="objAction.isView==true" (click)="$event.target.select()" (focus)="$event.target.select();"
                                                                (focusout)="checkEditableTrueFalse()" class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <td *ngIf='hideFlag.RateFlag' (keyup)="onKeyFocusGlobal($event, i, 13)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.rate" [disabled]="objAction.isView==true" autocomplete="off" #rate maxlength="10" (input)="getTotalRateAmount(data);" (keypress)="onlyAllowNumbers($event,99999,'data','rate')" (click)="$event.target.select()" (focus)="$event.target.select();"
                                                                (focusout)="checkEditableTrueFalse()" class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <td *ngIf='hideFlag.AmountFlag' (keyup)="onKeyFocusGlobal($event, i, 14)" id="columnRight">
                                                            <input type="text" [(ngModel)]="data.amount" [disabled]="objAction.isView==true" autocomplete="off" #amount disabled (focusout)="checkEditableTrueFalse()" (keypress)="onlyAllowDecimal($event,9999999.99,'data','amount',i);" class="form-control form-control-sm inputBox right">
                                                        </td>
                                                        <td (keyup)="onKeyFocusGlobal($event, i, 15)">
                                                            <button #action [disabled]="objAction.isView==true" *ngIf="i !== getPurchaseOrderGridList.length - 1" name="del" matTooltip="Remove" id="delbtn" (click)="deletePurchaseGrid(i)" class="btn btn-sm">
                                                                <i style="color: red;" class="fa fa-trash"></i>
                                                            </button>
                                                            <button #action *ngIf="i === getPurchaseOrderGridList.length - 1" (click)="addNewPurchaseGridEntry()" matTooltip="Add" class="btn btn-sm" [disabled]="data.product_name === '' || data.amount === 0 || data.amount === '' || objAction.isView==true" name="add"
                                                                id="addbtn">
                                                                <i style="color: green;" class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="top">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <label><strong>Delivery schedule</strong></label>
                                                <mat-form-field appearance="outline" id="matDate" class="example-full-width">
                                                    <input matInput id="toDate" [(ngModel)]="objPurchaseOrder.delivery_schedule" #autocomplete (keyup)="validateDeliveryDate()" [disabled]="objAction.isView==true" (focusout)="validateDeliveryDate()" [min]="maximumDate" [max]="maxDate" (keypress)="dateValidation.numberOnly($event)"
                                                        autocomplete="off">
                                                    <input type="hidden" [(ngModel)]="deliveryDate1" [min]="minimumDate" [max]="maximumDate" [matDatepicker]="toPicker" placeholder="Choose a date" (dateChange)="objPurchaseOrder.delivery_schedule = dateValidation.toFormattedDate($event.value)">
                                                    <mat-datepicker-toggle matSuffix [for]="toPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #toPicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-7">
                                                <label><strong>Reference No</strong></label>
                                                <input autocomplete="off" [(ngModel)]="objPurchaseOrder.reference_no"  id='refNo'
                                                [disabled]="objAction.isView==true" maxlength="50" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <label><strong>Mode of Dispatch</strong></label>
                                                <select [(ngModel)]='objPurchaseOrder.id' id="dispatch"
                                                [disabled]="objAction.isView==true" class="form-control form-control-sm border border-secondary">
                                                    <option disabled value=0>--Select--</option>
                                                    <option *ngFor="let data of modeOfDispatchList" [value]="data.id">
                                                        {{data.mode_of_dispatch}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-7">
                                                <label><strong>Raised By</strong></label>
                                                <input autocomplete="off" [(ngModel)]="objPurchaseOrder.raised_by"
                                                 maxlength="50" [disabled]="objAction.isView==true" id="raised"
                                                 class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <label><strong>Discount</strong></label>
                                                <input autocomplete="off" [(ngModel)]="objPurchaseOrder.discount" maxlength="5" [disabled]="objAction.isView==true" (input)="_keyPressEvents.onlyAllowNumbers($event)" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-7">
                                                <label><strong>Payment Terms</strong></label>
                                                <input autocomplete="off" [(ngModel)]="objPurchaseOrder.payment_terms" [disabled]="objAction.isView==true" maxlength="100" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Remarks</strong></label>
                                        <textarea rows="1" [(ngModel)]="objPurchaseOrder.remarks" [disabled]="objAction.isView==true" maxlength="200" class="form-control form-control-sm border border-secondary">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <div class="upload-btn-wrapper">
                                            <button class="btn" *ngIf="objPurchaseOrder.purchase_order_no === 0" [disabled]="objAction.isView==true" (click)="openAttachFilesPopup()">Attach File</button>
                                            <input #file id="file-input" hidden accept="image/*" type="file" />

                                            <button class="btn" id="uploaddocument" *ngIf="objPurchaseOrder.purchase_order_no !== 0" [disabled]="objAction.isView==true" (click)="openAttachFilesPopup()">Attach File</button>
                                            <input #file id="file-input" hidden accept="image/*" type="file" />
                                        </div>
                                    </div>
                                    <div class="col-sm-8 right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="onSavePurchaseOrders()" [disabled]="objAction.isView==true">{{objAction.isEditing ? 'Update' :
                                            'Save'}}</button>&nbsp;
                                        <button id="matButton" (click)="onClear(false)" [disabled]="objAction.isView==true" mat-raised-button color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="printView" *ngIf="isView && !componentVisibility" class="print">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Purchaser Order</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton" (click)='capturePdf()'>
                                        <mat-icon id="iconButton">get_app</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle id="iButton" (click)='print()'>
                                        <mat-icon id="iconButton">local_printshop</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='onListClick()' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="row" style="padding-right: 15px;">
                            <div class="col-sm-4 left">
                                <img id="bynoImgae" height="75px" width="75px" [src]="'assets\\images\\common\\logo.png'">
                            </div>
                            <div class="col-sm-8" style="background: #e4e5e6;">
                                <label><strong>PO No : </strong><span>{{objEmailPurchaseOrder.po_no}}</span></label>
                                <div>
                                    <label><strong>PO Date : </strong><span>{{objEmailPurchaseOrder.po_date}}</span></label>
                                </div>
                                <div>
                                    <label><strong>Ref. No : </strong><span>{{objEmailPurchaseOrder.reference_no}}</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-right: 15px;">
                            <div class="col-sm-4" style="padding-top:15px">
                                <label class="hide" id="hide"><strong>{{objEmailPurchaseOrder.company_name}}</strong></label>
                                <div>{{objEmailPurchaseOrder.company_address1}}</div>
                                <div>{{objEmailPurchaseOrder.company_address2}}</div>
                                <div>{{objEmailPurchaseOrder.company_address3}}</div>
                                <div>stateCode&nbsp;StateName</div>
                                <div>PH No : <span>{{objEmailPurchaseOrder.company_phone}}</span></div>
                                <div>GSTIN : <span>{{objEmailPurchaseOrder.company_gst_no}}</span></div>
                            </div>
                            <div class="col-sm-4" style="background: #e4e5e6;">
                                <label class="hide" id="hide"><strong>To</strong></label>
                                <div>{{objEmailPurchaseOrder.supplier_name}}</div>
                                <div>{{objEmailPurchaseOrder.address}}</div>
                                <!-- <div>address2</div>
                                <div>address3</div> -->
                                <div>stateCode&nbsp;StateName</div>
                                <div>Email : {{objEmailPurchaseOrder.email_id}}<span></span></div>
                                <div>GSTIN : <span></span></div>
                            </div>
                            <div class="col-sm-4" style="background: #e4e5e6;">
                                <label class="hide" id="hide"><strong>For E-way bill purposes please use the address
                                        given below</strong></label>
                                        <div>{{objEmailPurchaseOrder.company_address1}}</div>
                                        <div>{{objEmailPurchaseOrder.company_address2}}</div>
                                        <div>{{objEmailPurchaseOrder.company_address3}}</div>
                                <div>stateCode&nbsp;StateName</div>
                                <div>PH No : <span>{{objEmailPurchaseOrder.company_phone}}</span></div>
                                <div>GSTIN : <span>{{objEmailPurchaseOrder.company_gst_no}}</span></div>
                            </div>
                        </div>
                        <div class="row" id="top">
                            <div class="col-sm-12">
                                <div class="table-scroll" style="height:auto">
                                    <table border='1'>
                                        <thead class="docs-primary-header">
                                            <tr>
                                                <th id="headerOne">S.No</th>
                                                <th id="headerByno" *ngIf='hideFlag.ProductFlag'>Description</th>
                                                <th id="headerImage" *ngIf='hideFlag.ImageFlag' id="headerThree">Image</th>
                                                <th id="headerDescription" *ngIf='hideFlag.HSNFlag' id="headerThree">HSN Code</th>
                                                <th *ngIf='hideFlag.BrandFlag' id="headerThree">Brand</th>
                                                <th *ngIf='hideFlag.SleveeFlag' id="headerThree">Slevee</th>
                                                <th *ngIf='hideFlag.ColorFlag' id="headerTwo">Color</th>
                                                <th *ngIf='hideFlag.NoDesignFlag' id="headerTwo">No Of Design</th>
                                                <th *ngIf='hideFlag.NoSetsFlag' id="headerTwo">No Of Sets</th>
                                                <th *ngIf='hideFlag.NoColorsFlag' id="headerTwo">Colors</th>
                                                <th id="headerLast" *ngIf='hideFlag.QtyFlag' id="headerTwo">Qty</th>
                                                <th id="headerLast" *ngIf='hideFlag.MeterFlag' id="headerTwo">Mts</th>
                                                <th id="headerLast" *ngIf='hideFlag.RateFlag' id="headerThree">Rate</th>
                                                <th *ngIf='hideFlag.AmountFlag'>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let view of getPurchaseOrderGridList; let i = index'>
                                                <td id="columnCenter">
                                                    {{i+1}}
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.ProductFlag' (keyup)="onKeyFocusGlobal($event, i, 0)">
                                                    {{view.item_description}}
                                                </td>
                                                <td id="columnCenter" *ngIf='hideFlag.ImageFlag' (keyup)="onKeyFocusGlobal($event, i, 1)">
                                                    <img id="bynoImgae" height="25px" width="32px" #image [src]="'assets\\images\\common\\empty-photo.jpg'">
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.HSNFlag' (keyup)="onKeyFocusGlobal($event, i, 2)">
                                                    {{view.hsncode}}
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.BrandFlag' (keyup)="onKeyFocusGlobal($event, i, 3)">
                                                    {{view.brand}}
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.SleveeFlag' (keyup)="onKeyFocusGlobal($event, i, 4)">
                                                    {{view.sleeve}}
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.ColorFlag' (keyup)="onKeyFocusGlobal($event, i, 5)">
                                                    {{view.color}}
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.NoDesignFlag' (keyup)="onKeyFocusGlobal($event, i, 6)">
                                                    {{view.no_of_design}}
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.NoSetsFlag' (keyup)="onKeyFocusGlobal($event, i, 7)">
                                                    {{view.no_of_sets}}
                                                </td>
                                                <td id="columnLeft" *ngIf='hideFlag.NoColorsFlag' (keyup)="onKeyFocusGlobal($event, i, 8)">
                                                    {{view.colors}}
                                                </td>
                                                <td id="columnRight" *ngIf='hideFlag.QtyFlag' (keyup)="onKeyFocusGlobal($event, i, 9)">
                                                    {{view.quantity}}
                                                </td>
                                                <td id="columnRight" *ngIf='hideFlag.MeterFlag' (keyup)="onKeyFocusGlobal($event, i, 10)">
                                                    {{view.quantity}}
                                                </td>
                                                <td id="columnRight" *ngIf='hideFlag.RateFlag' (keyup)="onKeyFocusGlobal($event, i, 11)">
                                                    {{view.rate | number : '1.2-2'}}
                                                </td>
                                                <td id="columnRight" *ngIf='hideFlag.AmountFlag' (keyup)="onKeyFocusGlobal($event, i, 11)">
                                                    {{view.amount | number : '1.2-2'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6" id="paddingRight">
                                <div class="table-scroll" style="height:auto">
                                    <table border='1' style="height:auto">
                                        <tbody>
                                            <tr>
                                                <td class="printTD"><strong>Mode of Despatch</strong></td>
                                                <td>{{objEmailPurchaseOrder.mode_of_despatch}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>Payment Terms</strong></td>
                                                <td>{{objEmailPurchaseOrder.payment_terms}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>Raised By</strong></td>
                                                <td>{{objEmailPurchaseOrder.raised_by}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>Remarks</strong></td>
                                                <td>{{objEmailPurchaseOrder.remarks}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>Supplier Group</strong></td>
                                                <td>{{objEmailPurchaseOrder.supplier_group_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6" id="paddingLeft">
                                <div class="table-scroll" style="height:auto">
                                    <table border='1' style="height:auto">
                                        <tbody>
                                            <tr>
                                                <td class="printTD"><strong>Delivery Schedule</strong></td>
                                                <td>{{objEmailPurchaseOrder.delivery_schedule}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>Delivery Location</strong></td>
                                                <td>{{objEmailPurchaseOrder.despatch_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>Discount</strong></td>
                                                <td>{{objEmailPurchaseOrder.discount}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>Agent Name</strong></td>
                                                <td>{{objEmailPurchaseOrder.agent_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="printTD"><strong>&nbsp;</strong></td>
                                                <td style="color:white">545</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="top" style="padding:10px">
                            <div class="col-sm-12" style="background: grey;border-top-left-radius: 10px;border-top-right-radius: 10px;padding:5px">
                                <strong>Note</strong>
                            </div>
                            <div class="col-sm-12" style="background: #e4e5e6;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;padding:5px">
                                1. A Copy of this slip must be attached with the Invoice/Packing slip<br> 2. Goods will be accepted only on receipt of this slip with Invoice/Packing slip
                            </div>
                        </div>
                        <div class="row" id="top">
                            <div class="col-sm-12 right">
                                <strong>{{objEmailPurchaseOrder.company_name}}</strong><br> This is system generated document,no signature is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button (click)="exportToPdf()" mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button (click)="exportToExcel()" mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>

<mat-menu #menu1="matMenu">
    <ng-template matMenuContent let-element="element">
        <button (click)="openMailDialog()" mat-menu-item>
        <i id="pdf" class="fa fa-envelope-o" aria-hidden="true"></i>
        <span>Send Mail</span>
    </button>
        <button (click)="loadPurchaseOrderEmailDetails(true)"   mat-menu-item>
        <i id="excel" class="fa fa-download" aria-hidden="true"></i>
        <span>Print & Download</span>
    </button>
    </ng-template>
</mat-menu>