// --------------------- Screen Based CSS Start ------------------- //

.new {
  margin-top: 1%;
  width: 100%;
}

.print {
  margin-top: 1%;
  width: 60%;
}

.hide {
  text-decoration: none !important;
}

.list {
  margin-top: 1.5%;
  width: 100%;
}

.mat-option {
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
  line-height: 20px;
}

#top1 {
  margin-top: 15px;
}

#textarea {
  height: 92px;
}

.btn {
  color: gray;
  background-color: lightgrey;
  padding: 4px 34px;
}

.table-scroll {
  height: 230px;
}

#divTop {
  margin-top: 24px;
}

#divTop1 {
  margin-top: 34px;
}

#headerTwo {
  width: 5%;
}
#headerThree {
  width: 9%;
}

#poImgae {
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
}

.satPop1 {
  background-color: white;
  box-shadow: 1px 1px 2px 1px #80808054;
  padding: 10px;
  min-width: 120px;
  width: auto;
  height: auto;
}

#autoInput {
  padding-left: 4px;
}

#iRed {
  height: 18px;
  width: 18px;
  font-size: 16px;
  line-height: 1.5;
}

.material-icons {
  font-size: 16px;
  line-height: 1.3;
}

#iconBottom {
  margin-bottom: -3px;
}

button,
input {
  overflow: hidden;
}

#labelBottom {
  margin-bottom: 0px;
  text-align: right;
}

#labelBottomLeft {
  margin-bottom: 0px;
  text-align: left;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
  min-width: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(6) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(7) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(8) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(9) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(10) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(11) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-right: 1px solid white;
}

.mat-table-fixed mat-header-cell:nth-child(12) {
  min-width: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(1) {
  min-width: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(3) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(5) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(6) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(7) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(8) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.mat-table-fixed mat-cell:nth-child(9) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(10) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(11) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
}

.mat-table-fixed mat-cell:nth-child(12) {
  min-width: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-left: 0px;
}

.mat-table-fixed mat-footer-cell {
  min-height: 25px;
}

mat-footer-row {
  min-height: 25px;
  font-size: 12px;
  font-weight: bold;
}

.mat-table-fixed mat-footer-cell:nth-child(1) {
  min-width: 50px;
  width: 50px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.mat-table-fixed mat-footer-cell:nth-child(2) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(3) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: left;
  text-align: left;
  padding-left: 5px;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(4) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 5px;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(5) {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 5px;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(6) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(7) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(8) {
  min-width: 120px;
  width: 120px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(9) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(10) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(11) {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  padding-right: 5px;
  color: white;
}

.mat-table-fixed mat-footer-cell:nth-child(12) {
  min-width: 130px;
  width: 130px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: white;
  border-left: 0px;
}

#overflow {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  margin-bottom: 0px;
}

#overflow1 {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
  margin-bottom: 0px;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}

// --------------------- Table Css End ------------------- //

.printTD {
  width: 125px;
  padding: 4px;
}
