<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <!-- ****************************************** Invoice Entry ********************************************** -->
            <div *ngIf="!componentVisibility" class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Invoices Excess/Shortage Entry</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle (click)="onClear(true)" id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label><strong>Invoice Qty</strong></label>
                                        <input disabled [(ngModel)]='objInvoiceProdDetailEdit.inv_det_qty' class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Actual Qty</strong></label>
                                        <input [disabled]='objInvoiceProdDetailEdit.product_uom=="No.s" ' [(ngModel)]='objInvoiceProdDetailEdit.inv_det_actual_qty' class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Invoice Pcs</strong></label>
                                        <input disabled [(ngModel)]='objInvoiceProdDetailEdit.inv_det_pcs' class="form-control form-control-sm border border-secondary" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>Actual Pcs</strong></label>
                                        <input id="actualpcs" [(ngModel)]='objInvoiceProdDetailEdit.inv_det_actual_pcs' (ngModelChange)='onQtyChange()' onCopy="return false" onDrag="return false" onDrop="return false" maxlength="5" onPaste="return false" (input)='_keyPressEvents.onlyAllowNumbers($event)'
                                            (keypress)='addExcessRow($event)' class="form-control form-control-sm border border-secondary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="table-scroll">
                                    <!-- <cdk-virtual-scroll-viewport style="height: 329px;" [itemSize]="20" cloneThead> -->
                                    <table border='1'>
                                        <thead class="docs-primary-header">
                                            <tr>
                                                <th>S.No</th>
                                                <th style="min-width: 100px;">Product Code</th>
                                                <th style="min-width: 250px;">Product Description</th>
                                                <th *ngIf='objInvoiceProdDetailEdit.product_uom!=="No.s"' style="min-width: 80px;">Mts</th>
                                                <th>Pieces</th>
                                                <th style="min-width: 200px;">Style Code</th>
                                                <th style="min-width: 80px;">HSN Code</th>
                                                <!-- <th id="headerC">GST</th> -->
                                                <th style="min-width: 80px;">Counter</th>
                                                <th *ngIf='configList[0].ipd_size_entry ==true' style="min-width: 80px;">Size</th>
                                                <th style="min-width: 150px;" *ngFor="let data of attributesList; let i = index">{{data.attribute_name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of objInvoiceProdDetailEdit.product_details; let i = index">
                                                <td id="columnCenter" (keyup)="onKeyFocusGlobal($event, i, 0)" [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}"> {{i+1}}</td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 1)"> <input #prodCode [disabled]='data.disabled ' [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" maxlength="8" [(ngModel)]='data.product_code ' (ngModelChange)='onClearChange(i) '
                                                        (keyup)='getProductLookupDetails($event,i) ' class="form-control form-control-sm inputBox" type="text" autocomplete="off"> </td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 2)"> <input #prodDesc class="form-control form-control-sm inputBox" [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" [(ngModel)]='data.product_description ' disabled type="text" name="name0"></td>
                                                <td *ngIf='objInvoiceProdDetailEdit.product_uom!=="No.s" ' (keyup)="onKeyFocusGlobal($event, i, 3)"> <input #mts style="text-align: right;" [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" class="form-control form-control-sm inputBox" [(ngModel)]='data.inv_det_actual_qty
                                                    ' (keypress)="onlyAllowDecimal($event, 9999999, 'data ', 'inv_det_actual_qty ');" type="text" autocomplete="off" name="name0"></td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 4)"> <input #pieces style="text-align: right;" class="form-control form-control-sm inputBox" [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" [(ngModel)]='data.inv_det_actual_pcs '
                                                        disabled type="text" name="name0"></td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 5)"> <input #stylecode [disabled]='data.disabled ' [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" maxlength="50" [(ngModel)]='data.style_code ' (focusout)='openStyleCodeLookup(i,data.style_code) '
                                                        class="form-control form-control-sm inputBox" type="text" autocomplete="off"></td>
                                                <td (keyup)="onKeyFocusGlobal($event, i, 6)"> <select #hsn [disabled]='data.disabled ' [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" [(ngModel)]='data.hsncode ' class="form-control form-control-sm inputBox"> <option disabled value="">--Select-- </option>  <option *ngFor="let data1 of objInvoiceProdDetailEdit.product_details[i].hsncode" [value]="data1"> {{data1}}</option>  </select>
                                                </td>
                                                <!-- <td (keyup)="onKeyFocusGlobal($event, i, 7)"> <input #gst class="form-control form-control-sm inputBox" [(ngModel)]='data.gstn_no ' disabled type="text"  name="name0"> </td> -->
                                                <td (keyup)="onKeyFocusGlobal($event, i, 7)">
                                                    <select #counter [(ngModel)]='data.counter' [disabled]='data.disabled ' [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" (focusout)='openCounterlookup(i,data.counter) ' class="form-control form-control-sm inputBox"> 
                                                    <option disabled value=0>--Select-- </option> 
                                                     <option *ngFor="let data of counterList" [value]="data.counter_id">
                                                          {{data.counter_code}}</option>  </select>
                                                </td>
                                                <td *ngIf='configList[0].ipd_size_entry ==true' (keyup)="onKeyFocusGlobal($event, i, 8)">
                                                    <select #size [(ngModel)]='data.size' [disabled]='data.disabled ' [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false}" class="form-control form-control-sm inputBox"> 
                                                    <option disabled value="">--Select-- </option> 
                                                     <option *ngFor="let size of sizeist" [value]="size.attribute_value">
                                                          {{size.attribute_value}}</option>  </select>
                                                </td>
                                                <td *ngFor="let attribute of data.attributesList; let j = index"> <input disabled maxlength="50" [ngClass]="{'red': data.shortageFlag  == true,'green': data.disabled==false }" [(ngModel)]='attribute.attribute_value ' [matTooltip]="attribute.attribute_value" matTooltipPosition="above"
                                                        class="form-control form-control-sm inputBox" type="text" autocomplete="off"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- </cdk-virtual-scroll-viewport> -->
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button (click)='addInsertOrDeleteJson() ' color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)="onClear(false)" color="warn">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************************** Invoice List ********************************************** -->
            <div *ngIf="componentVisibility" class="list">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Invoices Excess/Shortage</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <!-- <mat-button-toggle (click)="newClick()" id="iButton">
                                        <mat-icon id="iconButton">add</mat-icon>
                                    </mat-button-toggle> -->
                                    <mat-button-toggle [matMenuTriggerFor]="menu" id="iButton">
                                        <mat-icon id="iconButton">more_vert</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)='onExit()' id="iButton">
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><strong>Byno</strong></label>
                                        <input id='byno ' [(ngModel)]='objInvoiceProdDetail.inv_byno' disabled maxlength="8" (ngModelChange)='onChangeClear() ' (input)='getInvoiceProdDetails();onEnterBynoLookupDetails() ' class="form-control form-control-sm border border-secondary" />
                                        <div id="top">
                                            <label><strong>Supplier GSTIN</strong></label>
                                            <input disabled [(ngModel)]='objInvoiceProdDetail.gstn_no' class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><strong>Supplier Code</strong></label>
                                        <input disabled [(ngModel)]='objInvoiceProdDetail.supplier_code' class="form-control form-control-sm border border-secondary" />
                                        <div id="top">
                                            <label><strong>Supplier Inv No</strong></label>
                                            <input disabled [(ngModel)]='objInvoiceProdDetail.supplier_invoice_no' class="form-control form-control-sm border border-secondary" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Name</strong></label>
                                        <input disabled [(ngModel)]='objInvoiceProdDetail.supplier_name' class="form-control form-control-sm border border-secondary" />
                                        <div class="row" id="top">
                                            <div class="col-sm-6">
                                                <label><strong>Invoice Amount</strong></label>
                                                <input disabled [(ngModel)]='objInvoiceProdDetail.invoice_amount' style="text-align: right;" class="form-control form-control-sm border border-secondary" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label><strong>Invoice Entry Date</strong></label>
                                                <input disabled [(ngModel)]='objInvoiceProdDetail.invoice_entry_date' class="form-control form-control-sm border border-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><strong>Supplier Address</strong></label>
                                        <textarea rows="4" id="textarea" [(ngModel)]='objInvoiceProdDetail.supplier_address' disabled class="form-control form-control-sm border border-secondary"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-container">
                                            <mat-table #table [dataSource]="dataSource" matSort class="mat-table-fixed">

                                                <ng-container matColumnDef="Serial_No">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        S.No
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;" class="row-no">
                                                        {{i + 1}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Group">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Product Group
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Product_Group" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            {{element.product_group_desc}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Qty">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Invoice Qty
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.inv_det_qty}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="ActQty">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Actual Qty
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.inv_det_actual_qty}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="Pcs">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Invoice Pcs
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.inv_det_pcs}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="ActPcs">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Actual Pcs
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.inv_det_actual_pcs}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="Supplier_Description">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Supplier Description
                                                    </mat-header-cell>
                                                    <mat-cell [matTooltip]="element.Supplier_Description" matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            {{element.supplier_description}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Selling_Price">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Selling Price
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="row-no">
                                                        <div id="overflow">
                                                            {{element.selling_price|number :'1.2-2'}}
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="HSN_Code">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        HSN Code
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.hsncode}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Entered">
                                                    <mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Product Entered
                                                    </mat-header-cell>
                                                    <mat-cell matTooltipPosition="above" *matCellDef="let element" class="row-no">
                                                        {{element.product_entered==true?'Yes ':'No '}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Product_Details">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Action
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element ;let i = index">
                                                        <!-- <button *ngIf="element.product_entered==true" (click)="viewInvoiceProductDetail(element)" mat-icon-button color="primary" matTooltip="View Products" id="iconTableButton" [matTooltipClass]="'custom-tip '">
                                                            <mat-icon aria-label="View Products" class="f-14">
                                                                remove_red_eye
                                                            </mat-icon>
                                                        </button> -->
                                                        <!-- <button mat-icon-button (click)="fetchInvoiceProductDetail(element)" color="primary" matTooltip="Edit Products" id="iconTableButton" [matTooltipClass]="'custom-tip '">
                                                            <mat-icon aria-label="Edit Products" class="f-14">
                                                                edit
                                                            </mat-icon>
                                                        </button> -->
                                                        <label id="hide" (click)="fetchInvoiceProductDetail(element)"><strong>Details</strong></label>
                                                        <!-- &nbsp;&nbsp;<label id="hide"><strong>Edit Products</strong></label> -->
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                                </mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
                                                </mat-row>

                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary">Save</button>&nbsp;
                                        <button id="matButton" mat-raised-button (click)='onExit()' color="warn">Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** Export Menu ********************************************** -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <i id="pdf" class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span>Export To PDF</span>
    </button>
    <button mat-menu-item>
        <i id="excel" class="fa fa-file-excel-o" aria-hidden="true"></i>
        <span>Export To Excel</span>
    </button>
</mat-menu>