<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="height">Invoivce Product Details</div>
                            </div>
                            <div class="col-sm-6" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton" (click)='dialogClosed()'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label><strong> {{_data.confirmMessage}}</strong></label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input cdkFocusInitial onCopy="return false" onDrag="return false" onDrop="return false" maxlength="4" onPaste="return false" [(ngModel)]="Row" (input)='onCheckRow();_keyPressEvents.onlyAllowNumbers($event);' id="remarks" autocomplete="off" class="form-control form-control-sm border border-secondary"
                                        />
                                    </div>
                                    <div class="col-sm-3">
                                        <label><strong>row below</strong></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary" (click)="addReason()">Ok</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn" (click)="dialogClosed()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>