<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="responsive">
            <div class="new">
                <div class="card" id="mainbox">
                    <div class="card-header docs-primary-header" id="mainheader">
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="height">Physical Stock Clearance</div>
                            </div>
                            <div class="col-sm-2" id="right">
                                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                                    <mat-button-toggle id="iButton"
                                        (click)='_router.navigate([_localStorage.getMenuPath()])'>
                                        <mat-icon id="iconButton">clear</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="cardPadding">
                        <div class="card">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label><strong>Stock Type</strong></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control form-control-sm border border-secondary">
                                            <option></option>
                                            </select>
                                          
                                    </div>
                                </div>

                                <div class="row" id="top">
                                    <div class="col-sm-4">
                                        <label><strong>Action</strong></label>
                                    </div>

                                    <div class="col-sm-8">
                                        <mat-radio-group>
                                            <mat-radio-button value="1">Clear And Import Stock</mat-radio-button><br>
                                            <mat-radio-button value="2">Update System Stock</mat-radio-button>
                                          </mat-radio-group>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card" id="top1">
                            <div class="card-body" id="cardPadding">
                                <div class="row">
                                    <div class="col-sm-12" id="right">
                                        <button id="matButton" mat-raised-button color="primary">View</button>&nbsp;
                                        <button id="matButton" mat-raised-button color="warn"
                                            (click)='_router.navigate([_localStorage.getMenuPath()])'>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>